// Html template for Bloom Style Editor dialog
html
	head
	body
		#format-toolbar.bloom-ui.ui-draggable(style='background-color: white; opacity: 1; z-index: 1010; position: absolute; line-height: 1.8; font-family: Segoe UI; top: 134px; left: 108px; width: 430px;')
