.format-toolbar-description {
  font-size: small;
  line-height: 1.2;
  margin: 10px 0px 5px 0px;
  color: grey;
}
.mainBlock {
  display: inline-block;
  vertical-align: top;
  line-height: normal;
}
.leftBlock {
  width: 150px;
}
.spacing-fudge {
  margin: 0px 0px -5px 0px;
}
#styleSelect {
  margin: 0px 0px 12px 0px;
  width: 145px;
}
#style-select-input {
  width: 143px;
}
.bloomDialogContainer {
  width: 350px !important;
}
.state-initial #dont-see {
  display: block;
}
.state-initial #createStyle {
  display: none;
}
.state-enteringStyle #createStyle {
  display: block;
}
.state-enteringStyle #dont-see,
.state-enteringStyle #please-use-alpha,
.state-enteringStyle #already-exists {
  display: none;
}
.state-invalid-characters #please-use-alpha {
  display: block;
}
.state-invalid-characters #already-exists,
.state-invalid-characters #dont-see {
  display: none;
}
.state-already-exists #already-exists {
  display: block;
}
.state-already-exists #please-use-alpha,
.state-already-exists #dont-see {
  display: none;
}
