doctype html
//- Html template for Bloom Style Editor dialog (currently unused)
html
	head
		link(rel='stylesheet', href='../css/tab.winclassic.css', type='text/css')
		link(rel='stylesheet', href='../css/bloomDialog.css', type='text/css')
		link(rel='stylesheet', href='StyleEditor.css', type='text/css')
	body
		#format-toolbar.bloom-ui.ui-draggable(style='background-color: white; opacity: 1; z-index: 1010; position: absolute; line-height: 1.8; font-family: Segoe UI; top: 133.7px; left: 108.583px; width: 430.417px;')
			div(style='background-color:darkGrey; opacity:1; position:relative; top:0; left:0; right:0; height: 10pt;')
			#tabRoot.dynamic-tab-pane-control.tab-pane
				.tab-row
					h2.tab.selected
						a(href='#') Style Name
					h2.tab
						a(href='#') Characters
					h2.tab
						a(href='#') More
				.tab-page.state-initial(style='display: block;')
					div Style:
					select#styleSelect(style='margin-left:0px;')
						//- Style options will be added here: option(value='normal') normal
					#dont-see Don't see what you need?
						a#show-create-style(href='Create a new style')
					#create-style
						div New style
						div
							input#style-select-input(type='text')
							input#create-button(disabled='', value='Create', type='button')
						#please-use-alpha Please use only alphabetical characters. Numbers at the end are ok, as in "part2".
				#formatPage.tab-page(style='display:none;')
					div
						div Font
						div
							select#font-select(style='margin-left:5px;')
								//- Font options will be added here: option(value='Agency FB') Agency FB
							select#size-select(style='margin-left:5px;')
								//- Font size options will be added here: option(value='7') 7
						div Spacing
						div
							span(style='white-space: nowrap;')
								img(src='../img/LineSpacing.png', style='margin-left:8px; position:relative; top:6px;')
								select#line-height-select(style='margin-left:2px;')
									//- Line height options will be added here: option(value='1.0') 1.0
							= ' '
							span(style='white-space: nowrap;')
								img(src='../img/WordSpacing.png', style='margin-left:8px; position:relative; top:6px;')
								select#word-space-select(style='margin-left:2px;')
									//- Word spacing options will be added here: option(value='Normal') Normal
					#formatCharDesc.format-toolbar-description This formatting is for all text boxes with x style
				.tab-page(style='display:none;')
					div
						.mainBlock.leftBlock
							div Emphasis
							div
								#bold.iconLetter.propButton(style='font-weight:bold;') B
								#italic.iconLetter.propButton(style='font-style:italic;') I
								#underline.iconLetter.propButton(style='text-decoration: underline;') U
						.mainBlock
							div Position
							div
								#position-heading.icon16x16.propButton
									img(src='../img/text_align_left.png')
								#position-center.icon16x16.propButton.selectedIcon
									img(src='../img/text_align_center.png')
					div(style='margin-top: 10px;')
						.mainBlock.leftBlock
							div Borders
							div(style='margin-top: -11px;')
								#border-none.icon16x16.propButton.selectedIcon
									img(src='../img/grayX.png')
								#border-black.iconHtml.propButton
									.iconBox(style='border-color: black;')
								#border-black-round.iconHtml.propButton
									.iconBox.rounded(style='border-color: black;')
							div(style='margin-left:24px; margin-top:-13px;')
								#border-gray.iconHtml.propButton
									.iconBox(style='border-color: gray;')
								#border-gray-round.iconHtml.propButton
									.iconBox.rounded(style='border-color: gray;')
						.mainBlock
							div Background
							div(style='margin-top: -11px;')
								#background-none.icon16x16.propButton.selectedIcon
									img(src='../img/grayX.png')
								#background-gray.iconHtml.propButton
									.iconBack(style='background-color: hsl(0,0%,86%);')
					#formatMoreDesc.format-toolbar-description This formatting is for all text boxes with 'x' style