.format-toolbar-description {
  font-size: small;
  line-height: 1.2;
  margin: 10px 0px 5px 0px;
  color: grey;
}
.mainBlock {
  display: inline-block;
  vertical-align: top;
  line-height: normal;
}
.leftBlock {
  width: 175px;
}
.spacing-fudge {
  margin: 0px 0px -5px 0px;
}
#styleSelect {
  margin: 0px 0px 12px 0px;
  width: 145px;
}
#style-select-input {
  width: 143px;
}
