extends EditViewFrame.mixins.pug

block headContent
	meta(charset='UTF-8')
	//- The files listed here are duplicated in a different form in EditViewFrame.vite-dev.pug.
	link(rel='stylesheet', href='/bloom/themes/bloom-jqueryui-theme/jquery-ui-1.8.16.custom.css', type='text/css')
	link(rel='stylesheet', href='/bloom/themes/bloom-jqueryui-theme/jquery-ui-dialog.custom.css', type='text/css')
	link(rel='stylesheet', href='/bloom/bookEdit/toolbox/toolbox.css', type='text/css')
	link(rel='stylesheet', href='/bloom/bookEdit/html/font-awesome/css/font-awesome.min.css', type='text/css')
	link(rel='stylesheet', href='/bloom/bookEdit/css/bloomDialog.css', type='text/css')
	link(rel='stylesheet', href='/bloom/lib/pure-drawer.css', type='text/css')
	link(rel='stylesheet', href='/bloom/lib/long-press/longpress.css', type='text/css')
	script(src='/bloom/jquery.min.js') //needed by longpress
	//script(src='/bloom/modified_libraries/jquery-ui/jquery-ui-1.10.3.custom.min.js')
	//script(src='/bloom/bookEdit/js/jquery.hasAttr.js')

	//script(src='/bloom/modified_libraries/jquery-ui/jquery-ui-1.10.3.custom.min.js')

	script(src='/bloom/editTabBundle.js' type='module')
	script.
