extends EditViewFrame.mixins.pug

block headContent
	meta(charset='utf-8')
	link(rel='stylesheet', href='/bloom/lib/pure-drawer.css', type='text/css')
	//- This bit of 'magic' is needed to get React Fast Refresh working with Vite Dev.
	script(type='module').
		import RefreshRuntime from "http://localhost:5173/@react-refresh";
		RefreshRuntime.injectIntoGlobalHook(window);
		//- Avoiding arrow functions here because our HTML to XML converter mangles wedge characters
		window.$RefreshReg$ = function () {};
		window.$RefreshSig$ = function () {return function (type) {return type;};};
		window.__vite_plugin_react_preamble_installed__ = true;
	script(type='module' src='http://localhost:5173/@vite/client')

block endBodyScripts
	script(type='module').
		async function main() {
		try {
		//- Assign globals expected by legacy libs.
		const jQuery = (await import('http://localhost:5173/@id/jquery')).default;
		// Some builds export default, others export the function itself. Normalize.
		const jq = jQuery?.fn ? jQuery : (jQuery?.default ? jQuery.default : jQuery);
		window.$ = jq;
		window.jQuery = jq;
		console.log('jQuery ready via Vite prebundle (EditViewFrame)');

		const jQueryUI = await import('http://localhost:5173/modified_libraries/jquery-ui/jquery-ui-1.10.3.custom.min.js');
		console.log('jQuery UI ready via Vite (EditViewFrame)');

		//- Load CSS files. Note, the list of files is duplicated in a different format in editViewFrame.pug.
		await import("http://localhost:5173/themes/bloom-jqueryui-theme/jquery-ui-1.8.16.custom.css");
		await import("http://localhost:5173/themes/bloom-jqueryui-theme/jquery-ui-dialog.custom.css");
		await import("http://localhost:5173/bookEdit/toolbox/toolbox.less");
		await import("http://localhost:5173/bookEdit/html/font-awesome/css/font-awesome.min.css");
		await import("http://localhost:5173/bookEdit/css/bloomDialog.less");
		await import("http://localhost:5173/lib/long-press/longpress.css");
		await import("/bloom/jquery.min.js"); //needed by longpress


		// Finally, load the app entry.
		await import('http://localhost:5173/bookEdit/editViewFrame.ts');
		} catch (e) {
		console.error('Failed to initialize Vite dev EditViewFrame:', e);
		}
		}

		main();
