extends ../MXBLiteracy-XMatter/MXBLiteracy-XMatter.pug

block stylesheets
	+stylesheets('MXBLiteracy-Device-XMatter.css')

block afterFrontCoverPages
	//- Title and Credits at the end
	+mxb-titlePage.bloom-backMatter
	+mxb-creditsPage.bloom-backMatter
