/* Below you find the settings of this custom Bloom design.
 * This book only has custom designs for "Device 16x9 Landscape".    */

.Device16x9Landscape.bloom-frontMatter,
.Device16x9Landscape.bloom-backMatter {
    --page-margin: 3mm;
}

/* The below statement controls the space between the image and the title on the frontcover. */

.Device16x9Landscape.frontCover .bloom-imageContainer {
  order: 1;
  flex: 1 1 auto;
  margin-top: 1px !important;
  margin-bottom: 1px;
}

/* The below statements control the size and color of the marginbox. It holds the text and picture of that page. The top and left numbers determine the position of the margin box on the page.   */

.Device16x9Landscape.numberedPage:not(.bloom-interactive-page)  {
  --page-margin: 0mm;

  /* instead of a gap, we are using padding because the text should look centered between the image and edge of the screen */
  --page-verticalSplit-width: 0; /* we don't need this; removing it makes it simpler to just have the same spacing on left and right sides */
  --page-horizontalSplit-height: 0;

  --pageNumber-extra-height: 0mm !important; /* we put the page number on top of the image so we don't need a margin boost */
}

/* The section below controls the pagenumber and the white circle around it.  */

.Device16x9Landscape.numberedPage.numberedPage.numberedPage::after {
  --pageNumber-always-left-margin: calc(100% / 2 - 2.5mm);
  --pageNumber-right-margin: deliberately-invalid;
  --pageNumber-bottom: 2mm !important;
  --pageNumber-font-size: 10pt;
  --pageNumber-color: black;
  --pageNumber-background-width: 5mm;
  --pageNumber-border-radius: 50%;
  --pageNumber-background-color: #ffffff;

  z-index: 1000;
  padding: 1mm;
  text-align: center !important;
  margin: auto;
}
