/*{
    label: "default branding";
    compatibleWithAppearanceVersion: 6.0;
}*/
@import "../branding-base.less";

[data-book="outside-back-cover-branding-bottom-html"] {
    display: flex;
    align-items: center;
    gap: 10px; // space between the logo and the {personalization} text

    img.branding {
        margin-top: 4px;
        width: 10cm;
    }
}
