/*{
    label: "default branding";
    compatibleWithAppearanceVersion: 6.0;
}*/
@import "../branding-base.less";

[data-book="outside-back-cover-branding-bottom-html"] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; // space between the logo and the {personalization} text
    border: solid #ce5546 3px;
    border-radius: 4px;
    background: white;
    padding: 10px;
    font-family: "Andika";
    font-size: 10.5pt;
    width: 9cm;
    margin-right: auto;
    margin-left: auto;

    img.branding {
        height: 2cm;
        margin-right: 10px;
    }
}
