include ../../bloom-xmatter-mixins.pug

mixin hint-bubble(langForBubbles, dari, pashto, english)
	//- We weren't willing to pollute our l10n system
	//- with these strings, so each xmatter simply gets
	//- the strings for that language.
	if langForBubbles === 'prs'
		label.bubble= dari
	else if langForBubbles === 'ps'
		label.bubble= pashto
	else
		//- Currently, the English will never get used,
		//- but I wanted to keep them around for documentation of what these strings
		//- are supposed to be translations of.
		label.bubble= english

mixin afg-field-author(langForBubbles)
	+field-prototypeDeclaredExplicity("N1").author
		+hint-bubble(langForBubbles,'نویسنده/مؤلف','لیکوال/مؤلف','Name of the Author(s), in {lang}')
		+editable("N1").author.Credits-Page-style.bloom-padForOverflow(data-book="author")

mixin afg-field-translator(langForBubbles)
	//- Reuse the versionAcknowledgements field which often gets translator info.
	//- But use our own hint bubble text.
	- var hintText
	if langForBubbles === 'prs'
		- hintText = 'مترجم'
	else if langForBubbles === 'ps'
		- hintText = 'ژباړن'
	else
		- hintText = 'Name of the Translator(s), in {lang}'
	+field-acknowledgments-localizedVersion("N1", hintText).bloom-padForOverflow

mixin afg-field-editor(langForBubbles)
	+field-prototypeDeclaredExplicity("N1").editor
		+hint-bubble(langForBubbles,'مترجم','ژباړن','Name of the Editorial Committee, in {lang}')
		+editable("N1").editor.Credits-Page-style.bloom-padForOverflow(data-book="editor")

mixin afg-field-illustrator(langForBubbles)
	+field-prototypeDeclaredExplicity("N1").illustrator
		+hint-bubble(langForBubbles,'رسام/نقاش','انځورگر','Name of the Illustrator(s), in {lang}')
		+editable("N1").illustrator.Credits-Page-style.bloom-padForOverflow(data-book="illustrator")

mixin afg-field-department(langForBubbles)
	+field-prototypeDeclaredExplicity("N1").department
		+hint-bubble(langForBubbles,'دیپارتمنت انکشاف دهنده','انکشاف ورکوونکي څانګه','Name of Responsible Department, in {lang}')
		+editable("N1").department.Credits-Page-style.bloom-padForOverflow(data-book="department")

mixin afg-field-publisher(langForBubbles)
	+field-prototypeDeclaredExplicity("N1").publisher
		+hint-bubble(langForBubbles,'ناشر','خپرونکی','Name of Publisher, in {lang}')
		+editable("N1").publisher.Credits-Page-style.bloom-padForOverflow(data-book="publisher")

mixin afg-field-year(langForBubbles)
	div.bloom-translationGroup.bloom-recording-optional(data-default-languages="*", dir="rtl")
		+hint-bubble(langForBubbles,'سال تبغ یا انتشار','د چاپ کال','Year of Publication')
		div.bloom-editable(data-book="year", lang="*").Credits-Page-style.bloom-padForOverflow

mixin afg-field-location(langForBubbles)
	+field-prototypeDeclaredExplicity("N1").location
		+hint-bubble(langForBubbles,'محل تبع و نشر','د چاپ ځای','Location of the Publisher, in {lang}')
		+editable("N1").location.Credits-Page-style.bloom-padForOverflow(data-book="location")

mixin afg-field-printing-company(langForBubbles)
	+field-prototypeDeclaredExplicity("N1").printing-company
		+hint-bubble(langForBubbles,'نام مطبعه','چاپ خونه','Name of Printing Company, in {lang}')
		+editable("N1").printing-company.Credits-Page-style.bloom-padForOverflow(data-book="printInfo")

mixin afg-field-email(langForBubbles)
	div.bloom-translationGroup.bloom-recording-optional(data-default-languages="*", dir="rtl")
		+hint-bubble(langForBubbles,'آدرس الیکترونیکی - ایمیل','پریښنالیک پته','Contact Email Address')
		div.bloom-editable(data-book="email", lang="*").Credits-Page-style.bloom-padForOverflow

mixin cover-branding-top-left
	.logo-and-text
		div(data-book='cover-branding-top-left-html' lang="*")
		+field-prototypeDeclaredExplicity("N1").logo-text
			+hint-bubble(langForBubbles,'وزارت معارف','د پوهنې وزارت','Ministry of Education')
			+editable(kLanguageForPrototypeOnly).logo-text.Logo-Text-On-Cover-style.bloom-padForOverflow(data-book="logo-text")

mixin afg-outsideFrontCover(langForBubbles)
	// FRONT COVER
	+page-cover('Front Cover')(data-export='front-matter-cover', data-xmatter-page='frontCover')&attributes(attributes).frontCover.outsideFrontCover#74731b2d-18b0-420f-ac96-6de20f659810
		//- 2 columns: first for an optional logo, then text content
		.topBlock
			+cover-branding-top-left
			.topContent
				+field-prototypeDeclaredExplicity("V").bookTitle
					label.bubble Book title in {lang}
					+editable(kLanguageForPrototypeOnly).bloom-nodefaultstylerule.Title-On-Cover-style.bloom-padForOverflow(data-book='bookTitle')
				.levelInfoRow
					+field-prototypeDeclaredExplicity("V").levelInfo
						+hint-bubble(langForBubbles,'معلومات صنف، سمستر و سویه','د ټولگی، سمستر او سویي معلومات','Grade, Semester, and Level Information, in {lang}')
						+editable(kLanguageForPrototypeOnly).Cover-Default-style.bloom-padForOverflow(data-book='levelInformation')

		.bloom-imageContainer.bloom-backgroundImage(data-book='coverImage', style="background-image:url('placeHolder.png')")

		//- 2 columns: first for an optional logo, then text content
		.bottomBlock
			+cover-branding-bottom-left.bottom-left-branding
			.bottomTextContent
				.typeRow
					+field-prototypeDeclaredExplicity("V")
						+hint-bubble(langForBubbles,'نوعیت مواد درسی','د درسی موادو بڼه یا ډول','Type of material, in {lang}')
						+editable(kLanguageForPrototypeOnly).Cover-Default-style.bloom-padForOverflow(data-book='typeOfMaterial')
				.bottomRow
					.coverBottomLangName.Cover-Default-style(data-derived='languagesOfBook')
					+chooser-topic.coverBottomBookTopic

mixin inside-front-cover-branding-top
	div(data-book='inside-front-cover-branding-top-html' lang="*")

mixin afg-nationalAnthem
	+page-cover('Inside Front Cover').cover.coverColor.insideFrontCover.bloom-frontMatter.bloom-force-publish(data-export='front-matter-inside-front-cover', data-xmatter-page='insideFrontCover')#BA00DE13-734C-4036-9901-7040275B9000
		+inside-front-cover-branding-top

mixin afg-nationalAnthem-device
	//- Though it doesn't really matter in this case because there are no data values to sync,
	//- keeping the references here to "inside front cover" is correct.
	+page-cover('Anthem').cover.coverColor.insideFrontCover.bloom-backMatter.bloom-force-publish(data-export='front-matter-inside-front-cover', data-xmatter-page='insideFrontCover')#1935e543-0311-4e90-8151-3eb0b9ff746a
		+inside-front-cover-branding-top

mixin title-page-branding-top-left
	.logo-and-text
		div(data-book='title-page-branding-top-left-html' lang="*")
		+field-prototypeDeclaredExplicity("N1").logo-text
			+hint-bubble(langForBubbles,'وزارت معارف','د پوهنې وزارت','Ministry of Education')
			+editable(kLanguageForPrototypeOnly).logo-text.Logo-Text-On-Cover-style.bloom-padForOverflow(data-book="logo-text")

mixin afg-titlePage(langForBubbles)
	+page-xmatter('Title Page').titlePage.bloom-frontMatter(data-export='front-matter-title-page', data-xmatter-page='titlePage')&attributes(attributes)#5db161c1-bfc0-4d4e-aeb6-c415a1ab6da2
		// TITLE PAGE
		//- 2 columns: first for an optional logo, then other content
		.topBlock
			+title-page-branding-top-left
			.topContent.bishmallah
				+image-xmatter('bishmallah')
		+field-prototypeDeclaredExplicity("V")#titlePageTitleBlock
			label.bubble Book title in {lang}
			+editable(kLanguageForPrototypeOnly).bloom-nodefaultstylerule.Title-On-Title-Page-style.bloom-padForOverflow(data-book='bookTitle')
		#titlePageLevelBlock
			+field-prototypeDeclaredExplicity("V")
				+hint-bubble(langForBubbles,'معلومات صنف، سویه و هفته','د ټولگي، اونۍ او سويه معلومات','Grade and Week level information, in {lang}')
				+editable(kLanguageForPrototypeOnly).bloom-nodefaultstylerule.Levelinfo-On-Title-Page-style.bloom-padForOverflow(data-book='levelInformationByGradeAndWeek')
		+title-page-branding-bottom

mixin afg-credits(langForBubbles)
	+page-xmatter('Credits').credits(data-export='front-matter-credits', data-xmatter-page='credits')&attributes(attributes)#7fbc9510-3749-4f29-88ff-2614950d5fe4
		+afg-field-author(langForBubbles)
		+afg-field-translator(langForBubbles)
		+afg-field-illustrator(langForBubbles)
		+afg-field-editor(langForBubbles)
		+field-acknowledgments-originalVersion.bloom-padForOverflow
		+afg-field-department(langForBubbles)
		+afg-field-publisher(langForBubbles)
		+afg-field-year(langForBubbles)
		+field-ISBN(dir='rtl')
		+afg-field-location(langForBubbles)
		+afg-field-printing-company(langForBubbles)
		+afg-field-email(langForBubbles)
		+block-licenseAndCopyright
		+field-prototypeDeclaredExplicity("N1")#funding
			label.bubble Use this to acknowledge any funding agencies.
			+editable(kLanguageForPrototypeOnly).funding.Content-On-Title-Page-style.bloom-padForOverflow.bloom-copyFromOtherLanguageIfNecessary(data-book='funding')

mixin afg-messagePage
	+page-xmatter('Message').message.bloom-frontMatter.bloom-force-publish(data-export='front-matter-message', data-xmatter-page='message')&attributes(attributes)#875d1eee-3509-4d12-9e6f-b4423b8786c0
		+field-prototypeDeclaredExplicity("N1").message
			//-+hint-bubble(langForBubbles,'','','Message, in {lang}')
			+editable(kLanguageForPrototypeOnly).message.Message-Page-style(data-book="message")

//- The next two mixins used to be defined in bloom-xmatter-mixins.pug as standard-endExtra3PageForDevice
//- and standard-theEndPageForDevice.  BL-12969 merged the split outer back cover back together for
//- standard device xmatter.  We're leaving the split for these special project-specific xmatters to
//- preserve existing behavior.

mixin afg-endExtra3PageForDevice
	//- In paper books, this is the outside back cover
	//- When making a .bloompub, Bloom will remove this if it is empty.
	+page-xmatter('End Extra 3 ').cover.coverColor.outsideBackCover.bloom-backMatter(data-xmatter-page="outsideBackCover")#898b6622-837b-49cd-9938-2de76f6d4b21
		//- +field-mono-version1("N1","If you need somewhere to put more information about the book, you can use this page, which is the outside of the back cover.").outside-back-cover-style(data-book='outsideBackCover')
		+field-mono-meta("N1","outsideBackCover").Outside-Back-Cover-style

mixin afg-theEndPageForDevice
	+page-xmatter("The End").bloom-backMatter.theEndPage(data-xmatter-page="endPage")#898b6622-837b-49cd-9938-2de76f6d4b22
		+outside-back-cover-branding-top
		//- would be nice to use data-collection instead of data-book, but that isn't working in Bloom these
		//- days (was a version 1-ish feature that never got used, and atrophied).
		//- When we do have it, that would save typing it in for each book in the Local Language... and ideally it would also overwrite
		//- the national language here, since typically someone would enter the vernacular and delete the national language.

		//- disabled for now, until we provide a way to (1) enter a new lang without switching to device xmatter
		//- and (2) save the result in a data-collection variable, so that you don't have to do it for every single book.
		//- +field("auto")(data-book="end-of-book-label",data-default-languages="V N1", data-hint="Something to tell the reader/viewer that this is the end of the book.")
		//-	+editable("en")
		//-		p The End
		//-	+editable("fr")
		//-		p FIN
		//-	+editable("es")
		//-		p Fin

		+outside-back-cover-branding-bottom
