/*+init {*/
*
{
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 1em;
}
H1, H2, H3, H4, H5, H6, TH
{
	font-weight: inherit;
}
ADDRESS, CITE, DFN, VAR
{
	font-style: inherit;
}
CAPTION, CODE, KBD, PRE, SAMP, TT, INPUT, TEXTAREA, SELECT, BUTTON
{
	font-family: inherit;
}
TABLE
{
	border-spacing: 0;
}
TH
{
	text-align: left;
}
HTML, BODY, THEAD, TBODY, TFOOT, TR, TH, TD, BR
{
	position: static;
}
INPUT[type=hidden]
{
	display: none !important;
}
FIELDSET, A IMG
{
	border: 0;
}
BODY
{
}
/*+}*/
.roundedBorder
{
	border: 1px solid #000000;
	border-radius: 8pt;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
}
.themePage .bloom-imageContainer
{
	height: 319px;
}
/*The following is json, read by Bloom to get size/orientation options
STARTLAYOUTS{"layouts": [{"B5Portrait" : { "Styles": ["Default"]}}]}ENDLAYOUTS
This is a dummy rule used to transmit to javascript what size/orientations this stylesheet can handle.*/
#bloom-supportedPageConfigurations
{
	content: "A4Landscape (Layout: 'DefaultLayout')";
}
/*This is a dummy rule used to transmit to bloom what alternative layouts this stylesheet offers*/
#bloom-a4landscape-alternatives
{
	content: Default;
}
/*Alphabet Page*/
.AlphabetGrid
{
	font-size: 28pt;
	display: inline-block;
}
UL.AlphabetGrid
{
	width: 95%;
}
.AlphabetGrid LI
{
	font-size: 36pt;
	list-style-type: none;
	width: 3.9cm;
	height: 58px;
	float: left !important;
	padding-right: 6px;
	text-align: center;
}
.AlphabetGrid DIV DIV
{
	width: 140px;
	float: left;
	min-width: 50px;
	display: list-item;
	list-style-type: none;
}
.AlphabetGrid DIV DIV:before
{
	content: '. ';
}
/*Theme*/
.ThemeStyle
{
	height: 43px;
	text-align: center;
	text-decoration: underline;
	font-size: 16pt;
	margin-bottom: 11px;
}
DIV.Theme DIV.bloom-imageContainer
{
	width: 100%;
	height: 45% !important;
/*above so buttons show*/
	z-index: 1000;
}
.roundedBorder IMG
{
	/*[empty]padding-bottom:;*/
}
.SymbolFollowedByTitle
{
	height: 42px;
	display: block;
	margin: 0 auto;
	text-align: center;
}
.box
{
	display: inline-block;
}
.SymbolFollowedByTitle .symbolHolder
{
	display: table-cell;
}
.StoryTextStyle
{
	height: 8.5cm;
	border: 1px solid #000000;
	/*[empty]margin-top:;*/
	padding-top: 0.5cm;
	padding-bottom: 0.5cm;
	padding-left: 0.5cm;
	padding-right: 0.5cm;
}
/*Centering Title With Symbol*/
.centeringContainer
{
	display: block;
	text-align: center;
	margin-top: 23px;
}
.blockInlineContainer
{
	display: inline-block;
}
.StoryTitleHeader
{
	height: 25px;
	display: table-cell;
	min-width: 5cm;
}
.StoryTitleHeader:before
{
	height: 25px;
	display: table-cell;
	content: "";
	font-family: wingdings;
	font-size: 14pt;
	padding-right: 7px;
}
/*TermWeekDay*/
.TermWeekDayGroup
{
	/*+placement:anchor-bottom-left 0px 27px;*/
	position: absolute;
	left: 0px;
	bottom: 27px;
	width: 100%;
	font-size: 100% !important;
}
.TermWeekDayGroup .blockInlineContainer DIV
{
	display: table-cell;
	padding-right: 14px;
	font-size: 100% !important;
}
.TermStyle:before
{
	content: 'Term';
	display: table-cell;
	padding-right: 2mm;
}
.WeekStyle:before
{
	content: 'Week';
	display: table-cell;
	padding-right: 2mm;
}
.DayStyle:before
{
	content: 'Day';
	padding-right: 2mm;
}
/*Vocab, Affixes, Review*/
.VocabularyHeader
{
	display: table-cell;
	padding-top: 10px;
	min-width: 5cm;
}
.VocabularyHeader:before
{
	content: '';
	display: table-cell;
	padding-right: 7px;
	font-family: webdings;
	font-size: 16pt;
	/*[empty]padding-top:;*/
}
.VocabularyWordsStyle
{
	border: 1px solid #000000;
	height: 8cm;
	padding: 0.5cm;
	min-width: 5cm;
}
.ReviewHeader
{
	display: table-cell;
	padding-top: 17px;
	min-width: 5cm;
}
.ReviewHeader:before
{
	content: '';
	display: table-cell;
	padding-right: 7px;
	font-family: wingdings;
	font-size: 16pt;
}
.ReviewStyle
{
	border: 1px solid #000000;
	height: 7.1cm;
	padding: 0.5cm;
	min-width: 5cm;
	border-radius: 30pt;
}
.MakingAndBreakingHeader
{
	display: table-cell;
	padding-top: 17px;
	min-width: 5cm;
}
.MakingAndBreakingHeader:before
{
	content: '';
	display: table-cell;
	padding-right: 7px;
	font-family: webdings;
	font-size: 16pt;
}
.MakingAndBreakingStyle
{
	border: 1px solid #000000;
	height: 8cm;
	padding: 0.5cm;
	min-width: 5cm;
}
.MakingAndBreakingStyle TABLE
{
	table-layout: fixed;
}
/*Traditional Snippet & Whole Story*/
.ShortOralLiteratureBitTextStyle
{
	height: 4cm;
	border: 1px solid #000000;
	/*[empty]margin-top:;*/
	padding-top: 0.5cm;
	padding-bottom: 0.5cm;
	padding-left: 0.5cm;
	padding-right: 0.5cm;
}
.TraditionalStoryTitleHeader
{
	display: table-cell;
	padding-top: 10px;
	min-width: 5cm;
}
.TraditionalStoryTitleHeader:before
{
	content: '';
	display: table-cell;
	padding-right: 7px;
	font-family: wingdings;
	font-size: 16pt;
	/*[empty]padding-top:;*/
}
.MakingAndBreakingHeader:before
{
	content: '';
	display: table-cell;
	padding-right: 7px;
	font-family: webdings;
	font-size: 16pt;
}
TABLE
{
	width: 100%;
	border-collapse: collapse;
}
.spaceAfterRow
{
	border-bottom: 15px solid #FFFFFF;
}
