<?xml version="1.0" encoding="utf-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="content-type" />
	<title>Test Template</title>
	<link rel="stylesheet" href="A4Landscape.css" type="text/css" />
	<link rel="stylesheet" href="../../previewMode.css" type="text/css" />
	<base href="file://C:\dev\Bloom\factoryCollections\Templates\A4Landscape\" />
	<base href="file://C:\dev\Bloom\factoryCollections\Templates\A4Landscape\" />
</head>
<body class="a5Landscape">
	<div class="page cover required" id="cover">
		<textarea id="coverPageTitle" class="title">Book Title</textarea><img id="coverPageImage"
			alt="missing" class="picture" src="placeHolder.png" /><input id="coverPageLanguageName"
				class="LanguageName" value="______ Language" /><input id="coverPageBookLabel" class="BookLabel"
					value="book label" /></div>
	<div class="page titlePage required" id="titlePage">
		<textarea id="titlePageTitle" class="title">Book Title Again</textarea><input id="titlePageBookLabel"
			class="bookLabel" value="book label" /><textarea id="titlePageCredits" class="credits">Written by:</textarea><textarea
				id="titlePagePrintingHistory" class="printingHistory">Printing History</textarea><input
					id="titlePageLanguageName" class="languageName" value="language name" /></div>
	<div class="page imageOnTop" id="page1">
		<h1 align="center" class="fred">
			<img id="img1" alt="missing" class="picture" src="placeHolder.png" /></h1>
		<textarea id="text1" class="text">lorem ipsum dolor sit amet, consectetuer adipiscg elit. Ut nec lacus a neque pulvinar pulvinar. A100liquam sagittis, purus in fermentum ornare, orci igula vulputate sapien, a rutrum nisl mi eu mi. Suspendisse potenti. Aliquam eros. Nullam eros neque, cursus eu, commodo in, vulputate nec, ipsum. Duis et est a ante convallis consequat. Sed et nisl. 350Praesent vulputate erat quis magna. </textarea></div>
</body>
</html>
