@import "../branding-base.less";

[data-book="outside-back-cover-branding-top-html"] img {
    margin-top: auto;
    margin-bottom: auto;
}

[data-book="back-cover-boilerplate"] {
    font-size: 8pt;
}
