include ../standard-page-mixins.pug

doctype html
html
	head
		+metadata-standard
		meta(name='defaultNameForDerivedBooks', content='Book')
		meta(name='bloomBookId', content='17848ae4-d76f-4566-9275-b01a0fb16cf4')
		meta(name='xmatter-for-children', content='TemplateStarter')
		meta(name='SuitableForMakingShells', content='yes')
		//- Eventually, we'll remove Bloom's need for this.
		meta(name='pageTemplateSource', content='Basic Book')
		title 'Template Starter'
		+stylesheets('Basic Book.css')
		+core-stylesheets()
		+standardStyles
	body
		+dataDiv
			+bookVariable-title('en', 'My Template')
			+bookVariable('styleNumberSequence', '*', '0')
			+bookVariable('licenseUrl','*', 'http://creativecommons.org/publicdomain/zero/1.0/')
		+standardPage-Custom
