doctype html

// Tests of overflow feature in Bloom that puts a red background in a field if there's too much content
include ../../../../DistFiles/jade/bloom-foundation-mixins
include overflowMixins

head
	+stylesheet('basePage.css')
body
	+standardField(name="Test bloom-editable with no styles doesn't overflow") Test text

	-var styles="font-family:Andika;line-height:1.1";
	+standardField(name="Test bloom-editable with styles should not overflow", style=styles) Test text

	-var styles="font-family:Andika;font-size:large;height:25px;";
	+standardField(name="Test bloom-editable with styles should overflow", style=styles).expectToOverflow Test text

	-var styles="font-size:large;height:25px;";
	+standardField(name="Test bloom-editable with styles should overflow", style=styles).expectToOverflow Test text