// This stylesheet is a minimal set designed to make our epubs look as much as possible like the printed books,
// while not locking down things that depend on a specific page size.
// The remaining rules are things that wound up slightly different from the printed book rules
// for reasons which I mostly don't remember; unfortunately, the experiments leading to the
// final epub PR were spread out over a long period.

// IMPORTANT: do not set anything here to display:none.
// Some/many eReaders do not properly handle display:none which means the content
// will be displayed in error. To hide content for epubs only, use epubVisibility.less
// which is used at epub creation time to remove content from the dom completely.

@import "../../bookLayout/basePage-sharedRules.less";
@import "../../templates/xMatter/bloom-xmatter-sharedRules.less";

.frontCover {
    .bloom-translationGroup.bookTitle {
        .bloom-editable {
            // Main book stylesheet has justify-content: center, because it is using flexbox
            text-align: center;
        }
    }
}

// When bloom-showImageDescriptions is set (typically only when the relevant toolbox is showing, currently,
// but we'd like to be able to turn it on in the end result, too), we make the picture shrink to fit
// in the left half and show the translation group in the right half.
// This rule would like to live in basePage-sharedRules, but we need display:flex in Bloom and display:block
// in epubs.
.bloom-showImageDescriptions .bloom-imageContainer .bloom-imageDescription {
    // We really just want to turn off the display:none that usually applies to translation groups
    // inside image containers, but we have to set something.
    display: block;
}

.credits {
    .licenseAndCopyrightBlock {
        img {
            // creative commons license image. Book stylesheet has width:94px.
            // Don't know why epub should be different.
            width: 94px;
        }
    }
}

div.bloom-editable {
    margin-bottom: 0.6em;
    display: block;
}

.pictureAndWordPage {
    .bloom-content1 {
        font-size: 400%;
    }
    .bloom-content2,
    .bloom-content3 {
        font-size: 200%;
    }
    .bloom-translationGroup {
        text-align: center;
        padding-top: 10px; //don't express in em's!
    }
}

.bloom-backgroundImage {
    height: 300px; // REVIEW What should this be?
}

// We want videos to stretch across the width of the display, and adjust
// their heights to match properly.
video {
    width: 100%;
    height: auto;
}

// Format the End Page properly, as close as we can come to the Edit view
// without flex display, which readers haven't implemented.  (BL-5495)
.theEndPage {
    /* see note in Device-XMatter.less about why this is commented out for now

    [data-book="end-of-book-label"]{
        width: 100%;
        font-size: 3em;
        line-height: 100%;
        text-align: center;
        margin-bottom: auto;
        margin-top: auto;
    }
    img.branding {
        // allow for more than one image
        display: inline-block;
        // place the image(s) at the bottom of the page
        position: fixed;
        bottom: 10px;
    }*/
    /* the marginBox in epub land has no height, presumably on purpose? So I (jh) give up getting this to the bottom of the screen*/
    .marginBox {
        img {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }
}

.-epub-media-overlay-active {
    background-color: #ffb;
}

// These rules deal with changes due to including xmatter css in epubs.
// The .epub class will be on the body tag when publishing to epub.
.epub {
    // These rules fix Readium and Android EKitabu layout issues, and allow cover color to extend
    // to the bottom of the page. Windows EKitabu doesn't work quite as well, unfortunately.
    height: 100% !important;
    .bloom-frontMatter,
    .bloom-backMatter {
        height: 100%;
    }

    // On ePUB, the bottom branding wants to sit on top of the acknowledgments.
    .credits .marginBox {
        [data-book="credits-page-branding-bottom-html"] {
            // Apparently "position: absolute" doesn't work in ePubs because of the page size issue
            // mentioned above.
            position: relative;
            bottom: 0;
        }
    }
}
