.ePUBPublishScreen {
    .readium-credit {
        color: whitesmoke;
        a {
            display: inline;
        }
        a:link,
        a:visited {
            color: whitesmoke;
            text-decoration: underline;
        }
        width: 200px;
        margin-top: auto;
        margin-bottom: 20px;
    }

    .preview {
        display: flex;
        flex-direction: inherit;
    }

    .deviceAndControls {
        width: 400px;
    }

    .MuiLink-root.disabled {
        color: rgba(0, 0, 0, 0.38);
    }
}

// In the new PublishScreenTemplate, settingsGroup is no longer part of the main screen.
section.settingsGroup {
    a {
        margin-top: 1em;
        display: block;
    }
}
