.ePUBPublishScreen {
    .readium-credit {
        color: whitesmoke;
        a {
            display: inline;
        }
        a:link,
        a:visited {
            color: whitesmoke;
            text-decoration: underline;
        }
        width: 200px;
        margin-top: auto;
        margin-bottom: 20px;
    }
    .save-button {
        margin-top: 30px;
        margin-left: 176px;
        // without this, it grows to the width of the column
        align-self: flex-start;
    }

    .preview {
        display: flex;
        flex-direction: inherit;
    }

    .deviceAndControls {
        width: 400px;
    }

    .settingsGroup {
        a {
            margin-top: 1em;
            display: block;
        }
    }
}
