@BubbleBackground:#faf7cc;
@recordQtipColor:  @BubbleBackground;
@recordQtipForeground: #0C8597;
@recordQtipHighlight: #96668f;
body {
    #qtip-audio {
        background-color: @recordQtipColor !important;
        border-color: @recordQtipForeground !important; // important to overcome .uibloomSourceTextsBubble
     }
    .icon-red {
        background-image: url(images/ui-icons_a83300_256x240.png)
    }
    #qtip-audio .ui-icon {display:inline-block }

    div.ui-audioTitle {color: @recordQtipForeground; font-size:larger; margin-top: 5px; text-align:center}

    div.ui-audioBody {margin-top: 30px; margin-bottom: 15px}
    button.ui-audio-button {height:40px; width: 40px; border:none; background-size:contain;background-color:transparent;background-repeat:no-repeat;display:block;margin-bottom:5px;}
    button#audio-prev {height:20px; width:20px;}
    button#audio-record.enabled {background-image: url(audio/record_enabled.svg)}
    button#audio-record.expected {background-image: url(audio/record_expected.svg)}
    button#audio-record.disabled {background-image: url(audio/record_disabled.svg)}
    button#audio-record.active {background-image: url(audio/record_active.svg)}
    button#audio-play.enabled {background-image: url(audio/play_enabled.svg)}
    button#audio-play.expected {background-image: url(audio/play_expected.svg)}
    button#audio-play.disabled {background-image: url(audio/play_disabled.svg)}
    button#audio-play.active {background-image: url(audio/play_active.svg)}
    button#audio-next.enabled {background-image: url(audio/next_enabled.svg)}
    button#audio-next.expected {background-image: url(audio/next_expected.svg)}
    button#audio-next.disabled {background-image: url(audio/next_disabled.svg)}
    button#audio-prev.enabled {background-image: url(audio/prev_enabled.svg)}
    button#audio-prev.disabled {background-image: url(audio/prev_disabled.svg)}

    div.button-label-wrapper {display:inline-block; margin-left:20px;}
    span.audio-label {font-size:x-small;color:@recordQtipForeground;}
    span.audio-label.expected {color: @recordQtipHighlight;}
    button#audio-prev {margin-bottom:25px;}
   
    div.ui-audioFooter {margin-top: 30px; margin-bottom: 5px}
     
    span.ui-audioCurrent {background-color: violet }
    div.ui-audioMeter {float:right;position:absolute;top:10px;right:10px}

     // hidden unless we need to choose between three or more input devices.
     #audio-devlist {display:none;position:absolute;background-color:white; width:200px;
                     li {min-height:20px; font-size:12px;
                          &:hover {background-color:lightgray}
                     }
     }
     #audio-input-dev  {margin-top: 5px; margin-left: 5px;}
}
