@import "../branding-base.less";

.outsideBackCover .bloom-translationGroup {
    display: none;
}

[data-book="outside-back-cover-branding-top-html"] {
    img.branding.badge {
        margin-left: auto;
        margin-right: 0;
    }
}

[data-book="outside-back-cover-branding-bottom-html"] {
    margin-top: 0 !important;
    width: 100%;
    height: 100%; // take up full page so that the textAndLogos can push to the bottom

    img.textAndLogos {
        margin-top: auto;
    }
}
