include ../standard-page-mixins.pug

//- This is an 'override' from bloom-foundation-mixins.pug
//- that allows us to use its mixins that would otherwise
//- put in a5portrait
mixin pageWithJustPageSize
	.Device16x9Landscape&attributes(attributes)
		block

doctype html
html
	head
		+metadata-standard
		//- This "Book" name is used for saving the file, until the user enters a title
		meta(name='defaultNameForDerivedBooks', content='Comic')
		meta(name='bloomBookId', content='8ed5e1fc-ca25-4a67-a7bf-f2dd2ca4e768')
		//- Eventually, we'll remove Bloom's need for this.
		meta(name='pageTemplateSource', content='Comic')
		title 'Comic'
		+stylesheets('Basic Book.css')
		+standardStyles
	body
		+dataDiv
			+bookVariable-title('en', 'Comic')
			+bookVariable('styleNumberSequence', '*', '0')
		+standardPage-JustPicture.fullScreen
