@import "../branding-base.less";

img.bloom-badge {
    height: 1.5cm !important;
}

div.Device16x9Landscape {
    .marginBox [data-book="outside-back-cover-branding-top-html"] {
        margin-top: 1cm;
    }

    .marginBox [data-book="outside-back-cover-branding-bottom-html"] {
        margin-bottom: 0.5cm;
    }
}
