<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Bloom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Bloom.Properties.Settings>
      <setting name="FirstTimeRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NeedUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UserInterfaceLanguage" serializeAs="String">
        <value />
      </setting>
      <setting name="UserInterfaceLanguageSetExplicitly" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastSourceLanguageViewed" serializeAs="String">
        <value />
      </setting>
      <setting name="ImageHandler" serializeAs="String">
        <value>http</value>
      </setting>
      <setting name="ShowSendReceive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowLocalizationControls" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowUnapprovedLocalizations" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnabledExperimentalFeatures" serializeAs="String">
        <value />
      </setting>
      <setting name="DontShowThisAgain" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowExperimentalFeatures" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WebUserId" serializeAs="String">
        <value />
      </setting>
      <setting name="WebPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="WebShowPassword" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseAdobePdfViewer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaximizeWindow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LicenseAccepted" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RestoreBounds" serializeAs="String">
        <value>0, 0, 1028, 586</value>
      </setting>
      <setting name="DontShowPrintNotification" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ImageSearchLanguage" serializeAs="String">
        <value />
      </setting>
      <setting name="PageZoom" serializeAs="String">
        <value>1.0</value>
      </setting>
      <setting name="AdobeColorProfileEula2003Accepted" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BloomDeviceFileExportFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="PublishAndroidMethod" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentStage" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CurrentLevel" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CurrentBookPath" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoUpdateDialogShown" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AlwaysMeasurePerformance" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoUpdate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ForumInvitationLastShown" serializeAs="String">
        <value />
      </setting>
      <setting name="ForumInvitationAcknowledged" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastLoginDest" serializeAs="String">
        <value />
      </setting>
      <setting name="LastLoginSessionToken" serializeAs="String">
        <value />
      </setting>
      <setting name="LastLoginUserId" serializeAs="String">
        <value />
      </setting>
      <setting name="ExportImportFileFolder" serializeAs="String">
        <value />
      </setting>
    </Bloom.Properties.Settings>
  </userSettings>
  <system.diagnostics>
    <assert assertuienabled="true" />
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DeltaCompressionDotNet.MsDelta" publicKeyToken="46b2138a390abf55" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <!-- Bloom needs the GTK3 version (0.1.11+), not the GTK2 version (0.1.9) which SIL.Windows.Forms nuget package uses -->
        <assemblyIdentity name="DialogAdapters" publicKeyToken="7dc842182b0626dc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.1.11.0" newVersion="0.1.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyModel" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.6.0" newVersion="3.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <!-- FYI, Nuget Package 4.5.4 actually has assemblyVersion=4.2.0.1, and you want the put the assemblyVersions here, not the packageVersion -->
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Resources.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="icu.net" publicKeyToken="416fdd914afa6b66" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.0.0" newVersion="2.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="L10NSharp" publicKeyToken="fd0b3e309a5b7c28" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SIL.Core" publicKeyToken="cab3c8c5232dfcf2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SIL.Windows.Forms" publicKeyToken="cab3c8c5232dfcf2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SIL.Core.Desktop" publicKeyToken="cab3c8c5232dfcf2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SIL.WritingSystems" publicKeyToken="cab3c8c5232dfcf2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--AWSProfileName is used to reference an account that has been registered with the SDK.
If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
It is also possible to registered an accounts using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
that is bundled with the nuget package under the tools folder.-->
    <add key="AWSProfileName" value="" />
    <add key="CoreProductName" value="Bloom" />
  </appSettings>
</configuration>
