<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Bloom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Bloom.Properties.Settings>
      <setting name="FirstTimeRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NeedUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UserInterfaceLanguage" serializeAs="String">
        <value />
      </setting>
      <setting name="LastSourceLanguageViewed" serializeAs="String">
        <value />
      </setting>
      <setting name="ImageHandler" serializeAs="String">
        <value>http</value>
      </setting>
      <setting name="ShowSendReceive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowLocalizationControls" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowExperimentalBooks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DontShowThisAgain" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowExperimentalCommands" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WebUserId" serializeAs="String">
        <value />
      </setting>
      <setting name="WebPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="WebShowPassword" serializeAs="String">
        <value>True</value>
      </setting>
    </Bloom.Properties.Settings>
  </userSettings>
  <runtime>
    <!-- NB: I don't know *why* the runtime is lookinf for this old version. I expect that something is
    in some cache somwhere, and this can be removed in the future -->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" />
        <bindingRedirect oldVersion="2.4.5.724" newVersion="2.6.3.862" />
        <!--autofac gets in from the chorus wix merge module, may be a slightly different version -->
      </dependentAssembly>
      <!-- again, I don't know where it is holding onto this old version number-->
<!--      <dependentAssembly>-->
<!--        <assemblyIdentity name="PdfSharp" publicKeyToken="f94615aa0424f9eb" />-->
<!--        <bindingRedirect oldVersion="0.0.0.0-1.32.2608.0" newVersion="1.32.2608.0" />-->
<!--      </dependentAssembly>-->
    </assemblyBinding>

    <dependentAssembly>
      <assemblyIdentity name="L10NSharp" />
      <bindingRedirect oldVersion="1.0.0.0-1.1.9999.0" newVersion="1.1.1.0" />
    </dependentAssembly>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
</configuration>