<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Bloom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Bloom.Properties.Settings>
      <setting name="FirstTimeRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NeedUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UserInterfaceLanguage" serializeAs="String">
        <value />
      </setting>
      <setting name="LastSourceLanguageViewed" serializeAs="String">
        <value />
      </setting>
      <setting name="ImageHandler" serializeAs="String">
        <value>http</value>
      </setting>
      <setting name="ShowSendReceive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowLocalizationControls" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowExperimentalBooks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DontShowThisAgain" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowExperimentalCommands" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WebUserId" serializeAs="String">
        <value />
      </setting>
      <setting name="WebPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="WebShowPassword" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseAdobePdfViewer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaximizeWindow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LicenseAccepted" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoUpdate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RestoreBounds" serializeAs="String">
        <value>0, 0, 1028, 586</value>
      </setting>
      <setting name="DontShowPrintNotification" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ImageSearchLanguage" serializeAs="String">
        <value />
      </setting>
      <setting name="PageZoom" serializeAs="String">
        <value>1.0</value>
      </setting>
    </Bloom.Properties.Settings>
  </userSettings>
  <system.diagnostics>
    <assert assertuienabled="true" />
  </system.diagnostics>
  <runtime>
    <!-- NB: I don't know *why* the runtime is lookinf for this old version. I expect that something is
    in some cache somwhere, and this can be removed in the future -->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
        <!--autofac gets in from the chorus wix merge module, may be a slightly different version -->
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DeltaCompressionDotNet.MsDelta" publicKeyToken="46b2138a390abf55" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <dependentAssembly>
      <assemblyIdentity name="L10NSharp" />
      <bindingRedirect oldVersion="1.0.0.0-1.1.9999.0" newVersion="1.1.1.0" />
    </dependentAssembly>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--AWSProfileName is used to reference an account that has been registered with the SDK.
If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
It is also possible to registered an accounts using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
that is bundled with the nuget package under the tools folder.-->
    <add key="AWSProfileName" value="" />
    <add key="CoreProductName" value="Bloom" />
  </appSettings>
</configuration>
