<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- If you edit this file, don't forget to also edit Linux/packages.config appropriately! -->
  <package id="Analytics" version="2.0.2" targetFramework="net461" />
  <package id="AtkSharp-signed" version="3.22.24.37" targetFramework="net461" />
  <package id="Autofac" version="6.0.0" targetFramework="net461" />
  <package id="AWSSDK.Core" version="3.5.1.32" targetFramework="net461" />
  <package id="AWSSDK.S3" version="3.5.3.10" targetFramework="net461" />
  <package id="CairoSharp-signed" version="3.22.24.37" targetFramework="net461" />
  <package id="CommandLineParser" version="2.8.0" targetFramework="net461" />
  <package id="DesktopAnalytics" version="1.2.4.11" targetFramework="net461" />
  <package id="DialogAdapters" version="0.1.11" targetFramework="net461" />
  <package id="Enchant.Net" version="1.4.2" targetFramework="net461" />
  <package id="Fleck" version="1.1.0" targetFramework="net461" />
  <package id="GdkSharp-signed" version="3.22.24.37" targetFramework="net461" />
  <package id="GioSharp-signed" version="3.22.24.37" targetFramework="net461" />
  <package id="GLibSharp-signed" version="3.22.24.37" targetFramework="net461" />
  <package id="Glob" version="1.1.8" targetFramework="net461" />
  <package id="GtkSharp-signed" version="3.22.24.37" targetFramework="net461" />
  <package id="ibusdotnet" version="2.0.3" targetFramework="net461" />
  <package id="icu.net" version="2.7.1" targetFramework="net461" />
  <package id="JsonFx" version="2.0.1209.2802" targetFramework="net461" />
  <package id="L10NSharp" version="4.1.1-beta0002" targetFramework="net461" />
  <package id="Markdig.Signed" version="0.22.0" targetFramework="net461" />
  <package id="MarkdownDeep.NET" version="1.5" targetFramework="net40-Client" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net461" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="3.1.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyModel" version="3.1.6" targetFramework="net461" />
  <package id="Microsoft.Web.Xdt" version="3.1.0" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.11.3" targetFramework="net461" />
  <package id="NAudio" version="1.10.0" targetFramework="net461" />
  <package id="NDesk.DBus" version="0.15.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="PangoSharp-signed" version="3.22.24.37" targetFramework="net461" />
  <package id="RestSharp" version="106.11.7" targetFramework="net461" />
  <package id="Sentry" version="2.1.6" targetFramework="net461" />
  <package id="Sentry.PlatformAbstractions" version="1.1.1" targetFramework="net461" />
  <package id="Sentry.Protocol" version="2.1.6" targetFramework="net461" />
  <package id="SharpZipLib" version="1.3.0" targetFramework="net461" />
  <package id="SIL.Core" version="8.0.1-beta0016" targetFramework="net461" />
  <package id="SIL.Core.Desktop" version="8.0.1-beta0016" targetFramework="net461" />
  <package id="SIL.Media" version="8.0.1-beta0016" targetFramework="net461" />
  <package id="SIL.Windows.Forms" version="8.0.1-beta0016" targetFramework="net461" />
  <package id="SIL.Windows.Forms.GeckoBrowserAdapter" version="8.0.1-beta0016" targetFramework="net461" />
  <package id="SIL.Windows.Forms.Keyboarding" version="8.0.1-beta0016" targetFramework="net461" />
  <package id="SIL.Windows.Forms.WritingSystems" version="8.0.1-beta0016" targetFramework="net461" />
  <package id="SIL.WritingSystems" version="8.0.1-beta0016" targetFramework="net461" />
  <package id="SourceMapDotNet" version="1.0.5478.26629" targetFramework="net461" />
  <package id="Spart" version="1.0.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.7.1" targetFramework="net461" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.AccessControl" version="4.7.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="TagLibSharp" version="2.2.0" targetFramework="net461" />
  <package id="TechTalk.JiraRestClient.RestSharp105" version="2.3.0.1" targetFramework="net461" />
  <!-- Windows specific packages.  Changes above this line must be copied to Linux/packages.config -->
  <package id="Geckofx60.32" version="60.0.50" targetFramework="net461" />
  <package id="LargeAddressAware" version="1.0.5" targetFramework="net461" />
  <package id="Mono.Posix" version="5.4.0.201" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
</packages>
