<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- If you edit this file, don't forget to also edit Linux/packages.config appropriately! -->
  <package id="Analytics" version="3.0.0" targetFramework="net461" />
  <package id="Autofac" version="6.0.0" targetFramework="net461" />
  <package id="AWSSDK.Core" version="3.5.1.32" targetFramework="net461" />
  <package id="AWSSDK.S3" version="3.5.3.10" targetFramework="net461" />
  <package id="CommandLineParser" version="2.8.0" targetFramework="net461" />
  <package id="DesktopAnalytics" version="1.2.4.11" targetFramework="net461" />
  <package id="DialogAdapters" version="0.1.11" targetFramework="net461" />
  <package id="Fleck" version="1.1.0" targetFramework="net461" />
  <package id="Glob" version="1.1.8" targetFramework="net461" />
  <package id="icu.net" version="2.6.0" targetFramework="net461" />
  <package id="JsonFx" version="2.0.1209.2802" targetFramework="net461" />
  <package id="MarkdownDeep.NET" version="1.5" targetFramework="net40-Client" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net461" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="3.1.6" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyModel" version="3.1.6" targetFramework="net461" />
  <package id="Microsoft.Web.Xdt" version="3.1.0" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.11.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net461" />
  <package id="RestSharp" version="106.11.7" targetFramework="net461" />
  <package id="Sentry" version="2.1.6" targetFramework="net461" />
  <package id="Sentry.PlatformAbstractions" version="1.1.1" targetFramework="net461" />
  <package id="Sentry.Protocol" version="2.1.6" targetFramework="net461" />
  <package id="SharpZipLib" version="1.3.0" targetFramework="net461" />
  <package id="SourceMapDotNet" version="1.0.5478.26629" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.7.1" targetFramework="net461" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="TechTalk.JiraRestClient.RestSharp105" version="2.3.0.1" targetFramework="net461" />
  <!-- Windows specific packages.  Changes above this line must be copied to Linux/packages.config -->
  <package id="Geckofx60.32" version="60.0.50" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
</packages>
