<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AeroWizard" version="1.2.1" targetFramework="net40-Client" />
  <package id="Autofac" version="2.6.3.862" />
  <package id="DotNetZip.Reduced" version="1.9.1.8" />
  <package id="HtmlAgilityPack" version="1.4.3" />
  <package id="JsonValue" version="0.5.0" />
  <package id="Moq" version="4.0.10827" />
  <package id="Newtonsoft.Json" version="4.0.3" />
  <package id="WinFormsWizard" version="1.2.0.14" />
</packages>