<?xml version="1.0" encoding="utf-8" ?>
<!-- The SharpFont.dll.config file distributed with via nuget SharpFont does not work with debian packaging. -->
<!-- (It appears to work at runtime, but not when checking with dh_clideps during packaging.) -->
<configuration>
	<dllmap dll="freetype6.dll" os="linux" target="libfreetype.so.6" />
	<dllmap dll="freetype6.dll" os="osx" target="/Library/Frameworks/Mono.framework/Libraries/libfreetype.6.dylib" />
</configuration>
