@import "../../../bloomUI.less";
@buttonColumnWidth: 40px;
@previewSettingsMargin: 15px;

.ui-motionBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: @toolboxContentPadding;
    height: @toolboxContentHeight;

    .intro {
        margin-bottom: 2em;
    }

    .ui-motion-button {
        height: @buttonColumnWidth;
        width: @buttonColumnWidth;
        border: none;
        background-size: contain;
        background-color: transparent;
        background-repeat: no-repeat;
        display: inline-block;
        margin-bottom: 5px;
    }

    .motion-label {
        display: inline-block;
        max-width: 100px;
    }

    .disabled {
        opacity: 0.4;
    }

    #motion-preview {
        background-image: url("/bloom/images/play_enabled.svg");
        height: 45px;
        width: 45px;

        &.playing {
            background-image: url("/bloom/images/pause-blue.svg");
        }
    }

    .button-label-wrapper {
        margin-top: 10px;
    }

    .button-wrapper {
        display: flex;
        min-width: 60px;
        margin-top: 2em;
    }

    .previewSettingsWrapper {
        margin-top: @previewSettingsMargin; // move down so that Preview aligns with point of the Play triangle
        display: inline-block;

        .motion-label {
            margin-bottom: 1em;
        }
    }
}

.ui-accordion h3[data-toolId="motionTool"] span.ui-accordion-header-icon {
    background-image: url("/bloom/bookEdit/toolbox/motion/motion.svg") !important;
}
