@import (reference) "../../../../BloomBrowserUI/bloomUI.less";
@bloom-red-rgb: 214, 86, 73;

// This file contains the definitions of our game themes. All consist of values for a set of variables
// defined and given a default value in this rule.
.bloom-page, // defaults for all other themes
.bloom-page.game-theme-blue-on-white {
    // and more definitely applying to the default theme
    // This page-background-color setting is more specific than the appearance rule for it.
    // It is also forced to white (by an !important rule) when in PDF publish mode.
    --page-background-color: white;
    // general default, needs to contrast with --page-background-color
    --page-foreground-color: black;
    // Convert hex #2980bb (a grayish blue) to RGB values
    --button-color-rgb: 41, 128, 187;
    // Colors for the elements that can be dragged in Play mode.
    // BG color is also used for the dashed rectangles around targets
    --draggable-background-color: rgb(var(--button-color-rgb));
    --draggable-color: white;
    // This is for text elements that are not draggable in games that involve dragging.
    --fixed-color: #fc8602; // orange
    // Buttons in the various games, like the check/retry/show answer buttons.
    // must be defined using rgb so we can add various alpha values

    // should not be overridden by other themes; override the rgb value instead
    --button-color: rgba(var(--button-color-rgb), 1);
    // These are for the slider game, which we're not releasing yet
    // --slider-button-color: var(--draggable-background-color);;
    // --slider-keyword-color: #902a90;
    // --slider-text-background: #75d0ee;

    // These are probably not right. But at least they produce some feedback when
    // a button is hovered and while the mouse is down over one.
    --hover-button-border: @bloom-blue;
    --active-button-border: black;

    // From Simple comprehension quiz
    // also uses @button-color for check boxes
    // If you change these here, move these settings to legacy.
    --header-background-color: var(--button-color);
    --header-color: white;
    --text-color: rgb(var(--pure-material-onprimary-rgb));
    // for the outline rectangle itself
    --unselected-checkbox-border-color: black;
    --selected-checkbox-border-color: var(--button-color);
    --selected-checkbox-background-color: var(--button-color);
    --checkbox-checkmark-color: white;

    // from simple-dom-choice-activities.less
    // If you change these here, move these settings to legacy.
    // The next line here gets ignored for a reason I can't imagine, so make it a rule we don't want.
    --weird-compiler-error: purple;
    --button-correct-color: white;
    --button-correct-background-color: var(--draggable-background-color);
    --button-wrong-color: white;
    --button-wrong-background-color: #848484; // mid gray
    --button-choice-border-color: var(--button-color);
    --button-choice-color: var(
        --button-color
    ); // this is the default for all buttons
    --button-choice-background-color: #white;
    // we need this variable so that in legacy theme the simple dom choice activities
    // can have a different background color from other games.
    // By default it is the same as the page background color.
    --simple-dom-choice-page-background-color: var(--page-background-color);
    // likewise in this one case in legacy simple dom choice has a different
    // background header color
    --simple-dom-choice-header-background-color: var(--header-background-color);
}

.bloom-page.game-theme-legacy {
    // from an old rule in simple-dom-choice-activities.less; a slightly lighter blue
    @legacy-blue: #539eff;
    --page-background-color: white;
    //--page-foreground-color: white;
    --header-background-color: @bloom-red;
    --header-color: white;
    --button-color-rgb: @bloom-red-rgb;

    --button-correct-background-color: #ffb453; // light orange
    --simple-dom-choice-page-background-color: @legacy-blue;
    --simple-dom-choice-header-background-color: @legacy-blue;
    --unselected-checkbox-border-color: #848484;
    // --selected-checkbox-border-color: @bloom-red;
    // --selected-checkbox-background-color: @bloom-red;
    // --checkbox-checkmark-color: white;

    --button-choice-border-color: @legacy-blue;
    --button-choice-color: black;
    --button-choice-background-color: white;
}

.bloom-page.game-theme-red-on-white {
    // probably not right or sufficient but lets us test
    --page-background-color: white;
    --button-color-rgb: @bloom-red-rgb;
    --draggable-background-color: rgb(var(--button-color-rgb));
}

// These rules for monochrome-PDF are used unconditionally when publishing to PDF
// (because the publishing process puts .pdfPublishMode on the body element, and this rule
// is then more specific than any of the other theme rules).
// probably not right or sufficient but lets us test
// (We think of this theme as monochrome-PDF, but don't want that actually in the list,
// so it's commented out here. You can put it back for easier testing of this theme.)
//.bloom-page.game-theme-monochrome-PDF,
.pdfPublishMode.pdfPublishMode .bloom-page {
    --page-background-color: white;
    // review: too light to contrast with white text?
    --draggable-background-color: black;
    --header-background-color: black;
    --header-color: white;
    --draggable-color: white;
    --button-color-rgb: 0, 0, 0;
    --button-correct-background-color: black;
    --button-choice-border-color: black;
    --button-choice-color: black;
}
