@import "../../../bloomUI.less";
@textColor: @bloom-buff; // #D2D2D2;

.impairmentVisualizerOuterWrapper,
.enterpriseContentWrapper,
.impairmentVisualizerBody {
    height: 100%;
}

.impairmentVisualizerBody {
    color: @textColor;
    padding-left: 10px;
    padding-right: 10px;
    // All the layers down to .impairmentVisualizerBody have to be 100%
    // to allow it to stretch and put Help at the bottom
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .checkBox {
        margin-top: 10px;
    }

    .radioLabel {
        display: inline-block;
        max-width: 120px;
    }

    .radioButton {
        margin-left: 20px;
    }

    .radioInput {
        vertical-align: top;
        margin-top: 3px; // spread the buttons apart a bit: can overlap on Linux (BL-6520)
    }
    .colorBlindCheckBox {
        margin-bottom: 6px;
    }
}

// from https://commons.wikimedia.org/wiki/File:Q10874_noun_3918_ccJordanDelcros_blind.svg?
.ui-accordion
    h3[data-toolId="impairmentVisualizer"]
    span.ui-accordion-header-icon {
    background-image: url("blind-eye-white.svg") !important;
}
