@import "../../../bloomUI.less";

.impairmentVisualizerBody {
    padding: @toolboxContentPadding;
    // All the layers down to .impairmentVisualizerBody have to be 100%
    // to allow it to stretch and put Help at the bottom
    height: @toolboxContentHeight;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
