.color-picker-dialog {
    .MuiDialog-paperScrollPaper {
        max-height: unset;
    }
}

.MuiBackdrop-root {
    // We want the overlay barely visible so it doesn't interfere with picking colors.
    background-color: rgba(0, 0, 0, 0.05) !important;
}

#draggable-color-picker-title {
    text-align: center;
}
