@import "../bloomUI.less";
@import "../teamCollection/teamCollection.less";

@outer-margin: 10px;
@copy-button-width: 15px;
@copy-button-left-margin: 2px;
@copy-button-right-margin: 3px;
@main-margin: @copy-button-right-margin + @copy-button-left-margin +
    @copy-button-width;
@title-height: 67px;
@button-row-margin: 20px;
@button-height: 40px; // experimentally determined

// Everything should be inside this, to guard against unexpected interference.
#progress-root {
    height: 100%;
    .progress-box {
        height: 100%;
        width: calc(
            100% - @copy-button-width - @copy-button-left-margin -
                @copy-button-right-margin - @main-margin
        );
        padding: 10px;
        font-size: smaller;
        background-color: @form-background;
        overflow-y: scroll;
        box-sizing: border-box;
        margin-right: @main-margin;
    }
    .MuiDialogTitle-root {
        color: white;
        background-color: @bloom-purple;
        margin-bottom: 15px;
    }

    // We should be able to do this much more elegantly by making the parent display:flex column
    // and this flex-grow:1. But in FF60, this will not integrate with setting the child
    // progress box to be height:100%. Both the progress box and this row end up the full
    // height needed for all the progress messages, and instead of a neat scroll bar on
    // the progress box, we get one on the whole dialog content.
    #copy-progress-row {
        height: calc(100% - @title-height - @main-margin);
        display: flex;
        &.with-buttons {
            height: calc(
                100% - @title-height - @button-height - @button-row-margin
            );
        }
    }

    #copy-button {
        background-image: url("../images/copy.svg");
        height: 20px;
        width: @copy-button-width;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: @copy-button-left-margin;
        margin-right: @copy-button-right-margin;
        background-color: white;
        border: none;
    }

    #close-button {
        background-color: @bloom-purple;
    }

    #progress-buttons {
        display: flex;
        justify-content: space-between;
        flex-grow: 0;
        margin-top: @button-row-margin;
        margin-left: @main-margin;
        margin-right: @main-margin;
    }

    #progress-report {
        margin-top: 10px;
    }
}
