.licenseSelection {
    .radioButton {
        display: flex;
        flex-direction: row;
        align-items: first baseline;
    }
    .radioLabel {
        width: 100%;
    }
    .creativeCommons {
        width: 100%;
    }
}
#rightsStatement {
    min-height: 100px;
}
