// A separate .less file is the best (clearest and simplest) way to add :hover capability to a React component.
@import (reference) "../bloomUI.less";

@buttonWidth: 22px;
@controlBoxWidth: @buttonWidth * 3;
@numberBackgroundColor: @bloom-yellow;

.playbackOrderContainer {
    width: @controlBoxWidth;
    position: relative;
    display: flex;
    align-self: center;
    box-shadow: 0px 2px 4px -1px;
    cursor: not-allowed;
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
    .playbackOrderButton {
        background-color: @bloom-blue;
        box-shadow: none;
        border: none;
        padding: 0;
        width: @buttonWidth;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .playbackOrderNumber {
        background-color: @numberBackgroundColor;
        width: @buttonWidth;
        text-align: center;
        font-weight: 700;
    }
}
