@import "../bloomUI.less";

.requiresBloomEnterprise {
    background-color: @bloom-purple;
    border-radius: 10px;
    margin: 20px;
    color: black;
    padding: 5px;
    display: flex;
}

// Rule has to be very specific to override jquery rule
.ui-widget-content {
    .requiresEnterpriseNotice {
        a {
            color: white;
        }
    }
}

.requiresEnterpriseNotice {
    text-align: center;
    margin: 10px;
    color: white;
}

.messageSettingsDialogWrapper {
    margin-left: 5px;
}

.requiresEnterpriseOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: fade(
        @bloom-blue,
        50%
    ); //rgba(0, 0, 0, 0.5); // Black background with opacity
    z-index: 2; // Specify a stack order in case you're using a different order for other elements
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// This is positioned to approximate the position of the Help links of the obscured tools.
// Those links are not shown when the overly is active, but it makes sense to keep the link
// in the same place for continuity of user experience.
.requiresEnterpriseOverlay {
    .helpLinkWrapper {
        margin-left: 23px;
        margin-bottom: 11px;
        color: white;
    }
}
