@import "../bloomUI.less";
@noticeColor: #d0ff00;
@marginSize: 10px;
@bloom-enterprise-notice-padding: 15px;
@buttonRadius: 4px;
@bloom-enterprise-notice-width: 250px;
@bloom-enterprise-notice-height: 120px;
@bloom-enterprise-button-width: 150px;
@bloom-enterprise-button-height: 60px;

.requiresBloomEnterprise {
    padding: 5px;
    .requiresEnterpriseNotice {
        text-align: center;
        padding: @bloom-enterprise-notice-padding;
        padding-bottom: @bloom-enterprise-notice-padding + 5px;
        color: black;
        background-color: @form-background;
        height: @bloom-enterprise-notice-height;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: @bloom-enterprise-notice-width;
        &.darkTheme {
            color: white;
            background-color: @bloom-gray;
        }
        .requiresEnterpriseEnablingLabel {
            margin: 0 5px;
            font-size: small;
        }
        .requiresEnterpriseButton {
            max-width: @bloom-enterprise-button-width;
            max-height: @bloom-enterprise-button-height;
            align-self: center;
            background-color: white;
            line-height: 1.1;
            font-size: small;
        }
    }
}

.requiresEnterpriseOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: fade(
        @bloom-blue,
        50%
    ); //rgba(0, 0, 0, 0.5); // Black background with opacity
    z-index: 2; // Specify a stack order in case you're using a different order for other elements
    display: flex;
    flex-direction: column;
}
