root = true

# Defaults
[*]
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8
indent_size = 4

[*.{cs,csproj,sln}]
indent_style = tab

[*.pug]
indent_style = tab

[*.{ts,json,js,md,jsx,css,less}]
indent_style = space

[*.tmx]
indent_style = space
indent_size = 2

[*.sh]
end_of_line = lf
