src/Bloom.suo
*.user
lib/GeckoFx/Skybound.Gecko/*
output/*
*/.svn
*/bin/*
*/obj
userProject
templates/A4LandscapeBooklet/starter.pdf
src/_ReSharper.Bloom/*

*/_ReSharper*
Bloom VS2010.suo
_ReSharper.Bloom VS2010/*
Bloom VS2010.sln.orig
HL - Health
Stuff to convert
_ReSharper
_ReSharper*

Szn's Shell Books - Copy
lib/xulrunner
lib/XulRunner*
lib/xulrunner*
**.idea
DistFiles/root/tmp*
*.pdb
lib/dotnet/Palaso*.dll
DistFiles/factoryCollections/Templates/BasicBook/basePage.css
DistFiles/factoryCollections/Templates/BasicBook/previewMode.css
DistFiles/factoryCollections/Templates/BasicBook/languageDisplay.css
*.bak
**/Sample Shells/**/previewMode.css
**/Sample Shells/**/languageDisplay.css
**/Sample Shells/**/basePage.css
**/Templates/**/previewMode.css
**/Templates/**/basePage.css
