src/Bloom.suo
*.user
*.orig
lib/GeckoFx/Skybound.Gecko/
output/
.svn/
bin/
obj/
userProject
templates/A4LandscapeBooklet/starter.pdf
src/_ReSharper.Bloom/

Bloom VS2010.suo
_ReSharper.Bloom VS2010/
HL - Health
Stuff to convert
_ReSharper*

Szn's Shell Books - Copy
lib/xulrunner*/
**.idea
DistFiles/root/tmp*
*.pdb
lib/dotnet/Palaso*.dll
DistFiles/factoryCollections/Templates/BasicBook/basePage.css
DistFiles/factoryCollections/Templates/BasicBook/previewMode.css
DistFiles/factoryCollections/Templates/BasicBook/languageDisplay.css
DistFiles/factoryCollections/Templates/Decodable Reader/Basic Book.css
DistFiles/factoryCollections/Templates/Leveled Reader/Basic Book.css
DistFiles/factoryCollections/Templates/**/Factory-XMatter.css
DistFiles/factoryCollections/Templates/**/basePage.css

*.bak
**/Sample Shells/Vaccinations/*.css
**/Sample Shells/**/previewMode.css
**/Sample Shells/**/languageDisplay.css
**/Sample Shells/**/basePage.css
**/Sample Shells/**/origami.css
**/Templates/**/previewMode.css
**/Templates/**/basePage.css
**/Templates/**/origami.css
Acorns*
_NCrunch*
*.vsp
build/xulrunner*
build/Palaso.BuildTasks.dll
build/MSBuild.*
packages/*.*
Copy*.bat
*.orig
*.map
*.ncrunchsolution
Mercurial
Mercurial*/
Presentations/
packages/
videos
screenshots/
MercurialExtensions/
WebSite/
*.suo
*.psess
lib/dotnet/Palaso*.*
lib/dotnet/Chorus*.*
DistFiles/exiftool.exe
Copy*.bat
DistFiles/wkhtmltopdf/
lib/wkhtmltopdf-*.zip
.nuget/NuGet.exe
LibChorus.*
build/Palaso.BuildTasks.dll*
*.userprefs
Downloads/
Bloom Q&A SIL Literacy Oct 2013.pdf
Locked Sample Uganda RTI P1 Primer/
jasmine.d.ts
connections.dll
DistFiles/Bloom.chw
DistFiles/Bloom.chm
DistFiles/optipng.exe
build/ChorusInstallerStuff/ChorusMergeModule.msm
build/JohnsTestInstallerBuild.bat
src/BloomBrowserUI/bookEdit/js/libsynphony/
lib/dotnet/
TestResult.xml
DistFiles/pdf/
nbproject/
lib/wkhtmltopdf*.zip
DistFiles/ReleaseNotes.html
ReadMe_*.html
B3.sln
B2.sln
node_modules/
*.usertasks
Andika-R.ttf
*~
Bloom/
.vs/config/applicationhost.config

# javascript files that are generated from Typescript
bookSettings.js
decodableReader.js
jquery.div-columns.js
readerTools.js
readerToolsModel.js
leveledReader.js
audioRecording.js
talkingBook.js
bloomFieldSpec.js
bloomHintBubbles.js
bloomNotices.js
bloomQtipUtils.js
calledByCSharp.js
collectionSettings.d.js
directoryWatcher.js
editableDivUtils.js
getIframeChannel.js
interIframeChannel.js
OverflowChecker.js
bloomSourceBubbles.js
TopicChooser.js
readerSetup.io.js
readerSetup.ui.js
jquery.alphanum.d.js
jquery.i18n.custom.js
localizationManager.js
localizationManagerSpec.js
page-chooser.js
SourceBubblesSpec.js
StyleEditorSpec.js
StyleEditor.js
bloomField.js
synphonyApi.js
toolbox.js
errorHandler.js
cSharpDependencyInjector.js
readerSettings.js
editablePageBootstrap.js
bloomEditing.js
bloomImages.js
origami.js
toolboxBootstrap.js

# CSS files that are generated from LESS
bloomEpubPreview.css
TemplatePagesThumbnailList.css
StyleEditor.css
topicChooser.css
bloomDialog.css
editMode.css
editPaneGlobal.css
origami.css
qtipOverrides.css
sourceBubbles.css
bookSettings.css
readerSettings.js
readerSetup.css
readerTools.css
audioRecording.css
toolbox.css
CommonBasePageEpub.css
basePage.css
baseEpub.css
page-chooser.css
previewMode.css
BookPagesThumbnailList.css
tab.winclassic.css

# html files that are generated from JADE
EditViewFrame.html
test.html
PageElements.html
bookSettings.html
decodableReader.html
ReaderSetup.html
leveledReader.html
Settings.html
talkingBook.html
toolbox.html
blank-preview.html
page-chooser-mixins.html
page-chooser-main.html
OverflowAncestorTestPage.html
OverflowMarginTestPage.html
OverflowTestPage.html