src/Bloom.suo
*.user
*.orig
lib/GeckoFx/Skybound.Gecko/
output/
.svn/
bin/
obj/
userProject
templates/A4LandscapeBooklet/starter.pdf
src/_ReSharper.Bloom/

Bloom VS2010.suo
_ReSharper.Bloom VS2010/
HL - Health
Stuff to convert
_ReSharper*

Szn's Shell Books - Copy
lib/xulrunner*/
**.idea
DistFiles/root/tmp*
*.pdb
lib/dotnet/Palaso*.dll

basePage.css
previewMode.css
languageDisplay.css
Basic Book.css
Factory-XMatter.css


*.bak
**/Sample Shells/Vaccinations/*.css
**/Sample Shells/**/previewMode.css
**/Sample Shells/**/languageDisplay.css
**/Sample Shells/**/basePage.css
**/Sample Shells/**/origami.css
**/Templates/**/previewMode.css
**/Templates/**/basePage.css
**/Templates/**/origami.css
Acorns*
_NCrunch*
*.vsp
build/xulrunner*
build/Palaso.BuildTasks.dll
build/MSBuild.*
build/AWSSDK.dll
packages/*.*
Copy*.bat
*.orig
*.map
*.ncrunchsolution
Mercurial
Mercurial*/
Presentations/
packages/
videos
screenshots/
MercurialExtensions/
WebSite/
*.suo
*.psess
lib/dotnet/Palaso*.*
lib/dotnet/Chorus*.*
DistFiles/exiftool.exe
Copy*.bat
DistFiles/wkhtmltopdf/
lib/wkhtmltopdf-*.zip
.nuget/NuGet.exe
LibChorus.*
build/Palaso.BuildTasks.dll*
*.userprefs
Downloads/
Bloom Q&A SIL Literacy Oct 2013.pdf
Locked Sample Uganda RTI P1 Primer/
connections.dll
DistFiles/Bloom.chw
DistFiles/Bloom.chm
DistFiles/optipng.exe
DistFiles/bloomPlayer.js
build/ChorusInstallerStuff/ChorusMergeModule.msm
build/JohnsTestInstallerBuild.bat
lib/dotnet/
TestResult.xml
DistFiles/pdf/
nbproject/
lib/wkhtmltopdf*.zip
DistFiles/ReleaseNotes.html
ReadMe_*.html
B3.sln
B2.sln
node_modules
*.usertasks
Andika-R.ttf
*~
Bloom/
.vs/config/applicationhost.config
build/Bloom*.nupkg
src/BloomBrowserUI/filesToFix.lst
