<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value=".\packages" />
    <!-- Using the global cache has advantages, mostly performance and fewer copies of the packages floating around.
            But there is too much in the build process which relies on packages being in this directory,
            so I'm punting and just forcing it to use the local packages directory for now. -->
    <add key="globalPackagesFolder" value=".\packages" />
  </config>
</configuration>
