@import "../../../bloomUI.less";

@SideMargin: 6px;
@ControlVerticalSpacing: 10px;
@NecessaryZIndex: 30000;

.ui-accordion h3[data-toolId="overlayTool"] {
    span.ui-accordion-header-icon {
        background-image: url("/bloom/bookEdit/toolbox/overlay/comic-icon.svg") !important;
    }
}

#ui-accordion-toolbox-panel-0.OverlayBody {
    padding-top: 1px; // The design for this has a very small boundary between the header and the start of the tool
    padding-left: 1px !important; // Don't want a big border of highly contrasting colors
}

#overlayToolControls {
    display: flex;
    flex-direction: column;
    // fill available toolbox space, part of pushing help to the bottom.
    // If the content won't fit, it gets a scroll bar.
    height: 100%;

    color: @bloom-toolboxWhite;
}

#overlayToolControlShapeChooserRegion {
    background-color: @bloom-gray;
    padding: @SideMargin;
    display: flex;
    flex-wrap: wrap;

    .shapeChooserRow {
        // Using display: flex helps us grow some of the children
        // while also allowing us to adapt to the presence or absence of the vertical scrollbar
        display: flex;

        // Each row fills the entire width of the parent horizontally
        width: 100%;
        height: 50px;
        align-items: center; // vertical
        justify-content: space-between; // horizontal
        margin-right: 4px; // matches the space on the left

        // Each row gets a little vertical cushion
        margin-top: 10px;

        > .shapeChooserRow {
            // second row
            margin-top: 0;
            margin-bottom: 10px;
        }
    }
}

#overlayToolControlOptionsRegion {
    padding: @SideMargin @SideMargin 0 @SideMargin;

    // a toolbox-wide rule sets to x-small, but that makes for tiny checkboxes
    .bloom-checkbox-label {
        font-size: medium;
        padding-top: 3px; // this is hack, I gave up trying to figure out what is different about this context from other uses of BloomCheckbox
    }

    // This corresponds to the wrapper div generated for each control within the form
    // It is also the parent flex container for each option
    .MuiFormControl-root {
        width: 100%; // Make it occupy 100% of its parent (which is the form)

        .MuiInputLabel-formControl {
            // The default generates it with position: absolute.
            // If it has position:absolute, then it is not a child of the flex container
            // That would mean that the flex-container height is determined purely by the remaining (one) child
            // We need the flex-container height to factor in the height of the child label too though!!!
            // So we turn off position:absolute so that it can become a child of the flex-container
            position: unset;
        }

        .MuiInputLabel-shrink {
            // MaterialUI assumes the label will be exactly 1 line. It allocates 12 pixels for the line + 4 pixels whitespace for 16 pixels total.
            // I want it to be more flexible. Who knows how long the translated text will be? Maybe it's multiple lines
            // MaterialUI does a 75% scaling in order to reduce the size of the text (12 pixels per line). But flexbox still lays out the full size (16 pixels per line)
            // This gives a 4 pixels per line whitespace.
            // That looks nice when there is only one line (which is MaterialUI's assumption).
            // When there are multiple lines, the amount of whitespace grows linearly, which looks really awkward IMO. I'd rather have a constant 4 pixel whitespace.
            //
            // Also, when you use scale=0.75, font-size=1 like MUI, the line-wrapping is determined based on scale=1,font-size=1, then just scaled smaller.
            // Yes, the letters will be 75% of the size, but the width available is also only 75%!!! Ahhh!
            // When we use scale=1, font-size=0.75, we get letters that are 75% of the size but which can utilize the full width.
            // So that's a 2nd pro for undoing MaterialUI's scaling.
            transform: translate(0, 1.5px) scale(1);
            font-size: 0.75rem;
        }

        label + .MuiInput-formControl,
        label + .MuiInputBase-formControl {
            // This does 2 things:
            // 1) MUI's default is 16px, but that also takes into account that the label uses position: absolute instead of being positioned as a flex-item.
            //    Now that we're positioning it as a flex-item, we need to unset or override margin-top:
            // 2) Now that we're undoing MUI's 75% scaling (which was providing a 4 pixel whitespace area by transforming a 16-pixel line into a 12-pixel one),
            //    we need to create that manually.
            margin-top: 4px;
        }

        // The goal here is to get all the controls spaced vertically the same distance apart
        & + .MuiFormControl-root,
        & + button {
            margin-top: @ControlVerticalSpacing;
        }

        .comicCheckbox {
            .MuiFormControlLabel-root {
                padding-top: @ControlVerticalSpacing;

                .MuiCheckbox-root {
                    padding-bottom: 0;
                }
            }

            span {
                padding-top: 1px;
            }

            .MuiSvgIcon-root {
                font-size: 1.3rem; // reduce size of checkbox a bit
            }
        }
    }

    .MuiFormLabel-root,
    .MuiSelect-icon,
    .bubbleOptionDropdown,
    .MuiFormControlLabel-root,
    .MuiCheckbox-root {
        color: @bloom-toolboxWhite;
    }

    .MuiFormControlLabel-root,
    .MuiFormControlLabel-label,
    .MuiCheckbox-root {
        &.Mui-disabled {
            opacity: 0.4;
            color: @bloom-toolboxWhite !important;
        }
    }

    .MuiInput-underline::after {
        // Normally there is a 2px border when the dropdown menu is open. I like it better without it, because
        // the removal of the effect seems a little off because the border persists until after you select AND THEN after you click somewhere else.
        border-bottom-width: 0px;
        border-bottom-color: @bloom-toolboxWhite; // FYI, the Material UI default is dark blue.
    }

    .MuiSelect-select {
        border: 1px solid;
        border-radius: 5px; // The rounded corners
        padding-left: 10px;
    }

    .MuiSelect-icon {
        padding-right: 10px;
    }

    .MuiButton-root {
        padding-left: 0px; // strip out Material's default padding
        color: @bloom-blue;

        // MaterialUI and JQuery both attempt to set the font size.
        // MUI's 0.875rem rule has lower precedence than JQuery's ".ui-widget button: 1em" rule,
        // but we want to go with the MaterialUI look, so here's the MUI rule again, at a higher precedence.
        font-size: 0.875rem;
    }

    #trashIcon {
        color: @bloom-blue;
        margin-top: 18px;
        margin-left: -5px; // hack to left-align the icon itself, which is framed by a larger SVG
        display: block;
    }

    .option-button-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .duplicate-bubble-icon {
            margin-top: 18px; // to match material-ui icon on same row
        }
    }
}

// This section replaces the main controls of style, colors, tails, etc. which we don't need
// for picture over picture or video over picture.
#videoOrImageSubstituteSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// Empty region that does all the growing and shrinking.
// makes the overlayToolControlFooterRegion go to the bottom,
// but unlike making it position: absolute and bottom:3,
// it can get pushed out of view if the view gets too small.
#overlayToolControlFillerRegion {
    flex: 1 1 0;
}

#overlayToolControlFooterRegion {
    padding-left: 6px;
    margin-bottom: 3px;
    margin-top: 10px;
}

// This is built into Material UI, but we need to access it to set the width of dropdown menus.
@dropdownLeftMargin: 16px;

.bubble-options-dropdown-menu {
    // Getting overwritten by the inline styles... :(
    // TODO: Experiment with whether you can pass in a style through Material UI instead of using !important to bypass the inline style.
    z-index: @NecessaryZIndex !important; // Note: 18,000 was experimentally determined to be the minimum required z-index, but seems safer to go up a bit from the minimum

    .MuiMenu-paper {
        min-width: calc(@toolboxWidth - 2 * @dropdownLeftMargin) !important;
    }
}
