@import "../../../DistFiles/less/common-mixins.less";
@import "BloomXMatterEPUBCommon.less";

@XMatterPackName: "unknown";

//This hack is used to localize the xMatter label. data-after-content is set in bloomEditing.ts
.bloom-frontMatter, .bloom-backMatter {
    .pageLabel:before {
        content: "@{XMatterPackName}";
        display: none;
    }
    .pageLabel:after {
        content: ": " attr(data-after-content);
    }
}

@BottomMargin-SmallerForCover: 10mm;
//normally the marginBox sizing is done by the basePage, but for the front and back cover, we want to cheat to have
//a smaller bottom margin, since there is no page number
.outsideFrontCover .marginBox, .outsideBackCover .marginBox {
    .SetMarginBoxCover(@PageHeight, @PageWidth) {
        /*There's no page number on the cover, so we might as well have a the bottom stuff closer to the bottom*/
        height: @PageHeight - (@MarginTop + @BottomMargin-SmallerForCover);
        //Just center the margin box, (for now, we're ignoring the binding)
        left: @MarginOuter;
        width: @PageWidth - (2 * @MarginOuter);
        IMG {
            /* BL-2353 Keeps XMatter thumb images from going too wide (or too small) */
            max-width: @PageWidth - (2 * @MarginOuter);
        }
    }
    .A4Portrait& {
        .SetMarginBoxCover(@A4Portrait-Height, @A4Portrait-Width);
    }
    .A4Landscape& {
        .SetMarginBoxCover(@A4Landscape-Height, @A4Landscape-Width);
    }
    .A5Portrait& {
        .SetMarginBoxCover(@A5Portrait-Height, @A5Portrait-Width);
    }
    .A5Landscape& {
        .SetMarginBoxCover(@A5Landscape-Height, @A5Landscape-Width);
    }
    .A6Portrait& {
        .SetMarginBoxCover(@A6Portrait-Height, @A6Portrait-Width);
    }
    .A6Landscape& {
        .SetMarginBoxCover(@A6Landscape-Height, @A6Landscape-Width);
    }
    .B5Portrait& {
        .SetMarginBoxCover(@B5Portrait-Height, @B5Portrait-Width);
    }
    .LetterPortrait& {
        .SetMarginBoxCover(@LetterPortrait-Height, @LetterPortrait-Width);
    }
    .LetterLandscape& {
        .SetMarginBoxCover(@LetterLandscape-Height, @LetterLandscape-Width);
    }
    .HalfLetterPortrait& {
        .SetMarginBoxCover(@HalfLetterPortrait-Height, @HalfLetterPortrait-Width);
    }
    .HalfLetterLandscape& {
        .SetMarginBoxCover(@HalfLetterLandscape-Height, @HalfLetterLandscape-Width);
    }
    .QuarterLetterPortrait& {
        .SetMarginBoxCover(@QuarterLetterPortrait-Height, @QuarterLetterPortrait-Width);
    }
    .QuarterLetterLandscape& {
        .SetMarginBoxCover(@QuarterLetterLandscape-Height, @QuarterLetterLandscape-Width);
    }
}

.insideFrontCover {
    .bloom-content1 {
        display: inherit;
    }
    .bloom-editable {
        height: 100%;
    }
}

.iso693Code * {
    display: inline;
}

.frontCover {
    @BottomRowHeight: 20px;
    @MarginBetweenMajorItems: 15px;

    .marginBox {
        display: flex;
        flex-direction: column;
    }
    // This gives AuthorIllustrator, LanguageName and Topic all the same styling
    .Cover-Default-style {
        font-size: 12pt;
    }

    .bookTitle {
        flex: 0 0 auto; // how this behaves for the marginBox flex layout
        //within this, we also need flex, so we can set the order the child edit boxes
        //independently of their appearance order in the html
        display: flex;
        flex-direction: column;

        .bloom-editable {
            order: 0;
            height: auto;
            //a bit confusingly (for me), text-align:center stops working because of the flex layout, so we need this:
            justify-content: center;

            &.bloom-contentNational1  {
                //NB: we show the title in national language(s) according to the pageLayoutOptions, independent of the
                // mono/bi/tri lingual settings of the book, which are for the *content*, not the metadata.
                order: 1;
                display: block; // don't want to inherit flex (BL-2681), but need to override display:none for inactive languages
            }
            &.bloom-contentNational2  {
                order: 2;
                display: block;
            }
            //NB: THe order here is important. bloom-content1 should be last so that if a box is *both* bloom-contentNational1 and bloom-content1 (as is the default case for source collections), we want the  bloom-content1 rule to win.
            &.bloom-content1 {
                //main title
                order: 0;
                display: block;
            }
        }
    }

    //Respond to pageLayoutOptions Settings
    &:not([data-page-layout-options*='FrontCover.ShowN1Title']) .bookTitle .bloom-contentNational1{
        display:none;
    }

    &:not([data-page-layout-options*='FrontCover.ShowN2Title']) .bookTitle .bloom-contentNational2{
        display:none;
    }

    &:not([data-page-layout-options*='FrontCover.ShowLanguageNames']) .coverBottomLangName {
        display:none;
    }

    .placeholder, .bloom-imageContainer {
        order: 1;
        flex: 1 1 auto;
        margin-top: @MarginBetweenMajorItems;
        margin-bottom: @MarginBetweenMajorItems;
    }
    .creditsWrapper {
        order: 2;
        flex: 0 0 auto;
        .bloom-editable.smallCoverCredits {
            display: inherit;
            text-align: center;
            line-height: 1.7em;
            min-height: 1.7em;
            height: auto;
        }
    }
    .bottomBlock {
        flex: 0 0 auto;
        order: 4;
        height: 2em;
        .coverBottomBookTopic {
            position: absolute;
            bottom: 7px;
            right: 0;
            height: @BottomRowHeight;

            text-align: right;
            width: 6cm;
            .bloom-contentNational1 {
                display: inline !important;
                bottom: -4px;
                padding-right: 1px;
                text-align: right;
            }
        }

        .coverBottomBookTopic {
            .bloom-editable {
                margin-top: 0;
            }
            .bloom-contentNational2 {
                color: gray;
            }
            .bloom-content1 {
                &:not(.bloom-contentNational1) {
                    color: gray;
                }
            }
        }

        .publishMode {
            .coverBottomBookTopic {
                .bloom-contentNational2 {
                    display: none;
                }
                .bloom-content1 {
                    &:not(.bloom-contentNational1) {
                        display: none;
                    }
                }
            }
        }

        .coverBottomLangName {
            position: absolute;
            left: 0;
            line-height: 1.6em !important;
        }
    }
}

//note that we allow ".verso" for historical reasons (verso means something like "backside of title page") but we can
//put the credits page anywhere.
.credits {
    .Credits-Page-style {
        font-size: 10pt;
        //min-height: 5em;
        line-height: 1.4em; // supports ไปทั่วพื้ ที่นั่ ชื่ ปู ช้ต่างป
    }

    .originalAcknowledgments .bloom-contentNational1 {
        display: block !important;
        margin-bottom: @MarginBetweenBlocks;
    }
    .versionAcknowledgments {
        display: block !important;
        height: auto;
    }
    .licenseUrl {
        display: none;
    }

    @MarginBetweenBlocks_SmallPaper: .5em;
    &.A6Landscape, &.A6Portrait, &.QuarterLetterLandscape, &.QuarterLetterPortrait {
        .licenseImage {width: 65px};

        .copyright, .ISBNContainer, .licenseBlock, .originalAcknowledgments .bloom-contentNational1{
            margin-bottom: @MarginBetweenBlocks_SmallPaper;
        }
        //.licenseAndCopyrightBlock {
        //    .licenseBlock{margin-bottom: 1em;}
        //}
    }
}

BODY[bookcreationtype="original"] {
    .titlePage {
        #originalContributions {
            .bloom-content1 {
                display: inherit;
                min-height: 3em; // two lines
            }
        }
        #funding {
            .bloom-content1 {
                display: inherit;
                min-height: 3em; // two lines
            }
        }
    }
}

BODY[bookcreationtype="translation"] {
    .titlePage {
        #originalContributions {
            .bloom-contentNational1 {
                display: inherit;
                min-height: 3em; // two lines
            }
        }
        #funding {
            .bloom-contentNational1 {
                display: inherit;
                min-height: 3em; // two lines
            }
        }
    }
}

.titlePage {
    @MarginBetweenMinorItems: .5em;
    @MarginBetweenTitleAndFunding: 3em;

    .Title-On-Title-Page-style {
        font-size: 14pt;
    }
    .Title-On-Title-Page-style.bloom-content1 {
        font-size: 20pt;
    }
    text-align: center;


    //enhance: this is necessary because we're showing langs that aren't chosen for the content of the book
    #titlePageTitleBlock {
        .bloom-editable {
            //min-height: 1.4em; messes up BL-1200
            line-height: 1.4em; // supports ไปทั่วพื้ ที่นั่ ชื่ ปู ช้ต่างป
        }
        .bloom-content1 {
            display: block;
            //margin-bottom: @MarginBetweenMinorItems; messes up BL-1200
        }
        //NB: we show the title in national language(s) according to the pageLayoutOptions,
        //not the mono/bi/tri lingual settings of the content of the book. So this says
        //to show it, and then there are other rules to hide them
        .bloom-contentNational1, .bloom-contentNational2 {
            display: block;
            //margin-bottom: @MarginBetweenMinorItems; messes up BL-1200
        }
        .bloom-content3 {
            display: block;
        }
        margin-bottom: @MarginBetweenTitleAndFunding;
    }

    #originalContributions {
        margin-bottom: @MarginBetweenMinorItems;
    }

    #languageInformation {
        width: 100%;
        position: absolute;
        bottom: 0;
        .languagesOfBook {
        }
        //NB: order would be important here, since in source collections, a block can be both content1 and contentNational1
        .langName.bloom-content1 {
            display: none;
        }
        .langName.bloom-contentNational2 {
            display: none;
        }
        .langName.bloom-contentNational1 {
            display: inherit;
        }
    }
}

.insideBackCover .bloom-editable {
    height: 100%;
}

.outsideBackCover .bloom-editable {
    height: 100%;
    text-align: center;
}

//don't put this under any particular page, you don't know where some xmatter pack will want it
.ISBNContainer {
    .bloom-editable {
        text-align: left !important; //even if everything else is centered (including the ISBN Block) this needs to be tight against the label
        width: 4.3cm !important;
        display: inline-block;
        vertical-align: text-top;
        max-height: 1.8em;
        min-height: 1.8em;
    }
    .ISBNContainer SPAN {
        vertical-align: top;
    }
    margin-bottom: @MarginBetweenBlocks;
}