include ../bloom-xmatter-mixins.jade


doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='BloomFormatVersion', content='2.0')
		title Video Front &amp; Back Matter
		+stylesheets('Video-XMatter.css')
	body

	//Note: the ".frontCover" here triggers some things in the common stylesheet,
	//so if you change it, expect to do some more work
	+page-cover('Opening Screen').frontCover#ad01f8d2-c338-4dca-b4f2-cc4eeb62c1b0(data-book-attributes='frontCover')
		+field-prototypeDeclaredExplicity.bookTitle
			label.bubble Title in {lang}
			+editable(kLanguageForPrototypeOnly).bloom-nodefaultstylerule.Title-On-Cover-style(data-book='bookTitle')

			//NB: don't convert this to an inline label; that interferes with the bloom-copyFromOtherLanguageIfNecessary,
			// because it is never empty
		.creditsWrapper(data-hint='You may use this space for author/illustrator, or anything else.')
			//- 'V' means this field is only available in the vernacular
			+field-mono-meta('V', "smallCoverCredits").smallCoverCredits.bloom-copyFromOtherLanguageIfNecessary.Cover-Default-style
		.bottomBlock
			.coverBottomLangName.Cover-Default-style(data-book='languagesOfBook',lang="N1")
			//+chooser-topic.coverBottomBookTopic


	// Credits at the end
	+page-xmatter("Credits Page 1").bloom-backMatter.credits1#a4bd3950-26b9-437b-822f-4c3cb46d060c

		+block-licenseAndCopyright#versoLicenseAndCopyright
		+field-acknowledgments-originalVersion
		+field-acknowledgments-localizedVersion

	+page-xmatter('Credits Page 2').bloom-backMatter.credits2#786140ba-981a-44d4-a0cf-510f7367aff3
		+field-prototypeDeclaredExplicity#originalContributions
			label.bubble The contributions made by writers, illustrators, editors, etc., in {lang}
			+editable(kLanguageForPrototypeOnly).credits.bloom-readOnlyInTranslationMode.bloom-copyFromOtherLanguageIfNecessary.Original-Contributors-On-Title-Page-style(data-book='originalContributions')
		+field-prototypeDeclaredExplicity#funding
			label.bubble Use this to acknowledge any funding agencies.
			+editable(kLanguageForPrototypeOnly).funding.Funding-On-Title-Page-style.bloom-copyFromOtherLanguageIfNecessary(data-book='funding')
	+page-xmatter('The End').bloom-backMatter.theEndPage#aaa140ba-981a-44d4-a0cf-510f7367aaaa
			+editable('en').theEnd(data-hint='Something to tell the reader/viewer that this is the end.')
				p The End