<?xml version="1.0" encoding="utf-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="content-type" />
	<title>Test Template</title>
	<link rel="stylesheet" href="A4Portrait.css" type="text/css" />
</head>
<body>
	<div>
		<textarea rows='3' cols='14' class="title" name="authorText">The Title</textarea>
	</div>
	<div>
		<img alt="missin" class="picture" src="titlePicture.png" /></div>
	<div>
		<textarea rows='3' cols='14' class="author" name="authorText">Enter the Author name here</textarea>
	</div>
</body>
</html>
