include ../standard-page-mixins.pug
include ./simpleComprehensionQuiz.pug
include ./customWidgetPage.pug
include ./simple-dom-choice-activities.pug

doctype html
html
	head
		+metadata-standard
		//- This "Book" name is used for saving the file, until the user enters a title
		meta(name='defaultNameForDerivedBooks', content='Book')
		meta(name='bloomBookId', content='b6794c5f-f7db-4ee9-a674-8cfeab8853d4')
		//- Eventually, we'll remove Bloom's need for this.
		meta(name='pageTemplateSource', content='Activity')
		title 'Activity'
		+stylesheets('Activity.css')
		+standardStyles
			= '\n'
			| .QuizAnswer-style { font-size: 12pt !important;}
			| .QuizQuestion-style {font-size: 12pt !important; font-weight: bold !important;}
			//- color of button is left to the stylesheet
			//- We'd prefer a 40pt default in portrait mode and 31pt in landscape, but there's no current
			//- way to have a different font size in landscape for a user-defined style.
			//- An earlier version used a line height of 95px to center 40pt text, but we want to use one of the
			//- choices in the Format dialog. 1.3 seems to give the best vertical centering, when combined
			//- with other settings.
			| .ButtonText-style { font-size: 31pt !important; text-align: center !important; line-height: 1.3 !important; }
			| .TextToMatch-style { font-size: 40pt !important; text-align: center !important; line-height: 1.1 !important; font-weight: bold !important;}
			| .Prompt-style { font-size: 18pt !important; line-height: 1.5 !important; word-spacing: normal !important; font-weight: font-style: normal !important; text-decoration: none !important; text-align: center !important; color: white; }
	body
		+dataDiv
			//- This book's title is deliberately not the same as the file name.
			//- It deliberately matches the title of another book.
			//- This causes the pages of the two books to be combined in the Add Page dialog.
			//- Why not just merge the two books? Activities is done as a pug, but Games is
			//- more convenient to maintain as HTML. Also, they want quite different
			//- stylesheets. Moreover, quite a lot of our code knows about Activities.css,
			//- so getting rid of that is a bit of problem.
			+bookVariable-title('en', 'Games Pages')
			+bookVariable('styleNumberSequence', '*', '0')

		//- Make sure any pages you (developers) add here include the '.enterprise-only' class at the page level.
		+preview-outsideFrontCover
		+quizPage
		+customWidgetPage
		+captiveWidgetPage
		+chooseWordFromPicture
		+choosePictureFromWord

		//- This will eventually be reinstated in the Games template, but temporarily we will reinstate it here and convert pug to HTML.
		//-Slider: +page("Word Picture Slider Activity", "An interactive page where the user chooses pictures to match words.").customPage.bloom-ignoreForReaderStats.bloom-interactive-page.enterprise-only.no-margin-page.numberedPage.activityBlueOnTan#3325A8B6-EA15-4FB7-9F8D-271D7B3C8D58(data-page='extra' data-analyticscategories="drag-activity" data-activity="drag-word-chooser-slider" data-tool-id="dragActivity")
		//- 	.split-pane-component-inner
		//- 		//- there's a background image that fills the page. Todo: find a good one that doesn't take much space for a demo
		//- 		+image
		//- 			//- this div is moved to the bottom of the page and stretched to fill it by the javascript
		//- 			//- then we copy images into it and allow them to be slid around.
		//- 			div.bloom-activity-slider
		//- 			//- a draggable picture that will be copied into the slider. We probably want two or three for demo purposes, with real pictures
		//- 			//- and corresponding labels. Remember each pair must have a different data-img-txt value.
		//- 			div.bloom-textOverPicture.ui-resizable.ui-draggable(data-img-txt="1" data-bubble="{`version`:`1.0`,`style`:`none`,`tails`:[],`level`:1,`backgroundColors`:[`transparent`]}" style="left: 60px; top: 80px; width: 100px; height: 100px; position: absolute;")
		//- 				//- tabindex 0 is necessary for TOP image containers so they can properly be set as the active TOP.
		//- 				.bloom-imageContainer(tabindex="0")
		//- 					img(src="placeHolder.png", width="100px", alt='This picture, placeHolder.png, is missing or was loading too slowly.')
		//- 			//- a corresponding text box
		//- 			div.bloom-textOverPicture.ui-resizable.ui-draggable.bloom-allowAutoShrink.bloom-wordChoice.bloom-activeTextBox(data-txt-img="1" data-bubble="{`version`:`1.0`,`style`:`none`,`tails`:[],`level`:1,`backgroundColors`:[`transparent`]}" style="left: 60px; top: 20px; width: 91px; height: 31px; position: absolute;")
		//- 				.bloom-translationGroup(data-default-languages='auto')
		//- 					+editable('en').Bubble-style( ) Flower
		//- 			div.bloom-textOverPicture.bloom-change-page-button.bloom-prev-page(style="left: 10px;top: 14px;width: 30px;height: 30px;" data-bubble="{`version`:`1.0`,`style`:`none`,`tails`:[],`level`:9,`backgroundColors`:[`transparent`],`shadowOffset`:0}") &lt;
		//- 			div.bloom-textOverPicture.bloom-change-page-button.bloom-next-page(style="left: 190px;top: 14px;width: 30px;height: 30px;" data-bubble="{`version`:`1.0`,`style`:`none`,`tails`:[],`level`:9,`backgroundColors`:[`transparent`],`shadowOffset`:0}") &gt;
