mixin customWidgetPage
	+page("Widget Page", "A page where you can import an HTML5 widget which readers can interact with").custom-widget-page.customPage.bloom-interactive-pageno-margin-page.numberedPage#3a705ac1-c1f2-45cd-8a7d-011c009cf406(data-page='extra' data-feature="widget" data-analyticsCategories="widget" help-link="https://docs.bloomlibrary.org/widgets")
		.split-pane-component-inner
			.bloom-widgetContainer.bloom-noWidgetSelected.bloom-leadingElement

mixin captiveWidgetPage
	+page("Captive Widget Page", "Bloom Reader hides its own navigation buttons when showing this HTML5 widget. The widget itself will need to provide a way to exit. This is useful for things like tests where you don't want the student to leave until they have completed the test.").custom-widget-page.customPage.bloom-interactive-page.no-margin-page.numberedPage#fac23aea-b867-4a75-b99a-6044e987be9e(data-page='extra' data-feature="widget" data-analyticsCategories="widget" data-player-options="{'hideNavigation':true}" help-link="https://docs.bloomlibrary.org/widgets")
		.split-pane-component-inner
			.bloom-widgetContainer.bloom-noWidgetSelected.bloom-leadingElement
