<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Analytics" version="2.0.2" targetFramework="net461" />
    <package id="Autofac" version="4.1.1" targetFramework="net461" />
    <package id="AWSSDK.Core" version="3.3.2.1" targetFramework="net461" />
    <package id="AWSSDK.S3" version="3.3.1" targetFramework="net461" />
    <package id="CommandLineParser" version="2.5.0" targetFramework="net461" />
    <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net461" />
    <package id="DesktopAnalytics" version="1.2.4.11" targetFramework="net461" />
    <package id="DialogAdapters" version="0.1.8.23151" targetFramework="net461" />
    <package id="EasyHttp" version="1.6.86.0" targetFramework="net461" />
    <package id="Fleck" version="0.14.0.59" targetFramework="net461" />
    <package id="Glob" version="0.4.0" targetFramework="net461" />
    <package id="icu.net" version="2.5.2" targetFramework="net461" />
    <package id="JsonFx" version="2.0.1209.2802" targetFramework="net461" />
    <package id="MarkdownDeep.NET" version="1.5" targetFramework="net40-Client" />
    <package id="Microsoft.DotNet.PlatformAbstractions" version="2.0.4" targetFramework="net461" />
    <package id="Microsoft.Extensions.DependencyModel" version="2.0.4" targetFramework="net461" />
    <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net461" />
    <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net461" />
    <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net461" />
    <package id="NuGet.Core" version="2.12.0" targetFramework="net461" />
    <package id="RestSharp" version="105.2.3" targetFramework="net461" />
    <package id="SharpZipLib" version="1.1.0" targetFramework="net461" />
    <package id="SourceMapDotNet" version="1.0.5478.26629" targetFramework="net461" />
    <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
    <package id="TechTalk.JiraRestClient.RestSharp105" version="2.3.0.1" targetFramework="net461" />
    <!-- Linux specific packages.  Changes above this line must be copied to ../packages.config -->
    <package id="Geckofx60.64.Linux" version="60.0.44" targetFramework="net461" />
    <package id="SharpFont" version="3.1.0" targetFramework="net461" />
</packages>
