<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Analytics" version="2.0.2" targetFramework="net461" />
  <package id="Autofac" version="4.1.1" targetFramework="net461" />
  <package id="AWSSDK.Core" version="3.3.2.1" targetFramework="net461" />
  <package id="AWSSDK.S3" version="3.3.1" targetFramework="net461" />
  <package id="CommandLineParser" version="2.0.275-beta" targetFramework="net461" />
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net461" />
  <package id="DesktopAnalytics" version="1.2.3" targetFramework="net461" />
  <package id="EasyHttp" version="1.6.86.0" targetFramework="net461" />
  <package id="Fleck" version="0.14.0.59" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net461" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net461" />
  <package id="JsonFx" version="2.0.1209.2802" targetFramework="net461" />
  <package id="MarkdownDeep.NET" version="1.5" targetFramework="net461" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NuGet.Core" version="2.12.0" targetFramework="net461" />
  <package id="RestSharp" version="105.2.3" targetFramework="net461" />
  <package id="SourceMapDotNet" version="1.0.5478.26629" targetFramework="net461" />
  <package id="TechTalk.JiraRestClient.RestSharp105" version="2.3.0.1" targetFramework="net461" />
  <!-- Linux specific packages.  Changes above this line must be copied to ../packages.config -->
  <package id="Geckofx45.32.Linux" version="45.0.21.0" targetFramework="net461" />
  <package id="Geckofx45.64.Linux" version="45.0.21.0" targetFramework="net461" />
  <package id="MarkdownSharp" version="1.13.0.0" targetFramework="net461" />
  <package id="SharpFont" version="3.1.0" targetFramework="net461" />
</packages>
