// This may eventually be subsumed into bloomUI.less, but for now that file has other ideas about fonts and isn't
// imported where we need webfonts.

// This file should be imported by any Bloom .less file that wants to access webfonts.
// The following were very helpful in compiling this:
// - google-webfonts-helper.herokuapp.com (for getting .woff2 Roboto with a maximum of charsets)
// - transfonter.org (for making .woff2 files from .ttf fonts)
// - scriptsource.org (for finding Unicode ranges for specific scripts)
// - www.metaltoad.com/blog/how-use-font-face-avoid-faux-italic-and-bold-browser-styles

// This Roboto covers latin, latin-ext, greek, greek-ext, cyrillic, cyrillic-ext and vietnamese Unicode blocks.
@font-face {
    font-family: "Roboto";
    src: url("/bloom/fonts/Roboto-Regular.woff2") format("woff2");
    font-weight: normal;
}

// This Roboto covers latin, latin-ext, greek, greek-ext, cyrillic, cyrillic-ext and vietnamese Unicode blocks,
// when asked for bold.
@font-face {
    font-family: "Roboto";
    src: url("/bloom/fonts/Roboto-Bold.woff2") format("woff2");
    font-weight: bold;
}

// This Noto Sans font only covers Unicode points used by Devanagari scripts (at least Hindi and Nepali).
@font-face {
    font-family: "NotoSans";
    src: url("/bloom/fonts/NotoSansDevanagari-Regular.woff2") format("woff2");
    unicode-range: U+0900-097F, U+A8E0-A8FF;
    font-weight: normal;
}

// This Noto Sans font only covers Unicode points used by Devanagari scripts (at least Hindi and Nepali),
// when asked for bold.
@font-face {
    font-family: "NotoSans";
    src: url("/bloom/fonts/NotoSansDevanagari-Bold.woff2") format("woff2");
    unicode-range: U+0900-097F, U+A8E0-A8FF;
    font-weight: bold;
}

// This Noto Sans font only covers Unicode points used by Thai scripts.
@font-face {
    font-family: "NotoSans";
    src: url("/bloom/fonts/NotoSansThai-Regular.woff2") format("woff2");
    unicode-range: U+0E00-0E7F;
    font-weight: normal;
}

// This Noto Sans font only covers Unicode points used by Thai scripts when asked for bold.
@font-face {
    font-family: "NotoSans";
    src: url("/bloom/fonts/NotoSansThai-Bold.woff2") format("woff2");
    unicode-range: U+0E00-0E7F;
    font-weight: bold;
}

// This Noto Sans font only covers Unicode points used by Bengali scripts.
@font-face {
    font-family: "NotoSans";
    src: url("/bloom/fonts/NotoSansBengali-Regular.woff2") format("woff2");
    unicode-range: U+0980-09FF;
    font-weight: normal;
}

// This Noto Sans font only covers Unicode points used by Bengali scripts when asked for bold.
@font-face {
    font-family: "NotoSans";
    src: url("/bloom/fonts/NotoSansBengali-Bold.woff2") format("woff2");
    unicode-range: U+0980-09FF;
    font-weight: bold;
}

// This Noto Sans font only covers Unicode points used by Simplified Chinese scripts.
@font-face {
    font-family: "NotoSans";
    src: url("/bloom/fonts/NotoSansSc-Regular.woff2") format("woff2");
    unicode-range: U+3000-303F, U+FF00-FFEF, U+4E00-9FFF;
    font-weight: normal;
}
// Unfortunately, copying the Chinese definition here doesn't actually make it show bold,
// but it does allow the browser to use this font when it is asked for bold at these code points.
// We could get bold Chinese in selected yellow bubble tabs by adding the bold font here...
// at the cost of 1.5Mb.
@font-face {
    font-family: "NotoSans";
    src: url("/bloom/fonts/NotoSansSc-Regular.woff2") format("woff2");
    unicode-range: U+3000-303F, U+FF00-FFEF, U+4E00-9FFF;
    font-weight: bold;
}

// This Noto Sans font only covers Unicode points used by Arabic scripts.
@font-face {
    font-family: "NotoSans";
    src: url("/bloom/fonts/NotoSansArabic-Regular.woff2") format("woff2");
    unicode-range: U+0600-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
    font-weight: normal;
}

// This Noto Sans font only covers Unicode points used by Arabic scripts when asked for bold.
@font-face {
    font-family: "NotoSans";
    src: url("/bloom/fonts/NotoSansArabic-Bold.woff2") format("woff2");
    unicode-range: U+0600-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
    font-weight: bold;
}

@BubbleFontStack: NotoSans, Roboto, sans-serif;
