@import "./bloomUI.less";

// style settings for common dialog elements
@dialog-title-padding: 10px !important;
@dialog-title-font-size: 10pt !important;
@dialog-title-font-weight: bold !important;

.ui-dialog-titlebar {
    padding: @dialog-title-padding;
    font-size: @dialog-title-font-size;
    font-weight: @dialog-title-font-weight;
}
.ui-dialog-titlebar-close {
    // otherwise treated like ui-button.
    min-width: 1px !important;
    min-height: 1px !important;
}

@button-width: auto;
@button-min-width: 90px;
@button-min-height: 25px;
@button-margin-left: 10px !important;
@button-padding: 2px !important;
@button-border: 1px solid gray !important;
@button-font-weight: normal !important;
@button-font-size: 10pt !important;
@button-color: black !important;
@button-background-color: white !important;
@disabled-button-color: gray !important;
@disabled-button-border: 1px solid lightgray !important;

.ui-button {
    width: @button-width;
    min-width: @button-min-width;
    margin-left: @button-margin-left;
    border: @button-border;
    min-height: @button-min-height;
    padding: @button-padding;
    font-weight: @button-font-weight;
    font-size: @button-font-size;
    color: @button-color;
    background-color: @button-background-color;
}
.ui-button:disabled {
    color: @disabled-button-color;
    border: @disabled-button-border;
}

.ReactModalPortal {
    z-index: 1000;
}

.ReactModal__Content {
    z-index: 1000;
    position: absolute;
    border: 1px solid black;
    // I copied windows 10 (circa 2018) here
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.3);
    background: white;
    overflow: auto;
    // windows 10 doesn't have a rounded dialogs border-radius: 4px;
    outline: none;
    flex-direction: row;

    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
    bottom: auto;
    top: 50%;

    .dialogTitle {
        padding: @dialog-title-padding;
        font-weight: @dialog-title-font-weight;
        font-size: @dialog-title-font-size;
    }
    .dialogContent {
        background-color: #f0f0f0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        h1 {
            font-size: 12px;
            height: 1em;
            font-weight: bold;
            margin: 0;
        }
    }

    .bottomButtonRow {
        display: flex; // this makes the help button's margin-right:auto work
        margin-top: 20px;

        //flex-direction: row; // would normally use for mac & Ubuntu.. but is the rest of Bloom like windows?

        button {
            width: @button-width;
            // I copied windows 10 (circa 2018) here
            min-width: @button-min-width;
            margin-left: @button-margin-left;
            border: @button-border;
            min-height: @button-min-height;
            padding: @button-padding;
            font-weight: @button-font-weight;
            font-size: @button-font-size;
            color: @button-color;
            background-color: @button-background-color;
        }
        button:disabled {
            color: @disabled-button-color;
            border: @disabled-button-border;
        }
        #helpButton {
            //push the other buttons to the right margin
            margin-right: auto;
            margin-left: 0; // hard up against the left edge
        }
    }
}
