//@image-placeholder: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 134 131"><g clip-path="url(%23a)"><path fill="%23888A85" d="M61 0C50 0 45 13 49 22c2 9 6 17 7 26-7-10-18-21-31-18C11 34-3 48 1 63c4 12 19 10 29 10 4 0 16 0 12 2-12 2-24 11-24 24 0 14 9 32 25 32 13-2 14-18 18-28 2-4 6-15 5-5-2 14 7 28 22 29 12 2 31-3 32-18-1-13-17-18-25-26-9-7 1-3 6-1 15 4 30-7 32-22 3-11-1-28-14-28-14 1-23 14-35 19 8-9 15-23 8-35C85 6 73-1 61 0Z"/><path fill="%23BABDB6" d="M66 52c-14 1-20 20-10 29s28 1 28-12c0-10-9-18-18-17Z"/></g><defs><clipPath id="a"><path fill="%23fff" d="M0 0h134v131H0z"/></clipPath></defs></svg>');

@image-placeholder: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 343 336"><path stroke="%23ECECEC" stroke-width="20" d="M125 192c4 11 12 20 24 25 5 3 10 5 15 5l-5 12-4 8-18 51c-3 9-6 17-11 23s-10 9-16 10c-5 1-11-1-16-3-9-5-16-11-22-20-8-11-13-23-15-35-2-16 0-29 9-41 6-8 14-14 24-18l25-9 6-4 4-4Zm100 17 7 7c14 12 29 23 44 33 7 5 13 11 17 18 6 10 5 22-3 31-9 8-19 13-31 17-8 2-16 3-24 2-12 0-23-3-32-9-12-7-19-18-22-31v-1l-2-17v-11l-1-11-1-14 11-3c11-4 20-11 26-20l11 9Zm72-117c7-1 12-1 17 1 4 2 8 6 12 12 3 7 5 14 6 22 1 13-1 26-6 38v1c-5 13-13 22-24 29-8 5-16 7-26 6-8 0-16-2-25-4l-18-5-13-3a51 51 0 0 0-5-46l7-5 13-7c15-9 28-19 41-29 7-5 14-8 21-10ZM61 89c18-5 34-2 49 10 5 4 10 10 15 17l9 12 5 3a52 52 0 0 0-18 49l-6-1h-7c-19-2-38-2-57-2-9 0-16-1-23-3l-1-1h-1c-9-4-14-9-15-18-2-6-1-13 2-20 4-11 11-21 21-29 8-8 17-14 27-17Zm90-78c9-2 18-1 27 1 15 4 28 11 38 22 8 8 14 18 16 29 2 10 0 19-4 29-3 7-7 13-13 21l-7 11-1 2v1l-1 3v2l1 2-3-3a50 50 0 0 0-50-8l-1-3-2-9c-4-19-10-36-16-54-2-7-3-14-3-22 0-12 7-21 19-24Z"/></svg>');

@canvas-placeholder: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 96 106"><g stroke="%23ECECEC" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"><path d="M10 34c0-14 0-20 5-25 4-4 12-4 28-4h10c16 0 23 0 28 4 5 5 5 11 5 25v42H10V34Z"/><path d="M5 76h86"/><path d="M42 22c6-1 15 0 7 8-10 10-25 32-7 25 17-8 25-3 17 5"/><path d="M48 76v19m-33 5 14-24m52 24L67 76"/></g></svg>');

.image-placeholder-background() {
    background-image: @image-placeholder;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    // Don't show the default "missing image" icon
    img[src*="placeHolder.png"] {
        display: none;
    }
}

.bloom-canvas .bloom-canvas-element:has(img[src*="placeHolder.png"]) {
    .image-placeholder-background();
}

// When previewing templates in the Collection Tab, and also when in Change Layout mode in the Edit tab,
// img elements may not be wrapped in canvas-element divs (see BL-15514). Also below.
.preview:not([data-l1]), //  Real books always have a data-l1 attribute added
.origami-layout-mode {
    .bloom-canvas:not(:has(.bloom-canvas-element)):has(
            img[src*="placeHolder.png"]
        ) {
        .image-placeholder-background();
    }
}

// Use the easel placeholder instead of the usual flower placeholder for the background image whenever there is data-tool-id="canvas"
// (there are no legacy-style templates that should have the easel icon)
.bloom-canvas[data-tool-id="canvas"]
    .bloom-backgroundImage.bloom-canvas-element:has(
        img[src*="placeHolder.png"]
    ),
.origami-layout-mode
    .bloom-canvas[data-tool-id="canvas"]:not(:has(.bloom-canvas-element)):has(
        img[src*="placeHolder.png"]
    ) {
    background-image: @canvas-placeholder;
}

// In a bloom-canvas that has canvas elements other than the background image, we want to
// hide the placeholder except for when the background image is active/selected
.bloom-canvas.bloom-canvas:has(
        .bloom-canvas-element:not(.bloom-backgroundImage)
    ) {
    .bloom-canvas-element.bloom-backgroundImage:not(
            [data-bloom-active="true"]
        ):has(img[src*="placeHolder.png"]) {
        background-image: none;
    }
}

// For template books (made from the Template Starter), we do want to display the placeholder images in the bloompub.
// Hopefully we don't in any way put the string "placeHolder.png" in the inline style of canvases which should not get it!
// We need !important here to override the inline style attribute background-image which we normally use to put images in bloompubs
.bloomPlayer-page.template
    .bloom-canvas[style*="background-image"][style*="placeHolder.png"] {
    background-image: @image-placeholder !important;

    &[data-tool-id="canvas"] {
        background-image: @canvas-placeholder !important;
    }
}
