body {
    background-color: #808080;
}
/*#device-outer {
    margin: auto;
    width: 349px;
    height: 457px;
    padding-top: 35px;
    padding-left: 27px;
    background-color: #333;
    border-radius: 25px;
}
#device-inner {
    margin: 0px auto;
    background-color: #FFF;
    height: calc(100% - 49px);
    width: calc(100% - 49px);
*/
* {
    box-sizing: border-box;
    position: relative;
}
/*#instructions:before{
    background-image: url("../epub/experimentalEpubNotice.svg");
    background-repeat: no-repeat;
     padding-top: 131px;
    content:''
}*/
#instructions {
    background-image: url("../epub/madBloomScientist.svg");
    background-repeat: no-repeat;
    font-family: "Segoe UI";
    position: absolute;
    top: 10px;
    left: 50px;
    width: 217px;
    padding-top: 131px;
    display: block;
}
#device {
    margin-left: 300px;
    height: 800px;
    width: 400px;
    padding-left: 30px;
    padding-top: 72px;
    padding-bottom: 18px;
    border-radius: 38px;
    background-color: #404040;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.1);
}
#device:before {
    width: 80px;
    height: 10px;
    top: 35px;
    left: calc(50% -  41px);
    border-radius: 10px;
    background-color: #575757;
}
#device:after {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 5px #575757;
    left: calc(50% -  24px);
    bottom: 10px;
}
#device:before,
#device:after {
    content: '';
    position: absolute;
    z-index: 2;
}
iframe {
    margin: auto;
    height: calc(100% - 51px);
    width: calc(100% - 30px);
    border: none;
}
.ui-resizable-se {
    width: 50px;
    height: 50px;
    right: -20px;
    bottom: -20px;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImJsb29tRXB1YlByZXZpZXcubGVzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNDLHlCQUFBOzs7Ozs7Ozs7Ozs7Ozs7OztBQWlCRDtFQUNJLHNCQUFBO0VBQ0Esa0JBQUE7Ozs7Ozs7O0FBUUo7RUFDRSxzQkFBc0IsZ0NBQXRCO0VBQ0EsNEJBQUE7RUFDQSxhQUFZLFVBQVo7RUFDQSxrQkFBQTtFQUNBLFNBQUE7RUFDQSxVQUFBO0VBQ0EsWUFBQTtFQUNBLGtCQUFBO0VBQ0EsY0FBQTs7QUFFRjtFQUNJLGtCQUFBO0VBQ0EsYUFBQTtFQUNBLFlBQUE7RUFDQSxrQkFBQTtFQUNBLGlCQUFBO0VBQ0Esb0JBQUE7RUFFQSxtQkFBQTtFQUNBLHlCQUFBO0VBQ0EsZ0RBQUE7O0FBS0osT0FBTztFQUNILFdBQUE7RUFDQSxZQUFBO0VBQ0EsU0FBQTtFQUNBLE1BQU0saUJBQU47RUFDQSxtQkFBQTtFQUNBLHlCQUFBOztBQU1KLE9BQU87RUFDSCxXQUFBO0VBQ0EsWUFBQTtFQUNBLGtCQUFBO0VBQ0EseUJBQUE7RUFDQSxNQUFNLGlCQUFOO0VBQ0EsWUFBQTs7QUFFSixPQUFPO0FBQVMsT0FBTztFQUNuQixTQUFTLEVBQVQ7RUFDQSxrQkFBQTtFQUNBLFVBQUE7O0FBSUo7RUFFRSxZQUFBO0VBQ0EseUJBQUE7RUFDQSx3QkFBQTtFQUNBLFlBQUE7O0FBR0Y7RUFDSSxXQUFBO0VBQ0EsWUFBQTtFQUNBLFlBQUE7RUFDQSxhQUFBIiwiZmlsZSI6InVuZGVmaW5lZCJ9 */
