include ../standard-page-mixins.pug

//- This is an 'override' from bloom-foundation-mixins.pug
//- that allows us to use its mixins that would otherwise
//- put in a5portrait
mixin pageWithJustPageSize
	.Device16x9Landscape&attributes(attributes)
		block

doctype html
html
	head
		+metadata-standard
		//- This "Book" name is used for saving the file, until the user enters a title
		meta(name='defaultNameForDerivedBooks', content='Sign Language')
		meta(name='bloomBookId', content='1a648b00-1ec0-46a7-be11-b0dec22fa0f4')
		//- Eventually, we'll remove Bloom's need for this.
		meta(name='pageTemplateSource', content='Sign Language')
		title 'Sign Language'
		+stylesheets('Basic Book.css')
		+standardStyles
	body
		+dataDiv
			+bookVariable-title('en', 'Sign Language Pages')
			+bookVariable('styleNumberSequence', '*', '0')
		+preview-outsideFrontCover
		+page-splittable-choice-custom('Big Text Diglot')#08422e7b-9406-4d11-8c71-02005b1b8095(data-tool-id='signLanguage')
			+stack
				+upper(33.9339)
					+stackLeftRight
						+left
							+imagex
						+right
							+videox
				+lower(33.9339)
					+fieldx
		+standardPage-JustVideo(data-tool-id='signLanguage')
		+page-splittable-choice-custom('Video Over Text')#299644f5-addb-476f-a4a5-e3978139b188(data-tool-id='signLanguage')
			+stack
				+upper(30.6306)
					+videox
				+lower(30.6306)
					+fieldx
		+page-splittable-choice-custom('Text Over Video')#48097654-53a1-4c5c-8c2a-a1e371489546(data-tool-id='signLanguage')
			+stack
				+upper(72.3724)
					+fieldx
				+lower(72.3724)
					+videox
		+page-splittable-choice-custom('Picture & Video')#24c90e90-2711-465d-8f20-980d9ffae299(data-tool-id='signLanguage')
			+stackLeftRight
				+left
					+imagex
				+right
					+videox
		+page-splittable-choice-custom('Big Video Diglot')#9a4beb1f-46c5-4729-87fc-7a9a7eee534e(data-tool-id='signLanguage')
			+stackLeftRight
				+left
					+stack
						+upper(26.9118)
							+imagex
						+lower(26.9118)
							+fieldx
				+right
					+videox
		+page-splittable-choice-custom('Big Picture Diglot')#16301dd0-a813-459e-b7e8-294339f7f241(data-tool-id='signLanguage')
			+stackLeftRight
				+left
					+imagex
				+right
					+stack
						+upper(19.5195)
							+videox
						+lower(19.5195)
							+fieldx
		+page-splittable-choice-custom('Big Picture Diglot Text Over Video')#7ccb3272-d0f4-48a0-8306-ba211d63979d(data-tool-id='signLanguage')
			+stackLeftRight
				+left
					+imagex
				+right
					+stack
						+upper(50)
							+fieldx
						+lower(50)
							+videox
