/*Styles for ReaderTools.htm*/
DIV.readerToolsRoot
{
	background-color: #404040;
	color: white;
	font-size: x-small;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 200px;
	padding-bottom: 12px;
    z-index: 18000; /* Just over help bubbles, but under topic dialog */
}
TD.section
{
	margin-top: 20px;
}
TD.section
{
	padding-top: 20px;
}
SPAN.scroll-button
{
	color: white;
	float: left;
}
SPAN.stageLine
{
	float: left;
}
TD.acceptable
{
	color: green;
}
TD.tooLarge
{
	color: orange;
}
TABLE.statistics
{
}
TD.statistics-label
{
	padding-right: 5px;
}
TD.statistics-max
{
	padding-right: 3px;
	text-align: center;
}
TD.statistics-actual
{
	padding-right: 3px;
	text-align: center;
}
DIV.ui-accordion
{
	padding-left: 0px;
	padding-right: 0px;
}
DIV.ui-accordion-content
{
	padding-left: 3px !important;
	padding-right: 0px !important;
}
SPAN.setup
{
	font-size: xx-small;
	margin-left: 10px;
}
DIV.section
{
	padding-top: 20px;
	color: lightskyblue;
}
DIV.clear, TABLE.clear
{
	clear: both;
}
DIV.tableHolder
{
	overflow: auto;
	max-height: 300px;
}
DIV.sortBlock
{
	margin-left: 15px;
	display: inline-block;
	border: solid;
	border-color: white;
	border-width: 1px;
}
DIV.rightBorder
{
	border: solid;
	border-color: white;
	border-width: 0;
	border-right-width: 1px;
}
DIV.sortIconSelected
{
	background: grey;
}
DIV.sortItem
{
	display: inline-block;
	color: white;
	padding: 2px 3px;
	cursor: pointer;
}
SPAN.ofStage
{
	font-size: xx-small;
}
SPAN.disabledIcon
{
	visibility: hidden;
}
TD.disabledLimit
{
	visibility: hidden;
}

.hidden { display: none !important; }
.align-top { vertical-align: top; }

DIV.wordList { margin: 4px; }
DIV.word { min-width: 40px; margin: 2px; float: left; }
DIV.sight-word
{
	-moz-text-decoration-style: wavy;
	-moz-text-decoration-line: underline;
	-moz-text-decoration-color: green;
}