@import "../branding-base.less";

.outsideBackCover .bloom-translationGroup {
    display: none;
}
[data-book="outside-back-cover-branding-top-html"] {
    text-align: center;

    p {
        margin-bottom: 1.5em;
    }
}
[data-book="outside-back-cover-branding-bottom-html"] {
    margin-top: auto !important;
    width: 100%;
}
