BODY
{
	font-family: Tahoma;
	margin-left: 53px;
}
HTML
{
}

h1, h2, h3, h4 {margin: 24pt 0 0 0 ;}
p, li
{
	width: 550px;
	text-align: left;
	margin-top: 6px;
	font-size: medium ;
	line-height: 200%;
}

ul, li {
	padding-left: 10pt ;

}

		.style1
		{
			background-color: #FFFF66;
		}
		.style2
		{
			color: #0099FF;
		}
		.style3
		{
			background-color: #CCFF99;
		}

pre {
	font-family:monospace ;
	background-color: lime ;
}
p.indent
{
	/*+placement:shift 67px 1px;*/
	position: relative;
	left: 67px;
	top: 1px;
}
