//- extends ../../Traditional-XMatter/Traditional-XMatter.pug
include ../../bloom-xmatter-mixins.pug

doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='BloomFormatVersion', content='2.0')
		title Uzbekistan 2023 Front & Back Matter
		+stylesheets('Uzbekistan2023-XMatter.css')
	body
		+page-cover('Front Cover')(data-export='front-matter-cover', data-xmatter-page='frontCover')&attributes(attributes).frontCover.outsideFrontCover#7d7d1d2d-18b0-420f-ac96-6de20f659810
			block front-cover-image
				+standard-cover-image

			block cover-title
				+field-prototypeDeclaredExplicity("V").bookTitle
					label.bubble Book title in {lang}
					+editable(kLanguageForPrototypeOnly).bloom-nodefaultstylerule.Title-On-Cover-style.bloom-padForOverflow(data-book='bookTitle')

			.bottomBlock
				+cover-branding-bottom-left.bottom-left-branding

				// 2 rows
				.bottomTextContent
					block cover-bottom-credits
						//NB: don't convert this to an inline label; that interferes with the bloom-copyFromOtherLanguageIfNecessary,
						// because it is never empty
						.creditsRow(data-hint='You may use this space for author/illustrator, or anything else.')
							+field-prototypeDeclaredExplicity("V")
								+editable(kLanguageForPrototypeOnly).smallCoverCredits.Cover-Default-style(data-book='smallCoverCredits')

		+factory-insideFrontCover
		+factoryStandard-titlePage

		+page-xmatter("Credits Page").bloom-frontMatter.credits(data-export='front-matter-credits', data-xmatter-page='credits')#69E775AE-5BF1-49F1-89E7-2A932DAD932C
			+credits-contents

		+factoryStandard-insideBackCover
		+factoryStandard-outsideBackCover


