include ../../bloom-xmatter-mixins.pug

doctype html
html
	head
		+metadata-standard
		title Uzbekistan 2023 Front & Back Matter
		+stylesheets('Uzbekistan2023-XMatter.css')

		//- This doesn't actually work, at least in 5.4. They just get lost
		style(type="text/css" title="userModifiedStyles")
			= '\n'
			| /*<![CDATA[*/
			| .Cover-Foobar-style { font-size: 16pt !important; font-family:"Arial"; color:#FAD41E;     text-align: center;}
			| .Title-On-Cover-style { font-size: 34pt !important; font-family:"Aileron; Arial"; color:white;     text-align: center;}
			| .Cover-Default-style { font-size: 16pt !important; font-style:italic; font-family:"Aileron; Arial"; color:white;     text-align: center;}
			|   /*]]>*/
	body
		+page-cover('Front Cover')(data-export='front-matter-cover', data-xmatter-page='frontCover')&attributes(attributes).frontCover.outsideFrontCover#7d7d1d2d-18b0-420f-ac96-6de20f659810
			+standard-cover-image

			+field-prototypeDeclaredExplicity("V").foobar
				label.bubble Not clear what this is yet
				+editable(kLanguageForPrototypeOnly).Cover-Foobar-style(data-book='foobar')
			+field-prototypeDeclaredExplicity("V").bookTitle
				label.bubble Book title in {lang}
				+editable(kLanguageForPrototypeOnly).bloom-nodefaultstylerule.Title-On-Cover-style.bloom-padForOverflow(data-book='bookTitle')
			div(data-book='level-image-html' lang="*").gradeBadgeRow
			.creditsRow(data-hint='You may use this space for author/illustrator, or anything else.')
				+field-prototypeDeclaredExplicity("V").smallCoverCredits
					+editable(kLanguageForPrototypeOnly).smallCoverCredits.Cover-Default-style(data-book='smallCoverCredits')

		+factory-insideFrontCover
		+factoryStandard-titlePage

		+page-xmatter("Credits Page").bloom-frontMatter.credits(data-export='front-matter-credits', data-xmatter-page='credits')#69E775AE-5BF1-49F1-89E7-2A932DAD932C
			+credits-contents

		+factoryStandard-insideBackCover
		+factoryStandard-outsideBackCover


