include Pashti-XMatter-mixins.pug

doctype html
html
	head
		+metadata-standard
		title Pashti Front &amp; Back Matter
		//- NB: this has no effect on books using this stylesheet; it only does anything if you're viewing the xmatter html by itself
		+stylesheets('Pashti-XMatter.css')
	body
		+pashti-outsideFrontCover
		+afg-nationalAnthem
		+pashti-titlePage
		+pashti-credits.bloom-frontMatter
		+afg-messagePage
		+factoryStandard-insideBackCover
		+factoryStandard-outsideBackCover
