/*+init {*/
* {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 1em;
}
H1,
H2,
H3,
H4,
H5,
H6,
TH {
  font-weight: inherit;
}
ADDRESS,
CITE,
DFN,
VAR {
  font-style: inherit;
}
CAPTION,
CODE,
KBD,
PRE,
SAMP,
TT,
INPUT,
TEXTAREA,
SELECT,
BUTTON {
  font-family: inherit;
}
TABLE {
  border-spacing: 0;
}
TH {
  text-align: left;
}
HTML,
BODY,
THEAD,
TBODY,
TFOOT,
TR,
TH,
TD,
BR {
  position: static;
}
INPUT[type=hidden] {
  display: none !important;
}
FIELDSET,
A IMG {
  border: 0;
}
BODY {
  line-height: 1.5;
  font-family: Andika, "Andika Basic", "Gentium Basic", "Gentium Book Basic", "Doulos SIL", Sans-Serif;
  /*Most text in the document should be % changes from this value. Collection.css can then change it to make all the text  bigger.
Note: the webkit browsers (wkhtml which bloom uses for pdf, and google chrome)
Need about 2% more space to draw the same text on a ine (can't tell if the font is bigger or the box is smaller)
Therefore, in the editMode.css, we repeat this, but with a 2% larger size.
So if you change this, change it there. Note, this might not be the best long-term solution
To handling the mis-match.*/
  font-size: 10pt;
}
/* gridItem means this is a page thumbnail */
.gridItem .pageOverflows {
  background-image: url("../images/Attention.svg");
  /* red triangle with exclamation point */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 70%;
}
DIV.ui-tooltip-content {
  overflow: visible !important;
  font-size: 10pt;
  padding: 0px 9px;
}
.uibloomSourceTextsBubble .ui-tooltip-content {
  /*This minimum height is for picture dictionary where the height of the target box is just one line high, not enough to show the language tabs at the top and then the content below*/
  min-height: 60px !important;
}
.bloom-imageContainer {
  min-height: 50px;
  z-index: 100;
}
TEXTAREA,
.bloom-editable,
TD {
  resize: none;
  /*don't show those cute little resize controls in Firefox 4 and greater*/
  overflow: visible;
  font-size: 143%;
  line-height: 1.5em;
  min-height: 1.8em;
  width: 100%;
}
DIV.bloom-page {
  display: block;
  page-break-after: auto;
  background-color: #FFFFFF;
  /*This is a big help with htmltopdf, both for our errors and a legitimate problem, with the "just text" page in which
the margin-top is calculated to center the text vertically, but htmltopdf then doesn't shrink the box as it should
so it just heads down off the page, messing things up.*/
  overflow: hidden;
}
DIV#bloomDataDiv {
  display: none;
}
@media screen {
  DIV.bloom-page {
    /*[disabled]border:1px solid #000000;*/
  }
}
.centered {
  text-align: center;
}
.centerJustify {
  text-align: center;
}
/*Unless otherwise positioned and made visible, hide all the language elements in there*/
.bloom-editable {
  display: none;
  height: 100%;
}
/*Outside of frontmatter, we assume that if bloom gives it a content tag, then it should be visible*/
.bloom-page:not(.bloom-frontMatter) .bloom-content1,
.bloom-page:not(.bloom-frontMatter) .bloom-content2,
.bloom-page:not(.bloom-frontMatter) .bloom-content3 {
  display: inherit;
}
.bloom-page:not(.bloom-frontMatter) .bloom-content2 {
  display: inherit;
}
/*Notes on wkhtmltopdf and page sizes: Set the border color of Div.Page in preview.css so you can see what the pdf is doing
these should be 14.8, but wkhtmltopdf shinks it
The folowing are the values which work with a 1px border.  With 0px border, I could not get the pages to come out
properly at all with wkhtmltopdf 0.10.0. It's as if the borders actually help by making the used part of each
page be the full page, regardless of the contents.

To compensate, the code asks wkthmlpdf to zoom the page by 9.1%, which an invisble 1px border added by
preview.css.
*/
.bloom-page.A5Portrait {
  min-width: 148mm;
  max-width: 148mm;
  min-height: 210mm;
  max-height: 210mm;
}
.bloom-page.A5Landscape {
  min-width: 210mm;
  max-width: 210mm;
  min-height: 148mm;
  max-height: 148mm;
}
.bloom-page.B5Portrait {
  min-width: 176mm;
  max-width: 176mm;
  min-height: 250mm;
  max-height: 250mm;
}
.bloom-page.A4Landscape,
.bloom-page.A4LandscapeSideBySide {
  min-width: 297mm;
  max-width: 297mm;
  min-height: 210mm;
  max-height: 210mm;
}
.bloom-page.A4Portrait {
  min-width: 210mm;
  max-width: 210mm;
  min-height: 297mm;
  max-height: 297mm;
}
.bloom-page.A6Portrait {
  min-width: 105mm;
  max-width: 105mm;
  min-height: 148mm;
  max-height: 148mm;
}
.bloom-page.A6Landscape {
  min-width: 148mm;
  max-width: 148mm;
  min-height: 105mm;
  max-height: 105mm;
}
/*Margins*/
.textWholePage .marginBox {
  position: absolute;
  /* see https://jira.sil.org/browse/BL-390; Without this, the "Just text" page causes the marginBox to drop down to the start of the vertically centered text, and then on PDF, you get an extra page. */
}
.marginBox {
  position: absolute;
  top: 15mm;
}
.A4Portrait .marginBox {
  width: 170mm;
  height: 267mm;
}
.A4Portrait .marginBox IMG {
  /* BL-1022 Keeps XMatter thumb images from going too wide */
  max-width: 170mm;
}
.A4Landscape .marginBox {
  width: 257mm;
  height: 180mm;
}
.A4Landscape .marginBox IMG {
  /* BL-1022 Keeps XMatter thumb images from going too wide */
  max-width: 257mm;
}
.A5Portrait .marginBox {
  width: 108mm;
  height: 180mm;
}
.A5Portrait .marginBox IMG {
  /* BL-1022 Keeps XMatter thumb images from going too wide */
  max-width: 108mm;
}
.A5Landscape .marginBox {
  width: 170mm;
  height: 118mm;
}
.A5Landscape .marginBox IMG {
  /* BL-1022 Keeps XMatter thumb images from going too wide */
  max-width: 170mm;
}
.A6Portrait .marginBox {
  width: 65mm;
  height: 118mm;
}
.A6Portrait .marginBox IMG {
  /* BL-1022 Keeps XMatter thumb images from going too wide */
  max-width: 65mm;
}
.A6Landscape .marginBox {
  width: 108mm;
  height: 75mm;
}
.A6Landscape .marginBox IMG {
  /* BL-1022 Keeps XMatter thumb images from going too wide */
  max-width: 108mm;
}
.B5Portrait .marginBox {
  width: 136mm;
  height: 220mm;
}
.B5Portrait .marginBox IMG {
  /* BL-1022 Keeps XMatter thumb images from going too wide */
  max-width: 136mm;
}
.bloom-page:nth-of-type(odd) .marginBox {
  left: 15mm;
}
.bloom-page:nth-of-type(even) .marginBox {
  left: 25mm;
}
.bloom-page.outsideFrontCover .marginBox,
.bloom-page.outsideBackCover .marginBox {
  /*For the outside cover, just center the margin box, ignore the binding (may need to revisit this decision, I (JH) just think it'll be better)*/
  left: 15mm;
}
/*Our javascript (bloomediting.js) uses <label> elements to get help bubbles and placeholders on editable divs.*/
LABEL.bubble,
LABEL.placeholder {
  display: none;
}
.superscript {
  vertical-align: super;
  font-size: 80%;
}
H1 {
  font-size: 1.5em;
}
H2 {
  font-size: 1.2em;
}
/* we will have UI that switches this .box-header-on if th user wants it*/
.box-header-off {
  display: none;
}
.bloom-translationGroup .bloom-editable.bloom-content2,
.bloom-translationGroup .bloom-editable.bloom-content3 {
  margin-top: 10px;
}
.customPage .bloom-imageContainer {
  width: 99%;
  height: 98%;
  z-index: 1000;
  overflow: hidden;
}
.customPage .bloom-editable {
  overflow-y: hidden;
}
.customPage .split-pane-component {
  min-height: 1.5em;
}
.customPage.A5Portrait.bloom-monolingual .bloom-translationGroup {
  height: 99%;
  width: 99%;
}
