.bloom-frontMatter .pageLabel:after,
.bloom-backMatter .pageLabel:after {
  content: ": Factory Front/Back Matter";
}
.A4Portrait.frontCover .marginBox {
  /*There's no page number on the cover, so we might as well have a the bottom stuff closer to the bottom*/
  height: 272mm;
}
.A4Landscape.frontCover .marginBox {
  /*There's no page number on the cover, so we might as well have a the bottom stuff closer to the bottom*/
  height: 185mm;
}
.A5Portrait.frontCover .marginBox {
  /*There's no page number on the cover, so we might as well have a the bottom stuff closer to the bottom*/
  height: 185mm;
}
.A5Landscape.frontCover .marginBox {
  /*There's no page number on the cover, so we might as well have a the bottom stuff closer to the bottom*/
  height: 123mm;
}
.A6Portrait.frontCover .marginBox {
  /*There's no page number on the cover, so we might as well have a the bottom stuff closer to the bottom*/
  height: 123mm;
}
.A6Landscape.frontCover .marginBox {
  /*There's no page number on the cover, so we might as well have a the bottom stuff closer to the bottom*/
  height: 80mm;
}
.B5Portrait.frontCover .marginBox {
  /*There's no page number on the cover, so we might as well have a the bottom stuff closer to the bottom*/
  height: 225mm;
}
.insideFrontCover .bloom-content1 {
  display: inherit;
}
.insideFrontCover .bloom-editable {
  height: 100%;
}
.iso693Code * {
  display: inline;
}
.Title-On-Cover-style {
  text-align: center;
}
.frontCover .marginBox {
  display: flex;
  flex-direction: column;
}
.frontCover .Cover-Default-style {
  font-size: 12pt;
}
.frontCover .bloom-translationGroup.bookTitle {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.frontCover .bloom-translationGroup.bookTitle .bloom-editable {
  order: 0;
  height: auto;
  justify-content: center;
}
.frontCover .bloom-translationGroup.bookTitle .bloom-editable.bloom-contentNational1 {
  order: 1;
  display: inherit;
  font-size: 120%;
  line-height: 1.7em;
  margin-bottom: 5px;
}
.frontCover .bloom-translationGroup.bookTitle .bloom-editable.bloom-content3 {
  display: inherit;
  order: 2;
}
.frontCover .bloom-translationGroup.bookTitle .bloom-editable.bloom-content1 {
  order: 0;
  display: inherit;
  font-size: 250%;
  line-height: 1.4em;
  margin-bottom: 5px;
}
.frontCover .placeholder,
.frontCover .bloom-imageContainer {
  order: 1;
  flex: 1 1 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.frontCover .creditsWrapper {
  order: 2;
  flex: 0 0 auto;
}
.frontCover .creditsWrapper .bloom-editable.smallCoverCredits {
  display: inherit;
  text-align: center;
  line-height: 1.7em;
  min-height: 1.7em;
  height: auto;
}
.frontCover .bottomBlock {
  flex: 0 0 auto;
  order: 4;
  height: 2em;
}
.frontCover .bottomBlock .coverBottomBookTopic {
  position: absolute;
  bottom: 8px;
  right: 0;
  height: 20px;
  text-align: right;
  width: 6cm;
}
.frontCover .bottomBlock .coverBottomBookTopic .bloom-contentNational1 {
  display: inline !important;
  bottom: -4px;
  padding-right: 1px;
  text-align: right;
}
.frontCover .bottomBlock .coverBottomBookTopic .bloom-editable {
  margin-top: 0;
}
.frontCover .bottomBlock .coverBottomBookTopic .bloom-contentNational2 {
  color: gray;
}
.frontCover .bottomBlock .coverBottomBookTopic .bloom-content1:not(.bloom-contentNational1) {
  color: gray;
}
.frontCover .bottomBlock .publishMode .coverBottomBookTopic .bloom-contentNational2 {
  display: none;
}
.frontCover .bottomBlock .publishMode .coverBottomBookTopic .bloom-content1:not(.bloom-contentNational1) {
  display: none;
}
.frontCover .bottomBlock .coverBottomLangName {
  position: absolute;
  left: 0;
  line-height: 1.6em !important;
}
.xfrontCover .bookTitle {
  margin-bottom: 15px;
}
.xfrontCover .bookTitle.bloom-contentNational1 {
  display: inherit;
  font-size: 120%;
  line-height: 1.7em;
  margin-bottom: 5px;
}
.xfrontCover .bookTitle.bloom-content3 {
  display: inherit;
}
.xfrontCover .bookTitle.bloom-content1 {
  display: inherit;
  font-size: 250%;
  line-height: 1.4em;
  margin-bottom: 5px;
}
.xfrontCover .bloom-imageContainer {
  height: 60%;
  margin-bottom: 15px;
}
.xfrontCover .bloom-editable.smallCoverCredits {
  display: inherit;
  text-align: center;
  line-height: 1.7em;
  min-height: 20px;
  height: auto;
}
.xfrontCover .coverBottomBookTopic {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20px;
  text-align: right;
  width: 6cm;
}
.xfrontCover .coverBottomBookTopic .bloom-contentNational1 {
  display: inline !important;
  height: 25px !important;
  padding-right: 1px;
  text-align: right;
}
.xfrontCover .coverBottomBookTopic .bloom-contentNational2 {
  color: gray;
}
.xfrontCover .coverBottomBookTopic .bloom-content1:not(.bloom-contentNational1) {
  color: gray;
}
.xfrontCover .publishMode .coverBottomBookTopic .bloom-contentNational2 {
  display: none;
}
.xfrontCover .publishMode .coverBottomBookTopic .bloom-content1:not(.bloom-contentNational1) {
  display: none;
}
.xfrontCover .coverBottomLangName {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
}
.credits .marginBox,
.verso .marginBox {
  font-size: 10pt;
}
.credits .marginBox .bloom-editable,
.verso .marginBox .bloom-editable {
  font-size: 10pt;
}
.credits .bloom-editable,
.verso .bloom-editable {
  min-height: 5em;
  line-height: normal;
}
.credits .licenseAndCopyrightBlock,
.verso .licenseAndCopyrightBlock,
.credits #versoLicenseAndCopyright,
.verso #versoLicenseAndCopyright {
  min-height: 60px;
}
.credits .licenseAndCopyrightBlock .copyright,
.verso .licenseAndCopyrightBlock .copyright,
.credits #versoLicenseAndCopyright .copyright,
.verso #versoLicenseAndCopyright .copyright {
  margin-bottom: 2em;
}
.credits .licenseAndCopyrightBlock .licenseBlock,
.verso .licenseAndCopyrightBlock .licenseBlock,
.credits #versoLicenseAndCopyright .licenseBlock,
.verso #versoLicenseAndCopyright .licenseBlock {
  margin-bottom: 2em;
}
.credits .licenseAndCopyrightBlock img,
.verso .licenseAndCopyrightBlock img,
.credits #versoLicenseAndCopyright img,
.verso #versoLicenseAndCopyright img {
  height: 31px;
}
.credits .originalAcknowledgments .bloom-contentNational1,
.verso .originalAcknowledgments .bloom-contentNational1 {
  display: block !important;
  margin-bottom: 2em;
}
.credits .versionAcknowledgments,
.verso .versionAcknowledgments {
  display: block !important;
  height: auto;
}
.credits .licenseUrl,
.verso .licenseUrl {
  display: none;
}
BODY[bookcreationtype="original"] .titlePage #originalContributions .bloom-content1 {
  display: inherit;
  min-height: 3em;
}
BODY[bookcreationtype="original"] .titlePage #funding .bloom-content1 {
  display: inherit;
  min-height: 3em;
}
BODY[bookcreationtype="translation"] .titlePage #originalContributions .bloom-contentNational1 {
  display: inherit;
  min-height: 3em;
}
BODY[bookcreationtype="translation"] .titlePage #funding .bloom-contentNational1 {
  display: inherit;
  min-height: 3em;
}
.titlePage {
  text-align: center;
}
.titlePage .Title-On-Title-Page-style {
  font-size: 14pt;
}
.titlePage .Title-On-Title-Page-style.bloom-content1 {
  font-size: 20pt;
}
.titlePage #titlePageTitleBlock {
  margin-bottom: 3em;
}
.titlePage #titlePageTitleBlock .bloom-editable {
  min-height: 1.4em;
  line-height: 1.4em;
}
.titlePage #titlePageTitleBlock .bloom-content1 {
  display: inherit;
  margin-bottom: 0.5em;
}
.titlePage #titlePageTitleBlock .bloom-contentNational1 {
  display: inherit;
  margin-bottom: 0.5em;
}
.titlePage #titlePageTitleBlock .bloom-content3 {
  display: inherit;
}
.titlePage #originalContributions {
  margin-bottom: 0.5em;
}
.titlePage #languageInformation {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.titlePage #languageInformation .langName.bloom-content1 {
  display: none;
}
.titlePage #languageInformation .langName.bloom-contentNational2 {
  display: none;
}
.titlePage #languageInformation .langName.bloom-contentNational1 {
  display: inherit;
}
.insideBackCover .bloom-editable {
  height: 100%;
}
.outsideBackCover .bloom-editable {
  height: 100%;
  text-align: center;
}
.ISBNContainer {
  margin-bottom: 2em;
}
.ISBNContainer .bloom-editable {
  text-align: left !important;
  width: 4.3cm !important;
  display: inline-block;
  vertical-align: text-top;
  max-height: 1.8em;
  min-height: 1.8em;
}
.ISBNContainer .ISBNContainer SPAN {
  vertical-align: top;
}
