@import "../branding-base.less";

.frontCover .bottomBlock {
    flex-direction: column !important;

    .coverBottomLangName,
    .coverBottomBookTopic {
        font-size: 14pt !important;
    }
}
.insideBackCover {
    [data-book="inside-back-cover-branding-top-html"] {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: "Andika";
        font-size: 12pt;
        p {
            margin-top: 1em;
        }
    }
    // hide the editable text here
    .bloom-translationGroup {
        display: none !important;
    }
    img.badge {
        width: 20%;
    }
    .bloom-translationGroup {
        display: none;
    }
}

// Default sizes and layouts
.bloom-page {
    --backOutsideCoverFontSize: 10pt;
    --robotsMaliLogoWidth: 20%;
    [data-book="outside-back-cover-branding-bottom-html"] {
        align-items: center;
    }
}
.Device16x9Portrait {
    --backOutsideCoverFontSize: 9pt;
}
.Device16x9Landscape {
    --robotsMaliLogoWidth: 12%;
    --backOutsideCoverFontSize: 8pt;
}
.Device16x9Landscape,
.A5Landscape {
    [data-book="outside-back-cover-branding-bottom-html"] {
        flex-direction: row;
        margin-top: auto !important;
        img.badge {
            margin-top: 10px;
            width: 20%;
        }
        // there's no room to stack them
        flex-direction: row;
        justify-content: center;
        img {
            margin: 0;
        }
        img.badge {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}
img[src^="RobotsMali.svg"] {
    width: var(--robotsMaliLogoWidth);

    .frontCover & {
        margin-right: 0 !important; // there is a rule coming from Traditional xmatter that adds a right margin, throwing off centering
    }
}
.insideBackCover,
.outsideBackCover {
    [data-book="inside-back-cover-branding-top-html"],
    [data-book="outside-back-cover-branding-top-html"] {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: "Andika";
        font-size: var(--backOutsideCoverFontSize);
        h1 {
            font-weight: normal;
            font-size: var(--backOutsideCoverFontSize);
        }
        p + h1,
        p + p {
            margin-top: 1em;
        }
        h1 + p {
            margin-top: 0;
        }
    }
    [data-book="outside-back-cover-branding-bottom-html"] {
        margin-top: auto !important;
        img.badge {
            margin-top: 10px;
            width: 20%;
        }
    }
    // hide the editable text here
    .bloom-translationGroup {
        display: none !important;
    }
}

.credits {
    .licenseNotes {
        margin-top: 1em;
    }
}
