include ../standard-page-mixins.pug

mixin field-languageNeutral()
	//- As of 3.8, we normally would wrap this in a translationGroup, even
	//- though it has only a single possible value.
	//- I set out to add this, but stopped becuase, unless/until we also migrate
	//- existing pages, that would put us in a situation where different books
	//- had different internal structures and then if the stylesheet changes
	//- we have some books that now look wrong. It would thus be better to
	//- wait and if we want to do this, detect these kinds of fields and auto
	//- upgrade them in code (and then it would also be save to change them here.)
	//- i.bloom-translationGroup(data-default-languages='*')
	+editable("*")&attributes(attributes)

mixin page-arithmetic(name, count)
	+page-choice(name,'')&attributes(attributes)
		+field("auto").Heading1-style
		.problemSet
			- for (var i = 0; i < count; ++i)
				.problem
					.imageRow
						+image
						+image
					.numberRow.bloom-ignoreOverflow
						+field-languageNeutral().Equation-style
						+field-languageNeutral().Equation-style
						+field-languageNeutral().Equation-style
						.equals.Equation-style(lang="*")
						.fillInBox


doctype html
html
	head
		+metadata-standard
		meta(name='defaultNameForDerivedBooks', content='Book')
		meta(name='bloomBookId', content='336B6F11-4A6C-4942-B2BC-8861E62B0373')
		meta(name='pageTemplateSource', content='Arithmetic Template')
		meta(name='experimental', content='false')
		title 'Arithmetic'
		+stylesheets('ArithmeticTemplate.css')
		+standardStyles
			= '\n'
			| .Equation-style { font-size: 28pt !important; text-align: center !important; }
	body
		+dataDiv
			+bookVariable-title('en', 'Arithmetic Pages')

		+preview-outsideFrontCover
		+page-arithmetic('1 Problem',1).oneProblem#aaa72b3e-c874-4e56-9120-5a241468e6aa
		+page-arithmetic('2 Problems',2).twoProblems#bba72b3e-c874-4e56-9120-5a241468e6bb
		+page-arithmetic('3 Problems',3).threeProblems#cca72b3e-c874-4e56-9120-5a241468e6cc
		+page-arithmetic('4 Problems',4).fourProblems#dda72b3e-c874-4e56-9120-5a241468e6dd

