@import "../../bloomUI.less";

.checkList {
    li {
        list-style: none;
        font-size: 12pt;

        &::before {
            font-weight: bold;
        }
        &.pending::before {
            content: "⧖ ";
        }
        &.unknown {
            &::before {
                content: "? ";
                color: @bloom-purple;
            }
            li {
                // this would be a server error
                color: @bloom-red;
                font-weight: bold;
            }
        }
        &.passed::before {
            content: "✔ ";
            color: @bloom-blue;
        }
        &.failed {
            &::before {
                content: "X ";
                color: @bloom-red;
            }
            li {
                color: @bloom-red;
            }
        }
        // problem list
        ul {
            margin: 0;
        }
    }
    blockquote {
        color: @bloom-panelBackground;
        width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        &:before {
            content: "\201C";
        }
    }
}
