@import "~react-tabs/style/react-tabs.css";
@import "../../bloomUI.less";

html.accessibilityCheckScreen {
    padding: 0 !important;

    #accessibilityCheckScreen,
    #accessibilityCheckReactRoot {
        background-color: @DarkBackgroundColor;
        height: 100%;
    }

    .header {
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        .overall-status,
        .book-name {
            color: @bloom-red;

            font-size: 16pt;
        }
        .overall-status {
        }
        .book-name {
            color: @bloom-blue;
        }
    }

    #accessibilityCheckReactRoot {
        flex: 1; // grow to fill the screen
        display: flex;
        flex-direction: column;

        .react-tabs {
            flex: 1;
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 10px;
            background-color: @DarkBackgroundColor;
        }
        .react-tabs__tab-panel--selected {
            flex: 1;
            display: flex;
            flex-direction: column;

            div {
                flex: 1;
            }
        }
    }
}
