@import "~react-tabs/style/react-tabs.css";
@import "../../bloomUI.less";

html.accessibilityCheckScreen {
    padding: 0 !important;

    body {
        font-size: 10pt;
    }

    #accessibilityCheckScreen,
    #accessibilityCheckReactRoot {
        background-color: @bloom-panelBackground;
        // Set the height to just less than the actual window view height.
        // (The reduction preserves the white border around the black border.)
        // See https://issues.bloomlibrary.org/youtrack/issue/BL-7153.
        height: calc(100vh - 20px);
    }

    .header {
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        .overall-status,
        .book-name {
            color: @bloom-red;

            font-size: 16pt;
        }
        .overall-status {
        }
        .book-name {
            color: @bloom-blue;
        }
    }
    a {
        text-decoration: underline;
    }

    #accessibilityCheckReactRoot {
        flex: 1; // grow to fill the screen
        display: flex;
        flex-direction: column;

        .react-tabs {
            flex: 1;
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 10px;
            background-color: @bloom-panelBackground;
        }
        .react-tabs__tab-panel--selected {
            flex: 1;
            display: flex;
            flex-direction: column;

            div {
                flex: 1;
            }
        }
    }
}
