@import "~react-tabs/style/react-tabs.css";
@import "../../bloomUI.less";

html.accessibilityCheckScreen {
    padding: 0 !important;

    #accessibilityCheckScreen,
    #accessibilityCheckReactRoot {
        background-color: @DarkBackgroundColor;
        height: 100%;
    }

    .overall-status {
        color: @bloom-red;
        padding-left: 10px;
        padding-top: 10px;
        font-size: 16pt;
    }

    #accessibilityCheckReactRoot {
        flex: 1; // grow to fill the screen
        display: flex;
        flex-direction: column;

        .react-tabs {
            flex: 1;
            display: flex;
            flex-direction: column;
            margin: 10px;
        }
        .react-tabs__tab-panel--selected {
            flex: 1;
            display: flex;
            flex-direction: column;

            div {
                flex: 1;
            }
        }
    }
}
