@import "~react-tabs/style/react-tabs.css";
@import "../../bloomUI.less";

#accessibilityCheckReactRoot {
    background-color: @DarkBackgroundColor;
}

#daisyChecks {
    display: flex;
    padding: 0;
    #statusMessage {
        padding: 1em;
        font-size: 14pt;
    }

    iframe {
        margin: 0;
        width: 100%;
        height: unset;
        flex: 1;
    }
}
