.publishLanguagesGroup {
    .check-box-label {
        display: inline-block;
    }

    .languageLabel {
        display: block;
        .check-box-label {
            line-height: 1;
        }
        .incompleteTranslation {
            color: grey;
            font-size: smaller;
        }
    }
}
