.ReaderPublishScreen {
    section.publish {
        display: block;
    }
    .methodChooserRoot {
        display: flex;
        flex-direction: row;

        img {
            width: 200px;
            margin-left: 50px;
        }
    }

    .playIcon {
        height: 1.5em;
        margin-right: 10px;
    }
}
