@import "../../bloomUI.less";

.ReaderPublishScreen {
    section.publish {
        display: block;
        flex-grow: 1;
    }

    // Reduce vertical spacing. We're trying to leave as much space as possible for the preview, on small screens.
    // This has the problem that the hover shadow goes elliptical because
    // the horizontal padding is larger, but if we reduce the horizontal padding, then the
    // action (e.g. "Share") button isn't aligned. Good enough for now (JH).
    .MuiRadio-root {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
