.ReaderPublishScreen {
    section.publish {
        display: block;
    }
    .methodChooserRoot {
        display: flex;
        flex-direction: row;

        .column1 {
            display: flex;
            flex-direction: column;
            // leave room for the image, wrap radios if translations are really long
            max-width: calc(100% - 280px);
            button {
                // without this, it grows to the width of the column
                align-self: flex-start;
            }
        }
        img {
            width: 200px;
            margin-left: 30px;
            object-fit: contain;
        }

        // The center of a selected radio button is drawn with an <svg> element by materialui.
        // For some reason, in Firefox 45, in Publish:Reader, the "left" says 20.4667px, whereas
        // it says 0px in modern browsers. A mystery. Anyhow this resets it.
        // (I expected unset to fix it, but it doesn't.)
        .MuiRadio-root svg {
            left: 0;
        }
    }

    .playIcon {
        height: 1.5em;
        margin-right: 10px;
    }

    // Reduce vertical spacing. We're trying to leave as much space as possible for the preview, on small screens.
    // This has the problem that the hover shadow goes elliptical because
    // the horizontal padding is larger, but if we reduce the horizontal padding, then the
    // action (e.g. "Share") button isn't aligned. Good enough for now (JH).
    .MuiRadio-root {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
