@import url("../BasePage.css");
DIV.page
{
	min-width: 29.7cm;
	max-width: 29.7cm;
	min-height: 21cm;
	max-height: 21cm;
}
.titlePage .bookLabel
{
	width: 5cm;
	top: 2cm;
}
.titlePage .languageName
{
	width: 9.5cm;
	top: 4.5cm;
}
.titlePage .title
{
	width: 12cm;
	position: relative;
	top: 1cm;
	height: 2cm;
}
.cover .title
{
	top: 1cm;
	height: 4cm;
}
.cover .picture
{
	top: 5.5cm;
	max-height: 9cm;
	max-width: 9cm;
}
.cover .BookLabel
{
	width: 5cm;
	top: 19cm;
	left: 20cm;
}
.cover .LanguageName
{
	width: 5cm;
	top: 19cm;
	left: 1.25cm;
}

.titlePage .credits
{
	text-align: center;
	height: 5cm;
	width: 10cm;
	top: 3cm;
	position: relative;
}
.titlePage .printingHistory
{
	text-align: center;
	height: 6cm;
	width: 10cm;
	top: 4cm;
	position: relative;
}
.imageOnTop .picture
{
	height: 10.8cm;
}
.imageOnTop .text
{
	position: relative;
	width: 25cm;
	height: 10cm;
}
TEXTAREA
{
	font: 25px sans-serif;
	overflow: hidden;
	border: inherit solid #000000;
}
INPUT
{
	border: none;
}
.centered
{
	text-align: center;
}
.imageInMiddle .picture
{
	max-height: 7cm;
}
.imageInMiddle .text
{
	position: relative;
	width: 25cm;
	height: 5cm;
}
.imageOnLeft .picture
{
	max-height: 7cm;
	/*[empty]position:;*/
	/*+placement:float-left 22px 197px;*/
	float: left;
	position: relative;
	left: 22px;
	top: 197px;
	width: 316px;
	height: 330px;
}
.imageOnLeft .text
{
	padding: 61px;
	margin: 10px;
	width: 718px;
	height: 742px;
	/*+placement:shift 56px 9px;*/
	position: relative;
	left: 56px;
	top: 9px;
}
