@import url(../BasePage.css);
DIV.page
{
	min-width: 29.7cm;
	max-width: 29.7cm;
	min-height: 21cm;
	max-height: 21cm;
}
.titlePage ._natLangBookLabel
{
	width: 12cm;
	top: 2cm;
	text-align: center;
}
.titlePage ._nameOfLanguage
{
	width: 12cm;
	top: 3.8cm;
	position: relative;
	text-align: center;
}
.titlePage ._vernacularBookTitle
{
	width: 12cm;
	position: relative;
	top: 1cm;
	height: 2cm;
}
.cover ._vernacularBookTitle
{
	top: 1cm;
	height: 3.5cm;
}
.cover .picture
{
	top: 2.5cm;
	max-height: 9cm;
	max-width: 9cm;
	/*+placement:shift 0px 26px;*/
	position: relative;
	left: 0px;
	top: 26px;
}
.cover ._natLangBookLabel
{
	width: 5cm;
	top: 19cm;
	left: 20cm;
}
.cover ._nameOfLanguage
{
	width: 5cm;
	top: 19cm;
	left: 1.25cm;
}
.titlePage .credits
{
	text-align: center;
	height: 5cm;
	width: 12cm;
	top: 3cm;
	position: relative;
}
.titlePage .printingHistory
{
	text-align: center;
	height: 5.1cm;
	width: 12cm;
	top: 4cm;
	position: relative;
}
.imageOnTop .picture
{
	height: 10.8cm;
}
.imageOnTop .text
{
	position: relative;
	width: 25cm;
	height: 8.4cm;
}
.imageOnBottom .picture
{
	max-height: 8.5cm;
	max-width: 9cm;
}
.imageOnBottom .text
{
	height: 11.5cm;
	width: 23.6cm;
}
TEXTAREA
{
	font: 25px sans-serif;
	overflow: hidden;
	border: inherit solid #000000;
}
INPUT
{
	border: none;
}
.centered
{
	text-align: center;
}
.imageInMiddle .picture
{
	max-height: 7cm;
}
.imageInMiddle .text
{
	position: relative;
	width: 25cm;
	height: 4.6cm;
}
.imageOnLeft .picture
{
	max-height: 7cm;
	/*[empty]position:;*/
	/*+placement:float-left 22px 197px;*/
	float: left;
	position: relative;
	left: 22px;
	top: 197px;
	width: 316px;
	height: 330px;
}
.imageOnLeft .text
{
	padding: 61px;
	margin: 10px;
	width: 718px;
	height: 742px;
	/*+placement:shift 56px 9px;*/
	position: relative;
	left: 56px;
	top: 9px;
}
.textWholePage TEXTAREA
{
	height: 19cm;
	margin-top: 1cm;
	width: 26.4cm;
}
