<?xml version="1.0" encoding="utf-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="content-type" />
	<title>A5Portrait Template</title>
	<link rel="stylesheet" href="A5Portrait.css" type="text/css" />
	<link rel="stylesheet" href="previewMode.css" type="text/css" />
	<link rel="stylesheet" href="basePage.css" type="text/css" />
	<meta id="defaultNameForDerivedBooks" content="book"/>
</head>
<body class="a5Portrait">
	<div class="page centered cover required coverColor singleton" id="cover">
		<p class="centered"><textarea id="coverPageTitle" class="_vernacularBookTitle  coverColor">My Book</textarea></p>
		<img id="coverPageImage"
			alt="missing" class="picture  coverColor" src="placeHolder.png" />
		<textarea lang='en' id="coverPageLanguageName" class="_nameOfLanguage showNational singleLine coverColor" title="Enter the name of the language">Language Name Here</textarea>
		<textarea lang='en' id="coverPageBookLabel" class="_natLangBookLabel  showNational singleLine coverColor" title="Enter the kind of book this is. E.g. Health, Maths">National language book label</textarea>
	</div>
	<div class="page titlePage required singleton" id="titlePage">
		<p class="centered"><textarea lang='en' id="titlePageTitle" class="_vernacularBookTitle">My Book</textarea></p>
		<p class="centered"><textarea lang='en' id="titlePageBookLabel" title="Enter the kind of book this is. E.g. Health, Maths" class="_natLangBookLabel singleLine showNational">National language book label</textarea></p>
		<p class="centered">
				<textarea lang='en' id="titlePageCredits"  title="Enter the contributions made by writers, illustrators, editors, etc." class="credits">Written by:</textarea>
				<textarea lang='tpi'  style="visibility:hidden !important; position:fixed  !important;" id="titlePageCredits"  title="Putim nem bilong olgeta manmeri husat is workim dispela buk. Husat workim piksa, raitim stori, na kain olsem." class="credits">Written by:</textarea>
		 </p>
		<p class="centered"><textarea lang='en' id="titlePagePrintingHistory" class="printingHistory showNational">Printing History</textarea></p>
		<p class="centered"><textarea lang='en' id="titlePageLanguageName" class="_nameOfLanguage singleLine showNational"  title="Enter the name of the language">Language Name</textarea></p>

	</div>
	<div class="page imageOnTop extraPage" id="page1">
		<p class="centered"><img id="img1" alt="missing" class="picture" src="placeHolder.png" /></p>
		 <p class="centered"><textarea id="text1" class="text">lorem ipsum dolor sit amet, consectetuer adipiscg elit. Ut nec lacus a neque pulvinar pulvinar. A100liquam sagittis, purus in fermentum ornare, orci igula vulputate sapien, a rutrum nisl mi eu mi. Suspendisse potenti. Aliquam eros. Nullam eros neque, cursus eu, commodo in, vulputate nec, ipsum. Duis et est a ante convallis consequat. Sed et nisl. 350Praesent vulputate erat quis magna. </textarea></p>
	</div>
	<div class="page imageInMiddle extraPage" id="page2">
		 <p class="centered"><textarea id="Textarea1" class="text">lorem ipsum dolor sit amet, consectetuer adipiscg elit. Ut nec lacus a neque pulvinar pulvinar. A100liquam sagittis, purus in fermentum ornare, orci igula vulputate sapien, a rutrum nisl mi eu mi. Suspendisse potenti. Aliquam eros. Nullam eros neque, cursus eu, commodo in, vulputate nec, ipsum. Duis et est a ante convallis consequat. Sed et nisl. 350Praesent vulputate erat quis magna. </textarea></p>
		<p class="centered"><img id="img2" alt="missing" class="picture" src="placeHolder.png" /></p>
		 <p class="centered"><textarea id="Textarea2" class="text">lorem ipsum dolor sit amet, consectetuer adipiscg elit. Ut nec lacus a neque pulvinar pulvinar. A100liquam sagittis, purus in fermentum ornare, orci igula vulputate sapien, a rutrum nisl mi eu mi. Suspendisse potenti. Aliquam eros. Nullam eros neque, cursus eu, commodo in, vulputate nec, ipsum. Duis et est a ante convallis consequat. Sed et nisl. 350Praesent vulputate erat quis magna. </textarea></p>
	</div>
	<div class="page imageOnBottom extraPage" id="page3">
		 <p class="centered"><textarea id="Textarea3" class="text">lorem ipsum dolor sit amet, consectetuer adipiscg elit. Ut nec lacus a neque pulvinar pulvinar. A100liquam sagittis, purus in fermentum ornare, orci igula vulputate sapien, a rutrum nisl mi eu mi. Suspendisse potenti. Aliquam eros. Nullam eros neque, cursus eu, commodo in, vulputate nec, ipsum. Duis et est a ante convallis consequat. Sed et nisl. 350Praesent vulputate erat quis magna. </textarea></p>
		<p class="centered"><img id="img3" alt="missing" class="picture" src="placeHolder.png" /></p>
	</div>
	<div class="page imageWholePage extraPage" id="page4">
		<p class="centered"><img id="img4" alt="missing" class="picture" src="placeHolder.png" /></p>
	</div>
		<div class="page textWholePage extraPage" id="textPage">
		 <p class="centered"><textarea id="TextArea" class="text">lorem ipsum dolor sit amet, consectetuer adipiscg elit. Ut nec lacus a neque pulvinar pulvinar. A100liquam sagittis, purus in fermentum ornare, orci igula vulputate sapien, a rutrum nisl mi eu mi. Suspendisse potenti. Aliquam eros. Nullam eros neque, cursus eu, commodo in, vulputate nec, ipsum. Duis et est a ante convallis consequat. Sed et nisl. 350Praesent vulputate erat quis magna. </textarea></p>
	</div>     </body>
</html>
