<?xml version="1.0" encoding="utf-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="content-type" />
	<title>A5Landscape Template</title>
	<link rel="stylesheet" href="A5Landscape.css" type="text/css" />


</head>
<body class="a5Landscape">
	<div class="page centered cover required" id="cover">
		<p class="centered"><textarea id="coverPageTitle" class="title">My Book</textarea></p>
		<img id="coverPageImage"
			alt="missing" class="picture" src="placeHolder.png" />
			<input id="coverPageLanguageName"
				class="LanguageName" value="Language Name Here" /><input id="coverPageBookLabel" class="BookLabel"
					value="National language book label" /></div>
	<div class="page titlePage required" id="titlePage">
		<p class="centered"><textarea id="titlePageTitle" class="title">Vernacular Book Title Here</textarea></p>
		<p class="centered"><input id="titlePageBookLabel" class="bookLabel" value="National language book label" /></p>
		<p class="centered"><textarea id="titlePageCredits" class="credits">Written by:</textarea></p>
		<p class="centered"><textarea id="titlePagePrintingHistory" class="printingHistory">Printing History</textarea></p>
		<p class="centered"><input    id="titlePageLanguageName" class="languageName" value="language name" /></p>
	</div>
	<div class="page imageOnTop" id="page1">
		<p class="centered"><img id="img1" alt="missing" class="picture" src="placeHolder.png" /></p>
		 <p class="centered"><textarea id="text1" class="text">lorem ipsum dolor sit amet, consectetuer adipiscg elit. Ut nec lacus a neque pulvinar pulvinar. A100liquam sagittis, purus in fermentum ornare, orci igula vulputate sapien, a rutrum nisl mi eu mi. Suspendisse potenti. Aliquam eros. Nullam eros neque, cursus eu, commodo in, vulputate nec, ipsum. Duis et est a ante convallis consequat. Sed et nisl. 350Praesent vulputate erat quis magna. </textarea></p>
	</div>
	<div class="page imageInMiddle" id="page2">
		 <p class="centered"><textarea id="Textarea1" class="text">lorem ipsum dolor sit amet, consectetuer adipiscg elit. Ut nec lacus a neque pulvinar pulvinar. A100liquam sagittis, purus in fermentum ornare, orci igula vulputate sapien, a rutrum nisl mi eu mi. Suspendisse potenti. Aliquam eros. Nullam eros neque, cursus eu, commodo in, vulputate nec, ipsum. Duis et est a ante convallis consequat. Sed et nisl. 350Praesent vulputate erat quis magna. </textarea></p>
		<p class="centered"><img id="img2" alt="missing" class="picture" src="placeHolder.png" /></p>
		 <p class="centered"><textarea id="Textarea2" class="text">lorem ipsum dolor sit amet, consectetuer adipiscg elit. Ut nec lacus a neque pulvinar pulvinar. A100liquam sagittis, purus in fermentum ornare, orci igula vulputate sapien, a rutrum nisl mi eu mi. Suspendisse potenti. Aliquam eros. Nullam eros neque, cursus eu, commodo in, vulputate nec, ipsum. Duis et est a ante convallis consequat. Sed et nisl. 350Praesent vulputate erat quis magna. </textarea></p>
	</div>
	<div class="page imageOnLeft" id="page3">
		<img id="img3" alt="missing" class="picture" src="placeHolder.png" />
		<textarea id="Textarea4" class="text">lorem ipsum dolor sit amet, consectetuer adipiscg elit. Ut nec lacus a neque pulvinar pulvinar. A100liquam sagittis, purus in fermentum ornare, orci igula vulputate sapien, a rutrum nisl mi eu mi. Suspendisse potenti. Aliquam eros. Nullam eros neque, cursus eu, commodo in, vulputate nec, ipsum. Duis et est a ante convallis consequat. Sed et nisl. 350Praesent vulputate erat quis magna. </textarea>
	</div>
	 </body>
</html>
