include ../standard-page-mixins.jade

mixin field-languageNeutral()
	+editable("*")&attributes(attributes)

mixin page-arithmetic(name, count)
	+page-choice(name,'')&attributes(attributes)
		+field.Heading1-style
		.problemSet
			- for (var i = 0; i < count; ++i)
				.problem
					.imageRow
						+image
						+image
					.numberRow.bloom-ignoreOverflow
						+field-languageNeutral().Equation-style
						+field-languageNeutral().Equation-style
						+field-languageNeutral().Equation-style
						.equals.Equation-style(lang="*")
						.fillInBox


doctype html
html
	head
		+metadata-standard
		//- This "Book" name is used for saving the file, until the user enters a title
		meta(name='defaultNameForDerivedBooks', content='Book')
		meta(name='bloomBookId', content='336B6F11-4A6C-4942-B2BC-8861E62B0373')
		//- Eventually, we'll remove Bloom's need for this.
		meta(name='pageTemplateSource', content='Arithmetic')
		meta(name='experimental', content='true')
		title 'Arithmetic'
		+stylesheets('Arithmetic.css')
		+standardStyles
		style(type="text/css" title="userModifiedStyles")
			.Equation-style { font-size: 28pt !important; text-align: center !important; }
	body
		+dataDiv
			+bookVariable-title('en', 'Arithmetic')

		+page-arithmetic('1 Problem',1).oneProblem#aaa72b3e-c874-4e56-9120-5a241468e6aa
		+page-arithmetic('2 Problems',2).twoProblems#bba72b3e-c874-4e56-9120-5a241468e6bb
		+page-arithmetic('3 Problems',3).threeProblems#cca72b3e-c874-4e56-9120-5a241468e6cc
		+page-arithmetic('4 Problems',4).fourProblems#dda72b3e-c874-4e56-9120-5a241468e6dd

