@import "../../bloom-xmatter-common.less";
@import (reference) "../../../../bookLayout/basePage.less";

// N.B. When changing this xmatter, keep in mind that multiple Enterprise brandings use it.

@XMatterPackName: "Guatemala2023";
@TopLogoMarginOffset: 2rem;
@BottomLogoMarginOffset: 3rem;

.credits-page-branding-top-block {
    display: flex;
    flex-direction: column;

    .credits-page-branding-top-logo-block {
        display: flex;
        flex-direction: row;
        max-height: 75px;

        // This is the top of the credits page, where we put the logos. There is a top left and a top right nested
        // inside of the main top branding section.
        [data-book="credits-page-branding-top-right-html"],
        [data-book="credits-page-branding-top-left-html"] {
            width: calc(50% + @TopLogoMarginOffset);
        }

        // Move the logos toward the left and right edges of the page.
        [data-book="credits-page-branding-top-left-html"] {
            margin-left: -@TopLogoMarginOffset;
            align-content: flex-start;
            img.branding {
                margin-left: unset;
            }
        }

        [data-book="credits-page-branding-top-right-html"] {
            margin-right: -@TopLogoMarginOffset;
            align-content: flex-end;
            img.branding {
                margin-right: unset;
            }
        }
    }
}

.marginBox [data-book="credits-page-branding-bottom-html"] {
    margin: 0 -@BottomLogoMarginOffset; // enlarge bottom logo to fill the space better
    margin-top: auto;
}

// NOTE. The existence of this selector tells XMatterHelper that we can handle device layout, so don't revert to a specialized one.
.Device16x9Portrait,
.Device16x9Landscape {
    &.credits {
        .marginBox {
            left: 10px !important;
            height: calc(100% - 8mm) !important;
            .credits-page-branding-top-block {
                padding-top: unset;
                font-size: 8pt; // otherwise we'll never fit in all the text.
                img {
                    max-width: 100%;
                }
                [data-book="credits-page-branding-top-left-html"] {
                    margin-left: unset;
                }
                [data-book="credits-page-branding-top-right-html"] {
                    margin-right: unset;
                }
            }
            .licenseDescription,
            .licenseNotes {
                font-size: 8pt; // otherwise we'll never fit in all the text.
            }
            [data-book="credits-page-branding-bottom-html"] {
                margin: unset;
            }
        }
    }
}

.Device16x9Landscape {
    &.credits {
        .marginBox {
            .copyright,
            .licenseBlock {
                margin-bottom: 0; // Device landscape is especially limited in vertical space.
            }
        }
    }
}
