@import (reference) "../../bloomUI.less";

// This is wanted only for previewing templates, not real books.
// Real books always have a data-l1 attribute added, and the standard basePage rules work for them.
.preview:not([data-l1]) {
    // Get the front cover to look right in preview mode for most page sizes and layouts.
    .bloom-frontMatter {
        @MarginBetweenMajorItems: 15px;
        .marginBox {
            display: flex;
            flex-direction: column;

            .bloom-translationGroup.bookTitle {
                min-height: 12%;
            }
            .bloom-canvas {
                flex: 1 1 auto;
                margin-top: @MarginBetweenMajorItems;
                margin-bottom: @MarginBetweenMajorItems;
            }
            .bottomBlock {
                min-height: 12%;
            }
        }
        // This is needed for the Digital Comic Book to properly space items on the front cover.
        &.Device16x9Landscape#ddd9b811-63d6-4d51-baf8-0a5fe88cd73d {
            .bookTitle {
                min-height: 10%;
            }
            .coverImage {
                max-height: 65%;
            }
            .bottomBlock {
                min-height: 20%;
            }
        }
    }
}

@media screen {
    body {
        background-color: @bloom-darkestBackground;
    }
}

div.bloom-page.coverColor {
    background-color: @PreviewCoverColor;
}

// When in preview, people often think they are looking at something editable. Give them this visual feedback.
// (Setting the cursor doesn't seem to work in inert elements, so this rule is applied one level above
// the body, which is what we set to inert.)
html {
    cursor: not-allowed;
}

.disabledVisual img {
    opacity: 0.4;
}

/* Some images, like the copyright one, have no src initially. Don't puzzle the user with a missing-image icon.''*/
img[src=""] {
    display: none;
}

.disabledVisual div {
    opacity: 0.4;
    cursor: not-allowed;
}

input {
    border: 1px solid transparent;
}

textarea {
    /*we have javascript function which notices this border and makes it read-only
(which isn't a style, so we can't set it ourselves*/
    border: 1px solid transparent;
}

div.bloom-page {
    // Old bloom did this to make a gap between pages, but at some point we
    // switched to using box-sizing: border-box, and then it changes the size
    // of the rest of the page and interferes with the padding that positions marginBox.
    // border-bottom: 15px solid @bloom-darkestBackground !important;
    margin-bottom: 15px;
    /*This invisible border is needed to make wkhtml 0.10.0 lay out the pages correctly*/
    background-color: white;
}

@media print {
    div.bloom-page {
        /*This invisible border is needed to make wkhtml 0.10.0 lay out the pages correctly*/
        border: 0 none @WarningColor !important;
    }
}

div#formatButton {
    display: none !important;
}

.bloom-page button {
    display: none;
}

/*this is the purple label in the upper-left corner above pages*/
.pageLabel {
    display: none;
}

textarea.coverColor {
    background-color: @PreviewCoverColor;
}

input.coverColor {
    background-color: @PreviewCoverColor;
}

/*this could be placed on an element by hand, but it is notably added by jscript when the element has
a bloom-doNotPublishIfParentOtherwiseEmpty class and the parent is empty*/
*.bloom-hideWhenPublishing,
*.bloom-classSwitchingCombobox {
    visibility: hidden;
}

div.coverBottomBookTopic div.topicN1 {
    border: none;
}

.bloom-draggableLabel {
    /*This matches the width of the dragHandle, which doesn't get added in preview mode
and as a result, the labels are shifted to this many pixels to the width. This shifts them back.*/
    padding-left: 22px;
}

// when making a PDF or a thumbnail, if no image is chosen, just don't show anything
// note that the *= here is needed in case there is a path, as happens in folio pdfs e.g. ../foo/placheholder.png
.hidePlaceHolders img[src*="placeHolder.png"] {
    display: none;
}

@stripeGrey: #f0f0f0;

// To show where text goes, this has stripes.
.preview.template,
.bloomPlayer-page.template {
    .numberedPage .bloom-translationGroup {
        background: linear-gradient(
            45deg,
            @stripeGrey 12.5%,
            #fff 12.5%,
            #fff 37.5%,
            @stripeGrey 37.5%,
            @stripeGrey 62.5%,
            #fff 62.5%,
            #fff 87.5%,
            @stripeGrey 87.5%
        );
        background-size: 50px 50px;
        background-position: 50px 50px;
    }

    .numberedPage .pageLabel {
        position: absolute;
        z-index: 10000;
        background-color: @bloom-red;
        color: white;
        padding: 5px;
        display: block;
    }
}

// Hide game elements which shouldn't be shown in preview/pdf mode.
.bloom-page[class*="game-theme-"] {
    .game-button,
    .page-turn-button {
        display: none;
    }

    // Mask the correct answers by styling their buttons like regular buttons.
    --game-button-correct-bg-color: var(--game-button-bg-color);
    --game-button-correct-color: var(--game-button-text-color);
}
