
include ../bloom-xmatter-mixins.jade

doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='BloomFormatVersion', content='2.0')
		title Paper-Saver Front & Back Matter
		+stylesheets('Factory-XMatter.css')
	body
		+factoryStandard-outsideFrontCover
		+factoryStandard-creditsInsideFrontCover
		// The important thing here, with countPageButDoNotShowNumber,
		// is to get the left pages being even, else the professional publishing folks freak.
		// Beyond that, it's not yet clear what is best, needs some research
		+factoryStandard-titlePage.countPageButDoNotShowNumber
		+factoryStandard-insideBackCover
		+factoryStandard-outsideBackCover