/*The following is json. Bloom reads it in order to know what size/orientation options this stylesheet supports
This is a dummy rule used to transmit to javascript what size/orientations this stylesheet can handle.
This used to "lock down" a template to only certain layouts, now it just seems to cause a new book to
default to the first layout.
STARTLAYOUTS
{
  "layouts": [
    {
      "HalfLetterPortrait": {
        "Styles": [ "Default" ]
      }
    }
  ]
}
ENDLAYOUTS
*/

@import "./MXBCommon-XMatter.less";

@XMatterPackName: "MXB Literacy";

#localizedAcknowledgments {
    margin-top: auto; // push this and all below it down
}

// Literacy book contributions on title page
#contributions .bloom-editable {
    font-size: 12pt;
    line-height: 1.4;
}

#funding .bloom-editable {
    font-size: 12pt;
    line-height: 1.2;
}
