
include ./MXBCommon-XMatter.pug

doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='BloomFormatVersion', content='2.0')
		title ILV Mexico Literacy Front & Back Matter
		//- Make stylesheets adjustable for Device version
		block stylesheets
			+stylesheets('MXBLiteracy-XMatter.css')
	body
		+factoryStandard-outsideFrontCover
		+factory-insideFrontCover
		+mxb-titlePage
		+mxb-nationalSummaryCreditsPage-back-title-page
		+mxb-printerStatement-insideBackCover
		+factoryStandard-outsideBackCover
