::part(region-content) {
    margin: 0;
    position: absolute;
    top: 0;
    left: 5px;
}
::part(region-handle-right) {
    border-left: dashed;

    border-left-color: #d65649;
}
/* hide the start-marker handles */
::part(region-handle-left) {
    display: none;
}
