﻿@recordQtipForeground: #0C8597;
@recordQtipHighlight: #96668f;
body {
    div.ui-audioTitle {color: @recordQtipForeground; font-size:larger; margin-top: 5px; font-size:large;}

    div.ui-audioBody {margin-top: 5px;}
    button.ui-audio-button {height:40px; width: 40px; border:none; background-size:contain;background-color:transparent;background-repeat:no-repeat;display:inline-block;margin-bottom:5px;}
    button#audio-prev, button#audio-clear {height:20px; width:20px;}
    button#audio-record.enabled {background-image: url(audio/record_enabled.svg)}
    button#audio-record.expected {background-image: url(audio/record_expected.svg)}
    button#audio-record.disabled {background-image: url(audio/record_disabled.svg)}
    button#audio-record.active {background-image: url(audio/record_active.svg)}
    button#audio-play.enabled {background-image: url(audio/play_enabled.svg)}
    button#audio-play.expected {background-image: url(audio/play_expected.svg)}
    button#audio-play.disabled {background-image: url(audio/play_disabled.svg)}
    button#audio-play.active {background-image: url(audio/play_active.svg)}
    button#audio-next.enabled {background-image: url(audio/next_enabled.svg)}
    button#audio-next.expected {background-image: url(audio/next_expected.svg)}
    button#audio-next.disabled {background-image: url(audio/next_disabled.svg)}
    button#audio-prev.enabled {background-image: url(audio/prev_enabled.svg)}
    button#audio-prev.disabled {background-image: url(audio/prev_disabled.svg)}
    button#audio-listen.enabled {background-image: url(audio/listen_enabled.svg)}
    button#audio-listen.disabled {background-image: url(audio/listen_disabled.svg)}
    button#audio-listen.active {background-image: url(audio/listen_active.svg)}
    button#audio-clear.enabled {background-image: url(audio/clear_enabled.svg)}
    button#audio-clear.disabled {background-image: url(audio/clear_disabled.svg)}

    div.button-label-wrapper {margin-left:20px;margin-top: 10px;}
    div.button-wrapper {display:inline-block;min-width: 60px;}
    div.audio-label {color:@recordQtipForeground;display:inline-block;max-width:100px;}
    div.audio-about {color:@recordQtipForeground;margin-top:5px;}
    div.audio-label.expected {color: @recordQtipHighlight;}
    div.audio-label#audio-look-at , div.audio-label#audio-check{max-width:none;}
    div#audio-listen-label {position:relative; top:10px;}
    a.audio-help {color:@recordQtipForeground;text-decoration:underline;cursor:pointer}
   
    div.ui-audioFooter {margin-top: 30px; margin-bottom: 5px}
    span.ui-audioCurrent {background-color: #faf7cc }
    div.ui-audioInput, div.ui-audioMeter {display:inline-block;}
    div.ui-audioMeter {margin-left:30px;}
    div.ui-audioInputGroup {margin-top:5px;margin-bottom:12px;}
    img#audio-input-dev {height:30px;width:30px;margin-left:20px;}

     // hidden unless we need to choose between three or more input devices.
     #audio-devlist {display:none;position:absolute;background-color:white; width:200px;
                     li {min-height:20px; font-size:12px;
                          &:hover {background-color:lightgray}
                     }
     }
     #audio-input-dev  {margin-top: 2px; width:15px;}
}
