@import "../../../bloomUI.less";

@highlightColor: @bloom-yellow;
@splitAnimationTime: 300ms;

// See BL-7442: When low line height causes lines to overlap, the highlighting overlaps and
// can over up the bottom of the characters in the line above. For Chrome/Safari we have
// a fix that can be found in bloom-player. But those don't work in Firefox yet (as of FF 68).
// So we deal with the most common case of overlap (the book title on the cover) by just
// treating the text as a rectangle. And it's fine that this will show this way in Chrome too:
.Title-On-Cover-style
    span.ui-audioCurrent:not(.ui-suppressHighlight):not(.ui-disableHighlight) {
    display: inline-block;
    white-space: pre-wrap;
}

span.ui-audioCurrent:not(.ui-suppressHighlight):not(.ui-disableHighlight),
div.ui-audioCurrent:not(.ui-suppressHighlight):not(.ui-disableHighlight) p {
    // This behavior is now achieved by a default rule in content/basePage-shared.less,
    // from whence it can work in various players and be overridden by our new audio-hightlighting
    // control. The negation for suppress/disable is now handled by a separate rule below.
    // background: @highlightColor;
    // /* make highlighted text easier to read if it is normally a light color (like white)*/
    // color: @textOnLightBackground;
}

.bloom-ui-current-audio-marker:before {
    background-image: url(currentTextIndicator.svg);
    background-repeat: no-repeat;
    background-size: 10px 13px;
    background-position: 2px 5px;
    left: -15px;
    top: 0; // should have no effect, but prevents a FF bug causing BL-6796
    width: 15px;
    height: 19px;
    position: absolute;
    content: " ";
}

// These classes get applied to ui-audioCurrent elements when we don't currently want
// them highlighted. Because a lot of rules now set various foreground and background
// colors for .ui-audioCurrent, not only during editing when the suppress and disable
// classes are relevant, it's cleaner to do the suppression with separate rules
// rather than :not claues like the above.
// The goal is that rules that set background and foreground color for the current
// playback element shall be defeated when the disable/suppress classes are present.
// There could pathologically be a case where some other rule was defeated unintentionally,
// but we don't have any other rule-based text or background coloring that applies to
// audio elements, so I think the neatness of not having to complicate many rules
// with :not clauses that aren't relevant in most contexts is worth it.
.ui-audioCurrent.ui-suppressHighlight,
.ui-audioCurrent.ui-suppressHighlight p,
.ui-audioCurrent.ui-disableHighlight,
.ui-audioCurrent.ui-disableHighlight p {
    background-color: unset !important;
    color: unset !important;
}

.ui-audioCurrent .ui-enableHighlight {
    background-color: @highlightColor;
    // If we can one day get rid of this, we can simplify code for positioning the microphone icon near the span.
    position: unset; // BL-11633, works around Chromium bug
}

span.ui-audioCurrent,
div.ui-audioCurrent p {
    // The rule that sets the background color is in basepage.less. However, we only need to
    // interfere with position: relative when editing, so I _think_ this rule belongs here.
    position: unset; // BL-11633, works around Chromium bug
}

.ui-audioCurrent.bloom-postAudioSplit[data-audiorecordingmode="TextBox"]:not(
        .ui-suppressHighlight
    ):not(.ui-disableHighlight) {
    // Special highlighting after the Split button completes to show it completed.
    // Note: This highlighting is expected to persist across sessions, but to be hidden (displayed with the yellow color) while each segment is playing.
    //       This is accomplished because this rule temporarily drops out of effect when .ui-audioCurrent is moved to the span as that segment plays.
    //       (The rule requires a span BELOW the .ui-audioCurrent, so it drops out of effect the span IS the .ui-audioCurrent).
    span:nth-child(3n + 1 of .bloom-highlightSegment) {
        background-color: #bfedf3;
    }

    span:nth-child(3n + 2 of .bloom-highlightSegment) {
        background-color: #7fdae6;
    }

    span:nth-child(3n + 3 of .bloom-highlightSegment) {
        background-color: #29c2d6;
    }

    span {
        position: unset; // BL-11633, works around Chromium bug
    }

    p {
        // Override the normal yellow highlight so it doesn't clash with the ones we just added
        background: none;
    }
}

//////////////////////////////////////////
// Animation of hiding/showing a button //
//////////////////////////////////////////
@anticipatedButtonLabelHeight: 57.5px; // The expected height for the English text. Ideal results would be had if this is kept up to date whenever the English string changes.
@buttonLabelMaxHeight: 130px;
@expandTargetProportion: unit(
    @anticipatedButtonLabelHeight / @buttonLabelMaxHeight
);
@shrinkTargetProportion: 1 - @expandTargetProportion;

// Active Case
.button-label-wrapper {
    max-height: @buttonLabelMaxHeight; // Should be at least as large as the anticipated need
    transition: max-height @splitAnimationTime;

    // Timing for Expanding
    //
    // Roughly linear to the target for most of the duration. (Then rapidly finish the rest in the last little portion of time)
    // For en, we expect no effect after it reaches actualHeight/maxHeight = 57.5/100 = 0.575
    // Thus, we want it to shrink extremely rapidly at first so we can quickly reach the region where it has a visible effect.
    transition-timing-function: cubic-bezier(
        0.9,
        @expandTargetProportion,
        0.9,
        @expandTargetProportion
    ); // Linear to 60% for most of the duration.

    overflow: hidden; // hiding the overflow causes the subsequent element to smoothly move up
}

// Hidden Case
.ui-audioBody .button-label-wrapper.hide-countable {
    max-height: 0px;

    // Timing for Shrinking (because the rule takes effect immediately once the selector rule is met)
    //
    // Rapidly shrink to the expected size of the text, then roughly linear shrink to the end.
    // For en, we expect no effect until it reaches the expected target size
    // Thus, we want it to shrink extremely rapidly at first so we can quickly reach the region where it has a visible effect.
    transition-timing-function: cubic-bezier(
        0,
        @shrinkTargetProportion,
        0,
        @shrinkTargetProportion
    );
}

.cursor-progress {
    cursor: progress;
}

body .cursor-progress {
    // A rule with higher specificity to beat out some ckeditor rules that set it to cursor: text
    cursor: progress;
}

.cursor-progress button {
    // Deal with buttons on the bloom-canvas, which will appear grabbable by default. Especially the on-hover buttons for the bloom-canvas, those are hard to modify in the JS layer.
    cursor: progress;
}

#toast-container {
    z-index: 999999 !important;
    font-family: @UIFontStack;
    font-size: 9pt;
}

#toast-container > .toast {
    opacity: 1 !important;
    box-shadow: none !important;
    background-image: none !important;
    padding-left: 8px; //don't leave room for the icon
}

.toast-toolbox-bottom {
    left: 32px;
    bottom: 46px;
}

// This is for a div added to a visible bloom-translationGroup
// that needs to display playback order controls.
.bloom-playbackOrderControlsContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 2001; // canvas element is 1001
}
