html
	head
		
	body
		h3(data-panelId='talkingBookTool', data-order='30', data-i18n='Toolbox.TalkingBookTool.Heading') Talking Book Tool
		div(data-panelId='talkingBookTool')
			label
				input(id='showRecordingTools' type='checkbox')
				span(data-i18n=''Toolbox.TalkingBookTool.ShowRecordingTools') Show Recording Tools