* { font-size: 9pt; }
body { margin: 0 }
.align-top { vertical-align: top; }
td, th { padding: 0 8px; }
.smaller { font-size: 8pt; }
label { font-weight: 700; }
div.scrolling { overflow: auto; }
div.floating {
	display: inline-block;
	position: relative;
	float: left;
}

div.scrolling-table-container {
	position: relative; /* could be absolute or relative */
	padding-top: 26px; /* height of header */
	width: 100%;
}

div.scrolling-table-container-inner {
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
}

div.scrolling-table-header {
	background-color: #555;
	height: 26px; /* height of header */
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

div.scrolling-table-container-inner table { background-color: #eee; }
div.scrolling-table-container-inner table td { color: #000; height: 26px; white-space: nowrap; min-width: 26px; }
div.scrolling-table-container-inner table tr:nth-child(even) { background-color: #ddd; }
div.scrolling-table-container-inner table a { color: #333; }

div.scrolling-table-container-inner table th div {
	position: absolute;
	top: 0;
	line-height: 26px; /* height of header */
	text-align: left;
}

#stage-list { border: thin solid #555; -moz-user-select: none; width: 100% }
.rs-heading {
	font-size: 13pt;
	font-weight: 400;
	display: inline-block;
}

.rs-subheading {
	font-size: 13pt;
	font-weight: 400;
	display: inline-block;
}

div.rs-letters {
	display: inline-block;
	position: relative;
	float: left;
	font-size: 1.1em;
	margin: -1px 0 0 -1px;
	padding: 4px 0;
	text-align: center;
	border: thin solid #333;
	-moz-user-select: none;
}

div.rs-letters-s { width: 30px; }
div.rs-letters-l { width: 33px; }
div.unselected-letter { color: #666; background-color: #fff; cursor: pointer; }
div.previous-letter { color: #000; background-color: #fff; font-weight: 700; cursor: not-allowed; }
div.current-letter { color: #000; background-color: #C3920F; font-weight: 700; cursor: pointer; }

div.rs-letter-container {
	height: 154px;
	display: inline-block;
	overflow-y: auto;
}

div.rs-letter-container-s { max-width: 187px; overflow-y: hidden; }
div.rs-letter-container-l { max-width: 187px; overflow-y: auto; }

div.rs-word-container {
	height: 240px;
	display: inline-block;
	overflow-y: auto;
	overflow-x: hidden;
}

#stage-detail {
	border: thin solid #555;
	background-color: #555;
}

div.sub-float {
	display: inline-block;
	position: relative;
	float: left;
	margin: 0 0 0 10px;
}

tr.linked:hover {
	background-color: #f08080 !important;
	cursor: pointer;
}

tr.selected {
	background-color: #59b4d4 !important;
	cursor: pointer;
	font-weight: 700;
}

div.word { min-width: 40px; margin: 2px; float: left; }

@media (max-width: 649px) {
	div.reader-setup-tab { height: 246px !important; overflow: hidden; }
	div.scrolling { overflow: auto; }
	#dlstabs-1 div.floating { margin: 8px; }
	#dlstabs-2 div.floating { margin: 0 8px; }
	#word-lists-div { width: 250px; }
	#word-lists-div textarea { width: 245px; }
	div.scrolling-table-container { height: 149px !important; }
	#stage-list, #stage-list-container { width: 220px;	}
	#stage-detail { width: 230px; }
	#setup-stage-matching-words { width: 185px !important }
}

@media (min-width: 650px) {
	div.reader-setup-tab { height: 363px !important; overflow: hidden; }
	div.scrolling { overflow: hidden; }
	#dlstabs-1 div.floating { margin: 0 12px; }
	#dlstabs-2 div.floating { margin: 0 12px; }
	#word-lists-div { width: 270px; }
	#word-lists-div textarea { width: 265px; }
	div.scrolling-table-container { height: 266px !important; }
	#stage-list, #stage-list-container { width: 240px;	}
	#stage-detail { width: 354px; height: 306px !important; }
	#setup-stage-matching-words { width: 130px !important }
}

span.desired-grapheme { color: #e0a711; font-weight: 700; }
span.sight-word {
	-moz-text-decoration-style: wavy;
	-moz-text-decoration-line: underline;
	-moz-text-decoration-color: #00a000;
}