@import "../branding-base.less";

[data-book="credits-page-branding-top-html"] img {
    width: 100%;
    height: 1in;
}

[data-xmatter-page="credits"] {
    * {
        margin-bottom: 1em;
        text-align: justify;
    }
}
