<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AtkSharp-signed" version="3.22.24.37" targetFramework="net461" />
  <package id="CairoSharp-signed" version="3.22.24.37" targetFramework="net461" />
  <package id="Castle.Core" version="4.4.1" targetFramework="net461" />
  <package id="DialogAdapters" version="0.1.11" targetFramework="net461" />
  <package id="Enchant.Net" version="1.4.2" targetFramework="net461" />
  <package id="GdkSharp-signed" version="3.22.24.37" targetFramework="net461" />
  <package id="GioSharp-signed" version="3.22.24.37" targetFramework="net461" />
  <package id="GLibSharp-signed" version="3.22.24.37" targetFramework="net461" />
  <package id="GtkSharp-signed" version="3.22.24.37" targetFramework="net461" />
  <package id="ibusdotnet" version="2.0.3" targetFramework="net461" />
  <package id="icu.net" version="2.7.1" targetFramework="net461" />
  <package id="JsonFx" version="2.0.1209.2802" targetFramework="net461" />
  <package id="L10NSharp" version="4.1.1-beta0002" targetFramework="net461" />
  <package id="Markdig.Signed" version="0.22.0" targetFramework="net461" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.0.4" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.0.4" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.QualityTools.UnitTestFramework.Updated" version="15.0.26228" targetFramework="net461" />
  <package id="Mono.Posix" version="5.4.0.201" targetFramework="net461" />
  <package id="Moq" version="4.14.7" targetFramework="net461" />
  <package id="NAudio" version="1.10.0" targetFramework="net461" />
  <package id="NDesk.DBus" version="0.15.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="NUnit" version="3.13.0" targetFramework="net461" />
  <package id="NUnit.ConsoleRunner" version="3.11.1" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.8.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net461" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.7" targetFramework="net461" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.8.0" targetFramework="net461" />
  <package id="PangoSharp-signed" version="3.22.24.37" targetFramework="net461" />
  <package id="RestSharp" version="106.11.7" targetFramework="net461" />
  <package id="SharpZipLib" version="1.3.0" targetFramework="net461" />
  <package id="SIL.Core" version="8.0.1-beta0020" targetFramework="net461" />
  <package id="SIL.Core.Desktop" version="8.0.1-beta0020" targetFramework="net461" />
  <package id="SIL.Media" version="8.0.1-beta0020" targetFramework="net461" />
  <package id="SIL.TestUtilities" version="8.0.1-beta0020" targetFramework="net461" />
  <package id="SIL.Windows.Forms" version="8.0.1-beta0020" targetFramework="net461" />
  <package id="SIL.Windows.Forms.Keyboarding" version="8.0.1-beta0020" targetFramework="net461" />
  <package id="SIL.Windows.Forms.WritingSystems" version="8.0.1-beta0020" targetFramework="net461" />
  <package id="SIL.WritingSystems" version="8.0.1-beta0020" targetFramework="net461" />
  <package id="Spart" version="1.0.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.AccessControl" version="4.7.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="TagLibSharp" version="2.2.0" targetFramework="net461" />
</packages>
