@import "../MXBLiteracy-XMatter/MXBCommon-XMatter.less";

@XMatterPackName: "MXB Scripture";

.titlePage .creditsRow .smallCoverCredits.bloom-content1 {
    // for Scripture this is tucked up under the title and used for chapter/verse references
    margin-bottom: @MarginBetweenMajorItems;
}

.titlePage #titlePageTitleBlock {
    margin-bottom: @contentMinimumHeight;
}

// Scripture book contributions on credits page
#contributions .bloom-editable {
    font-size: 10pt;
    line-height: 1.2;
}

#printingHistory {
    margin-top: auto; // push to bottom of page
}
