/*
This json comment in a default Bloom template "locks" the book to only these layouts,
whereas in a branding-induced xmatter pack it only acts to make this the default layout for a new book.
STARTLAYOUTS
{
  "layouts": [
    {
      "HalfLetterPortrait": {
        "Styles": [ "Default" ]
      }
    }
  ]
}
ENDLAYOUTS
*/

@import "../MXBLiteracy-XMatter/MXBCommon-XMatter.less";

@XMatterPackName: "MXB Scripture";

.bloom-page {
    &.outsideFrontCover {
        // Make the front cover's Scripture reference field bold, centered and 16pt
        .Reference-Cover-style {
            font-size: 16pt;
            font-weight: bold;
            text-align: center;
        }
        // Make the default Spanish title not bold on the Cover
        .bloom-translationGroup.bookTitle
            .bloom-contentNational1.Title-On-Cover-style.bloom-editable {
            font-weight: normal;
        }
    }
    // Make the title page's Scripture reference field bold, (already centered) and 14pt
    &.titlePage {
        .Reference-TitlePage-style {
            font-weight: bold;
            font-size: 14pt;
        }
    }
}

.credits .licenseAndCopyrightBlock {
    margin-top: auto;
}

.titlePage .creditsRow .smallCoverCredits.bloom-content1 {
    // for Scripture this is tucked up under the title and used for chapter/verse references
    margin-bottom: @MarginBetweenMajorItems;
}

.titlePage #titlePageTitleBlock {
    margin-bottom: @contentMinimumHeight;
}

// Scripture book contributions on credits page
#contributions .bloom-editable {
    font-size: 10pt;
    line-height: 1.2;
}

#printingHistory {
    margin-top: auto; // push to bottom of page
}
