#text-properties-dialog {
    .tab-page {
        div {
            width: 420px;
            font-size: 8pt;
            margin-top: 10px;
        }
        #language-group {
            input[type="radio"] {
                margin-left: 5px;
            }
            label {
                margin-left: 7px;
            }
        }
    }
}

#text-properties-dialog.formattingDisabled .hideWhenFormattingDisabled {
    display: none;
}
#text-properties-dialog:not(.formattingDisabled) .hideWhenFormattingEnabled {
    display: none;
}
