#text-properties-dialog.bloom-ui.bloomDialogContainer
	.bloomDialogTitleBar(data-i18n="EditTab.TextBoxProperties.Title") Text Box Properties
	.hideWhenFormattingEnabled.bloomDialogMainPage
		p(data-i18n="BookEditor.FormattingDisabled") Sorry, Reader Templates do not allow changes to formatting.
	#tabRoot.hideWhenFormattingDisabled.tab-pane
		.tab-page
			h2.tab(data-i18n="EditTab.TextBoxProperties.LanguageTab") Language
			.main-label(data-i18n="EditTab.TextBoxProperties.NormalLabel")
				| "Normal" will show local language, and potentially regional or national, depending on the multilingual settings of the book. Use this for most content.
			#language-group
				input#tbprop-normal(type="radio" name="languageRadioGroup" value="Auto")
				label(for="tbprop-normal" data-i18n="EditTab.TextBoxProperties.Normal") Normal
				br
				.main-label(data-i18n="EditTab.TextBoxProperties.OtherLanguagesLabel")
					| Use one of these for simple text boxes that are always in only one language.
				input#tbprop-vernacular(type="radio" name="languageRadioGroup" value="V")
				label(for="tbprop-vernacular" data-i18n="EditTab.TextBoxProperties.LocalLanguage") Local Language
				br
				input#tbprop-national(type="radio" name="languageRadioGroup" value="N1")
				label(for="tbprop-national" data-i18n="EditTab.TextBoxProperties.NationalLanguage") National Language
				br
				input#tbprop-regional(type="radio" name="languageRadioGroup" value="N2")
				label(for="tbprop-regional" data-i18n="EditTab.TextBoxProperties.RegionalLanguage") Regional Language
		.tab-page
			h2.tab(data-i18n="EditTab.TextBoxProperties.Alignment") Alignment
			#alignment-group
				.main-label(data-i18n="EditTab.TextBoxProperties.VerticalAlignment") Vertical Alignment
				div
					#align-top.icon16x16.propButton
						img(src="{0}/img/align-top.png")
					#align-center.icon16x16.propButton
						img(src="{0}/img/align-center.png")
					#align-bottom.icon16x16.propButton
						img(src="{0}/img/align-bottom.png")
		//- Here follows a skeleton implementation of tabs 2 and 3
		//- (Don't forget to add the appropriate bits to the .tmx files when activated.)
		//- div#bordersPage.tab-page
		//- 	h2.tab(data-i18n="EditTab.TextBoxProperties.BordersTab") Borders
		//-		  // + propDlg.makeBordersContent(currentBorder)
		//- div#bubblesPage.tab-page
		//- 	h2.tab(data-i18n="EditTab.TextBoxProperties.BubblesTab") Hint Bubbles
		//-		  // + propDlg.makeBubblesContent(currentBubbles)
