/*{
    label: "default branding";
    compatibleWithAppearanceVersion: 6.0;
}*/
@import "../branding-base.less";

.outsideBackCover img.branding {
    width: 4.5cm;
}

.bloom-branding-wrapper .bloom-logo {
    position: absolute;
    height: 20px;
    left: 212px;
    top: -47px;
}
