// Styles that are shared by both the regular book css and the more minimalist epub css.

body {
	line-height: 1.5;
	font-family: "Andika New Basic", Andika, "Andika Basic", "Gentium Basic", "Gentium Book Basic", "Doulos SIL", Sans-Serif;
}

.bloom-backgroundImage{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}