@import "../templates/common-mixins.less";

// Contains css specifically targetting Device16x9Portrait, Device16x9Landscape and PictureStoryLandscape layouts

// Mixin for setting .marginBox margins for Device layouts.
.SetMarginBoxDevice(@PageWidth, @PageHeight) {
    height: @PageHeight;
    width: @PageWidth;
    IMG {
        max-width: @PageWidth;
    }
    top:0;
    left:0 !important;

    //that makes the margin box actually have no margin. Which looks good for the image, but
    //looks bad for the text. So here we re-introduce a margin... a bit of a hack
    .bloom-editable{
        margin-left: @DeviceMargin;
        width: calc(~"100% - "(@DeviceMargin*2)); // 10px for the left, 10px for the right
    }
}

// Mixin to leave space for page number at the bottom of the marginBox
.LeaveMarginForPageNumber(@PageHeight) {
    height: @PageHeight - @DeviceBottomMargin;
}

.bloom-page{
    &.Device16x9Portrait{
        min-width: @Device16x9Portrait-Width;
        max-width: @Device16x9Portrait-Width;
        min-height: @Device16x9Portrait-Height;
        max-height: @Device16x9Portrait-Height;
    }
    &.Device16x9Landscape{
        min-width: @Device16x9Landscape-Width;
        max-width: @Device16x9Landscape-Width;
        min-height: @Device16x9Landscape-Height;
        max-height: @Device16x9Landscape-Height;
    }
    &.PictureStoryLandscape{
        min-width: @PictureStoryLandscape-Width;
        max-width: @PictureStoryLandscape-Width;
        min-height: @PictureStoryLandscape-Height;
        max-height: @PictureStoryLandscape-Height;
    }
}

.Device16x9Landscape, .PictureStoryLandscape{
    //TODO: This is only for videos
    // Why is this not used for Device16x9Portrait too?!
    background-color: black;
    img{ background-color: white; } // so that transparent images show
}

.Device16x9Landscape, .Device16x9Portrait, .PictureStoryLandscape{
    .origami-toggle{display:none}
    .pageLabel{display:none}

    .marginBox {
        .split-pane.horizontal-percent > .split-pane-component.position-top{
            margin-bottom: 0;
        }

        .bloom-imageContainer{
            //the basePage.css has a "- 3px" that leaves the bottom of the screen unused
            height: calc(100%) !important;
        }
    }
    &.numberedPage{
        &::after{
            bottom: 5px;
        }
        &.side-left::after{
            left: calc(~"100% / 2 - "(@DeviceMargin)); // center page number on Device layouts
        }
        &.side-right::after{
            right: calc(~"100% / 2 - "(@DeviceMargin)); // center page number on Device layouts
        }
    }
}

.marginBox {
    .Device16x9Portrait & {
        .SetMarginBoxDevice(@Device16x9Portrait-Width, @Device16x9Portrait-Height);
    }
    .numberedPage.Device16x9Portrait & {
        .LeaveMarginForPageNumber(@Device16x9Portrait-Height);
    }

    .Device16x9Landscape & {
        .SetMarginBoxDevice(@Device16x9Landscape-Width, @Device16x9Landscape-Height);
    }
    .numberedPage.Device16x9Landscape & {
        .LeaveMarginForPageNumber(@Device16x9Landscape-Height);
    }

    .PictureStoryLandscape & {
        .SetMarginBoxDevice(@PictureStoryLandscape-Width, @PictureStoryLandscape-Height);

        // make the top half take up the whole screen
        .position-top{ bottom: 0 !important; }
        .position-bottom{ display: none; }
    }
    .numberedPage.PictureStoryLandscape & {
        .LeaveMarginForPageNumber(@PictureStoryLandscape-Height);
    }
}
