// The code reads the (bloom-visibility-template-langs + collection langs + multlingual settings)
// and set this if it determines that this would normally be visible:
.bloom-editable.bloom-visibility-code-on {
    display: block;
}
//If not the user can still make it visible:
.bloom-editable.bloom-visibility-user-on {
    display: block;
}
//And the user can alwyas hide it
.bloom-editable.bloom-visibility-user-off {
    display: none !important;
}

