// The code reads the (bloom-visibility-template-langs + collection langs + multlingual settings)
// and set this if it determines that this would normally be visible:
.bloom-editable.bloom-visibility-code-on {
    // The main point of this rule is to override a display:none
    // and make the div visible. Display:flex is needed for
    // possible vertical alignment.
    // But display:flex causes multiple paragraphs to each show in its own column.  (BL-4320)
    display: block;
}
//If not the user can still make it visible:
.bloom-editable.bloom-visibility-user-on {
    display: block;
}
//And the user can always hide it
.bloom-editable.bloom-visibility-user-off {
    display: none !important;
}

