@import "../branding-base.less";

[data-book="outside-back-cover-branding-bottom-html"] {
    width: 100%;
    margin-top: auto !important;
    margin-bottom: auto !important;
    img {
        height: 140mm;
        &.landscapeOnly {
            height: 85mm;
        }
    }
}

.outsideBackCover .bloom-translationGroup {
    display: none;
}
