include ../standard-page-mixins.pug

doctype html
html
	head
		+metadata-standard
		//- This "Book" name is used for saving the file, until the user enters a title
		meta(name='defaultNameForDerivedBooks', content='Book')
		meta(name='bloomBookId', content='cb900946-584d-49e8-b5b3-a17286deb6d0')
		//- Eventually, we'll remove Bloom's need for this.
		meta(name='pageTemplateSource', content='Special')
		title 'Special'
		+stylesheets('Special.css')
		+standardStyles
	body
		+dataDiv
			+bookVariable-title('en', 'Special Pages')
			+bookVariable('styleNumberSequence', '*', '0')

		+page('Translation Instructions', 'A page of instructions to translators which appears only in the Edit tab.' )#d054bb76-dc6b-4452-a4ab-f4b83ffa10cc(data-page='extra').bloom-noreader.bloom-nonprinting.screen-only
			.split-pane-component-inner
				+field-mono-meta('*','').bloom-noAudio

