BODY
{
	font-family: "Andika Basic", "Gentium Basic", "Doulous SIL", Sans-Serif;
}
/*used with shellbooks where we want to hide all but one language*/
TEXTAREA.hideMe
{
	visibility: hidden !important;
	position: fixed !important;
}
DIV.page
{
	display: block;
	page-break-after: auto;
	background-color: #FFFFFF;
	/*[ph]0*/
}
@media screen
{
	DIV.page
	{
		/*[id]0*/border: 1px solid #000000;
	}
}

.centered
{
	text-align: center;
	margin-left: 1cm;
}
.imageOnTop P.imageHolder
{
	height: 422px;
}
.imageInMiddle .text
{
	position: relative;
}
.imageWholePage .picture
{
	position: relative;
}
.centerJustify
{
	text-align: center;
}
P
{
	margin-left: 1cm;
}
