/*@import url('SignalOverflow.css');*/


	BODY
	{
		text-align: center;
			background-color: #363333;
	}


DIV.page
{
	background-color: #F8F8F8;
	border: medium outset #000000;
}
DIV.page.coverColor
{
	background-color: #D5D5E4;
	border: medium outset #000000;
}
INPUT
{
	border: thin solid #000000;
}
TEXTAREA
{
	border: thin solid #000000;
}
TEXTAREA.en
{
background-color: #D5D5E4;

	visibility: collapse;/*this by itself just leaves a gap*/
	position: absolute; /* this removes the gap*/
	left: 0px;
	top: 0px;
}

IMG
{
}
