@media screen
{
	BODY
	{
		background-color: #363333;
	}
}
DIV.page.cover
{
	background-color: #D8ADAD;
}
TEXTAREA.coverColor
{
	background-color: #D8ADAD;
}
INPUT.coverColor
{
	background-color: #D8ADAD;
}
