@media screen
{
	BODY
	{
		background-color: #363333;
	}
	DIV.page
	{
		counter-increment: pageNumber;
		border: 1px solid #000000;
	}
}
@media print
{
	BODY
	{
		background-color: #363333;
	}
}
P.pagefooter
{
	display: block;
}
INPUT
{
	border: none;
}
TEXTAREA
{
	border: none;
}
BODY
{
	counter-reset: pageNumber;
}
DIV.page
{
	counter-increment: pageNumber;
	/* this belongs in the @media print, but I haven't been able to make wkhtmltopdf honor its --print-media-type argument.*/
	border: 1px solid #FFFFFF; /* This invisible border is needed to make wkhtml 0.10.0 lay out the pages correctly */
}
DIV.page.cover
{
	background-color: #D8ADAD;
}
TEXTAREA.coverColor
{
	background-color: #D8ADAD;
}
INPUT.coverColor
{
	background-color: #D8ADAD;
}
DIV.page:after
{
	content: counter(pageNumber);
}
DIV.page.cover:after
{
	/*+placement:shift 0px 0px;*/
	position: relative;
	left: 0px;
	top: 0px;
	visibility: hidden;
/*if only hidden (and not re-positioned), then the invisible number is out on the right, and it messes with our thumbnails!*/
}
