<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SIL.Core" publicKeyToken="cab3c8c5232dfcf2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.1.0.0" newVersion="16.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
