@import "../bloomUI.less";

html,
body {
    height: 100% !important;
    padding: 0 !important;
    #reactRoot {
        padding-bottom: 0 !important; // fix a dumb default coming from bloomUI
        overflow: hidden;
    }
}

#main-tabs {
    width: max-content;
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;
        height: 100%;

        .MuiButton-root {
            border-radius: 5px 5px 0 0;
            height: 100%;
            background-color: @bloom-panelBackground;
            color: white;
            .MuiButton-label {
                text-transform: none;
                display: flex;
                flex-direction: column;
            }
            &:hover {
                background-color: white;
                color: black;
            }
        }
    }
}
