@import "../../../bloomUI.less";

.enterprise-off .bloom-page.questions {
    .bloom-translationGroup:before {
        color: red;
        background-color: @bloom-lightgray;
        text-align: center;
        content: "This collection is not Bloom Enterprise-enabled";
    }
}

.bloom-page.questions {
    background-color: @bloom-blue;

    .quizIntructions {
        background-color: @bloom-lightgray;
        font-size: 10pt;
        font-family: Segoe UI, Open Sans, Arial, sans-serif;
        // eliminate top and bottom padding to get scrolling right
        // reduce left and right padding to give the text more room on devices
        padding: 0 4px 0 4px;
        height: 100%;
        p + h1 {
            margin-top: 1em;
        }
        .key {
            font-style: italic;
        }
        overflow-y: scroll;
    }
    .bloom-translationGroup {
        height: 100%;
        background-color: white;
    }
}
