include ../Afghanistan-XMatter-mixins.pug

- const kDariLanguageCode = 'prs';

mixin dari-outsideFrontCover
	+afg-outsideFrontCover(kDariLanguageCode)

mixin dari-titlePage
	+afg-titlePage(kDariLanguageCode)

mixin dari-credits
	+afg-credits(kDariLanguageCode)&attributes(attributes)

mixin dari-text
	//- Ideally, we would set the language code here so this text can pick up things like font settings, etc.
	//- But if we do so, the text and thus the page gets stripped out if the language settings for the book
	//- don't include language "prs". So for now, I'm taking the branding text approach and setting lang="*".
	//- .text(lang=kDariLanguageCode, dir="rtl")&attributes(attributes)
	.text(lang="*", dir="rtl")&attributes(attributes)
		block

mixin dari-messagePage
	+afg-messagePage
		+field-prototypeDeclaredExplicity("N1").message
			//-+hint-bubble(langForBubbles,'','','Message, in {lang}')
			+editable(kLanguageForPrototypeOnly).message.Message-Page-style(data-book="message")
