include Dari-XMatter-mixins.pug

doctype html
html
	head
		+metadata-standard
		title Dari Front &amp; Back Matter
		//- NB: this has no effect on books using this stylesheet; it only does anything if you're viewing the xmatter html by itself
		+stylesheets('Dari-XMatter.css')
	body
		+dari-outsideFrontCover
		+afg-nationalAnthem
		+dari-titlePage
		+dari-credits.bloom-frontMatter
		+afg-messagePage
		+factoryStandard-insideBackCover
		+factoryStandard-outsideBackCover
