@import "../branding-base.less";

.book-boost-back-cover-blurb {
    margin-bottom: 1em;
}
.only16x9Portrait {
    display: none;
}
.Device16x9Portrait .not16x9Portrait {
    display: none;
}
.Device16x9Portrait .only16x9Portrait {
    display: unset;
}
