include ../standard-page-mixins.jade

//- This is an 'override' from bloom-foundation-mixins.jade
//- that allows us to use its mixins that would otherwise
//- put in a5portrait
mixin pageWithJustPageSize
	.A4Landscape&attributes(attributes)
		block

//- items marked with 'bloom-leadingElement' will be on the left page of a side-by-side layout
mixin image-leading
	+image(class='bloom-leadingElement')&attributes(attributes)

//- items marked with 'bloom-trailingElement' will be on the right page of a side-by-side layout
mixin field-trailing
	//- REVIEW: is default-style needed? Can it be just omitted from the template?
	+field(class='bloom-trailingElement default-style')&attributes(attributes)

doctype html
html
	head
		+metadata-standard
		meta(name='defaultNameForDerivedBooks', content='My Big Book')
		//- TODO remove this when we move to json metadata
		meta(name='SuitableForMakingShells', content='yes')

		meta(name='bloomBookId', content='8B8C1838-64E3-4989-93AB-251F960907FC')
		//- Eventually, we'll remove Bloom's need for this.
		meta(name='pageTemplateSource', content='Big Book')
		title 'Big Book'
		+stylesheets('Big Book.css')
		style(type="text/css" title="userModifiedStyles")
			.normal-style { font-size: 65pt !important; }
	body
		+dataDiv
			+bookVariable-title('en', 'Big Book')
			+bookVariable-title('tpi', 'Bikpela Buk')

		+standardPage-JustPicture
		+standardPage-JustText
		+standardPage-Custom

		+page("Instructions").bigbookInstructions(data-page='singleton')#A6160261-9668-4B75-95DE-9B1993E2C607
			+editable('N1')(data-hint="Feel free to modify or delete this page.").Instructions-style
				H1 For the Teacher
				p This Big Book is designed to be used for two weeks. It promotes enjoyment of storybooks, development of vocabulary, the skills of prediction, sequencing and main idea, and the understanding that books are made up of words.
				p On <strong>Monday</strong>, the teacher
				ul
					li shows everyone the cover of the book
					li  reads the title, while moving a finger under it
					li  turns to the first page, and discusses the picture (asks the children to predict what will happen)
					li  reads the text on the first page, fluently (not slowly), and
					li  asks the children what they think they will see on each page. (The teacher is the only one “reading.”)
				p  On <strong>Tuesday</strong>, the teacher
				ul
					li shows everyone the book, and
					li reads the story again, following the words with a finger, without as much discussion of the pictures.
				p On <strong>Wednesday</strong>, the teacher
				ul
					li invites children to join in with “reading” when the story comes to parts which are familiar to them
					li shows a flashcard from the story and tells the class what the card says, and
					li invites children to find the same word in the storybook (or to match the card with the word in the book to see if it is the same)
				p On <strong>Thursday</strong>, the teacher
				ul
					li points smoothly to the words in the story and lets some volunteers “read” a page, if they can remember the story by now, and
					li lets the children match the flashcards to the words in the story.
				p On <strong>Friday</strong>, the children
				ul
					li act out (dramatize) the story as others help the teacher “read” it.