// Info document for offline Leveled Reader documentation
html
	head
		meta(charset='UTF-8')
	body(lang="es")
		h1(id='Vocabulary' i18n='leveled.reader.vocabulary') Vocabulario
		p(i18n='leveled.reader.start.simple') En los niveles iniciales, utilice palabras simples que los niños conocen. Si es posible en su idioma, utilice palabras monosilábicas. A medida que los niños avanzan a los niveles superiores, puede utilizar palabras con más sílabas. Y puede comenzar a utilizar palabras menos conocidas. Los niños deberían poder adivinar el significado de estas palabras por el contexto y las oraciones cercanas, y por las ilustraciones.
		h1(id='Formatting' i18n='leveled.reader.formatting') Formato
		p(i18n='leveled.reader.start.large') Los lectores incipientes se beneficiarán del uso de fuentes grandes y espacios más amplios entre las palabras. También se recomienda ubicar las palabras u oraciones en el mismo lugar en cada página. A medida que los lectores avanzan, las fuentes y espacios entre palabras pueden disminuir y las oraciones pueden ser ubicadas en distintos lugares.
		p(i18n='leveled.reader.increase.sizes') Para incrementar el tamaño de la fuente, el interlineado y el espacio entre palabras, haga clic en un cuadro de texto y después en el ícono del "engranaje" gris en la esquina inferior izquierda. Si después hace un libro de plantilla, los libros hechos con esa plantilla también utilizarán esas configuraciones.
		h1(id='Predictability' i18n='leveled.reader.predictability') Previsibilidad
		p(i18n='leveled.reader.repeat.patterns')
			em Previsibilidad
			|  en un texto significa que un lector puede adivinar lo que vendría después. El uso de patrones repetidos puede aumentar la previsibilidad. Aquí hay algunos patrones que usted puede utilizar:
		ul
			li(i18n='leveled.reader.repetition') Repetición - repetición de partes del texto. Por ejemplo, usar la misma oración en cada página y simplemente cambiar una palabra en la oración
			li(i18n='leveled.reader.sequencing') Secuenciación - un cuento con una secuencia conocida como los días de la semana o que utiliza números en un patrón
			li(i18n='leveled.reader.building.sequence') Secuencia Creciente - un cuento con un patrón que se repite y se añade a cada nueva página
			li(i18n='leveled.reader.rhyme') Rima - un cuento con un patrón o secuencia que también incluye rima. Por ejemplo:
				blockquote.poetry
					pre
						| El elefante lloraba
						| porque no quería dormir
						| Duerme elefantito mío
						| que la luna te va a oír
					.author - Adriano del Valle
		h1(id='IllustrationSupport' i18n='leveled.reader.illustrations') Apoyo para las ilustraciones
		p(i18n='leveled.reader.illustrations.help') Las ilustraciones pueden ser material de apoyo para un cuento. Las ilustraciones se relacionan con el cuento en distintos modos en distintos
			= ' '
			em niveles
			|  y para diferentes tipos de lectores (ver abajo). Recuerde que en muchas culturas que no tienen mucho material impreso, puede ser difícil entender las ilustraciones complejas.
		ul
			li(i18n='leveled.reader.illustrations.emergent.reader') Para los
				= ' '
				strong Lectores incipientes
				|  las imágenes deben coincidir precisamente con la trama del cuento o historia. Al ver las imágenes, un lector debe ser capaz de predecir la trama. Las ilustraciones en este nivel deben ser simples.
			li(i18n='leveled.reader.illustrations.early.reader') Para los
				= ' '
				strong Lectores principiantes
				|  las imágenes deben ofrecer apoyo a la trama. A medida que aumenta la cantidad de texto, el lector depende menos de las imágenes y comprende más del texto. Las ilustraciones pueden ser más complejas.
			li(i18n='leveled.reader.fluent.reader') Para los
				= ' '
				strong Lectores fluidos
				|  las imágenes deben ofrecer poco o ningún apoyo a la trama. La comprensión del lector depende más del texto que las imágenes. Estas pueden ser todavía más complejas.
		h1(id='ChoiceOfTopic' i18n='leveled.reader.topic.choice') Elección del tema
		p(i18n='leveled.reader.topic.choice.discussion') Los libros pueden tratar de muchos temas. En el desarrollo de libros para los lectores incipientes, elija temas que les son familiares. Los lectores desearán leer y leerán más si leen algo que les parece interesante y familiar. Para los lectores más avanzados, se puede incluir información no conocida por el lector.
		ul
			li(i18n='leveled.reader.topic.choice.emergent.reader') Para los
				= ' '
				strong Lectores incipientes
				|  el libro debe ser concreto, debe centrarse en una idea o tema, y debe ser familiar y fácil de entender.
			li(i18n='leveled.reader.topic.choice.early.reader') Para los
				= ' '
				strong Lectores principiantes
				| , se debe desarrollar un cuento alrededor de un concepto familiar pero con mayor profundidad.
			li(i18n='leveled.reader.topic.choice.fluent.reader') Para los
				= ' '
				strong Lectores fluidos
				|  los conceptos no tienen que ser familiares, pueden ser más variados y pueden ser abstractos.
