html
	head
		//link(rel="stylesheet" type="text/css" href="leveledReaderInfo.css")

	body
		// Info document for offline Leveled Reader documentation
		h1(id='Predictability') Predictability
		p Predictability in a text means that a text has repetition of specific language, the context is familiar to the reader, pictures are supportive to the text, language patterns are common to readers, often there is rhyme, and the reader can guess/predict what would come next in the storyline.
		p
			a(href='http://onlinelibrary.wiley.com/doi/10.1002/j.1949-3533.2003.tb00139.x/abstract') Read more about predictability online
		p Some criteria for predictable books are:

		ul
			li
				h3(id='PatternAndRecognition') Pattern and recognition (Predictable text)
				ul
					li Repetition - a story with one sentence or refrain that is repeated
					li Sequencing - a story with a known sequence such as the days of the week or the use of numbers in a pattern
					li Building Sequence - a story with a pattern that is repeated and added to with each new page
					li Rhyme - a story with a pattern or sequence that also includes rhyme
						blockquote.poetry
							pre
								| Brown Bear, Brown Bear, What do you see?
								| I see a red bird looking at me.
								| Red Bird, Red Bird, What do you see?
								| I see a yellow duck looking at me.
								| Yellow Duck, Yellow Duck, What do you see?
							.author - Bill Martin, Jr. and Eric Carle
					p
						a(href='https://www.libraries.psu.edu/psul/researchguides/predicatable_books.html') Predictable Books
				p
					a(href='http://pracresources.pbworks.com/f/PatternAndSequence.pdf') Read more about pattern and recognition online
			li
				h3(id='IllustrationSupport') Illustration support
				ul
					li When choosing illustrations to go with your story, choose pictures that closely match your story line. The reader should be able to predict the story line just by looking at the picture.
				p
					a(href='http://www.rif.org/us/literacy-resources/articles/getting-the-most-out-of-picture-books.htm') Read more about illustration support online
			li
				h3(id='ConceptLoad') Concept load (Topic familiarity)
				ul
					li When developing a book choose topics that are familiar to the readers. Readers will be eager to read and will read more if they are reading about things they are interested in and familiar with.
					li For
						= ' '
						strong Emergent Readers
						= ' '
						| the text and concepts should be highly supported by pictures. Concepts should be concrete, should focus on one idea/theme and should be easy to understand.
					li For
						= ' '
						strong Early Readers
						= ' '
						| develop a story around one familiar concept with less support by pictures. As readers become more fluent, develop a story around a familiar concept but in greater depth.
					li For
						= ' '
						strong Fluent Readers
						= ' '
						| the concepts are expand beyond what is familiar, are more varied and abstract.
				p
					a(href='http://books.google.com/books?id=ugWzGuZSd60C&pg=PA40&lpg=PA40&dq=literacy+concept+load&source=bl&ots=yRKQYrx2PW&sig=hdP5gw6s1a8reC6pa70eb6OEuSM&hl=en&sa=X&ei=J0RVU8mvE8Kz2gXU_YFw&ved=0CC0Q6AEwAA#v=onepage&q=literacy%20concept%20load&f=false') Read more about concept load online
				p
					a(href='http://books.google.com/books?id=BBTwHStpbigC&pg=PA58&dq=literacy+topic+familiarity&hl=en&sa=X&ei=X0RVU6vsKOLS2AW69YGIBw&ved=0CEIQ6AEwAg#v=onepage&q=literacy%20topic%20familiarity&f=false') Read more about topic familiarity online
		p
			a(href='http://www.brighthubeducation.com/teaching-methods-tips/71264-using-leveled-readers-in-the-classroom/') Read more about how to make a great leveled reader online
