// ملف معلوماتي خاص بإعداد قارئ مستوى محدد بدون اتصال
html(dir='rtl')
	head
		meta(charset='UTF-8')
	body
		h1(id='Vocabulary') المفردات
		p في المستويات الأولى، احرص على استخدام كلمات بسيطة وشائعة لدى الأطفال. واحرص أيضاً على استخدام كلمات ذات مقطع واحد، إذا كانت لغتك تسمح بذلك. ومع تقدم مستويات الأطفال، سيكون بإمكانك بدء استخدام كلمات تحتوي على عدد مقاطع أكبر. ويمكنك بدء استخدام كلمات أقل شيوعاً. من المفترض أن يتمكن الأطفال من تخمين معاني هذه الكلمات الأقل شيوعاً من سياق الكلمات والجمل المحيطة، ومن الرسوم التوضيحية أيضاً. 
		h1(id='Formatting') التنسيق
		p يستفيد القُرّاء المبتدئون من حجم الخط الكبير الذي يتميز بمسافات واضحة بين الكلمات. ومن المفيد لهم أيضاً وضع الكلمات أو الجمل في المكان نفسه على كل صفحة. ومع تقدم القراء و ارتقائهم إلى مستويات أعلى، يمكن تصغير حجم الخط والمسافات ويمكن أن تظهر الجمل في أماكن مختلفة على الصفحة.
		p لزيادة حجم الخط والمسافات بين الأسطر والمسافات بين الكلمات في Bloom، انقر داخل مربع النص وعلى الرمز الرمادي "cog" أسفل الجانب الأيسر. وإذا قمت بذلك ثم أنشأت نموذج لكتاب، ستتبع الكتب التي تُنشأ باستخدام هذا النموذج إعدادات الخط نفسها. 
		h1(id='Predictability') إمكانية التنبؤ
		p 
			em إمكانية التنبؤ
			|  في النص تعني أنه يمكن للقارئ تخمين ما سيظهر بعد ذلك. ويمكنك زيادة مستوى إمكانية التنبؤ باستخدام أنماط متكررة. وفيما يلي بعض الأنماط التي يمكنك استخدامها:
		ul 
			li التكرار - تكرار أجزاء من النص، مثل استخدام الجملة ذاتها في عدة صفحات والاكتفاء بتغيير كلمة واحدة من الجملة فقط.
			li التسلسل - خلق قصة تحتوي على تسلسل معروف مثل أيام الأسبوع أو تحتوي على أرقام تأخذ نمطًا معيَّنًا.
			li بناء تسلسل - خلق قصة تحتوي على نمط يتكرر وتتم الإضافة إليه في كل صفحة جديدة
			li السجع - خلق قصة ذات نمط أو تسلسل يتضمن سجعًا. مثل:
				blockquote.poetry
					pre 
						| ألف: أرنب يجري يلعب، يأكل جزراً كي لا يتعب
						| باء: بطة نطت نطة، وقعت ضحكت منها القطة
						| تاء: تاج فوق الراس، فيه الذهب وفيه الماس
						| ثاء: ثعلب صاد دجاجة، وهو ماكر وقت الحاجة
						| جيم: جمل في الصحراء، مثل سفينة فوق الماء
					.author - من أغاني الأطفال الشائعة بهذا النمط
		h1(id='IllustrationSupport') استخدام الرسوم
		p تشكل الرسوم أهمية كبيرة في دعم القصة. ويجب أن تكون الرسوم ذات صلة بالقصة بطرق مختلفة
			= ' '
			em ومستويات مختلفة
			|  وأنواع مختلفة من القراء (راجع أدناه). لا تنس أنه في الكثير من الثقافات التي لم تعتاد على توافر مواد مطبوعة، قد يصعب استيعاب الصور المعقَّدة.
		ul 
			li بالنسبة إلى
				= ' '
				strong القارئ الناشئ
				|  يجب أن تتطابق الصور تماماً مع حبكة القصة. يجب أن يتمكن القارئ من التنبؤ بمسار القصة من خلال النظر إلى الصور فقط. ولذلك يجب أن تكون الرسوم في هذا المستوى بسيطة.
			li بالنسبة إلى
				= ' '
				strong القارئ المبتدئ
				|  يجب أن تكون الصور مفيدة لدعم واستيعاب حبكة القصة. عندما يزيد حجم النص، يقل اعتماد القارئ على الصور ويزيد اعتماده على النص لاستيعاب المعنى. يمكن أن تكون الرسوم أكثر تعقيداً.
			li بالنسبة إلى
				= ' '
				strong القارئ الفصيح
				|  يجب ألا تدعم الصور حبكة القصة كثيرا أو حتى تنعدم إضافتها. يعتمد القارئ في الاستيعاب على النص بشكل أكبر من اعتماده على الصور. يمكن أن تكون الرسوم أكثر تعقيدًا من نمط القارئ المبتدئ.
		h1(id='ChoiceOfTopic') اختيار الموضوع
		p يمكن أن تتناول الكتب عدة موضوعات. عند إعداد كتب للقراء المبتدئين، اختر موضوعات مألوفة إليهم. ذلك لأنه عندما يكون لدى القراء فكرة عن محتوى الموضوع و يشعرون أنه يثير اهتمامهم سيزيد شغفهم للقراءة. بالنسبة إلى القراء المتمرسين، يمكن أن تتضمن الموضوعات معلومات ليس لدى القارئ خلفية عنها.
		ul 
			li بالنسبة إلى
				= ' '
				strong القارئ الناشئ
				|  يجب أن يكون المحتوى ملموساً في الواقع، وأن يركز على فكرة واحدة أو موضوع واحد، وأن تكون لدى القارئ خلفية عن هذه الفكرة لبسهل عليهم استيعابها.
			li بالنسبة إلى
				= ' '
				strong القارئ المبتدئ
				| ، ابتكر قصة تتمحور حول موضوع شائع، ولكن مع تناول تفاصيل بعمق أكبر.
			li بالنسبة إلى
				= ' '
				strong القارئ الفصيح
				|  يمكن أن تمتد المفاهيم إلى ما دون الشائع، حاول أن تتسم هذه المفاهيم بالتنوع ، وأن تكون مجرَّدة.
