// Information hors ligne sur les livres gradués
html
	head
		//link(rel="stylesheet" type="text/css" href="leveledReaderInfo.css")
	body
		h1(id='Vocabulary') Vocabulaire
		p Pour les niveaux débutants, employez des mots simples, utilisables par des enfants. Dans la mesure du possible, employez des mots monosyllabiques. Au fur et à mesure que les enfants progressent, utilisez des mots de plus d'une syllabe. Vous pouvez commencer à employer des termes d'un registre plus sophistiqué. Les enfants doivent pouvoir comprendre le sens de ces termes d'un registre plus sophistiqué d'après les illustrations et le contexte global du texte.
		h1(id='Formatting') Formatage
		p Une police et un espacement entre les mots relativement importants sont préférables pour des lecteurs débutants. Il est également préférable de disposer les mots ou les phrases au même emplacement sur chaque page. Au fur et à mesure que les lecteurs progressent et montent en niveau, la taille de la police et l'espacement peuvent être réduits, et les phrases peuvent être disposées à différents emplacements des pages.
		p Pour augmenter la taille de la police et l'espacement entre les lignes et entre les mots dans Bloom, cliquez sur une zone de texte, puis sur l'icône représentant une roue dentée dans le coin inférieur gauche de la page. Si, après avoir procédé ainsi, vous créez un modèle de livre, tous les livres créés à partir de ce modèle utiliseront les mêmes paramètres de police.
		h1(id='Predictability') Prévisibilité
		p
			em Prévisibilité
			| d'un texte signifie que le lecteur peut présumer la suite de l'histoire. Il est possible de rendre un texte plus prévisible par le biais de certaines techniques. Parmi ces techniques :
		ul
			li La répétition - c'est-à-dire, répéter des parties du texte, par exemple, utiliser une même phrase dans chaque page en en changeant juste un mot
			li Le séquençage - cette technique s'applique à une histoire découpée, ou séquencée, en vertu d'éléments bien définis, calendaires ou numériques, par exemple
			li La séquence structurelle - cette technique désigne la répétition à chaque page d'un élément structurel
			li Les rimes - il s'agit de créer une histoire comportant des rimes, comme par exemple :
				blockquote.poetry
					pre
						| A la claire fontaine,
						| M'en allant promener,
						| J'ai trouvé l'eau si belle,
						| Que je m'y suis baignée.
						| Il y longtemps que je t'aime
					.author - Jamais je ne t'oublierais.
		h1(id='IllustrationSupport') Soutien à l'illustration
		p Les illustrations permettent de mieux comprendre l'histoire. Les illustrations sont en lien direct avec l'histoire, à différents
			= ' '
			em niveaux
			| et pour différents types de lecteurs (cf. ci-dessous). Il est important de garder à l'esprit que des illustrations complexes peuvent se révéler difficiles à comprendre pour certaines cultures peu habituées à ce type de support.
		ul
			li Pour
				= ' '
				strong les lecteurs débutants
				| les illustrations doivent correspondre à l'histoire. Il faut que le lecteur soit capable de comprendre l'histoire en regardant les illustrations. A ce niveau, les illustrations doivent être simples.
			li Pour
				= ' '
				strong les nouveaux lecteurs
				| les illustrations doivent permettre de comprendre l'histoire. Lorsque les textes sont plus longs, les lecteurs s'appuient moins sur les illustrations et comprennent de plus en plus l'histoire grâce au texte écrit. Les illustrations peuvent être plus complexes.
			li Pour
				= ' '
				strong les lecteurs avancés
				| les illustrations ne doivent pas, à elles seules, permettre de comprendre l'histoire. Le lecteur s'appuie davantage sur le texte que sur les illustrations pour comprendre l'histoire. Les illustrations peuvent d'ailleurs gagner en complexité.
		h1(id='ChoiceOfTopic') Choix du thème
		p Les livres peuvent porter sur un large éventail de thèmes. En ce qui concerne les livres pour lecteurs débutants, il conviendra de choisir des thèmes leur étant familiers. Les lecteurs liront plus volontiers des textes portant sur des thèmes qui les intéressent et leur sont familiers. Les lecteurs plus expérimentés sont susceptibles de lire des textes portant sur des thèmes qui ne leur sont pas forcément familiers.
		ul
			li Pour
				= ' '
				strong les lecteurs débutants
				| le livre doit porter sur un sujet concret, ne traiter qu'une seule idée ou qu'un seul thème connu par le lecteur, et être facile à comprendre.
			li Pour
				= ' '
				strong les nouveaux lecteurs
				| , il convient également de choisir une histoire portant sur un concept familier, mais de la développer davantage.
			li Pour
				= ' '
				strong les lecteurs avancés
				| les concepts abordés ne seront pas forcément familiers ; ils peuvent être plus variés et abstraits.
