// Takardar bayani don amfani ba a kan yanar gizo ba
html
	head
		//link(rel="stylesheet" type="text/css" href="leveledReaderInfo.css")
	body
		h1(id='Vocabulary') Kalmomi
		p A matakan farko, yi amfani da kalmomi masu sauƙi da yara za su gane. Idan zai yiwu a cikin harshenka, yi amfani da kalmomi masu gaɓa ɗaya. A lokacin da yara ke ƙarawa gaba, kana iya fara amfani da kalmomi masu gaɓa fiye da ɗaya. Kana iya fara amfani da wasu baƙin kalmomi. Kamata ya yi yara su fara da neman ma'anar waɗannan baƙin kalmomin daga matanin da ke ƙunshe da kalmomin ko jimloli da kuma misalai.
		h1(id='Formatting') Tsara bayani
		p Masu karatu a mataki na farko zasu amfana da rubutun da aka yi da girma tare da sakin fili a tsakanin kalmomi. Samun kalmomi ko jimloli a wuri ɗaya akan kowane shafi shima zai taimaka. A lokacin da fahimtar masu karatu ta ƙaru, girman rubutu da barin 'yar tazara tsakanin kalmomi zai ragu sannan jimloli na iya kasancewa wurare daban-daban a shafi.
		p Don kara girman rubutu, sakin layi, da layi tsakanin a kan Bloom, ka dangwala rubutun da aka yi a cikin akwati, sannan ka dangwala alamar da aka yi mai kalar ruwan toka a kwanar da ke ƙasan hannunka na hagu. Idan ka yi haka sai ka yi littafi akan filin da ke bambantawa, litattafan da aka yi a cikin irin waɗannan alamu suma za su iya amfani da waɗancan tsarin yanayin girman rubutu.
		h1(id='Predictability') Hasashe
		p
			em Hasashe
			| A cikin matani wannan na nufin mai karatu na iya hasashen abin da zai biyo baya. Za ka iya ƙara taimakawa wajen sanin mai zai faru ta hanyar maimata abubuwa. Ga wasu abubuwan da za ka iya amfani da su:
		ul
			li Maimatawa - maimata wani ɓangaren matani, misali, yin amfani da jimla iri ɗaya a shafi ɗaya ta hanyar canja kalma ɗaya kawai a cikin jimlar
			li Tsari - Labarin da aka yi da sanannen tsari kamar ranakun mako ko waɗanda ke amfani da tsarin lambobi
			li Gina Tsari - Labarin da ke da tsarin da aka maimata kuma aka sa a kowane sabon shafi
			li Bin Tsarin - Labarin da aka tsara wanda kuma ya ƙunshi 'yar waƙa a tsare. Misali:
				blockquote.poetry
					pre
						| Babbar dabba mai ruwan ƙasa, Me ka gani?
						| Na ga wani jan tsuntsu yana kallo na
						| Jan Tsuntsu ne, Jan Tsuntsu ne, Me ka gani?
						| Naga rawayar agwagwa na kallo na.
						| Rawayar Agwagwa, Rawayar Agwagwa, Me Kike gani?
					.author - Bill Martin, Jr. da Eric Carle
		h1(id='IllustrationSupport') Tallafin Zayyana
		p Zayyana na taimakawa don gane labari. Bayani da kwatanci na da alaƙa da labari ta hanyoyi daban-daban a kowane
			= ' '
			em mataki
			| kuma don amfanin masu karatu ir-daban (duba ƙasa). Ka tuna akwai al'adu da yawa da ba su da rubutatttun abubuwa, hotuna masu sarƙaƙiya na iya zama da wuyar fahimta.
		ul
			li Domin
				= ' '
				strong Masu karatu da ke tasowa
				| Ya kasance hotunan sun yi daidai da labarin. Ya zamanto cewa mai karatun zai sanin inda labarin ya nufa daga hotunan. Zayyanannun misalai a wannan matakin su kasance masu sauƙi.
			li Domin
				= ' '
				strong Masu karatu a mataki na fari
				| hotunan su kasance masu goyon bayan labarin. A lokacin da yawan matani ke ƙaruwa, mai karatu zai rage dogaro ga hotuna kuma ya samu ma'ana da dama daga matanin. Zayyanannun misalai na iya zama sun sarƙaƙe
			li Domin
				= ' '
				strong Ƙwararrun masu karatu
				| a nan hotunan na iya kasancewa suna taimakawa kaɗan yadda ko basu za'a iya gane inda labarin ya nufa. Ya kasance maikaratu ya dogara ga matani fiye da hotuna a wurin samun ma'ana. Zayyanannun misalai na iya zama sarƙaƙƙu.
		h1(id='ChoiceOfTopic') Zaɓen Kan Magana
		p Litattafai na iya zama akan kawunan magana da yawa. Lokacin shirya littafi domin masu koyon karatu, a zaɓi kan magana da suka saba da ita. Masu karautu za su samu sauƙin karatu kuma su yi karatu da yawa idan suna karanta abinda suke sha'awa kuma wanda suka sani. Ga masu karatu da suka saba, kawunan magana na iya haɗawa da labarin da mai karatu bai saba da shi ba.
		ul
			li Domin
				= ' '
				strong Masu Karatu da ke ɓullowa
				| litattafan su kasance masu inganci, su kasance suna cikin manufa/take ɗaya, kuma su kasance sanannu masu sauƙin fahimta.
			li Domin
				= ' '
				strong Masu Karatu da fari-fari
				| a haɗa labari akan sanannen abu amma mai zurfi.
			li Domin
				= ' '
				strong Waɗanda suka karatu sosai
				| abubuwan da aka gina littafi da su na iya zurfafawa fiye da yadda aka sansu, su bambanta kuma su kasance game gari.
