// Dokumen informasi untuk dokumentasi Pembaca Bertingkat ketika offline
html
	head
		//link(rel="stylesheet" type="text/css" href="leveledReaderInfo.css")
	body
		h1(id='Vocabulary') Kosa Kata
		p Di tingkat pemula, gunakanlah kata-kata sederhana yang tidak asing bagi anak-anak. Jika memungkinkan dalam bahasa Indonesia, gunakan kata-kata dengan satu suku kata. Seiring dengan meningkatnya kemampuan anak-anak, Anda bisa mulai menggunakan kata-kata yang memiliki lebih banyak suku kata. Anda dapat mulai menggunakan kata-kata yang tidak umum. Anak-anak harus dapat menebak arti kata-kata yang tidak umum ini dari konteks kata dan kalimat di sekelilingnya, serta dari ilustrasi.
		h1(id='Formatting') Pemformatan
		p Pembaca pemula akan memperoleh manfaat dari bentuk huruf yang lebih besar dengan jarak yang jelas di antara kata-katanya. Memiliki kata-kata atau kalimat di lokasi yang sama pada setiap halaman juga akan membantu. Seiring kenaikan tingkat pembaca, ukuran bentuk huruf dan jarak akan berkurang dan kalimat dapat muncul di lokasi yang berbeda di halaman.
		p Untuk meningkatkan ukuran fon, jarak baris, dan jarak kata dalam Bloom, klik dalam kotak teks, lalu pada ikon "roda gigi" abu-abu di sudut kiri bawah. Jika Anda melakukan ini lalu membuat buku templat, buku yang dibuat dengan templat itu juga menggunakan pengaturan fon tersebut.
		h1(id='Predictability') Keterprediksian
		p
			em Keterprediksian
			| dalam teks berarti pembaca dapat menebak apa yang akan datang sesudahnya. Anda dapat meningkatkan keterprediksian dengan menggunakan pola-pola berulang. Berikut sebagian pola yang bisa Anda gunakan:
		ul
			li Perulangan - mengulangi bagian dari teks, misalnya, memakai kalimat yang sama di setiap halaman dan hanya mengganti satu kata dalam kalimat.
			li Pengurutan - sebuah kisah dengan urutan yang diketahui seperti hari dalam minggu atau yang menggunakan angka dalam sebuah pola
			li Membangun Urutan - sebuah kisah dengan pola yang berulang dan ditambahkan pada setiap halaman
			li Rima - sebuah kisah dengan pola atau urutan yang juga mengandung rima atau pengulangan bunyi. Misalnya:
				blockquote.poetry
					pre
						| Sedang apa, sedang apa, sedang apa sekarang?
						| Sedang baca, sedang baca, sedang baca sekarang.
						| Sekarang baca apa, baca apa sekarang?
						| Baca komik, baca komik, baca komik sekarang.
						| Komik apa, komik apa, komik apa sekarang?
					.author - Bill Martin, Jr. dan Eric Carle
		h1(id='IllustrationSupport') Dukungan Ilustrasi
		p Ilustrasi memberikan dukungan pada sebuah kisah. Ilustrasi terkait dengan kisah dengan cara berbeda pada berbagai macam
			= ' '
			em tingkat
			| dan untuk berbagai jenis pembaca (lihat di bawah). Ingatlah bahwa pada banyak kebudayaan yang tidak memiliki banyak materi cetak, gambar yang kompleks mungkin sulit dipahami.
		ul
			li Bagi
				= ' '
				strong Pembaca Berkembang
				| gambar harus sesuai benar dengan alur cerita. Pembaca harus dapat menebak alur cerita hanya dengan melihat gambarnya. Ilustrasi pada tingkat ini harus sederhana.
			li Bagi
				= ' '
				strong Pembaca Pemula
				| gambar sebaiknya membantu untuk memahami alur cerita. Seiring bertambahnya jumlah teks, pembaca tidak begitu mengandalkan pada gambar dan memperoleh lebih banyak arti/pengertian/pemahaman dari teks. Ilustrasinya bisa lebih kompleks lagi.
			li Bagi
				= ' '
				strong Pembaca Mahir
				| gambar sebaiknya memberikan sedikit atau tidak bantuan untuk memahami alur cerita. Pembaca lebih mengandalkan teks daripada gambar untuk memahami arti. Ilustrasinya bahkan bisa lebih kompleks lagi.
		h1(id='ChoiceOfTopic') Pilihan Topik
		p Buku dapat mengenai berbagai topik. Ketika mengembangkan buku untuk pembaca pemula, pilihlah topik yang tidak asing bagi mereka. Pembaca akan terdorong untuk membaca dan akan lebih banyak membaca jika mereka membaca tentang hal-hal yang dirasa menarik dan tidak asing bagi mereka. Untuk pembaca yang lebih berpengalaman, topik bisa meliputi informasi yang benar-benar baru bagi mereka.
		ul
			li Bagi
				= ' '
				strong Pembaca Berkembang
				| buku haruslah konkret, harus memfokuskan pada satu ide/tema, dan harus sudah tidak asing lagi serta mudah dipahami
			li Bagi
				= ' '
				strong Pembaca Pemula
				| , kembangkan kisah seputar konsep yang tidak asing lagi namun lebih mendalam.
			li Bagi
				= ' '
				strong Pembaca Mahir
				| konsepnya bisa diperluas melampaui apa yang sudah tidak asing lagi, lebih bervariasi, dan abstrak
