// Takardar bayani don amfani ba a kan yanar gizo ba
html
	head
		//link(rel="stylesheet" type="text/css" href="leveledReaderInfo.css")
	body
		h1(id='Vocabulary') Kalmomi
		p A matakan farko, yi amfani da kalmomi masu sauƙi da yara za su gane. Idan zai yiwu a cikin harshenka, yi amfani da kalmomi masu gaɓa ɗaya. A lokacin da yara ke ƙarawa gaba, kana iya fara amfani da kalmomi masu gaɓa fiye da ɗaya. Kana iya fara amfani da wasu baƙin kalmomi. Kamata ya yi yara su fara hasashen ma'anar waɗannan baƙin kalmomin daga matanin da ke ƙunshe da kalmomin ko jimloli da kuma misalai.
		h1(id='Formatting') Tsara bayani
		p Masu karatu mataki na farko zasu amfana da rubutun da aka yi da girma tare da sakin fili a tsakanin kalmomi. Samun kalmomi ko jimloli a wuri ɗaya akan shafi ɗaya shima zai taimaka. A lokacin da fahimtar masu karatu ta ƙaru, girman rubutu da sakin filin tsakanin kalmomi zai ragu sannan jimloli na iya kasancewa wurare daban-daban a shafi.
		p Don kara girman rubutu, sakin layi, da layi tsakanin a kan Bloom, ka dangwala rubutun da aka yi a cikin akwati, sannan ka dangwala alamar da aka yi mai kalar ruwan toka a kwanar da ke ƙasan hannunka na hagu. Idan ka yi haka sai ka yi littafi akan filin da ke bambantawa, littafan da aka yi a cikin irin waɗannan alamu suma za su iya amfani da waɗancan tsarukan yanayin girman rubutu.
		h1(id='Predictability') Hasashe
		p
			em Hasashe
			| A cikin matani wannan na nufin mai karatu na iya hasashen abin da zai biyo baya. Za ka iya ƙara taimakawa hasashe ta hanyar maimata abubuwa. Ga abubuwan da za ka iya amfani da su:
		ul
			li Maimatawa- maimata wani ɓangaren matani, misali, yin amfani da jimla iri ɗaya a shafi ɗaya ta hanyar canja kalma ɗaya kawai a cikin jimlar
			li Tsari - Labarin da aka yi da sanannen tsari kamar ranakun mako ko waɗanda ke amfani da tsarin lambobi
			li Ginin Tsari - Labarin da ke da tsarin da aka maimata kuma aka sa a kowane sabon shafi
			li Tsarin Sauti - Labarin da aka tsara wanda kuma ya ƙunshi tsarin sauti. Misali:
				blockquote.poetry
					pre
						| Jan San Jatau, Jan San Jatau Me ka gani?
						| Na ga jan tsuntsu na kallo na
						| Jan Tsuntsu, Jan Tsuntsu, Me ka gani?
						| Naga rawayar agwagwa na kallo na.
						| Rawayar Agwagwa, Rawayar Agwagwa, Me Kike gani?
					.author - Bill Martin, Jr. da Eric Carle
		h1(id='IllustrationSupport') Tallafin Zayyana
		p Zayyana na taimakawa labari Zayyana na da alaƙa da labari ta hanyoyi daban-daban a mabambantan
			= ' '
			em matakai
			| kuma don amfanin masu karatu daban-daban (duba ƙasa). Ka tuna a al'adu masu yawa da ba su da rubutatttun abubuwa, hotuna masu sarƙaƙiya na iya wuyar fahimta.
		ul
			li Don
				= ' '
				strong Masu karatun gaggawa
				| Ya kasance hotunan sun yi daidaita da labari. Mai karatu ya kasance yana iya hasashen labari ta hanyar kallon hotunan. Zayyanannun misalai a wannan matakin su kasance masu sauki
			li Don
				= ' '
				strong Masu karatun farko
				| ya kasance hotunan na samar da taimako ga labarin. A lokacin da yawan matani ke ƙaruwa, mai karatu zai rage dogaro ga hotuna kuma ya samu ma'ana da dama daga matanin. Zayyanannun misalai na iya zama sun sarƙaƙe
			li Don
				= ' '
				strong Ƙwararrun masu karatu
				| Hotunan su kasance suna samar da taƙaitaccen taimako ga fahimtar labarin. Ya kasance maikaratu ya dogara ga matani fiye da hotuna a wurin ma'ana. Zayyanannun misalai na iya zama sarƙaƙƙu.
		h1(id='ChoiceOfTopic') Zaɓen Darasi
		p Littafai na iya kasancewa kan darussa da dama. A wurin rubuta litattafai don amfanin masu koyon karatu matakin farko, ka zaɓi darussan da suke da masaniya akai. Masu karautu za su samu sauƙin karatu kuma su yi karatu da yawa idan suna karanta abinda suke sha'awa kuma wanda suka sani. Don ƙwararrun masu karatu, darussa na iya ƙunsar bayanan da mai karatu bai taɓa sani ba.
		ul
			li Don
				= ' '
				strong Masu Karatun Gaggawa
				| litattafan su kasance masu inganci, su kasance suna cikin manufa/take ɗaya, kuma su kasance sanannu masu sauƙin fahimta.
			li Don
				= ' '
				strong Masu Karatun Farko
				| a gina labari akan sanannen abu amma a zurfafa shi.
			li Don
				= ' '
				strong Ƙwararrun Masu Karatu
				| abubuwan da aka gina littafi da su na iya zurfafawa fiye da yadda aka sansu, su bambanta kuma su kasance game gari.
