// অফলাইন লেভলড রিডার ডকুমেন্টেশনের জন্য তথ্যদি
html
	head
		//link(rel="stylesheet" type="text/css" href="leveledReaderInfo.css")
	body
		h1(id='Vocabulary') শব্দকোষ
		p প্রারম্ভিক পর্যায়ে, খুব সাধারণ শব্দ ব্যবহার করুন যা শিশুদের পরিচিত। যদি সম্ভব হয়, আপনার ভাষার এক অক্ষর বিশিষ্ট শব্দ ব্যবহার করুন। শিশুরা উচ্চতর পর্যায়ে গেলে, আপনি একাধিক অক্ষর বিশিষ্ট শব্দ ব্যবহার করা শুরু করতে পারেন। তখন আপনি কম পরিচিত শব্দও ব্যবহার করা শুরু করতে পারেন। শিশুরা গল্পের বিষয়বস্তু, পারিপার্শ্বিক শব্দ ও বাক্যসমূহ, সেই সাথে ছবি থেকে এইসব কম পরিচিত শব্দসমূহের অর্থ অনুমান করতে পারবে।
		h1(id='Formatting') বিন্যাস
		p যারা প্রথমবার পড়তে শিখছে তাদের জন্য বড় ফন্ট ও শব্দের সাথে বেশ ফাঁকা স্থান রাখলে ভাল হয়। প্রতি পৃষ্ঠায় শব্দসমূহ ও বাক্যসমূহ একই স্থানে থাকলে ভাল হয়। পাঠকদের অগ্রগতি উচ্চ লেভেলে, ফন্ট সাইজ এবং ফাঁকাকরণ কমানো হবে এবং বাক্যসমূহ পৃষ্ঠার বিভিন্ন স্থানে দেখা যাবে।
		p ব্লুমে ফন্টের আকার, সারি-ফাঁকাকরণ এবং শব্দ-ফাঁকাকরণ বৃদ্ধি করতে, লেখার বাক্সে ক্লিক করুন এবং তারপর নীচের বাম দিকের কোণায় ধূসর "কগ" আইকনে। আপনি যদি এটি করেন এবং তারপর একটি টেমপ্লেট বই তৈরি করেন, ঐ টেমপ্লেট দিয়ে তৈরিকৃত বইটি ফন্টের ঐ সেটিংস ব্যবহার করবে।
		h1(id='Predictability') অনুমেয়/ অনুমানযোগ্য
		p
			em অনুমেয়/ অনুমানযোগ্য
			| লেখার বেলায় এর অর্থ হল পাঠক অনুমান করতে পারে পরবর্তীতে কি হতে যাচ্ছে। অনুমান দক্ষতা বৃদ্ধির জন্য আপনি একই ধরন পুনরাবৃত্তি করতে পারেন। এখানে কয়েকটি ধরন দেওয়া হল যা আপনি ব্যবহার করতে পারেন:
		ul
			li পুনরাবৃত্তি - লেখার অাংশিক পুনরাবৃত্তি, উদারণস্বরূপ, প্রতি পৃষ্ঠায় একই বাক্যের ব্যবহার এবং শুধুমাত্র বাক্যটিতে একটি শব্দ পরিবর্তন করা
			li পর্যায়ক্রম - একটি পরিচিত পর্যায়ক্রমের গল্প যেমন সপ্তাহের দিনসমূহ অথবা এমন ধরনের গল্প যেখোনে সংখ্যার ব্যবহার আছে
			li পর্যায়ক্রম তৈরি - একটি ধরনের সাথে একটি গল্প যা পুনরাবৃত্তি ঘটেছে এবং প্রতি পৃষ্ঠার সাথে এর মিল রয়েছে
			li ছড়া - এক ধরনের গল্প অথবা ক্রম যাতে যা ছড়ার মত করেও পড়া যয়ি। উদাহরণস্বরূপ:
				blockquote.poetry
					pre
						| ভালুক ছানা, ভালুক ছানা দেথছ তুমি কি?
						| লাল পাখিটি আমার দিকে তাকিয়ে আছে কি.
						| লাল পাখি, লাল পাখি দেখছ তুমি কি?
						| দেখছি আমি হলুদ হাঁসটি তাকিয়ে আছে কি.
						| হলুদ হাঁস, হলুদ হাঁস দেখছ তুমি কি?
					.author - বিল মার্টিন, জুনিয়ার. এবং এরিক কার্ল
		h1(id='IllustrationSupport') চিত্রণ/ ছবি সহায়তা
		p ছবি গল্পকে সহায়তা প্রদান করে। ছবি বিভিন্নভাবে বিভিন্ন উপায়ে গল্পকে বর্ণনা করে
			= ' '
			em পর্যায়সমূহ
			| এবং বিভিন্ন ধরনের পাঠকদের জন্য (নীচে দেখুন) মনে রাখতে হবে যে অনেক সংস্কৃতিতে পর্যাপ্ত পরিমাণ ছাপানো উপকরণ নেই, জটিল ছবিগুলো বোঝা কঠিন হতে পারে।
		ul
			li অত্যাবশ্যক
				= ' '
				strong পাঠকের জন্য
				| ছবিগুলো কাহিনী সূত্রের সাথে মিল থাকা উচিত। যেন পাঠক শুধুমাত্র ছবিগুলো দেখেই গল্পের মূলভাব অনুমান করতে পারে। এই পর্যায়ে ছবি খুব সাধারণ হতে হবে।
			li প্রথম দিকের
				= ' '
				strong নব্য পাঠকদের জন্য
				| ছবিগুলোর উচিত গল্পের মূলভাবে কিছু সহায়তা প্রদান করা। যেহেতু লেখার পরিমাণ বৃদ্ধি হয়েছে, পাঠকরা ছবির দিকে কম নির্ভরশীল হবে এবং লেখা থেকে বেশি পাবে। চিত্রণটি আরো জটিল হতে পারে।
			li দক্ষ
				= ' '
				strong সাবলীল পাঠকদের জন্য
				| ছবিগুলোর উচিত গল্পের মূলভাবে কম সহায়তা প্রদান অথবা কোন সহায়তা প্রদান না করা। পাঠকরা অর্থের জন্য ছবির চেয়ে লেখার উপর বেশি নির্ভর করে। চিত্রণটি আরো জটিল হতে পারে।
		h1(id='ChoiceOfTopic') একটি বিষয় নির্বাচন করুন
		p বইসমূহ অনেক বিষয়ের হতে পারে। প্রারম্ভিক পাঠকদের জন্য বই তৈরির সময়, তাদের পরিচিত বিষয়সমূহ নির্বাচন করুন। পাঠকরা আগ্রহের সাথে পড়বে এবং আরো পড়তে থাকবে যদি তারা তাদের আগ্রহের এবং পরিচিতি বিষয় সম্পর্কে পড়ে। আরো অভিজ্ঞ পাঠকদের জন্য, বিষয়টিতে তথ্য অন্তর্ভুক্ত থাকতে পারে যার সাথে পাঠক পরিচিত নয়।
		ul
			li অত্যাবশ্যক
				= ' '
				strong পাঠকদের জন্য
				| বইটি বাস্তব সম্মত হতে হবে, ধারণা/মূলভাবে আলোকপাত করা উচিত, এবং পরিচিত হওয়া উচিত এবং সহজে বোঝা যাওয়া উচিত।
			li প্রথম দিকের
				= ' '
				strong নব্য পাঠকদের জন্য
				| , পরিচিত ধারণার উপর কিন্তু খুবই গভীরতার সাথে একটি গল্প তৈরি করুন।
			li দক্ষ
				= ' '
				strong সাবলীল পাঠকদের জন্য
				| যা পরিচিত তার ভিত্তিতে ধারণাটি বিস্তৃত হতে পারে, আরো বৈচিত্রপূর্ণ এবং আনমনা হন।
