// Nyaraka za taarifa ya kutumia mtandao pasipo intaneti kwa ngazi ya msomaji mwandishi
html
	head
		meta(charset='UTF-8')
	body
		h1(id='Vocabulary') Msamiati
		p Katika ngazi za mwanzo, tumia maneno rahisi ambayo yanajulikana kwa watoto.Iwapo itawezekana katika lugha yako, tumia maneno yaliyo na silabi moja. Watoto wanavyozidi kupanda ngazi za juu zaidi, unaweza ukaanza kutumia maneno yaliyo na silabi zaidi ya moja. Unaweza ukaanza kutumia maneno yasiyojulikana sana. Watoto wanapaswa kuweza kubahatisha maana ya maneno haya yasiyojulikana kwao sana kutokana na mazingira ya maneno na sentensi zinazowazingira, na pia kutokana na maelezo.
		h1(id='Formatting') Kubadilisha Muundo
		p Wasomaji wanaoanza kujifunza watanufaika kutokana na fonti kubwa zaidi iliyo na nafasi kati ya maneno. Kuwa na maneno au sentensi kwenye eneo moja kwa kila ukurasa pia unasaidia. Jinsi msomaji anavyoendelea kwa ngazi za juu zaidi, ukubwa wa fonti na nafasi inayoachwa itapungua na sentensi zinaweza kuonekana katika maeneo tofauti kwenye ukurasa.
		p Ili kuongeza ukubwa wa fonti, bofyai kwenye kisanduku cha matini na kisha kwenye alama ya "cog" iliyo na rangi ya kijivu katika pembe iliyo chini kwenye upande wa mkono wa kushoto. Iwapo utafanya hivi na kisha utengeneze kitabu cha kielelezo, vitabu vilivyotengenezwa kwa kielelezo hicho pia vitatumia mpangilio huo wa ukubwa wa fonti.
		h1(id='Predictability') Uwezekano wa kutabiriwa
		p 
			em Uwezekano wa kutabiriwa
			| katika maandishi inamaanisha kuwa msomaji anaweza kubashiri kitakachofuata. Unaweza kuongeza uwezo wa kutabiri kwa kutumia mtindo wa kurudia. Hapa ni baadhi ya mitindo unayoweza kutumia:
		ul 
			li Kurudia - kurudia sehemu ya maandishi, kwa mfano, kutumia sentensi sawa kwa kila ukurasa na kubadilisha tu neno moja katika sentensi
			li Kufululiza - Hadithi iliyo na mfululizo unaojulikana kama vile siku za wiki au ile inayotumia nambari katika mtindo
			li Kujenga mfululizo - hadidhi iliyo na mfululizo uliorudiwa na kuongezewa kwa kila ukurasa mpya
			li Wimbo - Hadithi iliyo na mtindo au mfululizo ambao pia hujumuisha wimbo. Kwa mfano:
				blockquote.poetry
					pre 
						| Anna anna anna do,
						| kachanika basto,
						| ispiringi matido,
						| anna kwa, anna kwa,
						| duku duku lemba kwa fuus!
					.author - Bill Martin, Jr. na Eric Carle
		h1(id='IllustrationSupport') Usaidizi wa michoro
		p Maelezo hupeana usaidizi kwa hadithi. Maelezo huhusiana na hadithi kwa njia tofauti kwa ngazi tofauti
			= ' '
			em ngazi
			|  na kwa wasomajii wa aina mbalimbali (tazama hapa chini). Kumbuka kuwa katika tamaduni nyingi ambazo huwa hazina maandishi mengi yaliyochapiswa, inaweza kuwa vigumu kuelewa picha ngumu.
		ul 
			li Kwa
				= ' '
				strong Wasomaji wanaoibuka
				|  picha zinapaswa kufanana kwa karibu na mfuatano wa hadithi. Msomaji anapaswa kuwa na uwezo wa kubahatisha mfuatano wa hadithi kwa kutazama picha tu. Maelezo katika ngazi hii yanapaswa kuwa rahisi.
			li Kwa
				= ' '
				strong Wasomaji wa mapema
				|  picha zinapaswa kupeana baadhi ya usaidizi kwa mfuatano wa hadithi. Jinsi kiwango cha matini kinavyoongezeka, msomaji anaendelea kutotegemea picha sana na kupata maana zaidi kutoka kwa maandishi. Michoro inaweza kuwa magumu.
			li Kwa
				= ' '
				strong Msomaji aliye na ufasaha
				|  picha zinapaswa kupeana usaidizi mdogo au kutosaidia kabisa katika kuelewa mfuatano wa hadithi. Msomaji anategemea sana matini kuliko picha ili kupata maana. Maelezo hata yanaweza kuwa magumu zaidi.
		h1(id='ChoiceOfTopic') Uchaguzi wa Mada
		p Vitabu vinaweza kuwa na mada tofauti. Unapotengeneza vitabu vya wasomaji wanaoanza kujifunza, chagua mada zinazojulikana kwao. Wasomaji watakuwa na hamu ya kusoma na watasoma zaidi iwapo wanasoma kuhusu vitu wanavyopata kuwa vya kupendeza na wanavyovijua. Kwa wasomaji walio na tajriba zaidi, mada zinaweza kujumuisha habari ambayo msomaji tayari hajui kuihusu.
		ul 
			li Kwa
				= ' '
				strong Wasomaji wanaoibuka
				|  kitabu kinapaswa kuwa kimekamilika, kinapaswa kulenga maudhui/dhana moja, kinapaswa kuwa kinajulikana na rahisi kukielewa.
			li Kwa
				= ' '
				strong Wasomaji wa mapema
				| , endeleza hadithi inayozunguka dhana fulani inayojulikana lakini kwa undani zaidi.
			li Kwa
				= ' '
				strong Msomaji fasaha
				|  dhana zinaweza kupanuka kupita yale yanayojulikana, yawe ya aina nyingi zaidi, na dhahani.
