<?xml version="1.0" encoding="utf-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="content-type" />
	<title>Test Template</title>
	<link rel="stylesheet" href="A5PortraitBooklet.css" type="text/css" />
	<link media="screen" rel="stylesheet" href="../../editMode.css" type="text/css" />
	<link rel="stylesheet" href="../../previewMode.css" type="text/css" />
	<base href="file://C:\dev\Bloom\factoryCollections\Templates\A5PortraitBooklet\" />
	<base href="file://C:\dev\Bloom\factoryCollections\Templates\A5PortraitBooklet\" />
</head>
<body class="a5portrait">
	<div class="page cover required" id="cover" title="Cover">
		<textarea id="coverPageTitle" class="title">Book Title</textarea><img id="coverPageImage"
			alt="missing" class="picture" src="coverPicture.png" /><input id="coverPageLanguageName"
				class="LanguageName" value="___ Language" /><input id="coverPageBookLabel" class="BookLabel"
					value="Primer 2" /></div>
	<div class="page titlePage required" id="titlePage" title="Title Page">
		<textarea id="titlePageTitle" class="title">Title Again</textarea><input id="titlePageBookLabel"
			class="bookLabel" value="Primer 2" /><textarea id="titlePageCredits" class="credits">Written by:</textarea><textarea
				id="titlePagePrintingHistory" class="printingHistory">Printing History</textarea><input
					id="titlePageLanguageName" class="languageName" value="____ Language" /></div>
	<div class="page imageOnTop" title="Image On Top">
		<h1 align="center">
			<img id="img1" alt="missing" class="picture" src="placeHolder.png" onclick="window.open('img1.onclick')"/></h1>
		<textarea id="text1" class="text">lorem ipsum dolor sit amet, consectetuer adipiscg elit. Ut nec lacus a neque pulvinar pulvinar. A100liquam sagittis, purus in fermentum ornare, orci igula vulputate sapien, a rutrum nisl mi eu mi. Suspendisse potenti. Aliquam eros. Nullam eros neque, cursus eu, commodo in, vulputate nec, ipsum. Duis et est a ante convallis consequat. Sed et nisl. 350Praesent vulputate erat quis magna. </textarea></div>
</body>
</html>
