@import "../bloom-xmatter-common.less";

@XMatterPackName: "TemplateStarter";

.bloom-frontMatter {
    // don't want border on front-matter, because they aren't really template pages
    border: none;
}
.bloom-imageContainer {
    height: 100%;
}
.licenseImage {
    height: 30px;
    display: block;
}
.bloom-translationGroup {
    margin-bottom: 1em;
}
