include ../standard-page-mixins.pug

doctype html
html
	head
		+metadata-standard()
		meta(name='defaultNameForDerivedBooks', content='My Book')
		//- TODO remove this when we move to json metadata
		meta(name='SuitableForMakingShells', content='yes')

		meta(name='bloomBookId', content='ea43ce61-a752-429d-ad1a-ec282db33328')
		meta(name='pageToolId', content='leveledReader')

		//- Eventually, we'll remove Bloom's need for this.
		meta(name='pageTemplateSource', content='Leveled Reader')
		title 'Leveled Reader'
		+stylesheets('Basic Book.css')
		+standardStyles
	body.leveled-reader
		+dataDiv
			+bookVariable-title('en', 'Leveled Reader')
			+bookVariable-title('id', 'Pembaca diratakan')

		+preview-outsideFrontCover
