@import "../../xMatter/bloom-xmatter-common.less";
@import (reference) "../../../bookLayout/basePage.less";

@XMatterPackName: "Kyrgyz";
@bleed: 3mm;
:root {
    --HeaderHeight: 3.5cm;
    --OutsideBackCoverLogoHeight: 15mm;
    --OutsideBackCoverCreditsFontSize: 9pt;
    --DividerDiamondsFontSize: 7px;
}
.A3Portrait {
    --HeaderHeight: 6cm;
    --OutsideBackCoverLogoHeight: 30mm;
    --DividerDiamondsFontSize: 20pt;
    --OutsideBackCoverCreditsFontSize: 14pt;
}
.A5Landscape {
    --OutsideBackCoverLogoHeight: 14mm;
}
.Device16x9Portrait {
    --HeaderHeight: 20mm;
    --OutsideBackCoverLogoHeight: 10mm;
    --OutsideBackCoverCreditsFontSize: 9pt;
}

div.bloom-page.outsideFrontCover,
div.bloom-page.outsideBackCover {
    background-color: #193970 !important;
}

.outsideFrontCover .marginBox {
    top: 0;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important;
}

.outsideBackCover .marginBox {
    top: 0;
    height: calc(100% - 15mm) !important;
    // width: calc(100% - 15mm) !important;

    [data-book="outside-back-cover-branding-bottom-html"] {
        display: none;
    }
}

.frontCover .placeholder,
.frontCover .bloom-imageContainer {
    margin-left: 1cm;

    margin-right: 1cm;
    display: flex;
}

.outsideBackCover [data-book="level-image"] img {
    width: unset; // allow it to left-align
}
.frontCover .bottomBlock {
    margin-left: 1cm;
    margin-right: 1cm;
    margin-bottom: 1cm;
}
.frontCover .bottomRow {
    display: grid !important;
    overflow: hidden;
}

// don't show second language on cover
.frontCover
    .bloom-translationGroup.bookTitle
    .bloom-editable.bloom-contentNational1:not(.bloom-content1) {
    display: none;
}

.frontCover .bloom-translationGroup.bookTitle {
    color: black;
    background-color: white;
    // if you touch this make sure the header is the same height on front and back covers!;
    height: var(--HeaderHeight);
    box-sizing: border-box; // padding doesn't affect height.
    /*flex-basis: content;*/
    flex-direction: column;
    justify-content: center;

    // padding here instead of margin so that it's still white in these areas instead of blue
    padding-top: @bleed; // center it calculating the height below the bleed
    padding-left: 1cm;
    padding-right: 1cm;

    // repeat to make more specific than other rules
    .bloom-editable.bloom-editable.bloom-content1 {
        margin-bottom: 0; // don't want this to mess with vertical centering
        flex-grow: 0; // center it, don't grow it
    }
}

// This much of the translation group will be trimmed off if the printer
// achieves the ideal trim cut: the bleed area plus the amount of the original
// A5 page that is cut off when we scale the width to RA4 which makes the height
// a bit more than RA5. And similarly for other sizes.
.frontCover.A5Portrait .bloom-translationGroup.bookTitle {
    padding-top: @bleed + @A5Portrait-Height-Excess / 2;
}
.frontCover.USComicPortrait .bloom-translationGroup.bookTitle {
    padding-top: @bleed + @USComicPortrait-Height-Excess / 2;
}

.outsideBackCover [data-book="outsideBackCover"] p:last-of-type {
    margin-bottom: 4em;
}

.outsideBackCover {
    .Outside-Back-Cover-style {
        margin-top: 8mm; // 15mm wasn't enough room for text 15mm;  In Landscape mode, we remove this
        text-align: left !important;
        font-size: var(--OutsideBackCoverCreditsFontSize);
    }
}

@A5Landscape-column2-left: 11.5mm;
// Landscape has a VERY different layout. We use CSS Grid display to move the items around.
.A5Landscape {
    [data-book="outside-back-cover-branding-top-right-html"] img {
        //     position: absolute;
        //     left: @A5Landscape-column2-left;
        //     top: 4mm;
        margin-left: 75px; // Note: this must cause the lft edge of the logo to align with the text below
    }

    .outsideBackCover {
        .bottomHalfGrid {
            height: 100%;
            display: grid;
            grid-template-columns: 260px auto; // Note: this must cause the left edge of the text to align with the Kyrgyzstan logo above.
            grid-template-rows: auto 3em;
            margin-top: 1cm;
            .divider {
                grid-row: 2;
                grid-column: 1 / span 2;
            }
            .bloom-translationGroup {
                margin-top: unset;
                grid-row: 1;
                grid-column: 2 / span 1;
            }
            [data-book="level-image"] {
                grid-row: 1;
                grid-column: 1;
                margin-top: 0;
            }
        }
    }
}

.frontCover,
.outsideBackCover {
    .divider {
        color: #97c955;
        font-size: var(--DividerDiamondsFontSize);
        height: 3em; // I don't know why this is necessary. Without it, even overflow-x:hidden cuts off the diamonds.
        letter-spacing: -2px;
        overflow: hidden;
    }
}
.frontCover .divider {
    margin-top: 2em;
}
.outsideBackCover .divider {
    margin-top: 8mm;
    margin-bottom: 8mm; // wasn't enough room for text 15mm;
}
.frontCover {
    .coverBottomLangName,
    .coverBottomBookTopic {
        display: none;
    }
}
div.bloom-page.coverColor {
    color: white;
}

/* Element | http://localhost:8089/bloom/C%3A/Users/hatto/Documents/Bloom/Kyrgyz%20Branding%20Test/Book/8444a5b9-4b6a-476a-90da-cc003fbc1fea-memsim-Preview.html */

div.bloom-imageContainer:nth-child(2) > img:nth-child(1) {
    /* width: 446px; */
    /* height: 367px; */
    /* margin-left: 0px; */
    /* margin-top: 84px; */
    object-fit: contain;

    /* white border that fits the image, not its container*/
    filter: drop-shadow(0 -3px 0 white) drop-shadow(0 3px 0 white)
        drop-shadow(-3px 0 0 white) drop-shadow(3px 0 0 white);
}

.A5Portrait,
.A3Portrait,
.Device16x9Portrait {
    .outside-back-cover-branding-top-block {
        justify-content: space-between;
    }
}
.outside-back-cover-branding-top-block {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-left: -18mm; // margin + 3mm of bleed
    margin-right: -18mm; // margin + 3mm of bleed
    padding-left: 18mm;
    padding-right: 18mm;
    padding-top: @bleed; // nudge down because of 3mm bleed
    height: calc(
        var(--HeaderHeight) - @bleed
    ); // the subtraction here makes up for the padding-top

    img {
        // height is per page size, below
        margin-top: auto;
        margin-bottom: auto;
    }
}

[data-book="outside-back-cover"] {
    margin-top: 10mm;
}

[data-book="level-image"] {
    margin-top: auto;
    margin-right: auto;
    height: 7cm;
    border: none !important;
}

/* only white makes sense, e.g. for the inside cover colors */
div.bloom-page {
    &.insideFrontCover,
    &.insideBackCover {
        background-color: white !important;
    }
}

.bloom-mediaBox {
    &::before {
        // we're not expecting an edge-to-edge images, so no need ot show the transparent bleed area. Just make it black.
        border-color: black !important;
    }
    &::after {
        // don't show the trim area at all.
        border: none;
    }
}

.outside-back-cover-branding-top-block {
    img {
        height: var(--OutsideBackCoverLogoHeight);
    }
}

.A5Landscape {
    .Outside-Back-Cover-style {
        margin-top: unset; // In portrait, there is a margin mode, we remove this
    }
}
// NOTE. The existence of this selector tells XMatterHelper that we can handle device layout, so don't revert to a specialized one.
.Device16x9Portrait {
    .outsideBackCover {
        .marginBox {
            left: 19px !important;
            width: 89mm;
            top: calc(@bleed + 0.5mm);
            height: calc(100% - 8mm) !important;

            .outside-back-cover-branding-top-block {
                height: var(--HeaderHeight);
                padding-top: unset;
            }
            [data-book="outside-back-cover-branding-top-right-html"] img {
                margin-left: 75px;
            }

            .bottomHalfGrid {
                height: 600px;
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: 250px 30px auto;
                [data-book="level-image"] {
                    grid-row: 2;
                    grid-column: 1;
                }

                .bloom-translationGroup {
                    grid-row: 1;
                }
                .divider {
                    grid-row: 2;
                }
                [data-book="level-image"] {
                    padding-top: 20px;
                    grid-row: 3;
                    // grid-column: 1;
                    img {
                        height: 250px;
                    }
                }
            }
        }
    }
}
.A3Portrait {
    .divider {
        height: 3em; // I don't know why this is necessary. Without it, even overflow-x:hidden cuts off the diamonds.
        letter-spacing: -7px;
    }
    [data-book="level-image"] {
        padding-top: 20px;
        img {
            height: 17cm;
        }
    }
}
