extends ../../xMatter/Traditional-XMatter/Traditional-XMatter.pug

mixin divider
	.divider
		//- has to be long enough for the largest page/layout we might use
		| ◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇



block outsideBackCover
	div.outside-back-cover-branding-top-block
		div(data-book='outside-back-cover-branding-top-left-html' lang="*")
		div(data-book='outside-back-cover-branding-top-right-html' lang="*")
	div.bottomHalfGrid
		+field-mono-meta("N1","outsideBackCover").Outside-Back-Cover-style
			label.bubble If you need somewhere to put more information about the book, you can use this page, which is the outside of the back cover.
		+image-xmatter('level-image')
			label.bubble Paste the level diagram here.
	+divider

//- The standard template uses "*", but we need to put different disclaimers in for each of the 5 languages
block credits-page-branding-bottom
	div.Credits-Page-style(data-book='credits-page-branding-bottom-html' lang="N1")

block XMatterTitle
	title Kyrgyzstan 2020 Front & Back Matter

block front-cover-footer
	+divider


//- this is here only to add the bloom-scale-with-code class, which causes
//-  code to compute the width and heigh of the image at runtime because we
//-   cannot use object-fit: contain AND still get a tight white border.
//- See https://issues.bloomlibrary.org/youtrack/issue/BL-9460
block front-cover-image
	.bloom-imageContainer.bloom-scale-with-code
		img(data-book="coverImage", src="placeHolder.png")
		+field-cover-image("auto").bloom-imageDescription.bloom-trailingElement

