extends ../../xMatter/Traditional-XMatter/Traditional-XMatter.pug


block outside-back-cover-branding-top-block
	div.outside-back-cover-branding-top-block
		div(data-book='outside-back-cover-branding-top-left-html' lang="*")
		div(data-book='outside-back-cover-branding-top-right-html' lang="*")

block outsideBackCoverContentsBottom
	.divider ◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇◇
	+image-xmatter('level-image')
		label.bubble Paste the level diagram here.


//- The standard template uses "*", but we need to put different disclaimers in for each of the 5 languages
block credits-page-branding-bottom
	div(data-book='credits-page-branding-bottom-html' lang="N1")
