.oneProblem .marginBox,
.twoProblems .marginBox,
.threeProblems .marginBox,
.fourProblems .marginBox {
  display: flex;
  flex-direction: column;
}
.oneProblem .bloom-translationGroup,
.twoProblems .bloom-translationGroup,
.threeProblems .bloom-translationGroup,
.fourProblems .bloom-translationGroup {
  flex: 0 0 auto;
}
.oneProblem .problemSet,
.twoProblems .problemSet,
.threeProblems .problemSet,
.fourProblems .problemSet {
  max-height: 100%;
}
.oneProblem .problem,
.twoProblems .problem,
.threeProblems .problem,
.fourProblems .problem {
  padding-bottom: 10px;
  border-bottom: solid thin black;
  margin-top: 10px;
}
.oneProblem .imageRow,
.twoProblems .imageRow,
.threeProblems .imageRow,
.fourProblems .imageRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  overflow: hidden;
}
.oneProblem .imageRow .bloom-imageContainer,
.twoProblems .imageRow .bloom-imageContainer,
.threeProblems .imageRow .bloom-imageContainer,
.fourProblems .imageRow .bloom-imageContainer {
  flex: 1 1 auto;
  max-width: 50%;
  max-height: 99%;
  min-height: 99%;
  height: 99%;
}
.oneProblem .numberRow,
.twoProblems .numberRow,
.threeProblems .numberRow,
.fourProblems .numberRow {
  height: 44px;
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: -7px;
  margin-left: 6%;
  padding-right: 5px;
}
.oneProblem .numberRow .bloom-editable,
.twoProblems .numberRow .bloom-editable,
.threeProblems .numberRow .bloom-editable,
.fourProblems .numberRow .bloom-editable {
  min-height: unset !important;
  display: block !important;
  text-align: center;
  line-height: 1em;
}
.oneProblem .numberRow > .bloom-editable,
.twoProblems .numberRow > .bloom-editable,
.threeProblems .numberRow > .bloom-editable,
.fourProblems .numberRow > .bloom-editable {
  min-width: 20%;
}
.oneProblem .numberRow .equals,
.twoProblems .numberRow .equals,
.threeProblems .numberRow .equals,
.fourProblems .numberRow .equals {
  line-height: 1em;
  min-width: 29px;
  text-align: center;
}
.oneProblem .numberRow .equals:before,
.twoProblems .numberRow .equals:before,
.threeProblems .numberRow .equals:before,
.fourProblems .numberRow .equals:before {
  content: '=';
}
.oneProblem .numberRow .fillInBox,
.twoProblems .numberRow .fillInBox,
.threeProblems .numberRow .fillInBox,
.fourProblems .numberRow .fillInBox {
  flex: 0 0 auto;
  border: thin solid black;
  border-radius: 12px;
  width: 61px;
  height: 61px;
  z-index: 1000;
  position: relative;
  bottom: 18px;
}
.oneProblem .marginBox > .bloom-translationGroup,
.twoProblems .marginBox > .bloom-translationGroup,
.threeProblems .marginBox > .bloom-translationGroup,
.fourProblems .marginBox > .bloom-translationGroup {
  display: flex;
  flex-direction: row;
}
.oneProblem .marginBox > .bloom-translationGroup .bloom-editable,
.twoProblems .marginBox > .bloom-translationGroup .bloom-editable,
.threeProblems .marginBox > .bloom-translationGroup .bloom-editable,
.fourProblems .marginBox > .bloom-translationGroup .bloom-editable {
  margin-top: 0;
  margin-left: 10px;
}
.oneProblem .marginBox > .bloom-translationGroup .bloom-editable:first-child,
.twoProblems .marginBox > .bloom-translationGroup .bloom-editable:first-child,
.threeProblems .marginBox > .bloom-translationGroup .bloom-editable:first-child,
.fourProblems .marginBox > .bloom-translationGroup .bloom-editable:first-child {
  margin-left: 0px;
}
.oneProblem .imageRow,
.twoProblems .imageRow {
  height: 200px;
}
.threeProblems .imageRow {
  height: 145px;
}
.fourProblems .imageRow {
  height: 90px;
}
