@import "../bloomUI.less";

.bookButtonPane {
    padding: 25px;
    background-color: @bloom-panelBackground;
    color: white;
    font-family: "Andika New Basic";

    h1 {
        font-size: 20px;
        margin: 0;
    }
    .bookButton {
        margin-top: 16px;
        height: 150px;
        width: 125px;
        border: none;
        &:hover {
            //you want this to be the same as the backgroundColor above
            background-color: rgb(68, 68, 68);
        }
        &.selected {
            border: solid thin gold;
        }
        .MuiButton-label {
            color: white;
            display: flex;
            flex-direction: column;
            text-transform: none;
            font-size: 12px;
            line-height: 14px;
            margin-top: 5px;
            width: 75px;
        }
        img {
            height: 75px;
            width: 75px;
        }
    }
}
