@import "../bloomUI.less";

body {
    background-color: @bloom-panelBackground;
    color: white;
    padding: 25px;
    h1 {
        font-size: 20px;
        margin: 0;
    }
    h2 {
        font-size: 16px;
        margin: 0;
    }
}

.handle-bar,
.handle-bar:hover {
    background-color: @bloom-darkestBackground;
}
