.progress-dialog .content #please_help_us {
    flex: 0 0 100%;
    margin-top: 8px;
    margin-bottom: 25px;
}
.progress-dialog .content #row2 {
    display: flex;
    flex-direction: row;
}
.progress-dialog .content #row2 .column1 {
    margin-right: 30px;
    float: left;
    width: 350px;
}
.progress-dialog .content #row2 .column1 .what_were_you_doing {
    margin-bottom: 16px;
    width: 100%;
}
.progress-dialog .content #row2 .column1 #how_much_group {
    height: 4em;
    margin-bottom: 8px;
}
.progress-dialog .content #row2 .column1 #how_much_group #slider {
    margin-top: -6px;
}
.progress-dialog
    .content
    #row2
    .column1
    #how_much_group
    #slider
    .MuiSlider-mark {
    width: 6px;
    height: 6px;
    margin-top: -2px;
}
.progress-dialog
    .content
    #row2
    .column1
    #how_much_group
    #slider
    .MuiSlider-mark,
.progress-dialog
    .content
    #row2
    .column1
    #how_much_group
    #slider
    .MuiSlider-rail {
    background-color: darkgray;
}
.progress-dialog .content #row2 .column1 #how_much_group #scale_labels {
    margin-top: -11px;
    display: flex;
}
.progress-dialog
    .content
    #row2
    .column1
    #how_much_group
    #scale_labels
    :first-child {
    flex-grow: 1;
}
.progress-dialog .content #row2 .column1 .email {
    width: 250px;
}
.progress-dialog .content #row2 .column1 .email input {
    padding: 15px;
    font-family: "roboto";
}
.progress-dialog .content #row2 .column2 {
    margin-top: -12px;
}
.progress-dialog .content #row2 .column2 label {
    display: block;
}
.progress-dialog .content #row2 .column2 img {
    margin-left: 30px;
    width: 200px;
    height: 140px;
    background-color: #404040;
    margin-bottom: 32px;
    object-fit: contain;
}
.progress-dialog .content #row2 .column2 #privacy {
    width: 250px;
}
.progress-dialog .content #row2 .column2 #privacy p {
    margin-left: 29px;
    margin-top: -27px;
}
.progress-dialog .content #row2 .column2 #privacy button {
    padding-left: 0;
    margin-left: 29px;
}
.progress-dialog .content .drawAttention {
    animation: shakeMe 75ms 5 ease-in alternate;
}
@keyframes shakeMe {
    0% {
        margin-left: 10px;
    }
    100% {
        margin-left: 0;
    }
}
.progress-dialog #privacyDetails .privacy_info {
    margin-top: 1em;
    margin-bottom: 1em;
}
.progress-dialog #privacyDetails .intro_to_report {
    margin-bottom: 1em;
}
.progress-dialog #privacyDetails #report {
    white-space: pre;
}
