@import "../bloomUI.less";

@kEdgePadding: 24px;

.problem-dialog {
    .dialog-title {
        flex-direction: row;
        display: flex;
        justify-content: space-between; // right-justifies close X (If close X in the JSX, but we moved it to Winforms)
        .close-in-title {
            padding-top: 4px;
        }
        padding: 6px @kEdgePadding;
    }
    .dialog-content {
        padding: 27px @kEdgePadding;
    }
    .report-heading {
        font-style: italic;
        max-height: 60px;
        overflow-y: auto; // Adds a scrollbar if there is too much content. However, it's better if we just keep the shortMessage short.
    }
    .content {
        padding-top: 8px;

        #please_help_us {
            flex: 0 0 100%;
            margin-bottom: 25px;
        }
        #row2 {
            display: flex;
            flex-direction: row;
            .column1 {
                margin-right: 30px;
                float: left;

                width: 350px;
                .what_were_you_doing {
                    margin-bottom: 16px;
                    width: 100%;
                }
                #how_much_group {
                    height: 4em;
                    margin-bottom: 8px;
                    #slider {
                        margin-top: -6px;
                    }
                    #scale_labels {
                        margin-top: -11px;
                        display: flex;
                        :first-child {
                            flex-grow: 1;
                        }
                    }
                }
                .email {
                    width: 250px;
                    input {
                        padding: 15px;
                        font-family: "roboto";
                    }
                }
            }
            .column2 {
                margin-top: -12px; // want first checkbox to line up with the start of the other column
                label {
                    display: block;

                    // Prevent long book titles from causing either vertical or horizontal scrollbars to be added
                    // Vertical - By limiting to one line, not as many lines as needed (white-space: nowrap)
                    // Horizontal - By truncating (overflow: hidden) and replacing with ellipsis (text-overflow: ellipsis)
                    &.includeBook {
                        width: 250px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                img {
                    margin-left: 30px; // indent
                    width: 200px;
                    height: 140px;
                    background-color: @bloom-unselectedTabBackground;
                    margin-bottom: 32px;
                    object-fit: contain;
                }
                #privacy {
                    width: 250px;
                    p {
                        // there's got to be a better way, but this is the best I can come up with
                        margin-left: 29px;
                        margin-top: -27px;
                    }
                    button {
                        // These are needed to line up the "Learn More" button text with the text above.
                        margin-left: 27px;
                        padding-left: 0;
                    }
                }
            }
        }
    }

    #privacyDetails {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        // This section contains the detailed log of the error, as well as the privacy details.
        // We'd like to allow the user to select this in case it's necessary to paste it
        // into an email (or for developers). The rule that normally prevents this in bloomUI.less
        // applies to each specific element, so it's not enough for this rule to apply to the
        // privacyDetails itself; it won't be inherited.
        * {
            -moz-user-select: text; // Firefox before v69
            user-select: text;
        }
        .buttonWrapper {
            margin-bottom: 20px;
        }
        .privacy_report {
            overflow: scroll;
        }
        .privacy_info {
            margin-top: 1em;
            margin-bottom: 1em;
        }
        .intro_to_report {
            margin-bottom: 1em;
        }
        #report {
            white-space: pre;
        }
    }

    .twoColumnHolder {
        display: flex;
        // Use space-between so that when we have both #leftColumn and #rightColumn, they are split out to the outside edges
        justify-content: space-between;
        // Use row-reverse instead of row so that when not reportable, the only DialogActions group
        // will be placed at the start (that is, the right). In standard "row", the start is the left
        // but that's not where we want it to go.
        flex-direction: row-reverse;

        padding-left: @kEdgePadding;
        padding-right: @kEdgePadding;

        #leftColumn,
        #errorReportButton {
            padding-left: 0px;
        }

        #rightColumn {
            padding-right: 0px;
        }
    }

    .allowSelect,
    .allowSelect * {
        -moz-user-select: text; // Firefox before v69
        user-select: text;
    }
}
