/* This is for common styling on pages. It is not for UI */

//NB: why wouldn't you *always* want this? If you're doing something fancy,
//and placing editables around(like basic book: basic text & picture does),
//you may have already dealt with spacing.
//.SeparateMultilingualEditables(@doSeparate) when (@doSeparate) {
@StandardMultilingualEditBoxSeparation: 10px; //Beware the temptation to express this in "em"s. As the user changes the font size, that could make stuff exceed the bounds of the page

.Common-SeparateMultilingualEditables(@separation) {
    // .bloom-translationGroup {
    //     .bloom-editable {
    //         &.bloom-content2, &.bloom-content3 {
    //             margin-top: @separation;
    //         }
    //     }
    // }

    // See BL-4515. The task is to separate multilingual fields without putting a margin above the first one.
    // The previous approach (commented out, above) relied on content2 and content3 never being the first, but
    // as of 3.8, they can be. Note that this sibling operator relies on the physical order of the multlingual alternatives.
    // I didn't actually expect it to work, since we use flex order to control order. But something in Bloom is reording
    // the underlying html, so it does work.
    // Note that in the near future we want to more clearly separate out the three axes: order, visibility, and
    // role (Vern, National, etc). When we do that, we may have a different way to do this that we like more.
    .bloom-editable.bloom-visibility-code-on~.bloom-editable,
    .bloom-editable.bloom-visibility-user-on~.bloom-editable {
        margin-top: @separation;
    }
}

@defaultLineHeight: 1.5em; //no units! No em!!!! em makes children inside have a lineheight that matches the font of the overall box, regardless of the thing's font-size. See https://developer.mozilla.org/en-US/docs/Web/CSS/line-height

// N.B. New formats must also work something out in pageThumbnailList.less.
// There is some disagreement out there on the USComicPortrait size. The json file has the trim size from the recommendation of Kingstone Comics.
@import "page-size-mixin.less";
@Cm13Square-Side: 130mm;

@DeviceMargin: 10px;
@DeviceBottomMargin: 45px; // leave room for page number

@MarginTop: 15mm;
@MarginOuter: 15mm;
@MarginBottom: 15mm;
@ExtraSpaceForBinding: 10mm;
@MarginInner: @MarginOuter + @ExtraSpaceForBinding;
@MarginBalanced: (@MarginOuter + @MarginInner) / 2; // for when we want the same left and right margins