@A5Portrait-Height: 210mm;
@A5Portrait-Width: 148mm;
@A5Landscape-Height: 148mm;
@A5Landscape-Width: 210mm;
@B5Portrait-Height: 250mm;
@B5Portrait-Width: 176mm;
@A4Landscape-Height: 210mm;
@A4Landscape-Width: 297mm;
@A4Portrait-Height: 297mm;
@A4Portrait-Width: 210mm;
@A3Landscape-Height: 297mm;
@A3Landscape-Width: 420mm;
@A3Portrait-Height: 420mm;
@A3Portrait-Width: 297mm;
@A6Portrait-Height: 148mm;
@A6Portrait-Width: 105mm;
@A6Landscape-Height: 105mm;
@A6Landscape-Width: 148mm;
@QuarterLetterPortrait-Height: 5.5in;
@QuarterLetterPortrait-Width: 4.25in;
@QuarterLetterLandscape-Height: 4.25in;
@QuarterLetterLandscape-Width: 5.5in;
@HalfLetterPortrait-Height: 8.5in;
@HalfLetterPortrait-Width: 5.5in;
@HalfLetterLandscape-Height: 5.5in;
@HalfLetterLandscape-Width: 8.5in;
@LetterPortrait-Height: 11in;
@LetterPortrait-Width: 8.5in;
@LetterLandscape-Height: 8.5in;
@LetterLandscape-Width: 11in;
@HalfFolioPortrait-Height: 8.5in;
@HalfFolioPortrait-Width: 6.5in;
@HalfLegalPortrait-Height: 8.5in;
@HalfLegalPortrait-Width: 7in;
@HalfLegalLandscape-Height: 7in;
@HalfLegalLandscape-Width: 8.5in;
@LegalPortrait-Height: 14in;
@LegalPortrait-Width: 8.5in;
@LegalLandscape-Height: 8.5in;
@LegalLandscape-Width: 14in;
@Cm13Landscape-Height: 130mm;
@Cm13Landscape-Width: 130mm;
@USComicPortrait-Height: 10.25in;
@USComicPortrait-Width: 6.625in;
@Device16x9Portrait-Height: 177.77777778mm;
@Device16x9Portrait-Width: 100mm;
@Device16x9Landscape-Height: 100mm;
@Device16x9Landscape-Width: 177.77777778mm;
@PictureStoryLandscape-Height: 100mm;
@PictureStoryLandscape-Width: 177.77777778mm;
@Size6x9Portrait-Height: 9in;
@Size6x9Portrait-Width: 6in;
@Size6x9Landscape-Height: 6in;
@Size6x9Landscape-Width: 9in;
@Cm13Square-Side: 130mm;

@bleed: 3mm; // Duplicated in editMode.less to remove circular dependency between BloomBrowserUI and content
@RA5Portrait-Width: @A5Portrait-Width + @bleed + @bleed;
@RA5Portrait-Height: @A5Portrait-Height + @bleed + @bleed;
@RA5-Scale: unit(@RA5Portrait-Width / @A5Portrait-Width);
@A5Portrait-HeightFB: @A5Portrait-Height * @RA5-Scale;
@A5Portrait-Height-Excess: @A5Portrait-HeightFB - @RA5Portrait-Height;

@RA4Portrait-Width: @A4Portrait-Width + @bleed + @bleed;
@RA4Portrait-Height: @A4Portrait-Height + @bleed + @bleed;
@RA4-Scale: unit(@RA4Portrait-Width / @A4Portrait-Width);
@A4Portrait-HeightFB: @A4Portrait-Height * @RA4-Scale;
@A4Portrait-Height-Excess: @A4Portrait-HeightFB - @RA4Portrait-Height;

@RA3Portrait-Width: @A3Portrait-Width + @bleed + @bleed;
@RA3Portrait-Height: @A3Portrait-Height + @bleed + @bleed;
@RA3-Scale: unit(@RA3Portrait-Width / @A3Portrait-Width);
@A3Portrait-HeightFB: @A3Portrait-Height * @RA3-Scale;
@A3Portrait-Height-Excess: @A3Portrait-HeightFB - @RA3Portrait-Height;

@RUSComicPortrait-Width: @USComicPortrait-Width + @bleed + @bleed;
@RUSComicPortrait-Height: @USComicPortrait-Height + @bleed + @bleed;
@RUSComic-Scale: unit(@RUSComicPortrait-Width / @USComicPortrait-Width);
@USComicPortrait-HeightFB: @USComicPortrait-Height * @RUSComic-Scale;
@USComicPortrait-Height-Excess: @USComicPortrait-HeightFB -
    @RUSComicPortrait-Height;

@RSize6x9Portrait-Width: @Size6x9Portrait-Width + @bleed + @bleed;
@RSize6x9Portrait-Height: @Size6x9Portrait-Height + @bleed + @bleed;
@RSize6x9-Scale: unit(@RSize6x9Portrait-Width / @Size6x9Portrait-Width);
@Size6x9Portrait-HeightFB: @Size6x9Portrait-Height * @RSize6x9-Scale;
@Size6x9Portrait-Height-Excess: @Size6x9Portrait-HeightFB -
    @RSize6x9Portrait-Height;
