@import "../xMatter/bloom-xmatter-common.less";

@XMatterPackName: "Afghanistan";

@marginBetweenBoxes: 0.7em;

.titlePage {
    #titlePageTitleBlock {
        margin-top: 10%;
    }
    #titlePageLevelBlock {
        margin-top: 5%;
    }
    .Title-On-Title-Page-style {
        // Override 14pt default
        font-size: 40pt;
    }
}

.titlePage .marginBox,
.credits .marginBox {
    display: flex; // so we can move #titlePagePrintInfo as low as possible easily
    flex-direction: column;
}

.credits {
    .licenseAndCopyrightBlock {
        // Ironically, using the min-height (of 60px) from bloom-xmatter-sharedRules.less
        // causes this block to overlap the block(s) below it if there is not enough room on the page.
        // So we override it to the default.
        min-height: unset;
    }
    .bloom-translationGroup,
    .licenseAndCopyrightBlock .licenseBlock {
        margin-bottom: @marginBetweenBoxes;
    }
    .ISBNContainer,
    .originalAcknowledgments .bloom-editable,
    .versionAcknowledgments .bloom-editable {
        // Override
        margin-bottom: 0;
    }
    .licenseAndCopyrightBlock .copyright {
        // Override
        margin-bottom: 1em;
    }
    .ISBNContainer[dir="rtl"] .bloom-editable {
        text-align: right !important;
    }
}

.message {
    font-size: 1.5rem;
}

.bishmallah {
    height: 50mm;
    .bloom-imageContainer {
        height: 100%;
    }
}
