@import "../branding-base.less";
[data-book="cover-branding-top-html"] {
    img {
        height: 1.5cm;
    }
    p {
        text-align: center;
        font-size: 10px;
    }
    margin-bottom: 50px;
}
.Title-On-Cover-style.bloom-contentNational1 {
    font-style: italic;
    font-size: 34pt;
}
.smallCoverCredits {
    margin-bottom: 10px;
}
[data-book="outside-back-cover-branding-top-html"] {
    margin-bottom: 1em;
    img {
        margin-left: auto;
        margin-right: 0;

        width: 20%;
        height: 1cm;
    }
}
[data-book="outside-back-cover-branding-bottom-html"] {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img {
        margin: 0;
    }
    margin-bottom: 0;

    //flex-wrap: wrap-reverse;
}
@patiiWidth: 20%;
img.branding {
    margin-top: auto;
    margin-bottom: auto;
}
img.branding.inade {
    width: calc(@patiiWidth * 1.1);
}
img.branding.med {
    width: calc(@patiiWidth * 2.2);
}
img.branding.patii {
    width: @patiiWidth;
}
