@import "../../xMatter/Device-XMatter/Device-XMatter.less";

.spConfigurationPage {
    .heading {
        font-weight: bold;
        margin-bottom: 10px;
    }
    .sp-config {
        margin-bottom: 10px;
    }
}
