[Desktop Entry]
Version=1.0
Name=Bloom BetaInternal
Comment=Literacy materials development for language communities
Exec=bloom-betainternal %u
Icon=bloom-betainternal
Terminal=false
Type=Application
Categories=Education;
X-Desktop-File-Install-Version=0.21
MimeType=application/bloom;x-scheme-handler/bloom;application/bloom-collection;x-scheme-handler/bloom-collection;
