[Desktop Entry]
Version=1.0
Name=Bloom Alpha
Comment=Literacy materials development for language communities
Exec=bloom-alpha %u
Icon=bloom-alpha
Terminal=false
Type=Application
Categories=Education;
X-Desktop-File-Install-Version=0.21
MimeType=application/bloom;x-scheme-handler/bloom;application/bloom-collection;x-scheme-handler/bloom-collection;application/bloom-join-team;x-scheme-handler/bloom-join-team;
