@import "../ABC-Reader-XMatter/ABC-Reader-XMatter.less";

@XMatterPackName: "ABC Reader Device";

//- On a phone, these will need to be smaller or they'll take up the whole page
.licenseDetails,
.bottomCredits,
.brandingCredits {
    font-size: small;
}

.bottomRow {
    // keeps the "Donated Property - Not For Sale" notice from being off of the bottom of the page.
    margin-bottom: 15px;
}
