html
	head
		title Content of the EditControls view (far right pane in book edit)
		link(rel='stylesheet', href='../../themes/bloom-jqueryui-theme/jquery-ui-1.8.16.custom.css')
		script(src='../../lib/jquery-1.10.1.js')
		script(src='../../lib/jquery-ui-1.10.3.custom.min.js')
		script(src='../js/BloomAccordion.js')
		link(rel='stylesheet', href='../css/editControls.css')
	body
		.editControlsRoot
			#accordion
		script(src='../js/synphonyApi.js')
		// Load this last so it can see elements.
		script(src='../js/editControls.js')
