include ../bloom-xmatter-mixins.pug

doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="BloomFormatVersion", content="2.0")
		title Device Front &amp; Back Matter
		// NB: this has no effect on books using this stylesheet; it only does anything if you're viewing the xmatter html by itself
		+stylesheets("Device-XMatter.css")

	body

		+factoryStandard-outsideFrontCover

		// Credits at the end

		+page-xmatter("Title Page").titlePage.bloom-backMatter(data-xmatter-page='titlePage')&attributes(attributes)#898b6622-837b-49cd-9938-2de76f6d4b17
			+title-page-contents

		+page-xmatter("Credits Page").bloom-backMatter.credits(data-xmatter-page='credits')&attributes(attributes)#898b6622-837b-49cd-9938-2de76f6d4b18
			+credits-contents



		//- In paper book, this is the inside front cover
		//- When making a .bloomd, Bloom will remove this if it is empty.
		+page-xmatter('End Extra 1').cover.coverColor.insideFrontCover.bloom-backMatter(data-xmatter-page="insideFrontCover")#898b6622-837b-49cd-9938-2de76f6d4b19
			+field-mono-meta("N1","insideFontCover").Inside-Front-Cover-style

		//- In paper books, this is the inside back cover
		//- When making a .bloomd, Bloom will remove this if it is empty.
		+page-xmatter('End Extra 2').cover.coverColor.insideBackCover.bloom-backMatter(data-xmatter-page="insideBackCover")#898b6622-837b-49cd-9938-2de76f6d4b20
			+field-mono-meta("N1","insideBackCover").Inside-Back-Cover-style

		//- In paper books, this is the outside back cover
		//- When making a .bloomd, Bloom will remove this if it is empty.
		+page-xmatter('End Extra 3 ').cover.coverColor.outsideBackCover.bloom-backMatter(data-xmatter-page="outsideBackCover")#898b6622-837b-49cd-9938-2de76f6d4b21
			//- +field-mono-version1("N1","If you need somewhere to put more information about the book, you can use this page, which is the outside of the back cover.").outside-back-cover-style(data-book='outsideBackCover')
			+field-mono-meta("N1","outsideBackCover").Outside-Back-Cover-style

		+page-xmatter("The End").bloom-backMatter.theEndPage(data-xmatter-page="endPage")#898b6622-837b-49cd-9938-2de76f6d4b22
			+outside-back-cover-branding-top
			//- would be nice to use data-collection instead of data-book, but that isn't working in Bloom these
			//- days (was a version 1-ish feature that never got used, and atrophied).
			//- When we do have it, that would save typing it in for each book in the Local Language... and ideally it would also overwrite
			//- the national language here, since typically someone would enter the vernacular and delete the national language.

			//- disabled for now, until we provide a way to (1) enter a new lang without switching to device xmatter
			//- and (2) save the result in a data-collection variable, so that you don't have to do it for every single book.
			//- +field("auto")(data-book="end-of-book-label",data-default-languages="V N1", data-hint="Something to tell the reader/viewer that this is the end of the book.")
			//-	+editable("en")
			//-		p The End
			//-	+editable("fr")
			//-		p FIN
			//-	+editable("es")
			//-		p Fin

			+outside-back-cover-branding-bottom
