/*+init {*/
*
{
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 1em;
}
H1, H2, H3, H4, H5, H6, TH
{
	font-weight: inherit;
}
ADDRESS, CITE, DFN, VAR
{
	font-style: inherit;
}
CAPTION, CODE, KBD, PRE, SAMP, TT, INPUT, TEXTAREA, SELECT, BUTTON
{
	font-family: inherit;
}
TABLE
{
	border-spacing: 0;
}
TH
{
	text-align: left;
}
HTML, BODY, THEAD, TBODY, TFOOT, TR, TH, TD, BR
{
	position: static;
}
INPUT[type=hidden]
{
	display: none !important;
}
FIELDSET, A IMG
{
	border: 0;
}
BODY
{
	font-size: 100%;
	line-height: 1.5;
}
/*+}*/
BODY
{
	font-family: "Andika Basic", "Gentium Basic", "Doulous SIL", Sans-Serif;
}
TEXTAREA, DIV.bloom-editable
{
	resize: none;
/*don't show those cute little resize controls in Firefox 4 and greater*/
	overflow: hidden;
	font-size: 14pt;
	line-height: 27.6pt;
}
DIV.bloom-page
{
	display: block;
	page-break-after: auto;
	background-color: #FFFFFF;
}
DIV#bloomDataDiv
{
	display: none;
}
@media screen
{
	DIV.bloom-page
	{
		border: 1px solid #000000;
	}
}
DIV.imageWholePage DIV.bloom-imageContainer
{
	/*+placement:shift 44px 50px;*/
	position: relative;
	left: 44px;
	top: 50px;
	width: 465px;
}
.centered
{
	text-align: center;
	margin-left: 1cm;
}
.centerJustify
{
	text-align: center;
}
P
{
	margin-left: 1cm;
}
/*Unless otherwise positioned and made visible, hide all the language elements in there*/
DIV.bloom-translationGroup DIV
{
	display: none;
}
/*Outside of frontmatter, we assume that if bloom gives it a content tag, then it should be visible*/
DIV.bloom-page:not(.bloom-frontMatter) .bloom-content1, DIV.bloom-page:not(.bloom-frontMatter) .bloom-content2, DIV.bloom-page:not(.bloom-frontMatter) .bloom-content3
{
	display: inherit;
}
DIV.bloom-page:not(.bloom-frontMatter) .bloom-content2
{
	display: inherit;
}
/*Notes on wkhtmltopdf and page sizes: Set the border color of Div.Page in preview.css so you can see what the pdf is doing
these should be 14.8, but wkhtmltopdf shinks it
The folowing are the values which work with a 1px border.  With 0px border, I could not get the pages to come out
properly at all with wkhtmltopdf 0.10.0. It's as if the borders actually help by making the used part of each
page be the full page, regardless of the contents.

To compensate, the code asks wkthmlpdf to zoom the page by 9.1%, which an invisble 1px border added by
preview.css.
*/
DIV.bloom-page.A5Portrait
{
	min-width: 14.8cm;
	max-width: 14.8cm;
	min-height: 21cm;
	max-height: 21cm;
}
DIV.bloom-page.A5Landscape
{
	min-width: 21cm;
	max-width: 21cm;
	min-height: 14.8cm;
	max-height: 14.8cm;
}
DIV.bloom-page.A4Landscape
{
	min-width: 297mm;
	max-width: 297mm;
	min-height: 210mm;
	max-height: 210mm;
}
DIV.bloom-page.A4Portrait
{
	min-width: 210mm;
	max-width: 210mm;
	min-height: 297mm;
	max-height: 297mm;
}
DIV.marginBox
{
	border: thin dotted rgba(133, 133, 193, 0.3);
}
.A5Portrait DIV.marginBox
{
	width: 108mm;
	/*+placement:anchor-top-left 20mm 14mm;*/
	position: absolute;
	left: 20mm;
	top: 14mm;
	height: 175mm;
}
