/*This styesheet applied when a book is being edited. It does things like show that images can be changed by click on them.
There are 2 sub-modes of editing, each with their own stylesheets: originalEditMode and translationEditMode.*/
BODY
{
	background-color: #363333;
}
DIV.pageLabel
{
	width: 205px;
	text-align: left;
	color: #96A9B3;
	margin-left: 5px;
}
DIV.ui-tooltip-title
{
	text-align: justify;
	margin-left: -9px;
	margin-bottom: -19px;
	margin-top: -8px;
}
DIV.page
{
	background-color: #F8F8F8;
	border: medium outset #000000;
}
DIV.page.coverColor
{
	background-color: #D5D5E4;
	border: medium outset #000000;
}
/*We want divs which are used for editing to look just like textareas (e.g. border). For now, this readOnlyInTranslationMode is an indicator that this is edtiable, but there could be divs which are always edtiable... unfortunately we can't access the contentEditable thing itself. Note that borders are made transpartent by the languagedisplay.css, and there is javascript which notices that transparnet border and makes the field read-only.*/
DIV.readOnlyInTranslationMode
{
	border: thin solid #C0B9B9;
}
DIV.hoverUp
{
	background-color: #D5D5E4;
}
.moveButtonIcon
{
	background-image: url("moveDivButton.png") !important;
	width: 37px !important;
	height: 37px !important;
}
BUTTON.changeImageButton
{
	z-index: 100;
	width: 70px;
	height: 52px;
	background-image: url("changeImageButton.png") !important;
	background-repeat: no-repeat;
	/*+placement:anchor-top-right 2px 2px;*/
	position: absolute;
	right: 2px;
	top: 2px;
	background-position: 13px 3px;
	/*+border-radius:9px;*/
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-khtml-border-radius: 9px;
	border-radius: 9px 9px 9px 9px;
}
BUTTON.moveButton
{
	/*+placement:anchor-top-left 5px 6px;*/
	position: absolute;
	left: 5px;
	top: 6px;
	background-image: url("moveDivButton.png") !important;
	background-repeat: no-repeat;
	background-color: transparent;
	width: 42px;
	height: 40px;
	border: 0 hidden #000000;
	z-index: 1000;
}
TEXTAREA, DIV.bloom-editable
{
	border: thin solid #C0B9B9;
	/*[disabled]min-height:34px;*/
}
IMG.hoverUp
{
	background-color: #DFDFDF;
	border: 1px outset #000000;
}
TEXTAREA:focus, DIV.bloom-editable:focus
{
	border: 3px solid #A03C50;
}
TEXTAREA.province
{
	width: 151px;
	height: 33px;
}
.overflow
{
	background-color: #C30606 !important;
}
/*for use with qtip, showing what language each textarea is in
.ui-tooltipbloomLang
{
}
.ui-tooltipbloomLang .ui-tooltip-titlebar
{
background-color: red;
color: #FFFFFF;
border: 0 dashed transparent;
}*/
.fieldInfo-qtip .ui-tooltip-content
{
	border: 0 solid #A03C50;
	padding: 0px;
	text-align: right;
	color: #363333;
	font-size: 8pt;
	margin-top: -8px;
	margin-right: 8px;
}
UL
{
	padding: 0;
	z-index: 1;
	background-color: transparent;
	text-align: right;
	width: 311px;
	/*+placement:shift -49px 1px;*/
	position: relative;
	left: -49px;
	top: 1px;
}
UL LI
{
	display: inline-block;
	padding-right: 11px;
	padding-left: 7px;
	font-size: 9pt;
	margin-right: 11px;
	height: 31px;
}
UL LI A
{
	display: block;
	padding: 5px;
	outline: none;
	/*[empty]font-style:;*/
	text-decoration: none;
	color: #000000;
}
UL LI A:hover
{
	text-decoration: underline;
}
UL LI.active
{
	padding-top: 1px;
	position: relative;
	top: 1px;
	font: bold 11pt sans-serif;
}
UL LI A.active
{
	font-weight: bold;
}
.panel-container
{
	border: 1px solid #000000;
	padding: 0 10px;
}
DIV.textWholePage UL
{
	/*+placement:displace 1px -37px;*/
	position: absolute;
	margin-left: 1px;
	margin-top: -37px;
}
/*suggested by http://jqueryui.com/docs/Upgrade_Guide_17*/
.ui-mouseOver .ui-resizable-handle
{
	width: 8px;
	height: 8px;
	border: 1px solid rgb(128, 128, 128);
	background: rgb(242, 242, 242);
}
.ui-resizable-n, .ui-resizable-s
{
	left: 45%;
}
.ui-resizable-e, .ui-resizable-w
{
	top: 45%;
}
.ui-resizable-se
{
	/*[disabled]bottom:-5px;*/
	/*[disabled]right:-5px;*/
}
