/*This styesheet is applied when an book is being edited. It does things like allow you to set the type of book, the copyright, license, etc.*/
OL#topics
{
	list-style: none;
}
DIV.ui-sourceTextsForBubble TEXTAREA
{
	background-color: transparent;
	border: none;
}
/*this is used for the "versionAcknowledgments" textarea, which we don't want shell-makers to be filling in*/
TEXTAREA.readOnlyInEditMode
{
/*we have javascript function which notices this border and makes it read-only
(which isn't a style, so we can't set it ourselves*/
	border: 1px solid transparent;
}
DIV.-bloom-metaData
{
	cursor: pointer;
/*this signals to jscript that in this mode, when the user clicks on this div, it should raise the message in data-message (which bloom will catch)*/
}
DIV.-bloom-metaData TEXTAREA
{
/*border: transparent; /* jscript will translate to read only*/
	cursor: pointer;
/*this signals to jscript that in this mode, when the user clicks on this div, it should raise the message in data-message (which bloom will catch)*/
}
