/*This styesheet applied when a book is being edited. It does things like show that images can be changed by click on them.
There are 2 sub-modes of editing, each with their own stylesheets: originalEditMode and translationEditMode.*/
BODY
{
	text-align: center;
	background-color: #363333;
}
DIV.ui-tooltip-title
{
	text-align: justify;
	margin-left: -9px;
	margin-bottom: -19px;
	margin-top: -8px;
}
DIV.page
{
	background-color: #F8F8F8;
	border: medium outset #000000;
}
DIV.page.coverColor
{
	background-color: #D5D5E4;
	border: medium outset #000000;
}
INPUT
{
	border: thin solid #000000;
}
TEXTAREA
{
	border: thin solid #C0B9B9;
}
TEXTAREA.versionAcknowledgments
{
	height: 266px;
}
TEXTAREA.en
{
	background-color: #D5D5E4;
	visibility: collapse;
/*this by itself just leaves a gap*/
	position: absolute;
/*this removes the gap*/
	left: 0px;
	top: 0px;
}
IMG.hoverUp
{
	background-color: #DFDFDF;
	border: 1px outset #000000;
}
TEXTAREA:focus
{
	border: 3px solid #A03C50;
}
.overflow
{
	background-color: #C30606 !important;
}
/*for use with qtip, showing what language each textarea is in
.ui-tooltip-bloomLang
{
}
.ui-tooltip-bloomLang .ui-tooltip-titlebar
{
background-color: red;
color: #FFFFFF;
border: 0 dashed transparent;
}*/
.fieldInfo-qtip .ui-tooltip-content
{
	border: 0 solid #A03C50;
	padding: 0px;
	text-align: right;
	color: #363333;
	font-size: 8pt;
	//margin-top: -8px;
	margin-right: 8px;
}
