/*+init {*/
*
{
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 1em;
}
H1, H2, H3, H4, H5, H6, TH
{
	font-weight: inherit;
	=font-weight: expression(this.__FW?this.__FW:(new Function('t','return (t.__FW=t.parentNode.currentStyle.fontWeight)'))(this));
}
ADDRESS, CITE, DFN, VAR
{
	font-style: inherit;
	=font-style: expression(this.__FS?this.__FS:(new Function('t','return (t.__FS=t.parentNode.currentStyle.fontStyle)'))(this));
}
CAPTION, CODE, KBD, PRE, SAMP, TT, INPUT, TEXTAREA, SELECT, BUTTON
{
	font-family: inherit;
	=font-family: expression(this.__FF?this.__FF:(new Function('t','return (t.__FF=t.parentNode.currentStyle.fontFamily)'))(this));
}
TABLE
{
	border-spacing: 0;
}
TH
{
	text-align: left;
}
HTML, BODY, THEAD, TBODY, TFOOT, TR, TH, TD, BR
{
	position: static;
}
INPUT[type=hidden]
{
	display: none !important;
}
FIELDSET, A IMG
{
	border: 0;
}
BODY
{
	font-size: 100%;
	font-family: sans-serif;
	line-height: 1.5;
}
/*+}*/
HTML, BODY
{
	padding: 0px;
	margin: 0px 0px 0px 21px;
	background-color: #1A1A1A;
	width: 572px;
	height: 100%;
/*We have this here instead of a ul because while dragging, the li may be owned by a div, not a ul.*/
	list-style: none;
}
DIV#container
{
	min-height: 100%;
	height: auto !important;
	width: 100%;
	top: 10px;
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
DIV#bookCount
{
	color: #3465A4;
	position: absolute;
	bottom: 10px;
	margin-top: 0px;
	padding-top: 0px;
}
H1
{
	font: 18.3pt sans-serif;
	color: #3465A4;
}
H2
{
	color: #3465A4;
	border-top: 2px solid #3465A4;
	font: 10pt sans-serif;
	padding-top: 5px;
	padding-left: 10px;
}
UL.collection LI.bookLI
{
	/*[empty]position:;*/
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	margin-right: 35px;
	width: 116px;
	text-align: center;
	padding: 0;
	margin-top: 16px;
}
/*Library*/
DIV#libraryContents
{
	width: 487px;
	margin-left: 1px;
}
DIV#libraryContents
{
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
}
DIV#libraryContents LI
{
	margin-top: 0;
	padding-top: 0px;
	height: 100%;
	width: 142px;
	text-align: center;
	list-style: none;
}
DIV#libraryContents * IMG
{
	margin-left: 14px;
	margin-top: 19px;
	/*[empty]width:;*/
	margin-bottom: -10px;
}
DIV#libraryContents DIV.bookTitle
{
	color: #E6E6E6;
	font: 15.3pt sans-serif;
	margin-left: 7px;
}
LI.selectedBook
{
	background-color: #4D4D4D;
}
/*Book Store*/
DIV#collections
{
	min-height: 100% !important;
	max-height: 100%;
	/*+placement:anchor-top-left 509px 4px;*/
	position: absolute;
	left: 509px;
	top: 4px;
	width: 499px;
}
DIV#templateCollections
{
	/*[disabled]overflow-y:scroll;*/
	height: 100%;
	width: 100%;
}
UL#allCollections
{
	width: 100%;
	list-style: none;
}
UL.collection
{
	list-style: none;
	margin-top: 0px;
}
LI.collectionGroup
{
	background-color: #1A1A1A;
	clear: both;
	margin-top: 8px;
	padding-top: 22px;
}
DIV.bookTitle
{
	color: #E6E6E6;
	margin-top: 8px;
}
A
{
	display: inline-block;
}
DIV#libraryContents > LI
{
	background-color: #CB0A0A;
}
