mixin radio(key, theValue, i18nKey, englishLabel)
	label
		input(type='radio', name=key, value=theValue, data-i18n=i18nKey, onClick='handleBookSettingRadioClick(this);')
		=englishLabel
	br
mixin checkbox(key, i18nKey, englishLabel)
	input(type='checkbox', name=key, value=theValue, onClick='editTabBundle.handleBookSettingCheckboxClick(this);')
	label(data-i18n=i18nKey)
		=englishLabel
mixin text(i18nKey, englishText)
	p(data-i18n=i18nKey)
		=englishText

html
	head
		//review: I suspect we don't actually have a way to suck these up into our little tool (though that would be great). Instead, the js comes in as part of the webpack bundle, and the css has to be declared in the toolbox.jade
		script(src='/bloom/bookEdit/toolbox/bookSettings/bookSettings.js')
		link(rel='stylesheet', href='/bloom/bookEdit/toolbox/bookSettings/bookSettings.css')
	body
		//- Uncomment the next 4 lines to reactivate the Settings tool
		//- h3(data-toolId='bookSettingsTool', data-order='100')
		//- 	img(src="/bloom/bookEdit/toolbox/bookSettings/icon.svg")
		//- div(data-toolId='bookSettingsTool')
		//- 	form#bookSettings
					//- .showOnlyWhenBookWouldNormallyBeLocked
					//- Function moved to page controls React panel (BL-5073)
					//- +text('EditTab.Toolbox.Settings.UnlockShellBookIntroductionText','Bloom normally prevents most changes to shellbooks. If you need to add pages, change images, etc., tick the box below.')
					//- +checkbox('unlockShellBook', 'EditTab.Toolbox.Settings.Unlock', 'Allow changes to this shellbook')
				// if you turn this on, look for code #if UserControlledTemplate
				//- .showOnlyIfBookIsNeverLocked
				//- 	+text('EditTab.Toolbox.Settings.IsTemplateBookIntroductionText','When you click "Add Page", you can choose from pages contained in template books. To make this a template book, tick this checkbox.')
				//- 	+checkbox('isTemplateBook', 'EditTab.Toolbox.Settings.IsTemplateBook', 'This is a template book.')

