body {
    font-family: sans-serif;
    background: #e5eef6;
    margin-left: 39px;
    height: 386px;
    width: 499px;
}
input {
    /*+placement:shift;*/
    position: relative;
    left: 0;
    top: 0;
}
input.year {
    /*+placement:shift -2px 16px;*/
    position: relative;
    left: 0px;
    top: 16px;
    font-size: x-large;
    width: 81px;
    height: 34px;
    margin-bottom: 12px;
}
div#monthNames {
    width: 240px;
    /*[empty]height:;*/
    /*+placement:shift 243px -200px;*/
    position: relative;
    left: 243px;
    top: -200px;
}
h1 {
    margin-bottom: 4px;
    font-size: x-large;
}
div#dayNames {
    /*[empty]width:;*/
}
#dayNames input {
    width: 35px;
}
label {
    width: 2.5em;
    font-weight: bold;
    float: left;
    text-align: left;
}
#dayNames label {
    width: 105px;
}
#monthNames label {
    width: 28px;
}
#monthNames input {
    width: 200px;
}
label.year {
    font-size: x-large;
    font-weight: bold;
    /*+placement:shift 0px 18px;*/
    position: relative;
    left: 0px;
    top: 18px;
}
