doctype html
include ../../bloom-foundation-mixins.jade

//- generates a translationGroup with any classes on the internal div
mixin field-classOnChild(internalClass)
	- requireOneArgument('field-classOnChild', arguments)
	.bloom-translationGroup&attributes(attributes)
		block
		+editable(kLanguageForPrototypeOnly)(class=internalClass)

mixin image-largePage
	- requireZeroArguments('image', arguments);
	.bloom-imageContainer(style="opacity: 1; overflow: hidden;")
		img(src="placeHolder.png", width=attributes.initialImageWidth, alt='Could not load the picture')
		block

html
	head
		+metadata-standard
		meta(name='bloomBookId', content='056B6F11-4A6C-4942-B2BC-8861E62B03B3')
		meta(name='canChangeOriginalAcknowledgments', content='false')
		meta(name='defaultBookletLayout', content='Calendar')
		meta(name='pageTemplateSource', content='Wall Calendar')
		meta(name='experimental', content='true')
		title Calendar
		+stylesheets('wallCalendar.css')
		+script('jquery-1.10.1.js')
		+script('configure.js')
	body
		+dataDiv
			+bookVariable-title('en', 'Wall Calendar')
			+bookVariable-title('tpi', 'Kalenda')
			+bookVariable-title('id', 'Kalender')
		.bloom-page.calendarMonthTop.templateOnly.bloom-monolingual.bloom-content1.A5Landscape#3e049bff-797f-4a17-9c06-064955ae73cc(data-page='required')
			.marginBox
				+image-largePage
				+field-classOnChild('calendarPictureCaption-style').calendarBelowBigPictureText
					label.placeholder some nice text for the month
		.bloom-page.calendarMonthBottom.templateOnly.bloom-monolingual.bloom-content1.A5Landscape#553165c2-be6c-4cf2-885e-d8f3159170fe(data-page='required')
			.marginBox
				p(class='centered calendarBottomPageHeader') January 2099
				table
					thead
						tr
							th Sun
							th Mon
							th Tue
							th Wed
							th Thu
							th Fri
							th Sat
					tbody
						tr
							td
								.bloom-content1 1
							// NB: the actual contents are created by javascript. This first line has been modified to remind us what the javascript actually enters
							td 2
							td 3
							td 4
							td 5
							td 6
							td 7
						tr
							td 8
							td 9
							td 10
							td 11
							td 12
							td 13
							td 14
						tr
							td 15
							td 16
							td 17
							td 18
							td 19
							td 20
							td 21
						tr
							td 22
							td 23
							td 24
							td 25
							td 26
							td 27
							td 28
						tr
							td 29
							td 30
							td 31
							td
							td
							td
							td
