include ../bloom-xmatter-mixins.pug

doctype html
html
	head

	body
		+page-cover('Front Cover')(data-export='front-matter-cover', data-xmatter-page='frontCover').cover-is-image.no-margin-page.frontCover.outsideFrontCover#b5169df5-6a40-4c52-bd30-4cab45afe0ed
			.split-pane-component-inner
				+standard-cover-image.bloom-imageObjectFit-cover
