html
	head
	body
		h3#toolbox-settings-header(data-order='999', data-i18n='EditTab.Toolbox.More') More...
		#toolbox-settings
			.checkbox.clear#decodableReaderCheck(data-tool='decodableReaderTool', onclick='FrameExports.showOrHideTool_click(this);')
			.checkbox-label(data-i18n='EditTab.Toolbox.DecodableReaderTool') Decodable Reader Tool
			.checkbox.clear#imageDescriptionCheck(data-tool='imageDescriptionTool', onclick='FrameExports.showOrHideTool_click(this);')
			.checkbox-label.enterprise-only-flag(data-i18n='EditTab.Toolbox.ImageDescriptionTool') Image Description Tool
			.checkbox.clear#leveledReaderCheck(data-tool='leveledReaderTool', onclick='FrameExports.showOrHideTool_click(this);')
			.checkbox-label(data-i18n='EditTab.Toolbox.LeveledReaderTool') Leveled Reader Tool
			.checkbox.clear#motionCheck(data-tool='motionTool', onclick='FrameExports.showOrHideTool_click(this);')
			.checkbox-label(data-i18n='EditTab.Toolbox.MotionTool') Motion Tool
			.checkbox.clear#musicCheck(data-tool='musicTool', onclick='FrameExports.showOrHideTool_click(this);')
			.checkbox-label(data-i18n='EditTab.Toolbox.MusicTool') Music Tool
			.checkbox.clear#signLanguageCheck(data-tool='signLanguageTool', onclick='FrameExports.showOrHideTool_click(this);')
			.checkbox-label.enterprise-only-flag(data-i18n='EditTab.Toolbox.SignLanguageTool') Sign Language Tool
			.checkbox.clear#impairmentVisualizerCheck(data-tool='impairmentVisualizer', onclick='FrameExports.showOrHideTool_click(this);')
			.checkbox-label.enterprise-only-flag(data-i18n='EditTab.Toolbox.ImpairmentVisualizer') Impairment Visualizer
