html
	head
	body
		h3#toolbox-settings-header(data-order='999', data-i18n='EditTab.Toolbox.More') More...
		#toolbox-settings
			// .checkbox.clear#showPE(data-tool='pageElements', onclick='FrameExports.showOrHideTool_click(this);')
			// .checkbox-label Page Elements
			.checkbox.clear#decodableReaderCheck(data-tool='decodableReaderTool', onclick='FrameExports.showOrHideTool_click(this);')
			.checkbox-label(data-i18n='EditTab.Toolbox.DecodableReaderTool') Decodable Reader Tool
			.checkbox.clear#leveledReaderCheck(data-tool='leveledReaderTool', onclick='FrameExports.showOrHideTool_click(this);')
			.checkbox-label(data-i18n='EditTab.Toolbox.LeveledReaderTool') Leveled Reader Tool
			.checkbox.clear#motionCheck(data-tool='motionTool', onclick='FrameExports.showOrHideTool_click(this);')
			.checkbox-label(data-i18n='EditTab.Toolbox.Motion.Heading') Motion Tool
			.checkbox.clear#musicCheck(data-tool='musicTool', onclick='FrameExports.showOrHideTool_click(this);')
			.checkbox-label(data-i18n='EditTab.Toolbox.Music.Heading') Music Tool
