html
	head
	body
		h3#toolbox-settings-header(data-order='999', data-i18n='EditTab.Toolbox.More') More...
		#toolbox-settings
			//- Add new tools in alphabetical order
			.checkbox-and-label
				.checkbox.clear#comicCheck(data-tool='comicTool', onclick='editTabBundle.showOrHideTool_click(this);')
				.checkbox-label(data-i18n='EditTab.Toolbox.ComicTool') Comic Tool
			.checkbox-and-label
				.checkbox.clear#decodableReaderCheck(data-tool='decodableReaderTool', onclick='editTabBundle.showOrHideTool_click(this);')
				.checkbox-label(data-i18n='EditTab.Toolbox.DecodableReaderTool') Decodable Reader Tool
			.checkbox-and-label
				.checkbox.clear#imageDescriptionCheck(data-tool='imageDescriptionTool', onclick='editTabBundle.showOrHideTool_click(this);')
				.checkbox-label(data-i18n='EditTab.Toolbox.ImageDescriptionTool') Image Description Tool
			.checkbox-and-label
				.checkbox.clear#impairmentVisualizerCheck(data-tool='impairmentVisualizer', onclick='editTabBundle.showOrHideTool_click(this);')
				.checkbox-label(data-i18n='EditTab.Toolbox.ImpairmentVisualizer') Impairment Visualizer
			.checkbox-and-label
				.checkbox.clear#leveledReaderCheck(data-tool='leveledReaderTool', onclick='editTabBundle.showOrHideTool_click(this);')
				.checkbox-label(data-i18n='EditTab.Toolbox.LeveledReaderTool') Leveled Reader Tool
			.checkbox-and-label
				.checkbox.clear#motionCheck(data-tool='motionTool', onclick='editTabBundle.showOrHideTool_click(this);')
				.checkbox-label(data-i18n='EditTab.Toolbox.MotionTool') Motion Tool
			.checkbox-and-label
				.checkbox.clear#musicCheck(data-tool='musicTool', onclick='editTabBundle.showOrHideTool_click(this);')
				.checkbox-label(data-i18n='EditTab.Toolbox.MusicTool') Music Tool
			.checkbox-and-label
				.checkbox.clear#signLanguageCheck(data-tool='signLanguageTool', onclick='editTabBundle.showOrHideTool_click(this);')
				.checkbox-label.enterprise-only-flag(data-i18n='EditTab.Toolbox.SignLanguageTool') Sign Language Tool
