html
	head
	body
		h3#accordion-settings-header(data-order='999', data-i18n='Accordion.More') More...
		#accordion-settings
			// .checkbox.clear#showPE(data-panel='pageElements', onclick='showOrHidePanel_click(this);')
			// .checkbox-label Page Elements
			.checkbox.clear#decodableReaderCheck(data-panel='decodableReaderTool', onclick='showOrHidePanel_click(this);')
			.checkbox-label(data-i18n='Tools.decodableReader', data-i18n='Accordion.DecodableReaderTool') Decodable Reader Tool
			.checkbox.clear#leveledReaderCheck(data-panel='leveledReaderTool', onclick='showOrHidePanel_click(this);')
			.checkbox-label(data-i18n='Tools.leveledReader', data-i18n='Accordion.LeveledReaderTool') Leveled Reader Tool
			.checkbox.clear#talkingBookCheck(data-panel='talkingBookTool', onclick='showOrHidePanel_click(this);')
			.checkbox-label(data-i18n='Tools.talkingBook', data-i18n='Accordion.TalkingBookTool') Talking Book Tool