@import "../branding-base.less";
[class*="Landscape"] {
    [data-book="outside-back-cover-branding-bottom-html"] img {
        max-width: 50%;
        max-height: 50%;
    }
}

[data-book="outside-back-cover-branding-bottom-html"] img {
    max-width: 60%;
    max-height: 60%;
}
