@import "../branding-base.less";

[data-book="outside-back-cover-branding-bottom-html"] img {
    max-width: unset !important;
    width: 50%;
}

[data-book="title-page-branding-bottom-html"] img {
    width: 50%;
    height: 40px !important; // They want it about 3/8" tall
}
