BODY {
    font-family: sans-serif;
    margin-left: 53px;
    line-height: 1.5em;
    width: 17cm;
}

H1, H2, H3, H4 {
    margin: 24pt 0 0;
    line-height: initial;
}

// we're using blockquotes ( > in markdown) for sections
// that draw users attention to something special
blockquote {
    background: #F2E3E6;
    padding: 10px 10px 10px 18px;
    display: inline-block;
    margin-left: 0;
}
