//- Common template for toolbox
//- Use with extends to customize headContent and endBodyScripts blocks
doctype html
html
	head
		block headContent
	body
		.toolboxRoot
			#toolbox
		block endBodyScripts
