@import "../branding-base.less";

[data-book="credits-page-branding-top-html"] {
    margin-bottom: 1em;
    img {
        width: 100%;
        height: 1in;
    }
    div p {
        font-size: 8pt; // shrink the boilerplate so the credits page doesn't overflow
    }
}

// shrink the boilerplate so the credits page doesn't overflow
.credits .marginBox .licenseAndCopyrightBlock {
    .copyright {
        margin-bottom: 1em;
    }
    .licenseBlock .licenseDescription {
        font-size: 8pt;
    }
}

[data-xmatter-page="credits"] {
    * {
        text-align: justify;
    }
}
