@import "../branding-base.less";

[data-book="credits-page-branding-top-html"] {
    margin-bottom: 1em;
    img {
        width: 100%;
        height: 1in;
    }
}

[data-xmatter-page="credits"] {
    * {
        text-align: justify;
    }
}
