@import "../sectionScreen.less";

@LightGrey: @bloom-gray;

* {
    box-sizing: border-box;
    position: relative;
}

.intro {
    font-weight: bold;
}

.save-button {
    width: 150px;
}

#progress-box {
    height: calc(100% - 100px);
}

#epubPublishUI {
    .radioButton {
        display: flex;
        flex-direction: row;
    }
    a {
        margin-bottom: 1em;
    }
}

iframe {
    background-color: white;
    margin: auto;
    height: ~"calc(100% - 51px)";
    width: ~"calc(100% - 30px)";
    border: none;
}

#a11yCheckerLink {
    margin-top: 1em;
}

.preview-section {
    .readium-credit {
        font-size: smaller;
        a {
            display: inline;
        }
    }
}
