@import "../sectionScreen.less"; // includes bloomUI.less

@LightGrey: @bloom-gray;

* {
    box-sizing: border-box;
    position: relative;
}

.intro {
    font-weight: bold;
}

.save-button {
    width: 150px;
}

#epubPublishUI {
    height: 100%;

    .radioButton {
        display: flex;
        flex-direction: row;
    }

    a {
        margin-bottom: 1em;
    }

    .preview-section {
        // For now, with the old device preview, we don't want this section growing.
        // The phone preview grows with it and gets a weird aspect ratio.
        flex-grow: 0;
        // and the section doesn't need to be wide enough for a landscape option and controls
        width: 400px;
    }
}

iframe {
    background-color: white;
    margin: auto;
    height: ~"calc(100% - 51px)";
    width: ~"calc(100% - 30px)";
    border: none;
}

#a11yCheckerLink {
    margin-top: 1em;
}

.preview-section {
    .readium-credit {
        font-size: smaller;
        a {
            display: inline;
        }
        margin: 0;
        padding: @screen-padding 0;
    }
}
