doctype html
include ../../templates/bloom-foundation-mixins.pug
// including the lang attribute is causing css problems with defaultLangStyles.css
// <html lang="en">
html
	head
		meta(charset='utf-8')
		+stylesheet('/bloom/bookEdit/pageThumbnailList/pageThumbnailList.css')
		+stylesheet('/bloom/bookEdit/pageThumbnailList/pageControls/pageControls.css')
		+stylesheet('/node_modules/react-grid-layout/css/styles.css')
		+stylesheet('/node_modules/react-resizable/css/styles.css')
	body(data-pageSize='A5Portrait')
		#panelFlexContainer
			#pageGridWrapper
				#pageGrid
			#PageControls
		+script('/bloom/commonBundle.js')
		+script('/bloom/pageControlsBundle.js')
		//- Must be loaded AFTER pageControlsBundle.js. We are violating our usual practice
		//- here of only having one root bundle per page. Anything pageControlsBundle.js
		//- exports will NOT be accessible through editTabBundle, as usual, because
		//- pageThumbnailListBundle.js will overwrite it. That's OK because
		//- pageControlsBundle.js is built from pageControls.tsx which doesn't export anything.
		//- If it ever does export anything we need to access from C# or some other Iframe,
		//- we should reorganize this page to have a single bundle.
		+script('/bloom/pageThumbnailListBundle.js')

