doctype html
include ../../templates/bloom-foundation-mixins.pug
// including the lang attribute is causing css problems with settingsCollectionStyles.css
// <html lang="en">
html
	head
		meta(charset='utf-8')
		+stylesheet('/bloom/modified_libraries/gridly/jquery.gridly.css')
		+stylesheet('/bloom/themes/bloom-jqueryui-theme/jquery-ui-1.8.16.custom.css')
		+stylesheet('/bloom/bookEdit/pageThumbnailList/pageThumbnailList.css')
		+stylesheet('/bloom/bookEdit/pageThumbnailList/pageControls/pageControls.css')
	body
		#panelFlexContainer
			#pageGridWrapper
				#pageGrid.gridly
					#placeholder.gridItem.placeholder
			#PageControls
		#menuIconHolder.menuHolder
			span#menu.ui-icon.ui-icon-triangle-1-s menu
		+script('/bloom/commonBundle.js')
		+script('/bloom/pageThumbnailListBundle.js')
		+script('/bloom/pageControlsBundle.js')
