extends pageThumbnailList.mixins.pug

block headContent
	+stylesheet('/bloom/bookEdit/pageThumbnailList/pageThumbnailList.css')
	+stylesheet('/bloom/bookEdit/pageThumbnailList/pageControls/pageControls.css')

block panelContent
	div#pageThumbnailListLabel(data-i18n="EditTab.PageList.Heading") Pages

block endBodyScripts
	script(src='/bloom/pageControlsBundle.js' type='module')
	//- Must be loaded AFTER pageControlsBundle.js. We are violating our usual practice
	//- here of only having one root bundle per page. Anything pageControlsBundle.js
	//- exports will NOT be accessible through editTabBundle, as usual, because
	//- pageThumbnailListBundle.js will overwrite it. That's OK because
	//- pageControlsBundle.js is built from pageControls.tsx which doesn't export anything.
	//- If it ever does export anything we need to access from C# or some other Iframe,
	//- we should reorganize this page to have a single bundle.
	script(src='/bloom/pageThumbnailListBundle.js' type='module')

