include ../bloom-foundation-mixins.pug

doctype html
html
	head
		+metadata-standard()
		+stylesheets('Sample Template.css')

		meta(name='bloomBookId', content='9F9B5C9C-2FDD-4765-9776-9E7842DA5234')
		//- Eventually, we'll remove Bloom's need for this.
		meta(name='pageTemplateSource', content='Sample Template')
		title 'Sample Template Book'

	body
		+page-choice('Section Intro').sectionIntroPage#9F9B5C9C-2FDD-4765-9776-9E7842DA5234
			+field("auto").heading
			+image
			+field("auto").details
		+page-choice('Major Step').majorStepPage#9F9B5C9C-2FDD-4765-9776-9E7842DA5234
			h1 Step
				+field("auto").step
			// image with three labels the user can drag around
			+image
				+field("N1").imageLabel.bloom-draggableLabel
				+field("N1").imageLabel.bloom-draggableLabel
				+field("N1").imageLabel.bloom-draggableLabel


			h4 Review Chart:
			+grid(4,4).reviewChart

			+repeat(2)
				.letterFormationContainer
					+field("V")(data-placeholder="Q")
					+field("V")(data-placeholder="procedure for writing")
