/*+init {*/
*
{
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 1em;
}
H1, H2, H3, H4, H5, H6, TH
{
	font-weight: inherit;
}
ADDRESS, CITE, DFN, VAR
{
	font-style: inherit;
}
CAPTION, CODE, KBD, PRE, SAMP, TT, INPUT, TEXTAREA, SELECT, BUTTON
{
	font-family: inherit;
}
TABLE
{
	border-spacing: 0;
}
TH
{
	text-align: left;
}
HTML, BODY, THEAD, TBODY, TFOOT, TR, TH, TD, BR
{
	position: static;
}
INPUT[type=hidden]
{
	display: none !important;
}
FIELDSET, A IMG
{
	border: 0;
}
BODY
{
	font-size: 100%;
	line-height: 1.5;
}
/*+}*/
BODY
{
	font-family: "Andika Basic", "Gentium Basic", "Doulous SIL", Sans-Serif;
}
/*used with shellbooks where we want to hide all but one language*/
TEXTAREA.hideMe
{
	visibility: hidden !important;
	position: fixed !important;
}
DIV.-bloom-page
{
	display: block;
	page-break-after: auto;
	background-color: #FFFFFF;
	/*[ph]0*/
}
@media screen
{
	DIV.-bloom-page
	{
		/*[id]0*/border: 1px solid #000000;
	}
}
/*This class is used by the calendar template, which has a page that should only be visible when we're setting up the calendar*/
DIV.-bloom-configurationPage
{
	display: none;
	visibility: hidden;
}
.centered
{
	text-align: center;
	margin-left: 1cm;
}
.imageOnTop P.imageHolder
{
	height: 422px;
}
.imageInMiddle .text
{
	position: relative;
}
.imageWholePage .picture
{
	position: relative;
}
.centerJustify
{
	text-align: center;
}
P
{
	margin-left: 1cm;
}
