/*This is a dummy rule used to transmit to javascript what size/orientations this stylesheet can handle.*/
#bloom-supportedPageConfigurations
{
	content: "A5Landscape";
}

.month TABLE
{
	padding: 1cm;
}
DIV.calendarMonthTop DIV.imageHolder
{
	/*+placement:anchor-top-left 42px 45px;*/
	position: absolute;
	left: 42px;
	top: 45px;
	width: 690px;
	height: 383px;
}
.month THEAD TD
{
	font-weight: bold;
	font-size: larger;
}
.month THEAD TH
{
	width: 3em;
	text-align: center;
}
.month TD
{
	text-align: center;
}
.calendarMonthBottom TABLE
{
	/*+placement:shift 45px 25px;*/
	position: relative;
	left: 45px;
	top: 25px;
}
.calendarMonthBottom TH
{
	text-align: center;
	font-weight: bold;
}
.calendarMonthBottom TD
{
	width: 96px;
	height: 66px;
	border: 1px solid #000000;
	margin: 0;
	padding: 0 0 0 2px;
	vertical-align: top;
}
.calendarMonthBottom TD TEXTAREA
{
	width: 88px;
	height: 34px;
	font-size: 9pt;
	/*+placement:shift 4px -9px;*/
	position: relative;
	left: 4px;
	top: -9px;
}
.calendarBottomPageHeader
{
	/*+placement:shift -29px 14px;*/
	position: relative;
	left: -29px;
	top: 14px;
	text-align: center;
	font: 35.3pt sans-serif;
	width: 777px;
	height: 64px;
}
.calendarTopPageText
{
	/*+placement:anchor-bottom-left -5px -525px;*/
	position: absolute;
	left: -5px;
	bottom: -525px;
	text-align: center;
	width: 724px;
	height: 55px;
}
.calendarMonthBottom TD P
{
	/*+placement:shift -34px -7px;*/
	position: relative;
	left: -34px;
	top: -7px;
}
.calendarMonthTop P.imageHolder
{
	width: 711px;
	height: 363px;
	/*+placement:anchor-top-left 1px 78px;*/
	position: absolute;
	left: 1px;
	top: 78px;
}
