/* This holds common comic book rules
 (currently used by Paper Comic Book and Digital Comic Book) */

/* Note: font colors work in our normal user-modifiable style system, so
   they are defined in the template .htm files instead of here.
   That way, users can change them (when we eventually offer controls to change text color).
*/
@dark: #222222;

.frontCover {
    background-color: @dark;

    .bloom-editable,
    // To understand more about this :after selector, reference
    // the .borderOnTopOfElement(@color) mixin in editMode.less
    div.bloom-imageContainer:after {
        // you can't see the default border with a dark background
        border-color: rgba(69, 69, 69, 0.5);
    }
}

.comic {
    background-color: @dark !important; // legacy still uses this
    .marginBox {
        --marginBox-background-color: @dark; // BL-13256
    }

    // because of the @dark background, we need a different color in various places where we insert a border
    // in edit mode so it will contrast.
    --bloom-editMode-custom-text-border-color: white;
    --bloom-editMode-custom-image-border-color: white;

    // Make comic book pages have no margin or page number.  See BL-13602.
    --page-margin: 0mm;
    --pageNumber-show: none;
    &.numberedPage[class*="Device"] {
        --pageNumber-extra-height: 0mm !important;
    }
}
