/* This holds common comic book rules
 (currently used by Paper Comic Book and Digital Comic Book) */

/* Note: font colors work in our normal user-modifiable style system, so
   they are defined in the template .htm files instead of here.
   That way, users can change them (when we eventually offer controls to change text color).
*/
@dark: #222222;

.frontCover {
    background-color: @dark;

    .bloom-editable,
    // To understand more about this :after selector, reference
    // the .borderOnTopOfElement(@color) mixin in editMode.less
    div.bloom-imageContainer:after {
        // you can't see the default border with a dark background
        border-color: rgba(69, 69, 69, 0.5);
    }
}

.comic {
    background-color: @dark !important;

    div.bloom-editable,
    // To understand more about this :after selector, reference
    // the .borderOnTopOfElement(@color) mixin in editMode.less
    div.bloom-imageContainer:after {
        // you can't see the default border with a dark background
        border: thin solid white;
    }
}
