#topicList{
    .ui-widget-content {
        background: inherit;
        color: black;
        border: none;
        cursor: pointer;
    }
    li {
        padding-left: 30px;
        padding-right: 30px;
    }
}