/*+init {*/
*
{
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 1em;
}
H1, H2, H3, H4, H5, H6, TH
{
	font-weight: inherit;
	=font-weight: expression(this.__FW?this.__FW:(new Function('t','return (t.__FW=t.parentNode.currentStyle.fontWeight)'))(this));
}
ADDRESS, CITE, DFN, VAR
{
	font-style: inherit;
	=font-style: expression(this.__FS?this.__FS:(new Function('t','return (t.__FS=t.parentNode.currentStyle.fontStyle)'))(this));
}
CAPTION, CODE, KBD, PRE, SAMP, TT, INPUT, TEXTAREA, SELECT, BUTTON
{
	font-family: inherit;
	=font-family: expression(this.__FF?this.__FF:(new Function('t','return (t.__FF=t.parentNode.currentStyle.fontFamily)'))(this));
}
TABLE
{
	border-spacing: 0;
}
TH
{
	text-align: left;
}
HTML, BODY, THEAD, TBODY, TFOOT, TR, TH, TD, BR
{
	position: static;
}
INPUT[type=hidden]
{
	display: none !important;
}
FIELDSET, A IMG
{
	border: 0;
}
BODY
{
	font-size: 100%;
	font-family: sans-serif;
	line-height: 1.5;
}
/*+}*/
DIV.ui-tabs-panel LABEL.ui-dform-label
{
	margin-top: 28px;
	margin-bottom: 7px;
}
DIV.ui-dform-tabs
{
	border: none;
	resize: none;
}
BODY
{
	background-color: #333333;
	width: 641px;
}
UL.bottomButtons LI
{
	display: inline;
	float: right;
	padding-right: 0px;
	padding-left: 18px;
	/*[empty]width:;*/
}
BUTTON
{
	width: 131px;
}
BUTTON#ok
{
	accelerator: true;
}
UL.bottomButtons
{
	list-style-type: none;
	/*+placement:anchor-top-left 352px 355px;*/
	position: absolute;
	left: 352px;
	top: 355px;
}
