@import "../sectionScreen.less"; // includes bloomUI.less

.check-with-help {
    margin-top: 10px;
    display: flex; // makes it a row
    justify-content: space-between;
    width: 100%;
    .motionBookModeCheckbox {
        label {
            // this makes the second line indented.. I don't know why
            display: inline-block;
            vertical-align: top;
        }
    }
}

// The div at the root of our react view (right below body). It's given this ID in our
// skeleton HTML file (androidPublishUI.html).
#AndroidPublishUI {
    height: 100%;
}

#getBloomReaderLink {
    margin-left: auto; // push to the right side
    margin-right: 2em; // a bit of space between this and the troubleshooting tips
}

div.method-select-wrapper {
    border: 1px solid;
    background-image: url("drop-down-arrow-left-line.svg");
    background-position: right 0;
    background-size: 20px auto;
    background-repeat: no-repeat;
    width: 250px;
    background-color: white;
}

select.method-root {
    padding-bottom: 65px;
    padding-top: 0 !important;
    border: none;
    -moz-appearance: none;
    background-color: transparent;
}

// Common properties applied to the select as a whole and each option
.method-shared {
    height: 105px;
    width: 250px;
    padding-top: 10px;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 12pt;
    background-size: 150px auto;
}
.wifi-method-option {
    background-image: url("publish-android-wifi.svg");
    border-bottom: solid thin lightgray;
    background-position: center 30px;
}
.usb-method-option {
    background-image: url("publish-android-usb.svg");
    border-bottom: solid thin lightgray;
    background-position: center 55px;
}
.file-method-option {
    background-image: url("publish-android-file.svg");
    background-position: center 55px;
}

button {
    background-color: white;
    &:disabled {
        color: gray;
    }
}

button + button {
    margin-left: 1em;
}

.hidden {
    display: none;
}

.playIcon {
    height: 1.5em;
    margin-right: 10px;
}

.get-bloom-reader {
    margin-top: 1em;
}

// div that is a clone of a bloom-imageContainer, inserted into the page to
// hide it completely. The animation happens inside it.
// Added a lot of classes for specificity but STILL need one !important
// because of what appears to be a bug in FF45.
.preview-content
    .bloom-page.Device16x9Landscape
    div.bloom-imageContainer.hidePage {
    height: 100%;
    width: 100%;
    position: absolute !important; // !important should not be needed, but there's a bug in FF45.
    left: 0;
    top: 0;
    z-index: 2000;
    background-color: black; // hide anything not covered by image
}
