a:hover {
  color: blue;
}
a {
  //color: black;
}

h1 {
  font-size: 12pt;
  font-weight: bold;
}

body {
  margin: 3em;
  background-color: #f0f0f0;
  font-family: "Segoe UI", "Sans";
  font-size: 10pt;
}

button {
  margin-top: 1em;
  &:disabled {
    color:white;// darkgray;
  }
}

#progress {
    height: 100px;
    width: 100%;
    border: solid thin darkgray;
    overflow-x: auto;
    overflow-y: scroll;
}
