include ../Afghan-Children-Read-Dari-XMatter/Dari-XMatter-mixins.pug

doctype html
html
	head
		+metadata-standard
		title Dari Device Front &amp; Back Matter
		//- NB: this has no effect on books using this stylesheet; it only does anything if you're viewing the xmatter html by itself
		+stylesheets('Afghan-Children-Read-Dari-Device-XMatter.css')
	body
		+dari-outsideFrontCover
		+dari-titlePage
		+afg-messagePage
		+dari-credits.bloom-backMatter
		+afg-nationalAnthem-device
		+standard-endExtra1PageForDevice
		+standard-endExtra2PageForDevice
		+afg-endExtra3PageForDevice
		+afg-theEndPageForDevice
