/*Cover Page*/
.cover .vernacularBookTitle
{
	font-size: 30pt;
	height: 2.1cm;
	left: -26px;
	margin-left: 2cm;
	margin-top: 1.5cm;
	position: relative;
	text-align: center;
	top: -5px;
	width: 727px;
	/*+placement:anchor-top-left -44px -35px;*/
	position: absolute;
	left: -44px;
	top: -35px;
}
.cover .imageHolder
{
	height: 8.6cm;
	width: 726px;
	/*+placement:anchor-top-left 34px 112px;*/
	position: absolute;
	left: 34px;
	top: 112px;
}
DIV.coverBottomBookTopic
{
	bottom: 43px;
	left: 9cm;
	overflow: hidden;
	position: absolute;
	text-align: right;
	width: 192px;
	/*+placement:anchor-bottom-left 576px 32px;*/
	position: absolute;
	left: 576px;
	bottom: 32px;
}
DIV.coverBottomBookTopic TEXTAREA
{
	width: 170px;
	height: 33px;
	/*+placement:shift 23px 0px;*/
	position: relative;
	left: 23px;
	top: 0px;
}
DIV.coverBottomLangName
{
	bottom: 20px;
	height: 30px;
	left: 0.7cm;
	overflow: hidden;
	position: absolute;
	text-align: left;
	width: 8.6cm;
	/*+placement:anchor-top-left 26px 458px;*/
	position: absolute;
	left: 26px;
	top: 458px;
}
/*Title Page*/
.titlePage
{
	margin: 0;
	padding: 0;
	text-align: center;
}
DIV#languageLocation
{
	/*+placement:shift 87px 13px;*/
	position: relative;
	left: 87px;
	top: 13px;
}
TEXTAREA.district
{
	width: 169px;
	height: 33px;
}
DIV.titlePage DIV#languageInformation
{
	/*+placement:anchor-top-left 100px 278px;*/
	position: absolute;
	left: 100px;
	top: 278px;
	width: 425px;
	margin-left: 78px;
}
.titlePage TEXTAREA.titleN1
{
	font-size: 14pt;
	text-align: center;
	/*+placement:anchor-top-left 130px 113px;*/
	position: absolute;
	left: 130px;
	top: 113px;
	width: 420px;
	height: 42px;
}
.titlePage TEXTAREA.titleN2
{
	font-size: 14pt;
	left: 21px;
	text-align: center;
	/*+placement:anchor-top-left 129px 161px;*/
	position: absolute;
	left: 129px;
	top: 161px;
	width: 423px;
	height: 36px;
}
.titlePage:after
{
	bottom: 0.2cm;
	left: 33px;
	position: absolute;
}
DIV.titlePage .titleV
{
	font-size: 26.1pt;
	height: 111px;
	text-align: center;
	border: 1px solid #000000;
	/*+placement:shift 130px -2px;*/
	position: relative;
	left: 130px;
	top: -2px;
	width: 419px;
}
DIV#titePageTitleBlock
{
	margin-left: 48px;
	margin-right: 7px;
	margin-top: 48px;
	width: 447px;
}
/*Verso Page*/
DIV.verso
{
	border: 4px solid #1E15D0;
	text-align: center;
}
TEXTAREA.versionAcknowledgments
{
	/*+placement:shift 4px 59px;*/
	position: relative;
	left: 4px;
	top: 59px;
	height: 125px !important;
	width: 281px;
}
TEXTAREA.license
{
}
DIV#versoLicenseAndCopyright
{
	/*+placement:shift -30px 54px;*/
	position: relative;
	left: -30px;
	top: 54px;
	margin-left: 57px;
}
TEXTAREA.originalAcknowledgments
{
	height: 268px;
	width: 454px;
	margin-left: 55px;
	margin-top: 43px;
}
DIV.originalAcknowledgments
{
	height: 162px;
	width: 608px;
	margin-left: 55px;
	margin-top: 43px;
	/*+placement:shift 65px 0px;*/
	position: relative;
	left: 65px;
	top: 0px;
}
TEXTAREA.credits
{
	height: 160px;
	/*+placement:anchor-top-left 87px 339px;*/
	position: absolute;
	left: 87px;
	top: 339px;
	text-align: center;
	width: 645px;
}
.verso TEXTAREA
{
	margin-left: 52px;
	text-align: center;
	width: 470px;
	height: 70px;
}
TEXTAREA.copyright
{
}
