/*Cover Page*/
.cover .vernacularBookTitle
{
	font-size: 30pt;
	height: 3.3cm;
	left: -26px;
	margin-left: 2cm;
	margin-top: 1.5cm;
	position: relative;
	text-align: center;
	top: -5px;
	width: 423px;
	/*+placement:anchor-top-left -5px 6px;*/
	position: absolute;
	left: -5px;
	top: 6px;
}
.cover .titleN1
{
	font-size: 12pt;
	height: 0.8cm;
	left: -26px;
	margin-left: 2cm;
	margin-top: 1.5cm;
	position: relative;
	text-align: center;
	top: -5px;
	width: 423px;
	/*+placement:anchor-top-left -4px 142px;*/
	position: absolute;
	left: -4px;
	top: 142px;
}
.cover DIV.bloom-imageContainer
{
	height: 8.3cm;
	width: 432px;
	/*+placement:anchor-top-left 66px 267px;*/
	position: absolute;
	left: 66px;
	top: 267px;
}
DIV.coverBottomBookTopic
{
	overflow: hidden;
	text-align: right;
	width: 237px;
	height: 75px;
	/*+placement:anchor-bottom-right 29px 0px;*/
	position: absolute;
	right: 29px;
	bottom: 0px;
	min-height: 20px;
}
DIV.coverBottomBookTopic DIV.topicN1
{
	height: 106px;
	min-height: 20px;
}
DIV.coverBottomLangName
{
	bottom: 20px;
	height: 56px;
	left: 0.7cm;
	overflow: hidden;
	position: absolute;
	text-align: left;
	width: 8.4cm;
}
/*Title Page*/
DIV.titlePage
{
	margin: 0;
	padding: 0;
	text-align: center;
}
DIV.ISBNContainer
{
	/*+placement:anchor-top-left 74px 445px;*/
	position: absolute;
	left: 74px;
	top: 445px;
	width: 424px;
}
DIV.ISBNContainer DIV
{
	height: 21px;
	display: inline-block;
	text-align: left;
	/*+placement:shift 1px 4px;*/
	position: relative;
	left: 1px;
	top: 4px;
	min-width: 120px;
}
DIV.titlePage .titleV
{
	font-size: 26.1pt;
	height: 111px;
	text-align: center;
	/*+placement:anchor-top-left 16px 0px;*/
	position: absolute;
	left: 16px;
	top: 0px;
	width: 419px;
}
.titlePage .titleN1
{
	font-size: 14pt;
	text-align: center;
	/*+placement:anchor-top-left 16px 121px;*/
	position: absolute;
	left: 16px;
	top: 121px;
	width: 420px;
	height: 45px;
}
.titlePage .titleN2
{
	font-size: 14pt;
	text-align: center;
	/*+placement:anchor-top-left 16px 168px;*/
	position: absolute;
	left: 16px;
	top: 168px;
	width: 420px;
	height: 45px;
}
DIV.titlePage .credits
{
	height: 131px;
	/*+placement:anchor-top-left 65px 318px;*/
	position: absolute;
	left: 65px;
	top: 318px;
	text-align: center;
	width: 421px;
}
DIV.titlePage DIV#languageInformation
{
	/*+placement:shift -5px 424px;*/
	position: relative;
	left: -5px;
	top: 424px;
	width: 425px;
	margin-left: 78px;
}
DIV.languageLocation
{
	/*+placement:anchor-top-left 6px 50px;*/
	position: absolute;
	left: 6px;
	top: 50px;
	width: 407px;
}
DIV#titePageTitleBlock
{
	margin-left: 48px;
	margin-right: 7px;
	margin-top: 48px;
	width: 447px;
}
/*Verso Page*/
DIV.verso
{
	border: 4px solid #1E15D0;
	text-align: center;
}
DIV.versionAcknowledgments
{
	/*+placement:anchor-bottom-left 58px 38px;*/
	position: absolute;
	left: 58px;
	bottom: 38px;
	height: 204px !important;
	width: 457px;
}
DIV#versoLicenseAndCopyright
{
	/*+placement:shift -21px 53px;*/
	position: relative;
	left: -21px;
	top: 53px;
	margin-left: 83px;
	width: 453px;
	height: 129px;
}
DIV.licenseNotes
{
	/*+placement:anchor-top-left 3px 37px;*/
	position: absolute;
	left: 3px;
	top: 37px;
	width: 449px;
}
DIV.copyright
{
	width: 450px;
	height: 34px;
	/*+placement:anchor-top-left 3px 6px;*/
	position: absolute;
	left: 3px;
	top: 6px;
}
IMG.licenseImage
{
	width: 114px !important;
	height: 34px !important;
	/*+placement:anchor-top-left -43px 61px;*/
	position: absolute;
	left: -43px;
	top: 61px;
}
BUTTON#editCopyrightAndLicense
{
	/*+placement:anchor-top-left 148px 0px;*/
	position: absolute;
	left: 148px;
	top: 0px;
	font-size: 9pt;
}
DIV.licenseDescription
{
	font-size: 8pt;
	margin-left: 35px;
	margin-right: 77px;
	text-align: left;
	width: 70%;
	height: 57px;
	/*+placement:shift 89px 60px;*/
	position: relative;
	left: 89px;
	top: 60px;
}
DIV.licenseUrl
{
	display: none;
}
DIV.originalAcknowledgments
{
	height: 268px;
	width: 454px;
	margin-left: 55px;
	margin-top: 43px;
}
