/*Cover Page*/
.cover .vernacularBookTitle
{
	font-size: 30pt;
	height: 3.7cm;
	left: -26px;
	margin-left: 2cm;
	margin-top: 1.5cm;
	position: relative;
	text-align: center;
	top: -5px;
	width: 423px;
}
.cover IMG
{
	max-height: 12cm;
	max-width: 13.2cm;
}
.cover P.imageHolder
{
	height: 12cm;
	text-align: center;
}
DIV.coverBottomBookTopic
{
	bottom: 43px;
	left: 9cm;
	overflow: hidden;
	position: absolute;
	text-align: right;
	width: 192px;
}
DIV.coverBottomBookTopic TEXTAREA
{
	width: 170px;
	height: 33px;
}
DIV.coverBottomLangName
{
	bottom: 20px;
	height: 56px;
	left: 0.7cm;
	overflow: hidden;
	position: absolute;
	text-align: left;
	width: 5.9cm;
}
/*Title Page*/
.titlePage
{
	margin: 0;
	padding: 0;
	text-align: center;
}
DIV#languageLocation
{
	/*+placement:shift 0px 31px;*/
	position: relative;
	left: 0px;
	top: 31px;
}
TEXTAREA.district
{
	width: 169px;
	height: 33px;
}
DIV.titlePage DIV#languageInformation
{
	/*+placement:shift 1px 129px;*/
	position: relative;
	left: 1px;
	top: 129px;
	width: 425px;
	margin-left: 78px;
}
.titlePage TEXTAREA.titleN1
{
	font-size: 14pt;
	text-align: center;
	/*+placement:shift 18px 6px;*/
	position: relative;
	left: 18px;
	top: 6px;
	width: 420px;
}
.titlePage TEXTAREA.titleN2
{
	font-size: 14pt;
	left: 21px;
	text-align: center;
	/*+placement:shift 20px 22px;*/
	position: relative;
	left: 20px;
	top: 22px;
	width: 421px;
}
.titlePage:after
{
	bottom: 0.2cm;
	left: 33px;
	position: absolute;
}
DIV.titlePage .titleV
{
	font-size: 26.1pt;
	height: 111px;
	text-align: center;
	/*+placement:shift -8px 0px;*/
	position: relative;
	left: -8px;
	top: 0px;
	width: 419px;
}
DIV#titePageTitleBlock
{
	margin-left: 48px;
	margin-right: 7px;
	margin-top: 48px;
	width: 447px;
}
/*Verso Page*/
DIV.verso
{
	border: 4px solid #1E15D0;
	text-align: center;
}
TEXTAREA.versionAcknowledgments
{
	/*+placement:anchor-bottom-left 58px 38px;*/
	position: absolute;
	left: 58px;
	bottom: 38px;
	height: 204px !important;
	width: 457px;
}
DIV.license
{
	width: 461px;
	height: 78px;
}
DIV#versoLicenseAndCopyright
{
	/*+placement:shift -21px 53px;*/
	position: relative;
	left: -21px;
	top: 53px;
	margin-left: 83px;
	width: 453px;
	height: 129px;
}
IMG.licenseImage
{
	/*+placement:shift -181px -24px;*/
	position: relative;
	left: -181px;
	top: -24px;
}
BUTTON#editCopyrightAndLicense
{
	/*+placement:shift -15px -30px;*/
	position: relative;
	left: -15px;
	top: -30px;
	font-size: 9pt;
}
DIV.licenseDescription
{
	font-size: 8pt;
	margin-left: 35px;
	margin-right: 77px;
	/*+placement:shift 59px -64px;*/
	position: relative;
	left: 59px;
	top: -64px;
	text-align: left;
}
DIV.licenseUrl
{
	display: none;
}
TEXTAREA.originalAcknowledgments
{
	height: 268px;
	width: 454px;
	margin-left: 55px;
	margin-top: 43px;
}
DIV.originalAcknowledgments
{
	height: 268px;
	width: 454px;
	margin-left: 55px;
	margin-top: 43px;
}
TEXTAREA.credits
{
	height: 131px;
	/*+placement:shift 10px 40px;*/
	position: relative;
	left: 10px;
	top: 40px;
	text-align: center;
	width: 421px;
}
DIV.copyright
{
	width: 450px;
	height: 34px;
	/*+placement:shift 0px -26px;*/
	position: relative;
	left: 0px;
	top: -26px;
}
