/*Cover Page
....Title*/
.A5Portrait.cover .bloom-translationGroup.coverTitle
{
	/*+placement:anchor-top-left 33px 44px;*/
	position: absolute;
	left: 33px;
	top: 44px;
	width: 475px;
	text-align: center;
}
.A5Landscape.cover .bloom-translationGroup.coverTitle
{
	/*+placement:anchor-top-left 37px 30px;*/
	position: absolute;
	left: 37px;
	top: 30px;
	width: 728px;
	text-align: center;
}
.A4Landscape.cover .bloom-translationGroup.coverTitle
{
	/*+placement:anchor-top-left 112px 44px;*/
	position: absolute;
	left: 112px;
	top: 44px;
	width: 901px;
	text-align: center;
}
/*...................Vernacular*/
.A5Portrait.cover .bookTitle.bloom-content1
{
	font-size: 30.3pt;
	height: 3.3cm;
	position: relative;
	width: 100%;
	/*+placement:anchor-top-left -5px 6px;*/
	position: absolute;
	left: -5px;
	top: 6px;
	display: block;
	line-height: 1;
}
.A5Landscape.cover .bookTitle.bloom-content1
{
	font-size: 38.3pt;
	height: 1.5cm;
	position: relative;
	width: 100%;
	/*+placement:anchor-top-left -5px 6px;*/
	position: absolute;
	left: -5px;
	top: 6px;
	display: block;
}
.A4Landscape.cover .bookTitle.bloom-content1
{
	font-size: 38.3pt;
	height: 1.5cm;
	position: relative;
	width: 100%;
	/*+placement:anchor-top-left -5px 6px;*/
	position: absolute;
	left: -5px;
	top: 6px;
	display: block;
	line-height: 1.2;
}
/*....................National 1*/
.A5Portrait.cover .bookTitle.bloom-contentNational1
{
	font-size: 12pt;
	height: 0.8cm;
	width: 100%;
	/*+placement:anchor-top-left -4px 134px;*/
	position: absolute;
	left: -4px;
	top: 134px;
	display: block;
}
.A5Landscape.cover .bookTitle.bloom-contentNational1
{
	font-size: 12pt;
	height: 0.8cm;
	width: 100%;
	/*+placement:anchor-top-left -4px 68px;*/
	position: absolute;
	left: -4px;
	top: 68px;
	display: block;
}
.A4Landscape.cover .bookTitle.bloom-contentNational1
{
	font-size: 12pt;
	height: 0.8cm;
	width: 100%;
	/*+placement:anchor-top-left -4px 68px;*/
	position: absolute;
	left: -4px;
	top: 68px;
	display: block;
}
/*......Image*/
.A5Portrait.cover DIV.bloom-imageContainer
{
	height: 11.9cm;
	width: 472px;
	/*+placement:anchor-top-left 31px 246px;*/
	position: absolute;
	left: 31px;
	top: 246px;
}
.A5Landscape.cover DIV.bloom-imageContainer
{
	height: 9cm;
	width: 728px;
	/*+placement:anchor-top-left 34px 135px;*/
	position: absolute;
	left: 34px;
	top: 135px;
}
.A4Landscape.cover DIV.bloom-imageContainer
{
	height: 14.9cm;
	width: 901px;
	/*+placement:anchor-top-left 109px 154px;*/
	position: absolute;
	left: 109px;
	top: 154px;
}
/*.......Topic*/
DIV.coverBottomBookTopic
{
	/*[disabled]overflow:hidden;*/
	text-align: right;
	width: 274px;
	height: 67px;
	/*+placement:anchor-bottom-right 18px 3px;*/
	position: absolute;
	right: 18px;
	bottom: 3px;
	min-height: 20px;
}
DIV.coverBottomBookTopic DIV.bloom-contentNational1
{
	height: 44px;
	min-height: 20px;
	width: 100%;
	display: block;
	border: none !important;
	/*+placement:anchor-top-right -3px 14px;*/
	position: absolute;
	right: -3px;
	top: 14px;
	margin-top: 5px;
	margin-right: 20px;
}
DIV.coverBottomBookTopic DIV.bloom-contentNational2
{
	/*[disabled]height:106px;*/
	min-height: 20px;
	width: 100%;
	display: block;
	border: none !important;
	/*+placement:anchor-top-right 16px -3px;*/
	position: absolute;
	right: 16px;
	top: -3px;
}
/*.......Language Name*/
DIV.coverBottomLangName DIV
{
	display: table-cell;
	vertical-align: bottom;
}
DIV.coverBottomLangName
{
	bottom: 20px;
	height: 56px;
	left: 0.7cm;
	overflow: hidden;
	position: absolute;
	text-align: left;
	width: 8.4cm;
	display: table;
}
/*Title Page*/
DIV.titlePage
{
	margin: 0;
	padding: 0;
	text-align: center;
	/*+placement:shift;*/
	position: relative;
	left: 0;
	top: 0;
}
/*Unless otherwise positioned and made visible, hide all the language elements in there*/
DIV.bloom-translationGroup DIV
{
	display: none;
}
DIV#titePageTitleBlock DIV.bloom-content1
{
	font-size: 26.1pt;
	height: 111px;
	text-align: center;
	/*+placement:anchor-top-left 16px 0px;*/
	position: absolute;
	left: 16px;
	top: 0px;
	width: 419px;
	display: block;
}
DIV#titePageTitleBlock DIV.bloom-contentNational1
{
	height: 35px;
	text-align: center;
	/*+placement:anchor-top-left 15px 119px;*/
	position: absolute;
	left: 15px;
	top: 119px;
	width: 419px;
	display: block;
}
DIV#titePageTitleBlock DIV.bloom-contentNational2
{
	height: 35px;
	text-align: center;
	width: 419px;
}
DIV.ISBNContainer
{
	/*+placement:anchor-top-left 60px 460px;*/
	position: absolute;
	left: 60px;
	top: 460px;
	width: 424px;
	/*[disabled]font-size:12pt;*/
	/*[disabled]line-height:12pt;*/
	font-family: arial !important;
}
DIV.ISBNContainer DIV
{
	/*[disabled]height:21px;*/
	display: inline-block;
	text-align: left;
	/*[disabled]+placement:shift 1px 3px;*/
	min-width: 120px;
	line-height: normal;
	font-size: 12pt;
	vertical-align: text-bottom;
	min-height: 18px;
}
.titlePage .titleN1
{
	font-size: 14pt;
	text-align: center;
	/*+placement:anchor-top-left 16px 121px;*/
	position: absolute;
	left: 16px;
	top: 121px;
	width: 420px;
	height: 45px;
}
.titlePage .titleN2
{
	font-size: 14pt;
	text-align: center;
	/*+placement:anchor-top-left 16px 168px;*/
	position: absolute;
	left: 16px;
	top: 168px;
	width: 420px;
	height: 45px;
}
DIV.titlePage .credits
{
	display: none;
}
DIV.titlePage .credits.bloom-contentNational1
{
	height: 131px;
	/*+placement:anchor-top-left 65px 209px;*/
	position: absolute;
	left: 65px;
	top: 209px;
	text-align: center;
	width: 421px;
	display: block;
}
DIV.titlePage DIV#languageInformation
{
	/*+placement:anchor-top-left -20px 498px;*/
	position: absolute;
	left: -20px;
	top: 498px;
	width: 425px;
	margin-left: 78px;
	height: 155px;
}
DIV.titlePage DIV.langName.bloom-contentNational1, DIV.titlePage DIV.langName.bloom-contentNational1
{
	display: block;
	/*[empty]border:;*/
}
DIV.languageLocation
{
	/*+placement:anchor-top-left 6px 50px;*/
	position: absolute;
	left: 6px;
	top: 50px;
	width: 407px;
}
DIV#titePageTitleBlock
{
	margin-left: 48px;
	margin-right: 7px;
	margin-top: 48px;
	width: 447px;
}
/*Verso Page*/
DIV.verso
{
	text-align: center;
	line-height: normal !important;
}
DIV.verso DIV
{
	text-align: center;
	line-height: normal;
	font-size: 12pt;
}
/*...........originalAcknowledgments*/
.A5Portrait DIV.originalAcknowledgments
{
	height: 156px;
	width: 475px;
	/*+placement:shift -51px 50px;*/
	position: relative;
	left: -51px;
	top: 50px;
}
.A5Landscape DIV.originalAcknowledgments
{
	height: 156px;
	width: 691px;
	/*+placement:shift 45px 18px;*/
	position: relative;
	left: 45px;
	top: 18px;
}
.A4Landscape DIV.originalAcknowledgments
{
	height: 156px;
	width: 691px;
	/*+placement:shift 45px 18px;*/
	position: relative;
	left: 45px;
	top: 18px;
}
DIV.originalAcknowledgments DIV.bloom-contentNational1
{
	height: 100%;
	width: 100%;
	display: block;
	/*+placement:anchor-top-left 82px 9px;*/
	position: absolute;
	left: 82px;
	top: 9px;
}
/*................license and copyright*/
.A5Landscape DIV.versionAcknowledgments
{
	/*+placement:anchor-top-left 45px 387px;*/
	position: absolute;
	left: 45px;
	top: 387px;
	height: 116px !important;
	width: 697px;
}
.A4Landscape DIV#versoLicenseAndCopyright
{
	/*+placement:shift -21px 53px;*/
	position: relative;
	left: -21px;
	top: 53px;
	margin-left: 83px;
	width: 453px;
	height: 129px;
}
.A5Portrait DIV#versoLicenseAndCopyright
{
	/*+placement:shift -3px 80px;*/
	position: relative;
	left: -3px;
	top: 80px;
	margin-left: 83px;
	width: 432px;
	height: 129px;
}
.A5Landscape DIV#versoLicenseAndCopyright
{
	/*+placement:shift 4px 30px;*/
	position: relative;
	left: 4px;
	top: 30px;
	margin-left: 83px;
	width: 648px;
	height: 129px;
}
DIV.licenseNotes
{
	/*+placement:anchor-top-left 63px 56px;*/
	position: absolute;
	left: 63px;
	top: 56px;
	width: 342px;
	height: 29px;
}
DIV.copyright
{
	width: 100%;
	height: 34px;
}
IMG.licenseImage
{
	/*[disabled]width:114px;*/
	/*[disabled]height:34px;*/
	/*+placement:anchor-top-left -39px 100px;*/
	position: absolute;
	left: -39px;
	top: 100px;
}
BUTTON#editCopyrightAndLicense
{
	/*+placement:anchor-top-left 96px 3px;*/
	position: absolute;
	left: 96px;
	top: 3px;
	font-size: 9pt;
	/*[disabled]display:block;*/
}
DIV.licenseDescription
{
	font-size: 8pt !important;
	margin-left: 35px;
	margin-right: 77px;
	text-align: left !important;
	width: 84%;
	height: 57px;
	/*+placement:shift 28px 63px;*/
	position: relative;
	left: 28px;
	top: 63px;
}
DIV.licenseUrl
{
	display: none;
}
/*...................version acknowledgments*/
DIV.versionAcknowledgments
{
	/*+placement:anchor-bottom-left 58px 38px;*/
	position: absolute;
	left: 58px;
	bottom: 38px;
	height: 204px !important;
	width: 457px;
}
