/*Cover Page*/
.A5Portrait.bloom-frontMatter DIV.marginBox
{
/*There's no page number on the cover, so we might as well have a the bottom stuff closer to the bottom*/
	height: 189.4mm;
	/*[disabled]border:1px solid #000000;*/
}
.A4Landscape DIV.marginBox
{
/*There's no page number on the cover, so we might as well have a the bottom stuff closer to the bottom*/
	height: 188.2mm;
}
.A4Portrait DIV.marginBox
{
/*There's no page number on the cover, so we might as well have a the bottom stuff closer to the bottom*/
	height: 269.3mm;
}
/*....Title*/
.bloom-translationGroup.coverTitle
{
	width: 100%;
	text-align: center;
}
/*....................National 1*/
.A5Portrait.cover .bookTitle.bloom-contentNational1
{
	font-size: 120%;
	height: 1.3cm;
	width: 100%;
	display: block;
	/*+placement:anchor-top-left 0px 130px;*/
	position: absolute;
	left: 0px;
	top: 130px;
}
.A5Landscape.cover .bookTitle.bloom-contentNational1
{
	font-size: 120%;
	height: 0.8cm;
	width: 100%;
	/*+placement:anchor-top-left -4px 68px;*/
	position: absolute;
	left: -4px;
	top: 68px;
	display: block;
}
.A4Landscape.cover .bookTitle.bloom-contentNational1
{
	font-size: 120%;
	height: 0.8cm;
	width: 100%;
	/*+placement:anchor-top-left 0px 112px;*/
	position: absolute;
	left: 0px;
	top: 112px;
	display: block;
}
.A4Portrait.cover .bookTitle.bloom-contentNational1
{
	font-size: 120%;
	height: 0.8cm;
	width: 100%;
	/*+placement:anchor-top-left 0px 110px;*/
	position: absolute;
	left: 0px;
	top: 110px;
	display: block;
}
/*Note: this vernacular/conent1 must come *after* the National1 block, else when we have English as the only language,
It will be treated as the 2ndary title, which is small and not at the top, and shell-book makers get confused and don't like it.
...................Vernacular*/
.A5Portrait.cover .bookTitle.bloom-content1
{
	font-size: 250%;
	height: 3.3cm;
	width: 100%;
	display: block;
	line-height: 1;
	/*+placement:anchor-top-left 0px 0px;*/
	position: absolute;
	left: 0px;
	top: 0px;
}
.A5Landscape.cover .bookTitle.bloom-content1
{
	font-size: 300%;
	height: 1.5cm;
	width: 100%;
	display: block;
	/*+placement:anchor-top-left 0px 0px;*/
	position: absolute;
	left: 0px;
	top: 0px;
}
.A4Landscape.cover .bookTitle.bloom-content1
{
	font-size: 250%;
	height: 2.8cm;
	width: 100%;
	display: block;
	line-height: 1.2;
	/*+placement:anchor-top-left 0px 0px;*/
	position: absolute;
	left: 0px;
	top: 0px;
}
.A4Portrait.cover .bookTitle.bloom-content1
{
	font-size: 250%;
	height: 2.8cm;
	width: 100%;
	display: block;
	line-height: 1.2;
	/*+placement:anchor-top-left 0px 0px;*/
	position: absolute;
	left: 0px;
	top: 0px;
}
/*......Image*/
.A5Portrait.cover DIV.bloom-imageContainer
{
	height: 10cm;
	width: 100%;
	/*+placement:anchor-top-left 0px 193px;*/
	position: absolute;
	left: 0px;
	top: 193px;
}
.A5Landscape.cover DIV.bloom-imageContainer
{
	height: 60%;
	width: 100%;
	/*+placement:anchor-top-left 0 121px;*/
	position: absolute;
	left: 0;
	top: 121px;
}
.A4Landscape.cover DIV.bloom-imageContainer
{
	height: 11.3cm;
	width: 100%;
	/*+placement:anchor-top-left 0px 158px;*/
	position: absolute;
	left: 0px;
	top: 158px;
}
.A4Portrait.cover DIV.bloom-imageContainer
{
	height: 17.1cm;
	width: 100%;
	/*+placement:anchor-top-left 0px 158px;*/
	position: absolute;
	left: 0px;
	top: 158px;
}
/*.....Small cover credits*/
DIV.bloom-editable.smallCoverCredits
{
	font-size: 100%;
	text-align: center;
	/*+placement:anchor-top-left 0px 599px;*/
	position: absolute;
	left: 0px;
	top: 599px;
	height: 49px;
}
.A4Portrait DIV.bloom-editable.smallCoverCredits
{
	font-size: 100%;
	text-align: center;
	/*+placement:anchor-top-left 0px 834px;*/
	position: absolute;
	left: 0px;
	top: 834px;
	height: 49px;
}
/*.......Topic*/
DIV.coverBottomBookTopic
{
	/*[disabled]overflow:hidden;*/
	width: 6cm;
	/*+placement:anchor-bottom-right 0 0;*/
	position: absolute;
	right: 0;
	bottom: 0;
	min-height: 20px;
	height: 58px;
	text-align: right;
}
DIV.coverBottomBookTopic DIV
{
	/*[disabled]overflow:hidden;*/
	text-align: right;
	width: 100%;
	/*[disabled]min-height:20px;*/
	font-size: 110%;
	display: inline !important;
	height: 25px !important;
	padding-right: 1px;
	/*[disabled]padding-left:15px;*/
}
DIV.coverBottomBookTopic DIV.bloom-contentNational1
{
/*NB: we need placement because we want the national1 to be on top, regardless of its order in the parent div*/
	/*[disabled]+placement:anchor-top-right 0px 0px;*/
}
DIV.coverBottomBookTopic DIV.bloom-contentNational2
{
	/*[disabled]+placement:anchor-top-right -3px 43px;*/
}
/*.......Language Name*/
DIV.coverBottomLangName DIV
{
	display: inline;
	font-size: 110% !important;
	/*[disabled]vertical-align:bottom;*/
/*This placement is to get vertical alignment with the topic*/
	/*+placement:anchor-top-left 0px 4px;*/
	position: absolute;
	left: 0px;
	top: 4px;
}
DIV.coverBottomLangName
{
	height: 58px;
	overflow: hidden;
	text-align: left;
	width: 50%;
	/*+placement:anchor-bottom-left 0 0;*/
	position: absolute;
	left: 0;
	bottom: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0;
	padding-bottom: 0px;
	line-height: 1;
}
/*Title Page*/
DIV.titlePage
{
	text-align: center;
}
#funding
{
	height: 73px;
	width: 100%;
	/*+placement:anchor-top-left 0mm 88.4mm;*/
	position: absolute;
	left: 0mm;
	top: 88.4mm;
}
#funding .bloom-contentNational1
{
	display: block;
}
/*Unless otherwise positioned and made visible, hide all the language elements in there*/
DIV#titePageTitleBlock DIV.bloom-contentNational2
{
	height: 35px;
	text-align: center;
	width: 419px;
}
DIV#titePageTitleBlock DIV.bloom-contentNational1
{
	height: 35px;
	text-align: center;
	/*+placement:anchor-top-left 0 119px;*/
	position: absolute;
	left: 0;
	top: 119px;
	width: 100%;
	display: block;
	font-size: 100%;
}
/*Note: this vernacular/conent1 must come *after* the National1 rule, else when we have English as the only language,
It will be treated as the 2ndary title, which is small and not at the top, and shell-book makers get confused and don't like it.*/
DIV#titePageTitleBlock DIV.bloom-content1
{
	font-size: 150%;
	height: 111px;
	text-align: center;
	width: 100%;
	display: block;
	/*+placement:anchor-top-left 0px 0px;*/
	position: absolute;
	left: 0px;
	top: 0px;
}
.titlePage .titleN1
{
	font-size: 140%;
	text-align: center;
	/*+placement:anchor-top-left 16px 121px;*/
	position: absolute;
	left: 16px;
	top: 121px;
	width: 420px;
	height: 45px;
}
.titlePage .titleN2
{
	font-size: 140%;
	text-align: center;
	/*+placement:anchor-top-left 16px 168px;*/
	position: absolute;
	left: 16px;
	top: 168px;
	width: 420px;
	height: 45px;
}
DIV.titlePage .credits
{
	display: none;
	/*+placement:anchor-top-left 0 73px;*/
	position: absolute;
	left: 0;
	top: 73px;
}
DIV.titlePage .credits.bloom-contentNational1
{
	height: 131px;
	text-align: center;
	width: 100%;
	display: block;
	font-size: 100%;
	/*+placement:anchor-top-left 0px 174px;*/
	position: absolute;
	left: 0px;
	top: 174px;
}
DIV.titlePage DIV#languageInformation
{
	/*+placement:anchor-bottom-left 0 0;*/
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 57px;
}
DIV.titlePage DIV.langName.bloom-contentNational1
{
	display: block;
	/*[empty]border:;*/
}
DIV.titlePage DIV.langName.bloom-content1, DIV.titlePage DIV.langName.bloom-contentNational2
{
/*Idealy, we'd show the various ways to render the vernacular lang name only to the extent that they differ from each other (it looks bad to have a repeat)*/
	display: none;
}
DIV.languageLocation
{
	/*+placement:anchor-top-left 6px 50px;*/
	position: absolute;
	left: 6px;
	top: 50px;
	width: 407px;
}
DIV#titePageTitleBlock
{
	width: inherit;
}
/*Verso Page*/
DIV.verso
{
	text-align: center;
	line-height: normal !important;
}
DIV.verso DIV
{
	text-align: center;
	line-height: normal;
/*I don't know why 100% was giving me 16pt, so now it is hard-coded to 10*/
	font-size: 10pt !important;
}
/*...........originalAcknowledgments*/
.A5Portrait DIV.originalAcknowledgments
{
	height: 156px;
	width: 100%;
	font-size: 100% !important;
}
.A5Landscape DIV.originalAcknowledgments
{
	height: 156px;
	width: 100%;
}
DIV.originalAcknowledgments DIV.bloom-contentNational1
{
	height: 5cm;
	width: 100%;
	display: block !important;
}
/*................license and copyright*/
.A5Landscape DIV.versionAcknowledgments
{
	/*+placement:anchor-bottom-left 0 0;*/
	position: absolute;
	left: 0;
	bottom: 0;
	height: 116px !important;
	width: 100%;
}
.A4Landscape DIV#versoLicenseAndCopyright
{
	/*+placement:anchor-top-left 0 242px;*/
	position: absolute;
	left: 0;
	top: 242px;
	width: 100%;
}
.A5Portrait DIV#versoLicenseAndCopyright
{
	width: 100%;
	height: 129px;
	/*+placement:shift 0px 37px;*/
	position: relative;
	left: 0px;
	top: 37px;
}
.A5Landscape DIV#versoLicenseAndCopyright
{
	width: 100%;
	height: 129px;
	/*+placement:shift 0px 16px;*/
	position: relative;
	left: 0px;
	top: 16px;
}
DIV.licenseNotes
{
	/*+placement:anchor-top-left 0px 56px;*/
	position: absolute;
	left: 0px;
	top: 56px;
	width: 100%;
	height: 29px;
}
DIV.copyright
{
	width: 100%;
	height: 34px;
}
IMG.licenseImage
{
	/*[disabled]width:114px;*/
	/*[disabled]height:34px;*/
	/*+placement:anchor-top-left 39% 60px;*/
	position: absolute;
	left: 39%;
	top: 60px;
}
.A4Portrait IMG.licenseImage
{
	/*[disabled]width:114px;*/
	/*[disabled]height:34px;*/
	/*+placement:anchor-top-left 7.6cm 1cm;*/
	position: absolute;
	left: 7.6cm;
	top: 1cm;
}
.A4Landscape IMG.licenseImage
{
	/*+placement:anchor-top-left 454px 58px;*/
	position: absolute;
	left: 454px;
	top: 58px;
}
BUTTON#editCopyrightAndLicense
{
	/*+placement:anchor-top-left 125px 3px;*/
	position: absolute;
	left: 125px;
	top: 3px;
	font-size: 90%;
}
DIV.licenseDescription
{
	font-size: 80% !important;
	width: 100%;
	height: 57px;
	/*+placement:anchor-top-left 0 123px;*/
	position: absolute;
	left: 0;
	top: 123px;
}
DIV.licenseUrl
{
	display: none;
}
/*...................version acknowledgments*/
DIV.versionAcknowledgments
{
	height: 204px !important;
	width: 100%;
	/*+placement:anchor-bottom-left 0px 0px;*/
	position: absolute;
	left: 0px;
	bottom: 0px;
}
/*Inside Back Cover*/
.insideBackCover DIV.bloom-editable
{
	height: 100%;
}
/*Outside Back Cover*/
.outsideBackCover DIV.bloom-editable
{
	height: 100%;
	text-align: center;
}
DIV.ISBNContainer
{
	width: 100%;
	/*[disabled]line-height:12pt;*/
	/*[disabled]font-family:arial;*/
	/*+placement:anchor-bottom-left 2px 216px;*/
	position: absolute;
	left: 2px;
	bottom: 216px;
	display: inline;
}
DIV.ISBNContainer DIV
{
	display: inline;
}
