/*Cover Page
....Title*/
.A5Portrait.cover .bloom-translationGroup.coverTitle
{
	width: 100%;
	text-align: center;
}
.A5Landscape.cover .bloom-translationGroup.coverTitle
{
	width: 100%;
	text-align: center;
}
.A4Landscape.cover .bloom-translationGroup.coverTitle
{
	width: 100%;
	text-align: center;
}
/*...................Vernacular*/
.A5Portrait.cover .bookTitle.bloom-content1
{
	font-size: 300%;
	height: 3.3cm;
	width: 100%;
	display: block;
	line-height: 1;
}
.A5Landscape.cover .bookTitle.bloom-content1
{
	font-size: 300%;
	height: 1.5cm;
	width: 100%;
	display: block;
}
.A4Landscape.cover .bookTitle.bloom-content1
{
	font-size: 300%;
	height: 1.5cm;
	width: 100%;
	display: block;
	line-height: 1.2;
}
/*....................National 1*/
.A5Portrait.cover .bookTitle.bloom-contentNational1
{
	font-size: 120%;
	height: 0.8cm;
	width: 100%;
	display: block;
}
.A5Landscape.cover .bookTitle.bloom-contentNational1
{
	font-size: 120%;
	height: 0.8cm;
	width: 100%;
	/*+placement:anchor-top-left -4px 68px;*/
	position: absolute;
	left: -4px;
	top: 68px;
	display: block;
}
.A4Landscape.cover .bookTitle.bloom-contentNational1
{
	font-size: 120%;
	height: 0.8cm;
	width: 100%;
	/*+placement:anchor-top-left -4px 68px;*/
	position: absolute;
	left: -4px;
	top: 68px;
	display: block;
}
/*......Image*/
.A5Portrait.cover DIV.bloom-imageContainer
{
	height: 10.3cm;
	width: 100%;
	/*+placement:shift 1px 19px;*/
	position: relative;
	left: 1px;
	top: 19px;
}
.A5Landscape.cover DIV.bloom-imageContainer
{
	height: 60%;
	width: 100%;
	/*+placement:anchor-top-left 0 121px;*/
	position: absolute;
	left: 0;
	top: 121px;
}
.A4Landscape.cover DIV.bloom-imageContainer
{
	height: 12.6cm;
	width: 100%;
	/*+placement:anchor-top-left 0px 116px;*/
	position: absolute;
	left: 0px;
	top: 116px;
}
/*.......Topic*/
DIV.coverBottomBookTopic
{
	/*[disabled]overflow:hidden;*/
	width: 45%;
	/*+placement:anchor-bottom-right 0 0;*/
	position: absolute;
	right: 0;
	bottom: 0;
	min-height: 20px;
	height: 58px;
}
DIV.coverBottomBookTopic DIV
{
	/*[disabled]overflow:hidden;*/
	text-align: right;
	border: none !important;
	width: 100%;
	min-height: 20px;
	font-size: 110%;
	display: block !important;
}
DIV.coverBottomBookTopic DIV.bloom-contentNational1
{
	height: 44px;
/*NB: we need placement because we want the national1 to be on top, regardless of its order in the parent div*/
	/*+placement:anchor-top-right 0px 0px;*/
	position: absolute;
	right: 0px;
	top: 0px;
}
DIV.coverBottomBookTopic DIV.bloom-contentNational2
{
	height: 106px;
	/*+placement:anchor-top-right -3px 43px;*/
	position: absolute;
	right: -3px;
	top: 43px;
}
/*.......Language Name*/
DIV.coverBottomLangName DIV
{
	display: inline;
	font-size: 110% !important;
	/*[disabled]vertical-align:bottom;*/
/*This placement is to get vertical alignment with the topic*/
	/*+placement:anchor-top-left 0px 6px;*/
	position: absolute;
	left: 0px;
	top: 6px;
}
DIV.coverBottomLangName
{
	height: 58px;
	overflow: hidden;
	text-align: left;
	width: 50%;
	/*+placement:anchor-bottom-left 0 0;*/
	position: absolute;
	left: 0;
	bottom: 0;
}
/*Title Page*/
DIV.titlePage
{
	margin: 0;
	padding: 0;
	text-align: center;
	/*+placement:shift;*/
	position: relative;
	left: 0;
	top: 0;
}
/*Unless otherwise positioned and made visible, hide all the language elements in there*/
DIV#titePageTitleBlock DIV.bloom-content1
{
	font-size: 260%;
	height: 111px;
	text-align: center;
	width: 100%;
	display: block;
}
DIV#titePageTitleBlock DIV.bloom-contentNational1
{
	height: 35px;
	text-align: center;
	/*+placement:anchor-top-left 0 119px;*/
	position: absolute;
	left: 0;
	top: 119px;
	width: 100%;
	display: block;
}
DIV#titePageTitleBlock DIV.bloom-contentNational2
{
	height: 35px;
	text-align: center;
	width: 419px;
}
DIV.ISBNContainer
{
	/*+placement:anchor-top-left 0px 330px;*/
	position: absolute;
	left: 0px;
	top: 330px;
	width: 100%;
	/*[disabled]font-size:12pt;*/
	/*[disabled]line-height:12pt;*/
	font-family: arial !important;
}
DIV.ISBNContainer DIV
{
	/*[disabled]height:21px;*/
	display: inline-block;
	text-align: left;
	/*[disabled]+placement:shift 1px 3px;*/
	min-width: 120px;
	line-height: normal;
	font-size: 120%;
	vertical-align: text-bottom;
	min-height: 18px;
}
.titlePage .titleN1
{
	font-size: 140%;
	text-align: center;
	/*+placement:anchor-top-left 16px 121px;*/
	position: absolute;
	left: 16px;
	top: 121px;
	width: 420px;
	height: 45px;
}
.titlePage .titleN2
{
	font-size: 140%;
	text-align: center;
	/*+placement:anchor-top-left 16px 168px;*/
	position: absolute;
	left: 16px;
	top: 168px;
	width: 420px;
	height: 45px;
}
DIV.titlePage .credits
{
	display: none;
	/*+placement:anchor-top-left 0 73px;*/
	position: absolute;
	left: 0;
	top: 73px;
}
DIV.titlePage .credits.bloom-contentNational1
{
	height: 131px;
	text-align: center;
	width: 100%;
	display: block;
}
DIV.titlePage DIV#languageInformation
{
	/*+placement:anchor-top-left 0 378px;*/
	position: absolute;
	left: 0;
	top: 378px;
	width: 100%;
	height: 86px;
}
DIV.titlePage DIV.langName.bloom-contentNational1, DIV.titlePage DIV.langName.bloom-contentNational2
{
	display: block;
	/*[empty]border:;*/
}
DIV.titlePage DIV.langName.bloom-content1
{
/*Idealy, we'd show the various ways to render the vernacular lang name only to the extent that they differ from each other (it looks bad to have a repeat)*/
	display: none;
}
DIV.languageLocation
{
	/*+placement:anchor-top-left 6px 50px;*/
	position: absolute;
	left: 6px;
	top: 50px;
	width: 407px;
}
DIV#titePageTitleBlock
{
	width: inherit;
}
/*Verso Page*/
DIV.verso
{
	text-align: center;
	line-height: normal !important;
}
DIV.verso DIV
{
	text-align: center;
	line-height: normal;
	font-size: 120%;
}
/*...........originalAcknowledgments*/
.A5Portrait DIV.originalAcknowledgments
{
	height: 156px;
	width: 100%;
}
.A5Landscape DIV.originalAcknowledgments
{
	height: 156px;
	width: 100%;
}
DIV.originalAcknowledgments DIV.bloom-contentNational1
{
	height: 100%;
	width: 100%;
	display: block !important;
}
/*................license and copyright*/
.A5Landscape DIV.versionAcknowledgments
{
	/*+placement:anchor-bottom-left 0 0;*/
	position: absolute;
	left: 0;
	bottom: 0;
	height: 116px !important;
	width: 100%;
}
.A4Landscape DIV#versoLicenseAndCopyright
{
	/*+placement:anchor-top-left 0 242px;*/
	position: absolute;
	left: 0;
	top: 242px;
	width: 100%;
}
.A5Portrait DIV#versoLicenseAndCopyright
{
	width: 100%;
	height: 129px;
	/*+placement:shift 0px 29px;*/
	position: relative;
	left: 0px;
	top: 29px;
}
.A5Landscape DIV#versoLicenseAndCopyright
{
	width: 100%;
	height: 129px;
}
DIV.licenseNotes
{
	/*+placement:anchor-top-left 0px 56px;*/
	position: absolute;
	left: 0px;
	top: 56px;
	width: 100%;
	height: 29px;
}
DIV.copyright
{
	width: 100%;
	height: 34px;
}
IMG.licenseImage
{
	/*[disabled]width:114px;*/
	/*[disabled]height:34px;*/
	/*+placement:anchor-top-left 39% 60px;*/
	position: absolute;
	left: 39%;
	top: 60px;
}
BUTTON#editCopyrightAndLicense
{
	/*+placement:anchor-top-left 125px 3px;*/
	position: absolute;
	left: 125px;
	top: 3px;
	font-size: 90%;
}
DIV.licenseDescription
{
	font-size: 80% !important;
	width: 100%;
	height: 57px;
	/*+placement:anchor-top-left 0 123px;*/
	position: absolute;
	left: 0;
	top: 123px;
}
DIV.licenseUrl
{
	display: none;
}
/*...................version acknowledgments*/
DIV.versionAcknowledgments
{
	height: 204px !important;
	width: 100%;
	/*+placement:anchor-bottom-left 0px 0px;*/
	position: absolute;
	left: 0px;
	bottom: 0px;
}
