:root {
    --page-margin-top: 10mm;
    --page-margin-bottom: 10mm;
    --page-margin-inner: 20mm;
    --page-margin-outer: 10mm;
    --side-by-side-gap: 10mm; /* review */
    --top-bottom-gap: 10mm;
    --pageNumberFontSize: 14pt;
    --pageNumberBottom: 20px;
}

.device16x9portrait {
    --page-margin-top: 5mm;
    --page-margin-bottom: 5mm;
    --page-margin-inner: 5mm;
    --page-margin-outer: 5mm;
}
