:root {
    --page-margin-top: 15mm;
    --page-margin-bottom: 15mm;
    --page-margin-inner: 25mm;
    --page-margin-outer: 15mm;
    --vertical-split-bottom-margin: 3mm;
    --horizontal-split-right-margin: 3mm;
}
