.selectedIcon {
  background-color: #c9e0f7;
  border: 1px solid #62a2e4;
  border-radius: 4px;
}
.iconLetter {
  width: 19px;
  height: 19px;
  display: inline-block;
  padding: 2px 2px 2px 2px;
  text-align: center;
}
.icon16x16 {
  width: 19px;
  height: 19px;
  display: inline-block;
  padding: 2px;
}
.icon16x16 IMG {
  margin-top: 1px;
  margin-left: 1px;
  vertical-align: 5px;
}
.iconHtml {
  width: 22px;
  height: 22px;
  margin-top: 10px;
  display: inline-block;
  padding: 1px 0px 0px 1px;
}
.iconBox {
  width: 14px;
  height: 14px;
  margin: 2px;
  border: 1px solid;
  display: block;
}
.iconBack {
  width: 16px;
  height: 16px;
  margin: 2px;
  display: block;
}
.rounded {
  border-radius: 4px;
}
.control-section {
  margin: 0px 0px 12px 0px;
}
BUTTON,
INPUT,
SELECT {
  background: linear-gradient(#f0f0f0, #e6e6e6);
}
BUTTON {
  border-radius: 4px;
  border: 1px solid #8abbf4;
  box-shadow: #CCC 0 0 .25em;
}
BUTTON:hover,
INPUT:hover,
SELECT:hover {
  background: linear-gradient(#ecf4fc, #dcecfc);
}
BUTTON[disabled] {
  border: 1px solid #d3d3d3;
  background: #f0f0f0;
  color: #d3d3d3;
}
.propButton:NOT(.selectedIcon) {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
}
.propButton:hover {
  background: linear-gradient(#ecf4fc, #dcecfc);
}
.bloomDialogContainer {
  background-color: white;
  opacity: 1;
  z-index: 1010;
  position: absolute;
  line-height: 1.8;
  font-family: Segoe UI, Open Sans, Arial, sans-serif;
}
.bloomDialogTitleBar {
  background-color: #8cb7dc;
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 2em;
  text-align: center;
}
.bloomDialogMainPage {
  background: #ffffff;
  margin-left: 1em;
  font: Segoe UI, Open Sans, Arial, sans-serif;
  font-size: 10pt;
}
