.selectedIcon {
  background-color: #ffe373;
  width: 19px !important;
  height: 19px !important;
  border: 1px solid #c28a30;
  border-radius: 4px;
}
.iconLetter {
  width: 19px;
  height: 19px;
  display: inline-block;
  padding: 0px 0px 2px 7px;
}
.icon16x16 {
  width: 19px;
  height: 19px;
  display: inline-block;
  padding: 0px 0px 0px 3px;
  vertical-align: 4px;
}
.iconHtml {
  width: 19px;
  height: 19px;
  margin-top: 10px;
  display: inline-block;
  padding: 1px 0px 0px 1px;
}
.iconBox {
  width: 14px;
  height: 14px;
  margin: 1px 1px 1px 1px;
  border: 1px solid;
  display: block;
}
.iconBack {
  width: 16px;
  height: 16px;
  margin: 1px 1px 1px 1px;
  display: block;
}
.rounded {
  border-radius: 4px;
}
.control-section {
  margin: 0px 0px 12px 0px;
}
BUTTON {
  border-radius: 4px;
  border: 1px solid #d3d3d3;
}
BUTTON:hover {
  background-color: #d3d3d3;
  border: 1px solid black;
}
BUTTON[disabled] {
  border: 1px solid #d3d3d3;
  background-color: #d3d3d3 !important;
}
.propButton:NOT(.selectedIcon) {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
}
