// Common styles to be applied to htm-js-css dialogs in Bloom
.selectedIcon {
	background-color: #ffe373;
	width: 19px !important;
	height: 19px !important;
	border: 1px solid #c28a30;
	.rounded;
}
.iconLetter {
	width: 21px;
	height: 21px;
	display: inline-block;
	padding: 0px 0px 2px 7px;
}
.icon16x16 {
	width: 20px;
	height: 20px;
	display: inline-block;
	padding: 0px 0px 0px 3px;
	vertical-align: 4px;
}
.iconHtml {
	width: 21px;
	height: 21px;
	margin-top: 10px;
	display: inline-block;
	padding: 1px 0px 0px 1px;
}
.iconBox {
	width: 14px;
	height: 14px;
	margin: 1px 1px 1px 1px;
	border: 1px solid;
	display: block;
}
.iconBack {
	width: 16px;
	height: 16px;
	margin: 1px 1px 1px 1px;
	display: block;
}
.rounded {
	border-radius: 4px;
}
.control-section {
	margin: 0px 0px 12px 0px;
}
INPUT[type="button"] {
	.rounded;
	border: 1px solid black;
}
INPUT[type="button"][disabled] {
	border: 1px solid #d3d3d3;
}
.propButton:NOT(.selectedIcon) {
	border: 1px solid #d3d3d3;
	.rounded;
}