// Common styles to be applied to htm-js-css dialogs in Bloom
@backgroundColorLight: rgb(240, 240, 240);
@backgroundColorDark: rgb(230, 230, 230);
@backgroundColorTitleBar: rgb(140, 183, 220);
@backgroundColorHoverLight: rgb(236, 244, 252);
@backgroundColorHoverDark: rgb(220, 236, 252);

.bloomDialogContainer .selectedIcon {
	background-color: rgb(201, 224, 247);
	border: 1px solid rgb(98, 162, 228);
	.bdRounded;
}
.bloomDialogContainer .iconLetter {
	width: 19px;
	height: 19px;
	display: inline-block;
	padding: 2px 2px 2px 2px;
	text-align: center;
}
.bloomDialogContainer .icon16x16 {
	width: 19px;
	height: 19px;
	display: inline-block;
	padding: 2px;
}
.bloomDialogContainer .icon16x16 IMG {
	margin-top: 1px;
	margin-left: 1px;
	vertical-align: 5px;
}
.bloomDialogContainer .iconHtml {
	width: 22px;
	height: 22px;
	margin-top: 10px;
	display: inline-block;
	padding: 1px 0px 0px 1px;
}
.bloomDialogContainer .iconBox {
	width: 14px;
	height: 14px;
	margin: 2px;
	border: 1px solid;
	display: block;
}
.bloomDialogContainer .iconBack {
	width: 16px;
	height: 16px;
	margin: 2px;
	display: block;
}
.bdRounded {
	border-radius: 4px;
}
.bloomDialogContainer .control-section {
	margin: 0px 0px 12px 0px;
}
.bloomDialogContainer BUTTON, .bloomDialogContainer INPUT, .bloomDialogContainer SELECT {
	background: linear-gradient(@backgroundColorLight, @backgroundColorDark);
}
.bloomDialogContainer BUTTON {
	.bdRounded;
	border: 1px solid #8abbf4;
	box-shadow: #CCC 0 0 .25em;
}
.bloomDialogContainer BUTTON:hover, .bloomDialogContainer INPUT:hover, .bloomDialogContainer SELECT:hover {
	background: linear-gradient(@backgroundColorHoverLight, @backgroundColorHoverDark);
}
.bloomDialogContainer BUTTON[disabled] {
	border: 1px solid #d3d3d3;
	background: @backgroundColorLight;
	color: #d3d3d3;
}
.bloomDialogContainer .propButton:NOT(.selectedIcon) {
	border: 1px solid #d3d3d3;
	.bdRounded;
}
.bloomDialogContainer .propButton:hover {
	background: linear-gradient(@backgroundColorHoverLight, @backgroundColorHoverDark);
}
.bloomDialogContainer {
	background-color: white;
	opacity: 1;
	z-index: 16010;
	position: absolute;
	line-height: 1.8;
	font-family: Segoe UI, Open Sans, Arial, sans-serif;
}
.bloomDialogContainer .bloomDialogTitleBar {
	background-color: @backgroundColorTitleBar;
	opacity:1;
	position:relative;
	top:0;
	left:0;
	right:0;
	height: 2em;
	text-align: center;
}
.bloomDialogContainer .bloomDialogMainPage {
	background: #ffffff;
	margin-left: 1em;
	font-family: Segoe UI, Open Sans, Arial, sans-serif;
	font-size: 10pt;
}