/* Unless otherwise noted, these rules have been moved from editMode.css
    BODY is not within the scoped css DIV */

body {
    margin: 0;
}

.ui-dialog {
    z-index: 20000;
}

div.ui-tooltip-title {
    text-align: justify;
    margin-left: -9px;
    margin-bottom: -19px;
    margin-top: -8px;
}
.ui-languageToolTip.ui-tooltip-titlebar,
.ui-languageToolTip .ui-tooltip-content {
    background-color: transparent !important;
    color: #96a9b3 !important;
    border-color: transparent !important;
}
.ui-languageToolTip {
    background-color: transparent !important;
    /*Same grey color as pageLabel*/
    color: rgba(0, 0, 0, 0.2) !important;
    border-color: transparent !important;
}

/* These items are for the font size toolbar, also stored outside of the scoped-css DIV */
.tool-items:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}
.tool-items {
    display: inline-block;
}
.tool-items {
    display: block;
    height: 1px;
}
.tool-item {
    font: 17.9pt Andika;
    text-decoration: none;
    color: #716666;
}
.tool-item:hover {
    color: black;
}
.smallerFontButton.tool-item img {
    width: 11px;
    /*+placement:shift 0px -7px;*/
    position: relative;
    left: 0px;
    top: -7px;
}
.largerFontButton.tool-item {
    font-size: 17.7pt;
}
/*[clearfix]*/
.tool-items {
    border: 1px solid #dfdfdf;
    /*+border-radius:3pt;*/
    -moz-border-radius: 3pt;
    -webkit-border-radius: 3pt;
    -khtml-border-radius: 3pt;
    border-radius: 3pt;
}

.ui-front {
    z-index: 19000;
}
