/*This styesheet is applied when an shell book being translated into the vernacular. It locks down fields type of book, the copyright, and license*/
BUTTON#editCopyrightAndLicense
{
	display: none;
}
*.bloom-readOnlyInTranslationMode
{
	/*in the case of textarea's,we have javascript which notices this border and makes it read-only
for DIVS with this class, we have javascript which toggles the contentEditable attribute based on the border begin transparent or not*/
	border: 1px solid transparent !important;
	cursor: not-allowed;
}
DIV.bloom-metaData TEXTAREA
{
	border: 1px solid transparent;
	/*this signals to jscript that in this mode, when the user clicks on this div, it should raise the message in data-message (which bloom will catch)*/
	cursor: pointer;
}
