/*Styles for EditControls.htm*/
DIV.editControlsRoot
{
	background-color: #404040;
	color: white;
	font-size: x-small;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 200px;
	padding-bottom: 12px;
}
TD.section
{
	margin-top: 20px;
}
TD.section
{
	padding-top: 20px;
}
SPAN.scroll-button
{
	color: white;
	float: left;
}
SPAN.stageLine
{
	float: left;
}
TD.acceptable
{
	color: green;
}
TD.tooLarge
{
	color: orange;
}
TABLE.statistics
{
}
TD.statistics-label
{
	padding-right: 5px;
}
TD.statistics-max
{
	padding-right: 3px;
	text-align: center;
}
TD.statistics-actual
{
	padding-right: 3px;
	text-align: center;
}
DIV.ui-accordion
{
	padding-left: 0px;
	padding-right: 0px;
}
DIV.ui-accordion-content
{
	padding-left: 3px !important;
	padding-right: 0px !important;
}
SPAN.setup
{
	font-size: xx-small;
	margin-left: 10px;
}
DIV.section
{
	padding-top: 20px;
	color: lightskyblue;
}
DIV.clear, TABLE.clear
{
	clear: both;
}
DIV.tableHolder
{
	overflow: auto;
	max-height: 300px;
}
DIV.sortBlock
{
	margin-left: 15px;
	display: inline-block;
	border: solid;
	border-color: white;
	border-width: 1px;
}
DIV.rightBorder
{
	border: solid;
	border-color: white;
	border-width: 0;
	border-right-width: 1px;
}
DIV.sortIconSelected
{
	background: #808080;
}
DIV.sortItem
{
	display: inline-block;
	color: white;
	padding: 2px 3px;
}
SPAN.ofStage
{
	font-size: xx-small;
}
SPAN.disabledIcon
{
	visibility: hidden;
}
TD.disabledLimit
{
	visibility: hidden;
}
