/*There are 2 sub-modes of editing, each with their own stylesheets: originalEditMode and translationEditMode.
    Unless otherwise noted, these rules have been moved from editMode.css
    BODY is not within the scoped css DIV */
BODY
{
	background-color: #363333;
}
BODY
{
	/*Most text in the document should be % changes from this value. Collection.css can then change it to make all the text  bigger.
Note: the webkit browsers (wkhtml which bloom uses for pdf, and google chrome)
Need about 2-5% more space to draw the same text on a ine (can't tell if the font is bigger or the box is smaller)
Therefore, in the basePage.css, we have 10pt, but here, 11pt.
So if you change this, change it there. Note, this might not be the best long-term solution
To handling the mis-match.*/
	font-size: 10.5pt;
}

/* Qtip won't work if these rules are inside the scoped DIV */
.qtip-content
{
	font-family: Arial;
}
DIV.ui-tooltip-title
{
	text-align: justify;
	margin-left: -9px;
	margin-bottom: -19px;
	margin-top: -8px;
}
.ui-languageToolTip.ui-tooltip-titlebar, .ui-languageToolTip .ui-tooltip-content
{
	background-color: transparent !important;
	color: #96A9B3 !important;
	border-color: transparent !important;
}
.ui-languageToolTip
{
	background-color: transparent !important;
	/*Same grey color as pageLabel*/
	color: rgba(0, 0, 0, 0.2) !important;
	border-color: transparent !important;
}

/* These items are for the font size toolbar, also stored outside of the scoped-css DIV */
.tool-item
{
	font: 17.9pt Andika;
	text-decoration: none;
	color: #716666;
}
.tool-item:Hover
{
	color: #000000;
}
.smallerFontButton.tool-item IMG
{
	width: 11px;
	/*+placement:shift 0px -7px;*/
	position: relative;
	left: 0px;
	top: -7px;
}
.largerFontButton.tool-item
{
	font-size: 17.7pt;
	/*[disabled]line-height:0.6;*/
}
/*[clearfix]*/.tool-items
{
	border: 1px solid #DFDFDF;
	/*+border-radius:3pt;*/
	-moz-border-radius: 3pt;
	-webkit-border-radius: 3pt;
	-khtml-border-radius: 3pt;
	border-radius: 3pt;
}

/* Moved from editOriginalMode.css */
DIV.ui-sourceTextsForBubble TEXTAREA, DIV.ui-sourceTextsForBubble DIV
{
	background-color: transparent;
	border: none;
	height: 236px;
	overflow: auto;
}
/* Moved from editTranslationMode.css */
DIV.ui-sourceTextsForBubble
{
	width: 203px;
	margin-top: 10px;
}
DIV.uibloomSourceTextsBubble DIV.ui-tooltip-content
{
	width: 210px;
}
DIV DIV.ui-sourceTextsForBubble TEXTAREA
{
	height: 304px;
	background: transparent;
	border: none;
	margin-top: 13px;
	width: 320px;
	margin: 11px 0 0;
}
.ui-tooltip .qtip .uibloomSourceTextsBubble
{
	width: 293px !important;
	height: 138px;
	max-width: 1009px !important;
}
DIV.ui-sourceTextsForBubble UL
{
	background: none;
}
/* Get accordion Tool panel to always be full-height */
#accordion
{
    height: 100%;
}
