/* Styles for EditControls.htm */

div.editControlsRoot {
	background-color:#404040;
	color: white;
	font-size: x-small;
	position: fixed;
	top: 0; bottom: 0;
	right: 0;
	width: 200px
}
td.section {margin-top: 20px}
td.section {padding-top: 20px}
span.scroll-button {color: white; float: left}
span.stageLine {float: left}
td.acceptable {color: green}
td.tooLarge {color: orange}
table.statistics {}
td.statistics-label {padding-right: 5px}
td.statistics-max {padding-right: 3px; text-align: center}
td.statistics-actual {padding-right: 3px; text-align: center}
div.ui-accordion {padding-left: 0px; padding-right: 0px}
div.ui-accordion-content {padding-left: 3px !important; padding-right: 0px !important}
span.setup {font-size: xx-small; margin-left: 10px}
div.section {padding-top: 20px; color: lightskyblue}
div.clear,table.clear {clear: both}
div.tableHolder {overflow: auto; max-height: 300px}
div.sortBlock {
	margin-left: 15px;
	display: inline-block;
	border: solid;
	border-color: white;
	border-width: 1px
}
div.rightBorder {
	border: solid;
	border-color: white;
	border-width: 0;
	border-right-width: 1px
}
div.sortIconSelected {background :grey}
div.sortItem {
	display: inline-block;
	color: white;
	padding: 2px 3px
}
span.ofStage {font-size: xx-small}
span.disabledIcon {visibility: hidden}
td.disabledLimit {visibility: hidden}

.hidden { display: none !important; }