/*This stylesheet applied when a book is being edited. It does things like show that images can be changed by click on them.*/
DIV.bloom-imageContainer
{
	border: 1px solid #C0B9B9;
}
.coverColor DIV.bloom-imageContainer
{
	border: thin solid rgba(1, 1, 1, 0.2);
}
/*....NB: we have 2 rules because some pageLabels may be within the margin box, some outside*/
.marginBox DIV.pageLabel
{
	/*+placement:anchor-top-left -1px -29px;*/
	position: absolute;
	left: -1px;
	top: -29px;
}
DIV.pageLabel
{
	text-align: left;
	/*This black with high transparency gives us a grey on white, and a darker color of whatever the colored background is.*/
	color: rgba(0, 0, 0, 0.2);
	margin-left: 5px;
	/*+placement:anchor-top-left 71px 19px;*/
	position: absolute;
	left: 71px;
	top: 19px;
	float: left;
}
DIV.page
{
	background-color: #F8F8F8;
	border: medium outset #000000;
}
DIV.page.coverColor
{
	background-color: #D5D5E4;
	border: medium outset #000000;
}
/*We want divs which are used for editing to look just like textareas (e.g. border). For now, this readOnlyInTranslationMode is an indicator that this is edtiable, but there could be divs which are always edtiable... unfortunately we can't access the contentEditable thing itself. Note that borders are made transpartent by the languagedisplay.css, and there is javascript which notices that transparnet border and makes the field read-only.*/
DIV.readOnlyInTranslationMode
{
	border: thin solid #C0B9B9;
}
DIV.hoverUp
{
	background-color: #D5D5E4;
}
BUTTON.smallImageButton
{
	width: 50%;
	height: 50%;
	/*+border-radius:0;*/
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	border-radius: 0;
	border-radius: 0 0 0 0;
	z-index: 100;
	background-repeat: no-repeat;
	border-style: none !important;
	background-size: contain !important;
}
BUTTON.largeImageButton
{
	width: 70px;
	height: 52px;
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	z-index: 100;
	background-repeat: no-repeat;
	background-position: 12px 4px;
	border: 2px outset #716666;
}
BUTTON.pasteImageButton.smallImageButton
{
	background-image: url("../img/pasteImageButtonSmall.png") !important;
	background-position: 67% 28% !important;
}
BUTTON.pasteImageButton.largeImageButton
{
	background-image: url("../img/pasteImageButtonLarge.png") !important;
}
BUTTON.changeImageButton.smallImageButton
{
	background-image: url("../img/changeImageButtonSmall.png");
	background-position: 63% 27% !important;
}
BUTTON.changeImageButton.largeImageButton
{
	background-image: url("../img/changeImageButtonLarge.png") !important;
}
BUTTON.changeImageButton
{
	/*+placement:anchor-top-right 0px 0px;*/
	position: absolute;
	right: 0px;
	top: 0px;
	/*[disabled]background-position:13px 3px;*/
	background-color: #96668F;
}
BUTTON.pasteImageButton
{
	/*+placement:anchor-bottom-right 0px 0px;*/
	position: absolute;
	right: 0px;
	bottom: 0px;
	/*[disabled]background-position:13px 3px;*/
	background-color: #0C8597;
}
BUTTON.editMetadataButton
{
	background-image: url("../img/imageMetaDataButton.svg") !important;
	background-size: contain;
	background-position: 5px 0px;
	/*[disabled]width:70px;*/
	/*[disabled]height:52px;*/
	background-repeat: no-repeat !important;
	/*+placement:anchor-top-left 0px 0px;*/
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1000;
}
BUTTON.editMetadataButton.smallImageButton
{
	background-position: 0 0 !important;
}
BUTTON.editMetadataButton.imgMetadataProblem
{
	background-image: url("../img/imageMissingMetaData.svg") !important;
	background: transparent;
	background-size: contain;
	background-position: 5px 0px;
	border: none;
}
.hoverUp BUTTON.editMetadataButton
{
	background: #3A7F62;
	background-size: contain;
	background-position: 5px 0px;
	border: 2px outset #716666;
}
BUTTON.deleteButton
{
	/*+placement:anchor-bottom-left;*/
	position: absolute;
	left: 0;
	bottom: 0;
	background-image: url("../img/deleteButtonSmall.png") !important;
	width: 40px;
	height: 40px;
	z-index: 100;
	/*[disabled]background-position:13px 3px;*/
}
/*Originally, the move button was within the movable thing. Problem is, I couldn't get jquery draggable to actually use this button, using the 'handle' option, probably because it doesn't exist early enough (it pops up on mouseEnter) . But I had to have something in that option, else jquery actually prevents clicking on elements inside the drraggable thing. So I ended up setting the handle to "img", which won't be sufficient once we wan to drag things with no image.So it woud be good to get this working.*/
.moveButtonIcon
{
	background-image: url("../img/moveDivButton.png") !important;
	width: 37px !important;
	height: 37px !important;
}
BUTTON.moveButton
{
	/*+placement:anchor-top-left -19px -17px;*/
	position: absolute;
	left: -19px;
	top: -17px;
	background-image: url("../img/moveDivButton.png") !important;
	background-repeat: no-repeat;
	background-color: transparent;
	width: 16px;
	height: 16px;
	border: 0 hidden #000000;
	z-index: 1000;
	background-size: contain;
}
TEXTAREA, DIV.bloom-editable
{
	border: thin solid #C0B9B9;
	/*[disabled]min-height:34px;*/
}
/*need a darker border when we have a background color*/
.coverColor TEXTAREA, DIV.bloom-editable
{
	border: thin solid rgba(0, 0, 0, 0.2);
}
IMG.hoverUp
{
	background-color: #DFDFDF;
	border: 1px outset #000000;
}
TEXTAREA:focus, DIV.bloom-editable:focus
{
	border: 1px solid rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	outline: 0;
}
TEXTAREA.province
{
	width: 151px;
	height: 33px;
}
.overflow
{
	background-color: #C30606 !important;
}
.fieldInfo-qtip .ui-tooltip-content
{
	border: 0 solid #A03C50;
	padding: 0px;
	text-align: right;
	color: #363333;
	font-size: 8pt;
	margin-top: -8px;
	margin-right: 8px;
}
UL
{
	padding: 0;
	z-index: 1;
	background-color: transparent;
	text-align: left;
	width: 219px;
	/*+placement:shift -7px 1px;*/
	position: relative;
	left: -7px;
	top: 1px;
}
UL LI
{
	display: inline-block;
	padding-right: 11px;
	padding-left: 7px;
	font-size: 9pt;
	margin-right: 11px;
	height: 31px;
}
UL LI A
{
	display: block;
	padding: 5px;
	outline: none;
	/*[empty]font-style:;*/
	text-decoration: none;
	color: #000000;
}
UL LI A:hover
{
	text-decoration: underline;
}
UL LI.active
{
	padding-top: 1px;
	position: relative;
	top: 1px;
	font: bold 11pt sans-serif;
}
UL LI A.active
{
	font-weight: bold;
}
.panel-container
{
	border: 1px solid #000000;
	padding: 0 10px;
}
DIV.textWholePage UL
{
	/*+placement:displace 1px -37px;*/
	position: absolute;
	margin-left: 1px;
	margin-top: -37px;
}
/*suggested by http://jqueryui.com/docs/Upgrade_Guide_17*/
.ui-mouseOver .ui-resizable-handle
{
	width: 8px;
	height: 8px;
	border: 1px solid rgb(128, 128, 128);
	background: rgb(242, 242, 242);
}
.ui-resizable-n, .ui-resizable-s
{
	left: 45%;
}
.ui-resizable-e, .ui-resizable-w
{
	top: 45%;
}
.ui-resizable-se
{
	/*[disabled]bottom:-5px;*/
	/*[disabled]right:-5px;*/
}
DIV.marginBox
{
	border: 1px solid rgba(115, 189, 189, 0.3);
}
.bloom-frontMatter DIV.marginBox
{
	/*With the colored background, the margin border is just too distracting, and it doesn't (yet) help the user in any way because he can't move things around on the frontmatter*/
	border: none;
}
/*-------format toolbar*/
#formatButton
{
	width: 18px;
	height: 21px !important;
	overflow: hidden;
	/*+placement:displace 3px -18px;*/
	position: absolute;
	margin-left: 3px;
	margin-top: -18px;
	/*The font-size here is weird, but if we don't set it, the growing/shrinking font of the text will actually move the button up/down on the page*/
	font-size: 10pt;
}
#formatButton IMG
{
	width: 14px;
	height: 14px;
}
#formatButton:Hover
{
	color: #000000;
}
/*Toolbox*/
#toolbox
{
	background-color: #FFFFA3;
	/*+placement:shift 564px -649px;*/
	position: relative;
	left: 564px;
	top: -649px;
	width: 274px;
	height: 645px;
	/*[empty]padding-top:;*/
	/*[empty]margin-top:;*/
}
.ui-resizable, .ui-draggable, .ui-deletable
{
	border: 1px solid #C1E6CA;
}
#toolbox IMG
{
	width: 116px;
}
#toolbox > UL > LI > DIV
{
	border: 1px dotted #787800;
	margin-top: 34px;
	/*[empty]padding-top:;*/
}
UL.toolbox
{
	height: 212px;
	width: 207px;
	margin-left: 31px;
	margin-top: 15px;
	background-color: transparent;
}
UL.toolbox LI
{
	display: inline-block;
	width: 162px;
}
.heading1-style
{
	font-weight: bold;
	font-size: 14pt;
}
.heading2-style
{
	font-weight: bold;
	font-size: 13pt;
}
.centered
{
	text-align: center;
}
/*Put in little grey language tooltips*/
.bloom-editable[contentEditable=true]:not([data-languageTipContent='']):after
{
	/*Same grey color as pageLabel*/
	color: rgba(0, 0, 0, 0.2);
	content: attr(data-languageTipContent);
	/*+placement:anchor-bottom-right 0px 0px;*/
	position: absolute;
	right: 0px;
	bottom: 0px;
	font-size: small;
}
/*Simulate the html5 placeholder attribute which is not available on divs
The :not(:focus) selector here is something we do NOT want. It was added as a workaround for a firefox bug
https://bugzilla.mozilla.org/show_bug.cgi?id=997749, namely that when the user clicks in an element which
has a :before rule applied and which already has focus, weird things happen and typing is suppressed.
When this bug is fixed, or if we can find a better workaround, the :not(:focus) should be removed
so that when a div has the data-placeholder attribute set, the placeholder will continue to appear
even when the div is focused (as long as it is empty).*/
[contentEditable=true]:empty:not(:focus):before
{
	content: attr(data-placeholder);
	color: #DDDBDB;
}
/*This block handles marking elements that violate decodable book and leveled reader constraints*/
SPAN.sentence-too-long
{
	-moz-text-decoration-style: wavy;
	-moz-text-decoration-line: underline;
	-moz-text-decoration-color: orange;
}
