.qtip.passive-bubble {
    .qtip-content {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 20px;
        overflow-y: hidden !important;
        max-height: inherit;

        .ui-sourceTextsForBubble {
            margin-top: 0;

            > ul {
                top: 0;
                white-space: nowrap;

                li {
                    height: 27px;
                    /* padding: 0 4px; */

                    a {
                        padding: 3px 5px 0;
                    }
                }
            }
        }
    }
}
