.qtip.passive-bubble .qtip-content {
  padding-top: 0;
  padding-bottom: 0;
  overflow-y: auto;
  height: 100%;
}
.qtip.passive-bubble .qtip-content .ui-sourceTextsForBubble {
  margin-top: 0;
}
.qtip.passive-bubble .qtip-content .ui-sourceTextsForBubble UL {
  top: 0;
}
.qtip.passive-bubble .qtip-content .ui-sourceTextsForBubble UL LI {
  height: 27px;
}
.qtip.passive-bubble .qtip-content .ui-sourceTextsForBubble UL LI A {
  padding: 3px 5px 0;
}
