.qtip.passive-bubble {

  .qtip-content {
    padding-top: 0;
    padding-bottom: 0;
    overflow-y: auto;
    height: 100%;

    .ui-sourceTextsForBubble {
      margin-top: 0;

      UL {
        top: 0;

        LI {
          height: 27px;

          A {
            padding: 3px 5px 0;
          }
        }
      }
    }
  }
}
