@import "../../bloomUI.less";
@mainSliderColor: @bloom-buff; // #D2D2D2;
// copied, simplified, and adjusted from rc-slider/assets/index.css
// There are other styles there that may be useful if we need tooltips, text, vertical, steps, and other features.
// Enhance: we need some way that each context can select the colors it wants.
// Of course this can be done by making a more specific rule to set the color of each
// element that uses @mainSliderColor but that is clumsy.
// Ideally it should only be set in one place for each use of the control.
// Also, several shades of blue are used to highlight things; these should also be configurable
// eventually.

// The whole body of the slider
.rc-slider {
    position: relative;
    height: 14px;
    padding: 5px 0;
    width: 100%;
    border-radius: 6px;
    box-sizing: border-box;
}
.rc-slider * {
    box-sizing: border-box;
}
// The bar of the slider
.rc-slider-rail {
    position: absolute;
    width: 100%;
    background-color: @mainSliderColor;
    height: 4px;
    border-radius: 6px;
}
// The part of the slider left of the handle
.rc-slider-track {
    position: absolute;
    left: 0;
    height: 4px;
    border-radius: 6px;
}
.rc-slider-handle {
    position: absolute;
    margin-left: -7px;
    margin-top: -5px;
    width: 14px;
    height: 14px;
    cursor: grab;
    border-radius: 50%;
    background-color: @mainSliderColor;
}
.rc-slider-handle:active {
    cursor: grabbing;
}
.rc-slider-dot {
    position: absolute;
    bottom: -2px;
    margin-left: -4px;
    width: 8px;
    height: 8px;
    border: 2px solid #e9e9e9;
    background-color: #fff;
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
}
.rc-slider-disabled .rc-slider-handle,
.rc-slider-disabled .rc-slider-dot {
    cursor: not-allowed;
}
.rc-slider-disabled .rc-slider-dot {
    cursor: not-allowed !important;
}
