/* Derived from the work of Erik Arvidsson
	(http://webfx.eae.net/contact.html#erik)
	in the project WebFX (http://webfx.eae.net/).
	Considerably changed for Bloom.
*/
.dynamic-tab-pane-control.tab-pane {
  position: relative;
  width: 100%;
}
/* In a bloom page, * defaults to position:relative. This somehow breaks the active tab label
	overlaying the border of the main content. This stylesheet is supposed to have everything
	it doesn't set explicitly use default positioning.
*/
.dynamic-tab-pane-control,
.dynamic-tab-pane-control * {
  position: static;
}
.dynamic-tab-pane-control .tab-row .tab {
  width: 70px;
  height: 18px;
  font: Menu;
  cursor: Default;
  display: inline;
  margin: 1px -2px 1px 2px;
  float: left;
  padding: 2px 5px 3px 5px;
  background: #1f0da8;
  border: 1px solid;
  border-color: #919b9c;
  border-bottom: 0;
  z-index: 1;
  position: relative;
  top: 0;
  text-align: center;
}
.dynamic-tab-pane-control .tab-row .tab.selected {
  color: #000000;
  background: #f2f167;
  border-bottom: 0;
  z-index: 3;
  padding: 2px 6px 5px 7px;
  margin: 1px -3px -2px 0px;
  top: -2px;
}
.dynamic-tab-pane-control .tab-row .tab.selected:hover {
  background-color: #f2f167;
}
.dynamic-tab-pane-control .tab-row .tab a {
  font: Menu;
  color: #ffffff;
  text-decoration: none;
  cursor: default;
}
.dynamic-tab-pane-control .tab-row .tab.selected a {
  font: Menu;
  color: #000000;
  text-decoration: italic;
  cursor: default;
}
.dynamic-tab-pane-control .tab-row .tab:hover {
  background-color: #6e8aaf;
}
.dynamic-tab-pane-control .tab-page {
  clear: both;
  border: 1px solid;
  border-color: ThreeDHighlight ThreeDDarkShadow
	ThreeDDarkShadow ThreeDHighlight;
  background: ThreeDFace;
  z-index: 2;
  position: relative;
  top: -2px;
  color: WindowText;
  font: Message-Box;
  padding: 10px;
}
.dynamic-tab-pane-control .tab-row {
  z-index: 1;
  white-space: nowrap;
}
