/* Derived from the work of Erik Arvidsson
	(http://webfx.eae.net/contact.html#erik)
	in the project WebFX (http://webfx.eae.net/).
	Considerably changed for Bloom.
*/
@borderColor: rgb(145, 155, 156);
@tabRowHeight: 18px;
@tabWidth: 70px;
.dynamic-tab-pane-control.tab-pane {
	position:	relative;
	margin-right:	-2px;	/* to make room for the shadow */
}

/* In a bloom page, * defaults to position:relative. This somehow breaks the active tab label
	overlaying the border of the main content. This stylesheet is supposed to have everything
	it doesn't set explicitly use default positioning.
*/
.dynamic-tab-pane-control, .dynamic-tab-pane-control * {
	position:static;
}

.dynamic-tab-pane-control .tab-row .tab {

	width:				@tabWidth;
	height:				@tabRowHeight;

	position:		relative;
	top:			0;
	display:		inline;
	float:			left;
	overflow:		hidden;

	cursor:			Default;

	margin:			1px -1px 1px 2px;
	padding:		2px 0px 0px 0px;
	border-width:	1px 1px 0px 1px;
	border-style:   solid;
	border-color:   @borderColor;

	z-index:		1;
	font-size:		11px;
	white-space:	nowrap;
	text-align:		center;
	background:		rgb(234,242,255);
}

.dynamic-tab-pane-control .tab-row .tab.selected {
	width:				@tabWidth + 4px !important;
	height:				@tabRowHeight + 2px !important;

	border-bottom-width:	0;
	z-index:		3;
	padding:		2px 0 0px 0;
	margin:			1px -3px -3px 0px;
	top:			-2px;
	font-size:		11px;
}

.dynamic-tab-pane-control .tab-row .tab a {
	color:				Black;
	text-decoration:	none;
	cursor:				default;
}

.dynamic-tab-pane-control .tab-row .tab.hover {
	width:				@tabWidth;
	height:				@tabRowHeight;
}


.dynamic-tab-pane-control .tab-page {
	clear:			both;
	border:			1px solid rgb( 145, 155, 156 );
	background:		rgb( 252, 252, 254 );
	z-index:		2;
	position:		relative;
	top:			-2px;

	color:				Black;
	padding:		10px;
}

.dynamic-tab-pane-control .tab-row {
	z-index:		1;
	white-space:	nowrap;
}