BODY
{
	background-color: #4A4141;
}
DIV.page
{
	background-color: #E5DBDB;
	border: 1px solid #000000;
	margin: 0 0 1cm;
}
INPUT
{
	border: thin solid #000000;
}
TEXTAREA
{
	border: thin solid #000000;
}
IMG
{
	border: thin solid #000000;
}
