INPUT
{
	border: 0 none #000000;
}
BODY
{
	background-color: #FFFFFF;
}
TEXTAREA
{
	border: thin none #E81F1F;
	background: #FFFFFF;
}
DIV.page
{
	background-color: #FFFFFF;
	border: 1px solid #D10606;
	page-break-after: always;
}
