@import "../../../bloomUI.less";

.ui-accordion
    h3[data-toolId="imageDescriptionTool"]
    span.ui-accordion-header-icon {
    background-image: url("ImageDescriptionToolIcon.svg") !important;
}
.imageDescriptionTool {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    height: 100%; // push the help link to the bottom
    *,
    a {
        color: @bloom-toolboxWhite;
    }
}

.imgDescLabelBlock {
    // no: creates a scroll-bar, bizarrely... margin-top: 2em;
    margin-bottom: 3em;
    ul {
        list-style: disc outside none;
        padding-left: 1em;
        ul {
            margin-top: 1em;
            list-style: disc outside none;
            padding-left: 1em;
        }
        li {
            margin-bottom: 1em;
        }
    }
    strong {
        color: white;
    }
}

.imageDescriptionCheck {
    float: left;
}

@playVideoIconWidth: 16px;
@playVideoIconMargin: 5px;

#playBloomTrainingVideo {
    width: @playVideoIconWidth;
    box-sizing: border-box;
    border: 1px solid @bloom-lightblue;
    margin-right: @playVideoIconMargin;
}

.indentPoet {
    margin-left: @playVideoIconWidth + @playVideoIconMargin;
}

.wrapPlayVideo {
    display: flex;
    flex-direction: row;
}
