include ../standard-page-mixins.pug

doctype html
html
	head
		+metadata-standard
		//- This "Book" name is used for saving the file, until the user enters a title
		meta(name='defaultNameForDerivedBooks', content='Book')
		meta(name='bloomBookId', content='056B6F11-4A6C-4942-B2BC-8861E62B03B3')
		//- Eventually, we'll remove Bloom's need for this.
		meta(name='pageTemplateSource', content='Basic Book')
		title 'Basic Book'
		+stylesheets('Basic Book.css')
		+standardStyles

	body
		+dataDiv
			+bookVariable-title('en', 'Basic Pages')
			+bookVariable('styleNumberSequence', '*', '0')

		+preview-outsideFrontCover
		+include-standard-pages
