extends ../Traditional-XMatter/Traditional-XMatter.pug


mixin readerDescription
	//- e.g. "Foobar Leveled Reader", will be in English only
	+field-prototypeDeclaredExplicity("N1").readerDescription
			label.bubble Reader description in {lang}
			+editable(kLanguageForPrototypeOnly)(data-book='readerDescription')

mixin levelOrStageAndNumber
	.levelOrStageAndNumberRow
		span.numberLabel
			| &nbsp;
		div(data-book="levelOrStageNumber" lang="*")

//- ------------- COVER PAGE ---------------

block cover-title
	.titleAndNumberCircle
		//- show title in Vernacular only
		+field-prototypeDeclaredExplicity("V").bookTitle
			label.bubble Book title in {lang}
			+editable(kLanguageForPrototypeOnly).bloom-nodefaultstylerule.Title-On-Cover-style.bloom-padForOverflow(data-book='bookTitle')
			block cover-title

		.numberCircle
			span.numberLabel
			div(data-book="levelOrStageNumber" lang="*")
	+readerDescription

	//- override is to change the data-hint for this project
block cover-bottom-credits
	//- this is intentionally in Vernacular while the one on the Credits Page is intentionally in English
	//- Also intentional (!) is that these same credits are on the cover, title page, and credits page.
	.creditsRow
		//- Assuming everything in this project is an original +field-acknowledgments-localizedVersion("V","special instructions")
		+field-acknowledgments-originalVersion("V","The author and the illustrator in {lang}")


block cover-bottom-row
	.bottomRow
		div(data-book='cover-branding-bottom-html' lang="*")


//- //-------------- Inside Front Cover -----------

block insideFrontCoverContents
	img.licenseImage(src="license.png" data-derived="licenseImage")
	.licenseDetails
		p This work is licensed under the Creative Commons Attribution-NonCommercial 4.0 International License (CC BY-NC 4.0). To view a copy of this license, visit https://creativecommons.org/licenses/by-nc/4.0/. Under the Creative Commons Attribution-NonCommercial license, you are free to copy, distribute, transmit, and adapt this work but not for commercial purposes and under the following conditions:
		p <b>Attribution</b>—If you copy and distribute this work in its entirety, without making significant changes to content or illustrations, please label the work as follows: Reproduced on the basis of an original work developed under the USAID ABC+: Advancing Basic Education in the Philippines project and licensed under the Creative Commons Attribution-NonCommercial 4.0 International License.
		p <b>Translations</b>—If you create a translation of this work, please use the following label on your work: Translated from an original work developed under the USAID ABC+: Advancing Basic Education in the Philippines project and licensed under the Creative Commons Attribution-NonCommercial 4.0 International License.
		p <b>Adaptations</b>—If you create an adaptation of this work, please use the following label on your work: This is an adaptation of an original work developed under the USAID ABC+: Advancing Basic Education in the Philippines project and licensed under the Creative Commons Attribution-NonCommercial 4.0 International License.

//-------------- TITLE PAGE ---------------
block titlePageContents
	// TITLE PAGE
	+field-prototypeDeclaredExplicity("V")#titlePageTitleBlock
		label.bubble Book title in {lang}
		+editable(kLanguageForPrototypeOnly).bloom-nodefaultstylerule.Title-On-Title-Page-style.bloom-padForOverflow(data-book='bookTitle')
	.largeFlexGap

	//- this is intentionally in Vernacular while the one on the Credits Page is intentionally in English
	//- Also intentional (!) is that these same credits are on the cover, title page, and credits page.
	+field-acknowledgments-originalVersion("V","The author and the illustrator in {lang}")


	//- e.g. "Stage 2 letters: a, g, l, k, m, n, o, s" <-- They would like this to be automated
	//- the lang on the whole div makes us have the same font throughout the line
	#stageInformation.decodableStageLettersRow(lang="V")
		| Stage&nbsp;
		div(data-book="levelOrStageNumber" lang="*")
		| &nbsp;letters:&nbsp;
		div(data-book="decodableStageLetters" lang="V")

	//- e.g. "Foobar Leveled Reader", will be in English only
	+readerDescription
	.levelOrStageAndNumberRow
		+levelOrStageAndNumber

	//~------------- CREDITS PAGE ---------------
block creditsContent
	+field-mono-meta("V", 'bookTitle')
			label.bubble Book title in {lang}
	+readerDescription
	+levelOrStageAndNumber
	//- this is intentionally in English while the one on the Cover & Title Pages are intentionally in Vernacular
	+field-acknowledgments-originalVersion("N1", "The author and the illustrator in {lang}")


	div(data-book='credits-branding-approval-and-copyright-html' lang="*")
	img.licenseImage(src="license.png" data-derived="licenseImage")
	.bottomCredits
		| This material is made possible by the generous support of the American people through the U.S. Agency for International Development (USAID). The author’s views expressed in this publication do not necessarily reflect the views of USAID or the United States Government.
