@import "../bloom-xmatter-common.less";

@XMatterPackName: "ABC Reader";

@circleDiameter: 80px;
@creditsLineSpacing: 14px;

body,
div.bloomPlayer-page {
    &.leveled-reader {
        .numberLabel::before {
            content: "Level";
        }
        .numberCircle {
            background-color: #ba0c2f;
        }
    }
    &.decodable-reader {
        .numberLabel::before {
            content: "Stage";
        }
        .numberCircle {
            background-color: rgb(0, 47, 108);
        }
    }
    &:not(.decodable-reader) {
        .decodableStageLettersRow {
            display: none !important; // for decodable only
        }
        &:not(.leveled-reader) {
            .numberCircle {
                display: none !important;
            }
        }
    }
}

.cover {
    .titleAndNumberCircle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .bookTitle {
            flex: unset; // Unhelpful value inherited from Traditional xmatter
            min-width: 75%;
            .bloom-editable {
                // Ideally the customer would like the title left-justified (as here) if there is a number
                // circle display, but centered if there is no circle (neither Decodable or Leveled reader).
                // Unfortunately, I haven't figured out how to change 'text-align' based on another element's
                // css display value.
                text-align: start;
            }
            // It took some doing to figure out the specificity to overrule Bloom "normal" 250% title rule
            // and yet still allow the user-adjustable inline style to work. This should set titles
            // to default to 36pt unless overridden by the user.
            .Title-On-Cover-style[data-book="bookTitle"] {
                font-size: 36pt;
            }
        }
    }

    // level or stage
    .numberCircle {
        margin-top: -19px;
        width: @circleDiameter;
        height: @circleDiameter;

        border-radius: 50%;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        span {
            font-weight: bold;
        }

        [data-book="levelOrStageNumber"] {
            width: @circleDiameter;
            font-size: 24pt;
            font-weight: bold;
            min-height: 1em;
            line-height: 30px;
        }
        p {
            margin-bottom: 0;
        }
    }
    .descriptionAndTopicRow {
        font-weight: bold;
    }
    .branding {
        margin-right: 0 !important;
    }
    [data-book="cover-branding-bottom-html"] {
        margin-top: 1em;
        img {
            margin-right: 0;
        }
    }
    .originalAcknowledgments .bloom-editable p {
        text-align: center;
        font-weight: bold;
    }
}

.titlePage {
    [data-book="bookTitle"] {
        font-size: 28pt;
    }
    .levelOrStageAndNumberRow {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .decodableStageLettersRow {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .descriptionAndTopicRow {
        margin-top: auto; // push to bottom
        margin-bottom: 1em;
    }
}

.descriptionAndTopicRow {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    justify-content: space-between;
    .readerDescription {
        min-width: 50%;
        text-align: start;
        margin-right: 20px; // in case we get really big descriptions and topics and they run into each other
    }
    .abcTopic {
        min-width: 25%;
        text-align: end;
    }
}

#stageInformation {
    margin: 10px;
    border: solid thin black;
}

.credits {
    .marginBox {
        display: flex;
        flex-direction: column;

        .levelOrStageAndNumberRow {
            display: flex;
            flex-direction: row;
            margin-bottom: @creditsLineSpacing;
        }
        .bloom-translationGroup {
            margin-bottom: @creditsLineSpacing;
        }
        [data-book="credits-branding-approval-and-copyright-html"] {
            margin-bottom: @creditsLineSpacing;
        }

        .bottomCredits {
            margin-top: auto;
        }
        .originalAcknowledgments .bloom-editable {
            margin-bottom: 0;
        }
    }
}
.licenseImage {
    width: 120px;
    margin-bottom: @creditsLineSpacing;
}
