/*+}*/
/*The following is json. Bloom reads it in order to know what size/orientation options this stylesheet supports
STARTLAYOUTS
{
   "layouts":[
	  {
		 "A5Portrait":{
			"Styles":[
			   "Default"
			]
		 }
	  },
	  {
		 "A6Portrait":{
			"Styles":[
			   "Default"
			]
		 }
	  },
	  {
		 "A6Landscape":{
			"Styles":[
			   "Default"
			]
		 }
	  },
	  {
		 "A4Portrait":{
			"Styles":[
			   "Default"
			]
		 }
	  },
	  {
		 "A4Landscape":{
			"Styles":[
			   "Default",
			   "SideBySide",
			   "SplitAcrossPages"
			]
		 }
	  },
	  {
		 "B5Portrait":{
			"Styles":[
			   "Default"
			]
		 }
	  },
	  {
		 "LetterPortrait":{
			"Styles":[
			   "Default"
			]
		 }
	  },
	  {
		 "LetterLandscape":{
			"Styles":[
			   "Default"
			]
		 }
	  },
	  {
		 "HalfLetterPortrait":{
			"Styles":[
			   "Default"
			]
		 }
	  },
	  {
		 "QuarterLetterLandscape":{
			"Styles":[
			   "Default"
			]
		 }
	  }
   ]
}
ENDLAYOUTS
This is a dummy rule used to transmit to javascript what size/orientations this stylesheet can handle.*/
/*Hide items that shouldn't show, depending on the current  multi-lingualism of this book.
generic*/
.translators {
  text-align: center;
  height: 1.6cm;
  position: relative;
}
.imageOnTop .bloom-translationGroup {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: none !important;
}
.imageOnTop .bloom-editable {
  left: 0;
}
.imageOnTop:not(.layout-style-SideBySide):not(.layout-style-SplitAcrossPages) .bloom-imageContainer {
  height: calc(45% - 10px);
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.bloom-monolingual.imageOnTop:not(.layout-style-SideBySide):not(.layout-style-SplitAcrossPages) .bloom-translationGroup {
  top: 50%;
  height: 50%;
}
.bloom-monolingual.imageOnTop:not(.layout-style-SideBySide):not(.layout-style-SplitAcrossPages) .bloom-editable {
  position: absolute;
  bottom: 0;
}
.bloom-bilingual.imageOnTop:not(.layout-style-SideBySide):not(.layout-style-SplitAcrossPages) .bloom-imageContainer {
  top: 33%;
  height: 32%;
  margin-top: 5px;
}
.bloom-bilingual.imageOnTop:not(.layout-style-SideBySide):not(.layout-style-SplitAcrossPages) .bloom-editable {
  height: 32%;
}
.bloom-bilingual.imageOnTop:not(.layout-style-SideBySide):not(.layout-style-SplitAcrossPages) .bloom-content2 {
  position: absolute;
  bottom: 0;
}
.bloom-bilingual.imageOnTop:not(.layout-style-SideBySide):not(.layout-style-SplitAcrossPages) .bloom-content3 {
  position: absolute;
  bottom: 0;
}
.bloom-trilingual.imageOnTop:not(.layout-style-SideBySide):not(.layout-style-SplitAcrossPages) .bloom-imageContainer {
  top: calc(13px + 24%);
  height: 24%;
}
.bloom-trilingual.imageOnTop:not(.layout-style-SideBySide):not(.layout-style-SplitAcrossPages) .bloom-editable {
  height: 24%;
}
.bloom-trilingual.imageOnTop:not(.layout-style-SideBySide):not(.layout-style-SplitAcrossPages) .bloom-content2 {
  position: absolute;
  top: calc(1.3% + 24% +  24%);
}
.bloom-trilingual.imageOnTop:not(.layout-style-SideBySide):not(.layout-style-SplitAcrossPages) .bloom-content3 {
  position: absolute;
  bottom: 0;
}
.imageOnTop.layout-style-SplitAcrossPages .bloom-imageContainer {
  width: 100%;
  height: 100%;
  top: 0;
}
.imageOnTop.layout-style-SplitAcrossPages.bloom-bilingual .bloom-editable {
  height: calc(50% - 10px);
}
.imageOnTop.layout-style-SplitAcrossPages.bloom-trilingual .bloom-editable {
  height: calc(33% - 10px);
}
.imageOnTop.layout-style-SplitAcrossPages .bloom-translationGroup {
  height: 100%;
  width: 100%;
  /*Note, this is supposed to respond to bloom-centerVertically, but it doesn't. The jscript for CenterVerticallyInParent() always things the block is as big as the marginbox, so it doesn't center it*/
  /*[disabled]position:relative;*/
  /*So instead, we're settling for starting the text part of the way down*/
  display: block !important;
  position: relative;
  left: 0;
  top: 0;
}
.imageOnTop.layout-style-SplitAcrossPages .bloom-translationGroup .bloom-editable {
  font-size: 300%;
}
.imageOnTop.layout-style-SideBySide .bloom-imageContainer {
  width: 48%;
  height: 100%;
  position: absolute;
  left: auto;
  right: 0;
}
.imageOnTop.layout-style-SideBySide .bloom-translationGroup {
  width: 44%;
}
.imageOnTop.layout-style-SideBySide .bloom-editable.bloom-monolingual {
  height: 100%;
}
.bloom-bilingual.imageOnTop.layout-style-SideBySide .bloom-editable {
  height: calc(50% - 10px);
}
.bloom-trilingual.imageOnTop.layout-style-SideBySide .bloom-editable {
  height: calc(33% - 10px);
}
.nospecidalmovement_imageOnTop .bloom-imageContainer {
  height: calc(45% - 10px);
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.nospecidalmovement_imageOnTop .bloom-translationGroup {
  height: 50%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.nospecidalmovement_imageOnTop .bloom-editable.bloom-monolingual {
  height: 100%;
}
.bloom-bilingual.nospecidalmovement_imageOnTop .bloom-editable {
  height: calc(50% - 10px);
}
.bloom-trilingual.nospecidalmovement_imageOnTop .bloom-editable {
  height: calc(33% - 10px);
}
.nospecidalmovement_imageOnTop.A4Landscape.layout-style-SideBySide .bloom-imageContainer {
  width: 48%;
  height: 100%;
  position: absolute;
  left: auto;
  right: 0;
}
.nospecidalmovement_imageOnTop.A4Landscape.layout-style-SideBySide .bloom-translationGroup {
  height: 100%;
  width: 45%;
  position: absolute;
  left: 0;
  top: 0;
}
.imageInMiddle .bloom-translationGroup .bloom-editable.bloom-content2,
.imageInMiddle .bloom-translationGroup .bloom-editable.bloom-content3 {
  margin-top: 0;
}
.imageInMiddle .bloom-imageContainer {
  width: 100%;
  height: 30%;
  position: absolute;
  top: 35%;
}
.imageInMiddle .bloom-translationGroup {
  height: 33%;
  width: 100%;
  position: absolute;
}
.imageInMiddle .bloom-translationGroup:nth-of-type(1) {
  top: 0;
  left: 0;
}
.imageInMiddle .bloom-translationGroup:nth-of-type(1) .bloom-editable {
  margin-bottom: 10px;
}
.imageInMiddle .bloom-translationGroup:nth-of-type(3) {
  left: 0;
  bottom: 0;
}
.imageInMiddle .bloom-translationGroup:nth-of-type(3) .bloom-editable {
  margin-top: 10px;
}
.imageInMiddle.layout-style-SplitAcrossPages .bloom-imageContainer {
  width: 100%;
  height: 100%;
  top: 0;
}
.imageInMiddle.layout-style-SplitAcrossPages .bloom-translationGroup {
  height: calc(50% - 10px);
}
.imageInMiddle.layout-style-SplitAcrossPages.bloom-bilingual .bloom-translationGroup .bloom-editable {
  height: calc(50% - 10px);
}
.imageInMiddle.layout-style-SplitAcrossPages.bloom-trilingual .bloom-translationGroup .bloom-editable {
  height: calc(33% - 10px);
}
.imageInMiddle.layout-style-SplitAcrossPages .bloom-translationGroup {
  width: 100%;
  /*Note, this is supposed to respond to bloom-centerVertically, but it doesn't. The jscript for CenterVerticallyInParent() always things the block is as big as the marginbox, so it doesn't center it*/
  /*[disabled]position:relative;*/
  /*So instead, we're settling for starting the text part of the way down*/
  display: block !important;
  position: relative;
  left: 0;
  top: 0;
}
.imageInMiddle.layout-style-SplitAcrossPages .bloom-translationGroup .bloom-editable {
  font-size: 300%;
}
.imageInMiddle .bloom-editable {
  width: 100%;
}
.imageInMiddle.bloom-monolingual .bloom-editable {
  height: calc(100% - 10px) !important;
}
.imageInMiddle.bloom-bilingual .bloom-editable {
  height: calc(50% - 10px - 1px) !important;
}
.imageInMiddle.bloom-trilingual .bloom-editable {
  height: calc(33% - 10px - 1px) !important;
}
.imageOnBottom .bloom-imageContainer {
  height: calc(49% - 10px);
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.imageOnBottom .bloom-translationGroup {
  height: 50%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: none !important;
}
.imageOnBottom .bloom-editable {
  height: 100%;
  width: 100%;
}
.imageOnBottom.bloom-bilingual .bloom-translationGroup .bloom-editable {
  height: calc(50% - 10px);
}
.imageOnBottom.bloom-trilingual .bloom-translationGroup .bloom-editable {
  height: calc(33% - 10px);
}
.imageOnBottom.A4Landscape.layout-style-SideBySide .bloom-imageContainer {
  width: 48%;
  height: 100%;
  position: absolute;
  left: auto;
  right: 0;
}
.imageOnBottom.A4Landscape.layout-style-SideBySide .bloom-translationGroup {
  height: 100%;
  width: 45%;
  position: absolute;
  left: 0;
  top: 0;
}
.imageOnBottom.layout-style-SplitAcrossPages .bloom-imageContainer {
  width: 100%;
  height: 100%;
  top: 0;
}
.imageOnBottom.layout-style-SplitAcrossPages .bloom-translationGroup {
  width: 100%;
  height: 100%;
  /*Note, this is supposed to respond to bloom-centerVertically, but it doesn't. The jscript for CenterVerticallyInParent() always things the block is as big as the marginbox, so it doesn't center it*/
  /*[disabled]position:relative;*/
  /*So instead, we're settling for starting the text part of the way down*/
  display: block !important;
  position: relative;
  left: 0;
  top: 0;
}
.imageOnBottom.layout-style-SplitAcrossPages .bloom-translationGroup .bloom-editable {
  font-size: 300%;
}
.imageWholePage .bloom-imageContainer {
  width: 100%;
  height: 100%;
}
/*Text Whole Page
The current version of this is centered vertically; if you're looking for how that is done, it's not here, but rather
in javascript. Search for 'bloom-centerContentVertically'.
*/
.textWholePage .bloom-editable {
  min-height: 2em;
}
.textWholePage .bloom-translationGroup {
  width: 100%;
}
.pictureAndWordPage.A6Portrait .bloom-translationGroup {
  height: 35%;
}
.pictureAndWordPage.A6Portrait .bloom-imageContainer {
  height: 62%;
}
.pictureAndWordPage.A6Portrait .bloom-content1 {
  font-size: 400%;
}
.pictureAndWordPage.A6Landscape .bloom-translationGroup {
  height: 42%;
}
.pictureAndWordPage.A6Landscape .bloom-imageContainer {
  height: 55%;
}
.pictureAndWordPage.A6Landscape .bloom-content1 {
  font-size: 600%;
}
.pictureAndWordPage.A5Portrait .bloom-translationGroup {
  height: 35%;
}
.pictureAndWordPage.A5Portrait .bloom-imageContainer {
  height: 62%;
}
.pictureAndWordPage.A5Portrait .bloom-content1 {
  font-size: 400%;
}
.pictureAndWordPage.A4Portrait .bloom-translationGroup {
  height: 23%;
}
.pictureAndWordPage.A4Portrait .bloom-imageContainer {
  height: 74%;
}
.pictureAndWordPage.A4Portrait .bloom-content1 {
  font-size: 600%;
}
.pictureAndWordPage.A4Landscape .bloom-translationGroup {
  height: 42%;
}
.pictureAndWordPage.A4Landscape .bloom-imageContainer {
  height: 55%;
}
.pictureAndWordPage.A4Landscape .bloom-content1 {
  font-size: 600%;
}
.pictureAndWordPage.QuarterLetterPortrait .bloom-translationGroup {
  height: 35%;
}
.pictureAndWordPage.QuarterLetterPortrait .bloom-imageContainer {
  height: 62%;
}
.pictureAndWordPage.QuarterLetterPortrait .bloom-content1 {
  font-size: 400%;
}
.pictureAndWordPage.QuarterLetterLandscape .bloom-translationGroup {
  height: 42%;
}
.pictureAndWordPage.QuarterLetterLandscape .bloom-imageContainer {
  height: 55%;
}
.pictureAndWordPage.QuarterLetterLandscape .bloom-content1 {
  font-size: 600%;
}
.pictureAndWordPage.HalfLetterPortrait .bloom-translationGroup {
  height: 35%;
}
.pictureAndWordPage.HalfLetterPortrait .bloom-imageContainer {
  height: 62%;
}
.pictureAndWordPage.HalfLetterPortrait .bloom-content1 {
  font-size: 400%;
}
.pictureAndWordPage.LetterPortrait .bloom-translationGroup {
  height: 23%;
}
.pictureAndWordPage.LetterPortrait .bloom-imageContainer {
  height: 74%;
}
.pictureAndWordPage.LetterPortrait .bloom-content1 {
  font-size: 600%;
}
.pictureAndWordPage.LetterLandscape .bloom-translationGroup {
  height: 42%;
}
.pictureAndWordPage.LetterLandscape .bloom-imageContainer {
  height: 55%;
}
.pictureAndWordPage.LetterLandscape .bloom-content1 {
  font-size: 600%;
}
.pictureAndWordPage .bloom-translationGroup {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}
.pictureAndWordPage .bloom-editable {
  vertical-align: middle;
  height: auto;
}
.pictureAndWordPage .bloom-content2,
.pictureAndWordPage .bloom-content3 {
  font-size: 200% ;
}
