@import "../branding-base.less";

// .credits {
//     .originalAcknowledgments .bloom-editable {
//         // Override
//         margin-bottom: 1em;
//     }
// }
.titlePage [data-book*="title-page-branding-bottom-html"] {
    min-height: 190px;
    flex: unset !important;
    img {
        height: 110px !important;
    }
}

[data-book*="outside-back-cover-branding-bottom-html"] {
    font-weight: bold;
    p {
        margin-bottom: 1em;
    }
    img {
        max-height: 20mm; // helps with device landscape, since there is boilerplate text above and the logo image at the bottom gets pushed off the page.
    }
}

// Used for space between the "an ARM Library Book" and the image. Preiously, we just had
// 2em margin-top on the image, but that doens't shrink optimally when the page is full.
.two-em-shrink {
    height: 2em;
    flex-shrink: 10;
}
