body {
    font-family: arial;
    font-size: 8pt;
    width: 335px;
}
h1 {
    font-size: 10pt;
}
p,
li {
    text-align: left;
    margin-top: 6px;
}
ul,
li {
    list-style-type: none;
    padding-left: 0px;
}
