/* A common stylesheet for Publish-Tab screens that have common elements of
having various sections, including settings and help on the right */

@import "../bloomUI.less";
@screen-padding: 1em;
@header-height: 40px;

html.publishTabScreen {
    height: 100%; // Do NOT put margin; will cause scroll bar
    padding: @screen-padding;

    body {
        margin: 0;
        background-color: @form-background;
        font-family: @ui-fonts;
        font-size: 10pt;
        height: 100%;

        .top-row {
            justify-content: space-between;
        }

        .publishControlsColumn {
            margin-left: 1em;
        }

        header {
            height: @header-height;
            img {
                vertical-align: middle;
            }
            h1 {
                margin-top: 0;
                font-size: 12pt;
                font-weight: bold;
                display: inline-block;
                vertical-align: unset;
            }
        }
        .screen-root {
            height: 100%;
        }
        // Quoting from the react-modal documentation, "By default, the modal portal will be appended to
        // the document's body."  The automatically inserted div.ReactModalPortal is normally empty and
        // thus invisible.  We have to be careful not to make its height 100%!  This would have two
        // unfortunate consequences: adding a lot of empty space at the bottom of the tool, and (worse)
        // disabling any active elements unfortunate enough to be covered by the div.ReactModalPortal.
        // See https://issues.bloomlibrary.org/youtrack/issue/BL-6729.
        // So, we need to mark the actual tool root div with this class.
        & > div.react-tool-root {
            // the react root
            height: 100%;
        }
        @verticalFudgeHack: 50px;
        .sections {
            margin-top: 1em;
            height: calc(
                100% - (@verticalFudgeHack + @header-height + @screen-padding)
            ); // enhance: is there a way to just fill to bottom?
            display: flex;
            flex-direction: row;
            .column {
                display: block;
            }
            &.in-rows {
                flex-direction: column;
                width: 100%;
            }
            .section-row {
                display: flex;
                flex-direction: row;
                width: 100%;
            }
            section {
                // section labels
                & > h1 {
                    background-color: @bloom-lightgray;
                    text-align: center;
                    margin-bottom: 1em;
                    margin-top: 0;
                }
            }
            publish-section {
                display: flex;
                flex-direction: column;
                flex: 1 0 auto;
            }
            #progress-section {
                height: 100%;
            }
            .expandable {
                flex-grow: 1;
            }
        }
    }

    .preview-section {
        width: 500px;
        flex: 1 0 auto;
        margin-right: 25px;
    }
    .publish-section {
        display: flex;

        flex-direction: column;
        flex: 1 1 auto; // take up remaining size
        margin-right: 25px;
    }
    .help-section {
        flex: 0 0 auto; // fixed size
        display: block; // each link on a new line
    }
    // bit of a hack... needed when two sections are in the same column
    .section-below-another {
        margin-top: 2em;
    }
    #progress-box {
        min-height: 100px;
        width: 100%;
        border: solid thin darkgray;
        overflow-x: auto;
        overflow-y: scroll;
        // see note on #progress-section about growing to take up whatever is left.
        // It is the parent of this and it does that, then this must itself must do it, too.
        flex: 1;
        box-sizing: border-box;
        padding: 10px;
    }

    button {
        background-color: white;
        &:disabled {
            color: gray;
        }
        padding: 0.5em;
    }

    button + button {
        margin-left: 1em;
    }

    .hidden {
        display: none;
    }
    a {
        display: block;
        color: @bloom-blue;
        &:hover {
            color: @bloom-blue;
        }
    }
    h2 {
        &.label {
            margin-bottom: 0;
        }
        font-size: 12pt;
    }
}

html.publishTabScreen #epubPublishUI .preview-section {
    // For now, with the old device preview, we don't want this section growing.
    // The phone preview grows with it and gets a weird aspect ratio.
    flex-grow: 0;
    // and the section doesn't need to be wide enough for a landscape option and controls
    width: 400px;
}
