html
	head

	body
		h3(data-panelId='AudioRecordingTool', data-markuptype='3', data-order='30', data-i18n='Accordion.AudioRecordingTool') Audio Recording Tool
		div(data-panelId='AudioRecordingTool')
		script(type='text/javascript').
			$(document).ready(function () {
				setTimeout(recordAudio, 100);
			});