/*+init {*/
*
{
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 1em;
}
H1, H2, H3, H4, H5, H6, TH
{
	font-weight: inherit;
}
ADDRESS, CITE, DFN, VAR
{
	font-style: inherit;
}
CAPTION, CODE, KBD, PRE, SAMP, TT, INPUT, TEXTAREA, SELECT, BUTTON
{
	font-family: inherit;
}
TABLE
{
	border-spacing: 0;
}
TH
{
	text-align: left;
}
HTML, BODY, THEAD, TBODY, TFOOT, TR, TH, TD, BR
{
	position: static;
}
INPUT[type=hidden]
{
	display: none !important;
}
FIELDSET, A IMG
{
	border: 0;
}
BODY
{
	font-size: 100%;
	font-family: sans-serif;
	line-height: 1.5;
}
/*+}*/
DIV.bloom-page
{
/*before fiddling with these, set the border color of Div.Page in preview.css so you can see what the pdf is doing
these should be 14.8, but wkhtmltopdf shinks it
The folowing are the values which work with a 1px border.  With 0px border, I could not get the pages to come out
properly at all with wkhtmltopdf 0.10.0. It's as if the borders actually help by making the used part of each
page be the full page, regardless of the contents.

min-width: 15.3cm;
max-width: 15.3cm;
/*these should be 21, but wkhtmltopdf shinks it, and this makes each successive page more "off" until it's rediculous
min-height: 21.82cm;
max-height: 21.82cm;

The above is not needed now since the code asks wkthmlpdf to zoom the page by 9.1%, which an invisble 1px border added by
preview.css.

*/
	min-width: 14.8cm;
	max-width: 14.8cm;
	min-height: 21cm;
	max-height: 21cm;
}
/*Hide items that shouldn't show, depending on the current  multi-lingualism of this book.
generic*/
TEXTAREA
{
/*specifying the font again, here, really is needed*/
	font-family: "Andika Basic", "Gentium Basic", "Doulous SIL", Sans-Serif;
	font-size: 14pt;
	width: 100%;
}
.translators
{
	text-align: center;
	height: 1.6cm;
	position: relative;
}
DIV.bloom-page:after
{
	position: static;
	/*+placement:anchor-top-left 7.5cm 20.3cm;*/
	position: absolute;
	left: 7.5cm;
	top: 20.3cm;
}
/*Image On Top*/
DIV.imageOnTop DIV.bloom-imageContainer
{
	width: 490px;
	/*+placement:shift 34px 21px;*/
	position: relative;
	left: 34px;
	top: 21px;
}
DIV.imageOnTop.bloom-trilingual DIV.bloom-imageContainer
{
	height: 8cm;
	text-align: center;
	margin-top: 1cm;
}
DIV.imageOnTop DIV.bloom-translationGroup
{
	height: 291px;
	/*+placement:shift 20px -14px;*/
	position: relative;
	left: 20px;
	top: -14px;
	width: 464px;
}
DIV.imageOnTop.bloom-trilingual DIV.bloom-translationGroup
{
	height: 357px;
	/*+placement:shift 20px -50px;*/
	position: relative;
	left: 20px;
	top: -50px;
}
.imageOnTop TEXTAREA
{
	height: 100%;
	width: 100%;
	/*+placement:shift -8px 92px;*/
	position: relative;
	left: -8px;
	top: 92px;
}
.imageOnTop.bloom-bilingual TEXTAREA
{
	height: 50%;
}
.imageOnTop.bloom-trilingual TEXTAREA
{
	height: 30%;
	/*+placement:shift -8px 92px;*/
	position: relative;
	left: -8px;
	top: 92px;
}
.imageOnTop.bloom-trilingual TEXTAREA.bloom-content2
{
	/*+placement:anchor-top-left -8px 207px;*/
	position: absolute;
	left: -8px;
	top: 207px;
}
.imageOnTop.bloom-trilingual TEXTAREA.bloom-content3
{
	/*+placement:anchor-top-left -8px 321px;*/
	position: absolute;
	left: -8px;
	top: 321px;
}
/*Image In Middle*/
DIV.imageInMiddle DIV.bottom
{
	height: 195px;
	/*+placement:shift 21px 104px;*/
	position: relative;
	left: 21px;
	top: 104px;
	width: 449px;
}
DIV.imageInMiddle P
{
	/*+placement:shift 36px 57px;*/
	position: relative;
	left: 36px;
	top: 57px;
	width: 411px;
}
DIV.imageInMiddle TEXTAREA
{
	height: 100%;
}
DIV.imageInMiddle .picture
{
	max-height: 6.3cm;
}
DIV.imageInMiddle DIV.top
{
	height: 189px;
	/*+placement:shift 26px 30px;*/
	position: relative;
	left: 26px;
	top: 30px;
	width: 442px;
}
/*Image On Bottom*/
.imageOnBottom .picture
{
	max-height: 9cm;
	max-width: 12cm;
	padding-top: 18px;
}
.imageOnBottom TEXTAREA
{
	height: 133%;
	/*+placement:shift 2px -32px;*/
	position: relative;
	left: 2px;
	top: -32px;
}
.imageOnBottom P.bloom-imageContainer
{
	height: 9cm;
	/*+placement:anchor-bottom-left 18px 106px;*/
	position: absolute;
	left: 18px;
	bottom: 106px;
	width: 466px;
}
DIV.imageOnBottom DIV.bloom-translationGroup
{
	height: 235px;
	/*+placement:shift 22px 77px;*/
	position: relative;
	left: 22px;
	top: 77px;
	width: 459px;
}
/*Image Whole Page*/
DIV.imageWholePage DIV.bloom-imageContainer
{
	/*+placement:shift 20px 68px;*/
	position: relative;
	left: 20px;
	top: 68px;
	width: 520px;
	height: 668px;
}
DIV.imageInMiddle DIV.bloom-imageContainer
{
	/*+placement:shift 49px 72px;*/
	position: relative;
	left: 49px;
	top: 72px;
	width: 475px;
}
DIV.imageOnBottom DIV.bloom-imageContainer
{
	/*+placement:shift 37px 140px;*/
	position: relative;
	left: 37px;
	top: 140px;
	width: 496px;
}
.textWholePage TEXTAREA
{
	height: 18.9cm;
	margin-top: 1cm;
}
.imageWholePage DIV.bloom-imageContainer
{
	height: 18.6cm;
	width: 12cm;
	/*+placement:anchor-top-left 0px 0px;*/
	position: absolute;
	left: 0px;
	top: 0px;
	margin-top: 43px;
}
DIV.imageWholePage IMG
{
	display: table-cell;
/*doesn't work*/
	vertical-align: middle;
/*doesn't work*/
	max-height: 18.6cm;
	max-width: 12.2cm;
}
DIV.imageWholePage TD
{
	text-align: center;
}
DIV.imageWholePage TABLE
{
	width: 556px;
	height: 786px;
}
/*Text Whole Page
The key to this text being aligned vertically is the bloom-centerContentVertiaclly on the tranlsation group, which gets picked up in the jscript, which then aligns it*/
DIV.textWholePage DIV.bloom-translationGroup DIV
{
	margin-top: 26px;
	margin-left: 34px;
	margin-right: 39px;
	min-height: 67px;
}
