.titlePage H1
{
	font-size: 24pt;
	text-align: center;
	font-weight: bold;
}
DIV.verso
{
	text-align: center;
}
.titlePage
{
	padding: 0;
	margin: 0;
	text-align: center;
}
DIV.pageContent
{
	margin: 1.5cm 1.5cm 2cm 2cm;
}
.titlePage H2
{
	font-size: 18pt;
	text-align: center;
}
