<?xml version="1.0" encoding="utf-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="content-type" />
	<title>A5Portrait Template</title>
	<link rel="stylesheet" href="A5Portrait.css" type="text/css" />
	<link rel="stylesheet" href="previewMode.css" type="text/css" />
	<link rel="stylesheet" href="basePage.css" type="text/css" />
	<meta id="defaultNameForDerivedBooks" content="book"/>
	<meta id="bookLineage" content=""/>
	<meta id="bloomBookId" content="056B6F11-4A6C-4942-B2BC-8861E62B03B3"/>
</head>
<body>
	<div class="-bloom-page cover -bloom-required coverColor -bloom-singleton" id="5dcd48df-e9ab-4a07-afd4-6a24d0398380">
		<p class="centered"><textarea class="-bloom-vernacularBookTitle  coverColor">My Book</textarea></p>
		<p class="imageHolder">
		<img id="coverPageImage"
			alt="missing" class="picture  coverColor" src="placeHolder.png" />
		</p>
		<div class="coverBottomRow" ><p lang='en' rows="1" class="-bloom-nameOfLanguage -bloom-showNational singleLine coverColor" title="Enter the name of the language">Language Name Here</p>
		<textarea lang='en' rows="1" class="-bloom-topicInNationalLanguage  -bloom-showNational singleLine coverColor" title="Enter the kind of book this is. E.g. Health, Maths">National language book label</textarea>
		</div>
	</div>
	<div class="-bloom-page verso -bloom-required coverColor -bloom-singleton" id="B7DB9AC7-5DCC-4D55-86B5-6DD2A5303AA9">
		<p class="centered">
			<textarea class="coverColor simpleBigVersoContents">Copyright Information</textarea>
		</p>
	</div>
	<div class="-bloom-page titlePage -bloom-required -bloom-singleton" id="5dcd48df-e9ab-4a07-afd4-6a24d0398381">
		<p class="centered -bloom-vernacularBookTitle" lang="en">My Book</p>
		<p class="centered -bloom-topicInNationalLanguage -bloom-showNational" lang='en'>Book Title In National Language </p>
		<p class="centered creditsHeading -bloom-showNational">Credits</p>
		<p class="foo">
			<textarea lang='en' class="credits -bloom-showNational" title="Enter the contributions made by writers, illustrators, editors, etc."></textarea>
		 </p>
		<p class="centered -bloom-showNational">Printing History</p>
		<p>
			<textarea lang='en' class="printingHistory -bloom-showNational" title="Each time you print many copies at printshop, put the date and how many copies were printed."></textarea>
		</p>
		<p class="centered -bloom-nameOfLanguage singleLine -bloom-showNational" lang='en'>Language Name</p>

	</div>
	<div class="-bloom-page  numberedPage imageOnTop -bloom-extraPage" id="5dcd48df-e9ab-4a07-afd4-6a24d0398382">
		<p class="centered  imageHolder">
			  <img id="img1" alt="missing" class="picture" src="placeHolder.png" />
		</p>
		<p class="centered">
			<textarea>lorem ipsum dolor sit amet, consectetuer adipiscg elit. Ut nec lacus a neque pulvinar pulvinar. A100liquam sagittis, purus in fermentum ornare, orci igula vulputate sapien, a rutrum nisl mi eu mi. Suspendisse potenti. Aliquam eros. Nullam eros neque, cursus eu, commodo in, vulputate nec, ipsum. Duis et est a ante convallis consequat. Sed et nisl. 350Praesent vulputate erat quis magna. </textarea>
		</p>
	</div>
	<div class="-bloom-page  numberedPage imageInMiddle -bloom-extraPage" id="5dcd48df-e9ab-4a07-afd4-6a24d0398383">
		 <p class="centered">
			<textarea>lorem ipsum dolor sit amet, consectetuer adipiscg elit. Ut nec lacus a neque pulvinar pulvinar. A100liquam sagittis, purus in fermentum ornare, orci igula vulputate sapien, a rutrum nisl mi eu mi. Suspendisse potenti. Aliquam eros. Nullam eros neque, cursus eu, commodo in, vulputate nec, ipsum. Duis et est a ante convallis consequat. Sed et nisl. 350Praesent vulputate erat quis magna. </textarea>
			</p>
		 <p class="centered  imageHolder">
			  <img id="img2" alt="missing" class="picture" src="placeHolder.png" />
		 </p>
		 <p class="centered">
			<textarea>lorem ipsum dolor sit amet, consectetuer adipiscg elit. Ut nec lacus a neque pulvinar pulvinar. A100liquam sagittis, purus in fermentum ornare, orci igula vulputate sapien, a rutrum nisl mi eu mi. Suspendisse potenti. Aliquam eros. Nullam eros neque, cursus eu, commodo in, vulputate nec, ipsum. Duis et est a ante convallis consequat. Sed et nisl. 350Praesent vulputate erat quis magna. </textarea>
		 </p>
	</div>
	<div class="-bloom-page  numberedPage imageOnBottom -bloom-extraPage" id="5dcd48df-e9ab-4a07-afd4-6a24d0398384">
		 <p class="centered"><textarea  >lorem ipsum dolor sit amet, consectetuer adipiscg elit. Ut nec lacus a neque pulvinar pulvinar. A100liquam sagittis, purus in fermentum ornare, orci igula vulputate sapien, a rutrum nisl mi eu mi. Suspendisse potenti. Aliquam eros. Nullam eros neque, cursus eu, commodo in, vulputate nec, ipsum. Duis et est a ante convallis consequat. Sed et nisl. 350Praesent vulputate erat quis magna. </textarea></p>
		 <p class="centered  imageHolder">
			<img id="img3" alt="missing" class="picture" src="placeHolder.png" />
		 </p>
	</div>
	<div class="-bloom-page   numberedPage imageWholePage -bloom-extraPage" id="5dcd48df-e9ab-4a07-afd4-6a24d0398385">
	   <p class="centered  imageHolder">
		  <img id="img4" alt="missing" class="picture" src="placeHolder.png" />
	  </p>
	</div>
		<div class="-bloom-page  numberedPage textWholePage -bloom-extraPage" id="5dcd48df-e9ab-4a07-afd4-6a24d0398386">
		 <p class="centered"><textarea >lorem ipsum dolor sit amet, consectetuer adipiscg elit. Ut nec lacus a neque pulvinar pulvinar. A100liquam sagittis, purus in fermentum ornare, orci igula vulputate sapien, a rutrum nisl mi eu mi. Suspendisse potenti. Aliquam eros. Nullam eros neque, cursus eu, commodo in, vulputate nec, ipsum. Duis et est a ante convallis consequat. Sed et nisl. 350Praesent vulputate erat quis magna. </textarea></p>
	</div>     </body>
</html>
