@import "../bloomUI.less";
@import "teamCollection.less";

// Note: other components are in the same webpack module so any rules here will get applied to
// those components and vice versa, so keep everything specific to this inside #reactRoot.JoinTeamCollection
#reactRoot.JoinTeamCollection {
    height: 100%;
    * {
        box-sizing: border-box;
    }

    #new-team-collection {
        height: 100%;
    }

    #new-team-collection {
        padding: 15px;
        display: flex;
        flex-direction: column;
        div:not(.no-space-below) {
            margin-bottom: 10px;
        }
    }
    .grow {
        flex-grow: 1;
    }
    .join-heading {
        font-size: x-large;
    }

    #buttons {
        display: flex;
        justify-content: end;
    }
    #join-button {
        margin-right: 10px;
    }

    .auto-pad {
        flex-grow: 1;
    }

    .icon-row {
        display: flex;
        width: 100%;
        svg {
            height: 20px;
            width: 30px;
            margin-right: 15px;
            margin-top: 4px; // make it align with the top of the text
        }
    }
    .icon-row-grow {
        flex-grow: 1;
    }

    // Mentioning the class twice is for specificity.
    .join-buttons.join-buttons {
        min-width: 120px;
    }

    .body-of-new {
        display: flex;
        flex-direction: column;
    }
}
