@import "../bloomUI.less";

// Note: because the IndependentProgressDialog.tsx is in the same webpack module and imports
// IndependentProgressDialog.less, those styles also apply, so beware of unexpected interference.
* {
    box-sizing: border-box;
}
html,
body,
#new-team-collection-screen,
#new-team-collection {
    height: 100%;
}
body {
    margin: 0;
}

#new-team-collection {
    padding: 15px;
    display: flex;
    flex-direction: column;
    div:not(.no-space-below) {
        margin-bottom: 10px;
    }
}
.grow {
    flex-grow: 1;
}
.join-heading {
    font-weight: bold;
    font-size: x-large;
}

#buttons {
    display: flex;
    justify-content: end;
}
#join-button {
    margin-right: 10px;
}

.auto-pad {
    flex-grow: 1;
}

.icon-row {
    display: flex;
    width: 100%;
    svg {
        height: 30px;
        width: 45px;
        margin-right: 15px;
    }
}
.icon-row-grow {
    flex-grow: 1;
}

// Mentioning the class twice is for specificity.
.join-buttons.join-buttons {
    min-width: 120px;
}

.body-of-new {
    display: flex;
    flex-direction: column;
}
