@icon-size: 60px;
@icon-side-padding: 8px;
@panel-button-height: 40px;
@panel-button-width: 180px;
@panel-button-padding: 15px;
@panel-button-top-padding: 10px;
@panel-button-icon-size: 28px;
@panel-width: 560px; // roughly A5 width

.status-panel {
    max-width: @panel-width;
    display: flex;
    flex-direction: column;
    flex: 1;

    .panel-children {
        padding-left: @icon-side-padding + 4px; // to match the alignment of the icon or avatar above
        padding-right: @panel-button-padding; // to match alignment of the button below
    }
    .lockedInfo {
        margin-left: calc(@icon-size + 2 * @icon-side-padding);
    }
    .panel-button {
        min-width: @panel-button-width;
        height: @panel-button-height;
        padding-right: @panel-button-padding;
        padding-bottom: @panel-button-padding;
        padding-top: @panel-button-top-padding;
        align-self: flex-end;
        display: flex;
        justify-content: flex-end;
        button {
            width: 100%; // fill out width of box for button
            img {
                width: @panel-button-icon-size;
                margin-top: -2px;
            }
            & > span {
                font-size: larger;
            }
        }
    }
}
