@import "../bloomUI.less";
// used from bloomUI so far: bloom-panelBackground

@status-panel-height: 180px;

#preview.abovePanel {
    height: calc(99vh - @status-panel-height);
}

#teamCollection {
    color: white;
    background-color: @bloom-panelBackground;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: @status-panel-height;
}
