@import "../bloomUI.less";
@import "./teamCollection.less";
@tab-panel-margin-top: 24px;
@tab-panel-margin-sides: 26px;

#teamCollection-settings {
    margin: @tab-panel-margin-top @tab-panel-margin-sides 0;
    font-family: @UIFontStack;
    font-size: @ui-font-size;
    .requiresEnterpriseOverlay {
        justify-content: center;
        align-items: center;
    }
    div:not(.no-space-below) {
        margin-bottom: 10px;
    }
    .teamCollection-heading {
        margin-bottom: 0;
        margin-top: 20px;
        font-weight: bold;
        font-size: larger;
    }

    a.directory-link {
        display: block; // saves making another div and allows margin to work
        margin-bottom: 40px;
        color: black;
    }

    a {
        color: @bloom-blue;
    }

    .extra-space-above {
        margin-top: 40px;
    }

    .align-right {
        display: flex;
        justify-content: right;
    }
}
