@import "../bloomUI.less";
// used from bloomUI so far: bloom-panelBackground
@import "./teamCollection.less";

#teamCollection {
    color: white;
    background-color: @bloom-panelBackground;
    display: flex;
    flex-direction: column;
    flex: 1; // less than the 4 of the preview panel, so it will limit itself to what it needs.
}
