@import "../bloomUI.less";
#preview-wrapper {
    height: calc(100% - 200px);
    overflow-y: scroll;
}

html,
body {
    height: 100%; // required so we can do percents on #preview-wrapper
}

#teamCollection {
    color: white;
    padding: 10px;
}

.teamCollection-button {
    margin-left: auto;
}

.teamCollection-heading {
    font-size: larger;
}
