.teamCollection-heading {
    font-weight: bold;
}
.button-row {
    display: flex;
}

#teamCollection-settings {
    padding-top: 10px;
    div {
        margin-bottom: 10px;
    }
    .teamCollection-heading {
        margin-bottom: 0;
        margin-top: 10px;
    }
}
