@import "../bloomUI.less";

#reactRoot {
    height: 100%;
}

#team-collection-dialog {
    box-sizing: border-box;
    height: 100%;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;

    #messages {
        flex-grow: 1;
        overflow-y: scroll;
        margin-bottom: 10px;
        margin-left: 15px;
        background-color: @form-background;
        // These two names need to correspond to the MessageAndMilestoneType enumeration in C#
        .Error,
        .ErrorNoReload {
            color: red;
        }
        .NewStuff {
            color: rgb(0, 129, 0);
        }
    }

    .align-right {
        display: flex;
        justify-content: right;
        margin-right: 25px;
    }
    #reload {
        margin-right: 15px;
    }
    .MuiDialogTitle-root {
        color: white;
        background-color: @bloom-blue;
        margin-bottom: 10px;
    }
}
