@import "../bloomUI.less";
.button-row {
    display: flex;
}

#teamCollection-settings {
    padding: 10px;
    .requiresEnterpriseOverlay {
        justify-content: center;
        align-items: center;
    }
    div:not(.no-space-below) {
        margin-bottom: 10px;
    }
    .teamCollection-heading {
        margin-bottom: 0;
        margin-top: 20px;
        font-weight: bold;
        font-size: larger;
    }

    a.directory-link {
        display: block; // saves making another div and allows margin to work
        margin-bottom: 40px;
        color: black;
    }

    a {
        // taken from a rule .MuiButton-textPrimary in MaterialUI.
        // Makes it match a bloom button with color #primary.
        // Note that this is NOT Bloom-blue. It doesn't appear to be defined anywhere
        // else in our source.
        color: #3f51b5;
    }
}

.extra-space-above {
    margin-top: 40px;
}

.align-right {
    display: flex;
    justify-content: right;
}

.join-help-dialog {
    .MuiPaper-root {
        padding: 10px;
    }
    .teamCollection-heading {
        margin-bottom: 10px;
    }
    img {
        margin-top: 5px;
    }
}
