html,
.App,
#root {
    height: 100%;
}
body {
    // Without the minus 16px, a scrollbar always appears.  This is due to the standard 8px margin
    // that body applies (top + bottom), making the body actually 16px taller than the viewport.  An
    // alternative solution would be to set "margin: 0;" here and set "body { height: 100%; }" above
    // (along with html and .App), but I think it looks better with the margin.
    // See https://issues.bloomlibrary.org/youtrack/issue/BL-7506.
    height: calc(~"100% - 16px");
}
.screen {
    display: flex;
    text-align: left;
    height: 100%;
}
.publishScreenRoot {
    height: 100%;
}

.sidePanel {
    padding-left: 20px;
    width: 250px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0, 97%);
    height: 100%;
}

.main {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    background-color: white;
}

.helpGroup {
    margin-top: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.preview {
    height: 450px;
    width: 100%;
    //background-color: rgb(26, 26, 26);
    background: radial-gradient(
            641.32px at 29.05% 29.83%,
            rgba(112, 112, 112, 0) 0%,
            #0c0c0c 100%
        ),
        #2d2d2d;
    padding-left: 30px;
    padding-top: 20px;
}
.publish {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 10px;
}

.settingsGroup {
    margin-top: 20px;
}
