// didn't help with the Bloom vs. modern browser disparity (see  &:after below)
// : @import "../../node_modules/normalize.css/normalize.css";
@import "../../bloomUI.less";

@phoneFeaturesColor: #ababab;
@bezelWidth: 10px;
@speaker-length: 80px; // prettier extension changes speakerLength to speakerlength. So weird.
@speakerHeight: 5px;

@scale: 25;
@screenWidth: 9px * @scale;
@screenHeight: 16px * @scale;
@buttonScale: 0.15;
// gets filled by the components children, if there are any

// Desktop pixels are much larger, so things come out bloated.
// For now what we do is make the player & readium think we have twice the pixels,
// then shrink it all.
@pixelDensityMultiplier: 2;

.deviceFrame {
    width: @screenWidth;
    height: @screenHeight;
    --scale: 1;

    &.orientation-button {
        --scale: @buttonScale;
        transform-origin: top;
        &.portrait {
            transform: scale(@buttonScale);
        }
        &.landscape {
            transform: translate(0, 50px) rotate(-90deg /*counter clockwise*/)
                scale(@buttonScale);
        }
        &.disabled {
            opacity: 0.5;
        }
        .selectedOrientation {
            border: solid @bloom-blue; // @bloom-yellow;
            margin: -46px;
            width: 132%;
            height: 132%;
            border-radius: 18px;
            border-width: 7px;
        }
    }
    &.portrait {
        &.fullSize {
            transform: translate(80px, 0px);
        }
        iframe {
            width: @pixelDensityMultiplier * 100% !important;
            height: @pixelDensityMultiplier * 100% !important;
            transform: scale(1 / @pixelDensityMultiplier);
        }
    }

    &.landscape {
        transform-origin: top left;
        transform: translate(0, 245px) rotate(-90deg /*counter clockwise*/)
            scale(var(--scale));
        /*@bezelWidth*/
        iframe {
            height: (@pixelDensityMultiplier * 900% / 16); //  9/16
            width: (@pixelDensityMultiplier * 1600%/9); //  16/9
            transform: rotate(90deg /* clockwise*/) translate(0, -@screenWidth)
                scale(1 / @pixelDensityMultiplier);
            /*translate(0, -@screenWidth + (2 * @bezelWidth));*/
        }
    }

    // speaker
    &:before {
        // NOTE: the commented-out bits here work in modern browsers, but not in Bloom 4.6's browser.
        --speakerWidth: @screenWidth / 3;
        width: calc(9px * @scale / 3); //var(--speakerWidth);
        height: @speakerHeight;
        margin-top: -12px;
        margin-left: calc(
            (9px * @scale / 2) - ((9px * @scale / 3) / 2)
        ); // ~"calc((var(--screenWidth)/2) - (var(--speakerWidth)/2))";
        border-radius: @speakerHeight;
        background-color: @phoneFeaturesColor;
        content: "";
        position: absolute;
    }
}
