.progressDialog {
    .Error {
        color: red;
    }
    .Warning {
        color: orange;
    }
    .Note {
        color: blue;
    }
    .Instruction {
        color: blue;
    }
    .Progress {
        color: darkslategray;
    }

    .MuiDialogContent-root {
        overflow-y: scroll;
    }

    .circle-progress {
        position: absolute;
        right: 0;
        color: lightgray;
        margin-top: 10px;
        margin-right: 10px;
        width: 15px;
        height: 10px;
    }
}
