html,
.App,
#root {
    height: 100%;
}
body {
    // Without the 0 vertical margin, a scrollbar always appears.  This is due to the standard 8px
    // margin that body applies (top + bottom), making the body actually 16px taller than the viewport.
    // An alternative solution would be to set "height: calc(~100% - 16px);" here if we think it looks
    // better with the margin.  But that gets a bit odd looking if the window is shrunk enough to have
    // the margin overlap the black background of part of this tool.  (Perhaps setting only margin-bottom
    // to 0 and then setting "height: calc(~100% - 8px);" instead would be better?)
    // See https://issues.bloomlibrary.org/youtrack/issue/BL-7506.
    margin: 0; // Otherwise there is a 8px left and right margin that we don't want with the new template.
    height: 100%;
}

.publishScreenRoot {
    height: 100%;
}
