.credits .marginBox,
.verso .marginBox {
  font-size: 10pt;
}
.credits .marginBox .bloom-editable,
.verso .marginBox .bloom-editable {
  font-size: 10pt;
}
.credits .bloom-editable,
.verso .bloom-editable {
  min-height: 5em;
  line-height: normal;
}
.credits .licenseAndCopyrightBlock,
.verso .licenseAndCopyrightBlock,
.credits #versoLicenseAndCopyright,
.verso #versoLicenseAndCopyright {
  min-height: 60px;
}
.credits .licenseAndCopyrightBlock .copyright,
.verso .licenseAndCopyrightBlock .copyright,
.credits #versoLicenseAndCopyright .copyright,
.verso #versoLicenseAndCopyright .copyright {
  margin-bottom: 2em;
}
.credits .licenseAndCopyrightBlock .licenseBlock,
.verso .licenseAndCopyrightBlock .licenseBlock,
.credits #versoLicenseAndCopyright .licenseBlock,
.verso #versoLicenseAndCopyright .licenseBlock {
  margin-bottom: 2em;
}
.credits .ISBNContainer,
.verso .ISBNContainer {
  margin-bottom: 2em;
}
.credits .ISBNContainer .bloom-editable,
.verso .ISBNContainer .bloom-editable {
  width: 4.3cm !important;
  display: inline-block;
  vertical-align: text-top;
  max-height: 1.8em;
  min-height: 1.8em;
}
.credits .ISBNContainer .ISBNContainer SPAN,
.verso .ISBNContainer .ISBNContainer SPAN {
  vertical-align: top;
}
.credits .originalAcknowledgments .bloom-contentNational1,
.verso .originalAcknowledgments .bloom-contentNational1 {
  display: block !important;
  margin-bottom: 2em;
}
.credits .licenseUrl,
.verso .licenseUrl {
  display: none;
}
/*Cover Page*/
.A5Portrait.bloom-frontMatter DIV.marginBox {
  /*There's no page number on the cover, so we might as well have a the bottom stuff closer to the bottom*/
  height: 189.4mm;
  /*[disabled]border:1px solid #000000;*/
}
.B5Portrait.bloom-frontMatter DIV.marginBox {
  /*There's no page number on the cover, so we might as well have a the bottom stuff closer to the bottom*/
  height: 220mm;
  /*[disabled]border:1px solid #000000;*/
}
.bloom-frontMatter.A4Landscape DIV.marginBox {
  /*There's no page number on the cover, so we might as well have a the bottom stuff closer to the bottom*/
  height: 188.2mm;
}
.A4Portrait DIV.marginBox {
  /*There's no page number on the cover, so we might as well have a the bottom stuff closer to the bottom*/
  height: 269.3mm;
}
/*....Title*/
.Title-On-Cover-style {
  width: 100%;
  text-align: center;
}
/*....................National 1*/
.A5Portrait.cover .bookTitle.bloom-contentNational1 {
  font-size: 120%;
  height: 1.3cm;
  width: 100%;
  display: block;
  /*+placement:anchor-top-left 0 130;*/
  position: absolute;
  left: 0;
  top: 130;
}
.B5Portrait.cover .bookTitle.bloom-contentNational1 {
  font-size: 120%;
  height: 1.3cm;
  width: 100%;
  display: block;
  /*+placement:anchor-top-left 0 130;*/
  position: absolute;
  left: 0;
  top: 130;
}
.A5Landscape.cover .bookTitle.bloom-contentNational1 {
  font-size: 120%;
  height: 0.8cm;
  width: 100%;
  /*+placement:anchor-top-left -4px 68px;*/
  position: absolute;
  left: -4px;
  top: 68px;
  display: block;
}
.A4Landscape.cover .bookTitle.bloom-contentNational1 {
  font-size: 120%;
  height: 0.8cm;
  width: 100%;
  /*+placement:anchor-top-left 0 112px;*/
  position: absolute;
  left: 0;
  top: 112px;
  display: block;
}
.A4Portrait.cover .bookTitle.bloom-contentNational1 {
  font-size: 120%;
  height: 0.8cm;
  width: 100%;
  /*+placement:anchor-top-left 0 110;*/
  position: absolute;
  left: 0;
  top: 110;
  display: block;
}
/*Note: this vernacular/conent1 must come *after* the National1 block, else when we have English as the only language,
It will be treated as the 2ndary title, which is small and not at the top, and shell-book makers get confused and don't like it.
...................Vernacular*/
.A5Portrait.cover .bookTitle.bloom-content1 {
  font-size: 250%;
  height: 3.3cm;
  width: 100%;
  display: block;
  line-height: 1;
  /*+placement:anchor-top-left 0 0;*/
  position: absolute;
  left: 0;
  top: 0;
}
.B5Portrait.cover .bookTitle.bloom-content1 {
  font-size: 250%;
  height: 3.3cm;
  width: 100%;
  display: block;
  line-height: 1;
  /*+placement:anchor-top-left 0 0;*/
  position: absolute;
  left: 0;
  top: 0;
}
.A5Landscape.cover .bookTitle.bloom-content1 {
  font-size: 300%;
  height: 1.5cm;
  width: 100%;
  display: block;
  /*+placement:anchor-top-left 0 0;*/
  position: absolute;
  left: 0;
  top: 0;
}
.A4Landscape.cover .bookTitle.bloom-content1 {
  font-size: 250%;
  height: 2.8cm;
  width: 100%;
  display: block;
  line-height: 1.2;
  /*+placement:anchor-top-left 0 0;*/
  position: absolute;
  left: 0;
  top: 0;
}
.A4Portrait.cover .bookTitle.bloom-content1 {
  font-size: 250%;
  height: 2.8cm;
  width: 100%;
  display: block;
  line-height: 1.2;
  /*+placement:anchor-top-left 0 0;*/
  position: absolute;
  left: 0;
  top: 0;
}
/*......Image*/
.A5Portrait.cover DIV.bloom-imageContainer {
  height: 10cm;
  width: 100%;
  /*+placement:anchor-top-left 0 193px;*/
  position: absolute;
  left: 0;
  top: 193px;
}
.B5Portrait.cover DIV.bloom-imageContainer {
  height: 10cm;
  width: 100%;
  /*+placement:anchor-top-left 0 193px;*/
  position: absolute;
  left: 0;
  top: 193px;
}
.A5Landscape.cover DIV.bloom-imageContainer {
  height: 60%;
  width: 100%;
  /*+placement:anchor-top-left 0 121px;*/
  position: absolute;
  left: 0;
  top: 121px;
}
.A4Landscape.cover DIV.bloom-imageContainer {
  height: 11.3cm;
  width: 100%;
  /*+placement:anchor-top-left 0 158px;*/
  position: absolute;
  left: 0;
  top: 158px;
}
.A4Portrait.cover DIV.bloom-imageContainer {
  height: 17.1cm;
  width: 100%;
  /*+placement:anchor-top-left 0 158px;*/
  position: absolute;
  left: 0;
  top: 158px;
}
/*.....Small cover credits*/
DIV.bloom-editable.smallCoverCredits {
  font-size: 100%;
  text-align: center;
  /*+placement:anchor-top-left 0 599px;*/
  position: absolute;
  left: 0;
  top: 599px;
  height: 49px;
}
.A4Portrait DIV.bloom-editable.smallCoverCredits {
  font-size: 100%;
  text-align: center;
  /*+placement:anchor-top-left 0 834px;*/
  position: absolute;
  left: 0;
  top: 834px;
  height: 49px;
}
/*.......Topic*/
DIV.coverBottomBookTopic {
  /*[disabled]overflow:hidden;*/
  width: 6cm;
  /*+placement:anchor-bottom-right 0 0;*/
  position: absolute;
  right: 0;
  bottom: 0;
  min-height: 20;
  height: 58px;
  text-align: right;
}
DIV.coverBottomBookTopic .bloom-contentNational1 {
  /*[disabled]overflow:hidden;*/
  text-align: right;
  width: 100%;
  /*[disabled]min-height:20;*/
  font-size: 110%;
  display: inline !important;
  height: 25px !important;
  padding-right: 1px;
  /*[disabled]padding-left:15px;*/
}
DIV.coverBottomBookTopic DIV.bloom-contentNational1 {
  /*NB: we need placement because we want the national1 to be on top, regardless of its order in the parent div*/
  /*[disabled]+placement:anchor-top-right 0 0;*/
}
.coverBottomBookTopic .bloom-contentNational2,
.coverBottomBookTopic .bloom-content1:not(.bloom-contentNational1) {
  color: gray;
  /* review: these may never show anyho; the grey color is in here to help tracing down a problem that may already be fixed, where you would see, e.g.,  "Health  Health" on the front page */
}
.publishMode .coverBottomBookTopic .bloom-contentNational2,
.publishMode .coverBottomBookTopic .bloom-content1:not(.bloom-contentNational1) {
  display: none;
  /* review: these may never show anyhow; it's in here to help tracing down a problem that may already be fixed */
}
/*.......Language Name*/
DIV.coverBottomLangName DIV {
  display: inline;
  font-size: 110% !important;
  /*[disabled]vertical-align:bottom;*/
  /*This placement is to get vertical alignment with the topic*/
  /*+placement:anchor-top-left 0 4px;*/
  position: absolute;
  left: 0;
  top: 4px;
}
DIV.coverBottomLangName {
  height: 58px;
  overflow: hidden;
  text-align: left;
  width: 50%;
  /*+placement:anchor-bottom-left 0 0;*/
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1;
}
/*Title Page*/
DIV.titlePage {
  text-align: center;
}
#funding {
  height: 73px;
  width: 100%;
  /*+placement:anchor-top-left 0mm 88.4mm;*/
  position: absolute;
  left: 0mm;
  top: 88.4mm;
}
#funding .bloom-contentNational1 {
  display: block;
}
/*Unless otherwise positioned and made visible, hide all the language elements in there*/
DIV#titlePageTitleBlock DIV.bloom-contentNational2,
DIV#titePageTitleBlock DIV.bloom-contentNational2 {
  height: 35px;
  text-align: center;
  width: 419px;
}
DIV#titlePageTitleBlock DIV.bloom-contentNational1,
DIV#titePageTitleBlock DIV.bloom-contentNational1 {
  height: 35px;
  text-align: center;
  /*+placement:anchor-top-left 0 119px;*/
  position: absolute;
  left: 0;
  top: 119px;
  width: 100%;
  display: block;
  font-size: 100%;
}
/*Note: this vernacular/conent1 must come *after* the National1 rule, else when we have English as the only language,
It will be treated as the 2ndary title, which is small and not at the top, and shell-book makers get confused and don't like it.*/
DIV#titlePageTitleBlock DIV.bloom-content1,
DIV#titePageTitleBlock DIV.bloom-content1 {
  font-size: 150%;
  height: 111px;
  text-align: center;
  width: 100%;
  display: block;
  /*+placement:anchor-top-left 0 0;*/
  position: absolute;
  left: 0;
  top: 0;
}
.titlePage .titleN1 {
  font-size: 140%;
  text-align: center;
  /*+placement:anchor-top-left 16px 121px;*/
  position: absolute;
  left: 16px;
  top: 121px;
  width: 420;
  height: 45px;
}
.titlePage .titleN2 {
  font-size: 140%;
  text-align: center;
  /*+placement:anchor-top-left 16px 168px;*/
  position: absolute;
  left: 16px;
  top: 168px;
  width: 420;
  height: 45px;
}
DIV.titlePage .credits {
  display: none;
  /*+placement:anchor-top-left 0 73px;*/
  position: absolute;
  left: 0;
  top: 73px;
}
DIV.titlePage .credits.bloom-contentNational1 {
  height: 131px;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 100%;
  /*+placement:anchor-top-left 0 174px;*/
  position: absolute;
  left: 0;
  top: 174px;
}
DIV.titlePage DIV#languageInformation {
  /*+placement:anchor-bottom-left 0 0;*/
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 57px;
}
DIV.titlePage DIV.langName.bloom-contentNational1 {
  display: block;
  /*[empty]border:;*/
}
DIV.titlePage DIV.langName.bloom-content1,
DIV.titlePage DIV.langName.bloom-contentNational2 {
  /*Ideally, we'd show the various ways to render the vernacular lang name only to the extent that they differ from each other (it looks bad to have a repeat)*/
  display: none;
}
DIV.languageLocation {
  /*+placement:anchor-top-left 6px 50;*/
  position: absolute;
  left: 6px;
  top: 50;
  width: 407px;
}
DIV#titlePageTitleBlock,
DIV#titePageTitleBlock {
  width: inherit;
}
/*Inside Back Cover*/
.insideBackCover DIV.bloom-editable {
  height: 100%;
}
/*Outside Back Cover*/
.outsideBackCover DIV.bloom-editable {
  height: 100%;
  text-align: center;
}
