/*These tell Bloom what choices to give the user as far as Page, Orientation, & Layout options:
STARTLAYOUTS
{"layouts":     ["A5Landscape"]  }
ENDLAYOUTS
*/
/*Top with Picture and a little text*/
@base-image-height: 365px;
@A5PageHeight: 	14.8cm;
@A5PageWidth: 	21cm;

.calendarMonthTop .bloom-imageContainer
{
	height: @base-image-height;
}
.bloom-translationGroup.calendarBelowBigPictureText
{
	/*+placement:anchor-bottom-left 0 0;*/
	position: absolute;
	left: 0;
	text-align: center;
	width: 100%;
	padding-top: 20px; // fudge since without display: table + table-cell we can't get vertical-alignment: bottom
}

/*Bottom with day grid*/
.month TABLE
{
	padding: 1cm;
}
DIV.calendarMonthTop DIV.imageHolder
{
	/*+placement:anchor-top-left 42px 45px;*/
	position: absolute;
	left: 42px;
	top: 45px;
	width: 690px;
	height: 383px;
}
.month THEAD TD
{
	font-weight: bold;
	font-size: larger;
}
.month THEAD TH
{
	width: 3em;
	text-align: center;
}
.month TD
{
	text-align: center;
}
.calendarMonthBottom TABLE{
	border-collapse: collapse;
}
.calendarMonthBottom TH
{
	text-align: center;
	font-weight: bold;
}

.calendarMonthBottom TD TEXTAREA
{
	width: 96%;
	height: 95%;
	font-size: 65%;
	position: relative;
	left: 1px;
	margin-top: -20px;
	line-height: 1.3em;
	text-indent: 2.3em;
	background: transparent;
}
.calendarMonthBottom TD P
{
	position: relative;
	font-style: italic;
	top: -1px;
	z-index: 5; // keeps day number in play when textarea overflows
}
.calendarBottomPageHeader
{
	text-align: center;
	font: 240% sans-serif;
	width: 100%;
	height: 32px;
	margin-bottom: 5mm;
}
@Border: 5mm;
@DayTableWidth: @A5PageWidth - (2 * @Border);
/*Since this is calendar-fold, we want to defeat the left page vs. right page margin shifting */
.A5Landscape.calendarMonthBottom .marginBox {
	top: @Border;
	left: @Border;
	margin-left: 0;
	width: @DayTableWidth;
	height: @A5PageHeight - (2 * @Border);
}

.calendarMonthBottom TD
{
	width: @DayTableWidth / 7;
	height: 69px; // NB: have to allow for up to 6 rows of calendar, not 5!!!!!!!!!!!!
	border: 1px solid #000000;
	padding: 0 0 0 2px;
	position: relative;
}

/* bilingual */
.calendarMonthTop.bloom-bilingual .bloom-imageContainer
{
	height: @base-image-height - 45;
}

/* trilingual */
.calendarMonthTop.bloom-trilingual .bloom-imageContainer
{
	height: @base-image-height - 85;
}
