/*These tell Bloom what choices to give the user as far as Page, Orientation, & Layout options:
STARTLAYOUTS
{"layouts":     ["A5Landscape"]  }
ENDLAYOUTS
*/
/*Top with Picture and a little text*/
.calendarMonthTop .bloom-imageContainer {
  height: 365px;
}
.bloom-translationGroup.calendarBelowBigPictureText {
  /*+placement:anchor-bottom-left 0 0;*/
  position: absolute;
  left: 0;
  text-align: center;
  width: 100%;
  padding-top: 20px;
}
/*Bottom with day grid*/
.month TABLE {
  padding: 1cm;
}
DIV.calendarMonthTop DIV.imageHolder {
  /*+placement:anchor-top-left 42px 45px;*/
  position: absolute;
  left: 42px;
  top: 45px;
  width: 690px;
  height: 383px;
}
.month THEAD TD {
  font-weight: bold;
  font-size: 14pt;
}
.month THEAD TH {
  width: 3em;
  text-align: center;
}
.month TD {
  text-align: center;
}
.calendarMonthBottom TABLE {
  border-collapse: collapse;
}
.calendarMonthBottom TH {
  text-align: center;
  font-weight: bold;
  display: table-cell;
  width: 107px;
}
.calendarMonthBottom TD {
  border: 1px solid #000000;
  padding-left: 3px;
  padding-right: 3px;
  position: relative;
  font-size: inherit;
  line-height: inherit;
  display: table-cell;
  height: 72px;
  width: 101px;
  vertical-align: top;
}
.calendarMonthBottom TD TEXTAREA {
  overflow: hidden;
  font-size: 9pt;
  line-height: 1.3em;
  text-indent: 2.3em;
  margin-top: 4px;
  height: 65px;
}
.calendarMonthBottom TD P {
  font-style: italic;
  z-index: 5;
  font-size: 14pt;
  position: absolute;
  margin-top: -4px;
}
.calendarBottomPageHeader {
  text-align: center;
  font-size: 30pt;
  width: 100%;
  height: 32px;
  margin-bottom: 5mm;
}
/*Since this is calendar-fold, we want to defeat the left page vs. right page margin shifting
	BL-2310 does this in basePage.css, but we need a smaller margin for this particular page
	which makes the 'left' rule here need the '!important' tag (since it is less 'specific';
	we want it to apply to Edit mode too.) */
.A5Landscape.calendarMonthBottom .marginBox {
  top: 5mm;
  left: 5mm !important;
  margin-left: 0;
  width: 20cm;
  height: 13.8cm;
}
/* bilingual */
.calendarMonthTop.bloom-bilingual .bloom-imageContainer {
  height: 320px;
}
/* trilingual */
.calendarMonthTop.bloom-trilingual .bloom-imageContainer {
  height: 280px;
}
