/*This is a dummy rule used to transmit to javascript what size/orientations this stylesheet can handle.*/
#bloom-supportedPageConfigurations
{
	content: "A5Landscape";
}
/*Top with Picture and a little text*/
.calendarMonthTop .bloom-imageContainer
{
	width: 100%;
	height: 363px;
}
.bloom-translationGroup.calendarBelowBigPictureText
{
	/*+placement:anchor-bottom-left 0 0;*/
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
	width: 100%;
	height: 64px;
	display: table !important;
}
DIV.calendarBelowBigPictureText DIV.bloom-content1
{
	display: table-cell !important;
	vertical-align: bottom;
	width: 100%;
	min-height: 14pt;
}
/*Bottom with day grid*/
.month TABLE
{
	padding: 1cm;
}
DIV.calendarMonthTop DIV.imageHolder
{
	/*+placement:anchor-top-left 42px 45px;*/
	position: absolute;
	left: 42px;
	top: 45px;
	width: 690px;
	height: 383px;
}
.month THEAD TD
{
	font-weight: bold;
	font-size: larger;
}
.month THEAD TH
{
	width: 3em;
	text-align: center;
}
.month TD
{
	text-align: center;
}
.calendarMonthBottom TABLE
{
	/*+placement:anchor-bottom-left 0 0;*/
	position: absolute;
	left: 0;
	bottom: 0;
}
.calendarMonthBottom TH
{
	text-align: center;
	font-weight: bold;
}
.calendarMonthBottom TD
{
	width: 96px;
	height: 74px;
	border: 1px solid #000000;
	margin: 0;
	padding: 0 0 0 2px;
	vertical-align: top;
}
.calendarMonthBottom TD TEXTAREA
{
	width: 90%;
	height: 62%;
	font-size: 9pt;
	/*+placement:shift 4px -9px;*/
	position: relative;
	left: 4px;
	top: -9px;
	font-size: 10pt;
	line-height: 11pt;
}
.calendarBottomPageHeader
{
	text-align: center;
	font: 35.3pt sans-serif;
	width: 100%;
	height: 64px;
}
.calendarMonthBottom TD P
{
	/*+placement:shift -34px -7px;*/
	position: relative;
	left: -34px;
	top: -7px;
}
