@import url(../../BasePage.css);
DIV.page
{
	min-width: 14.5cm;
	max-width: 14.5cm;
	min-height: 21cm;
	max-height: 21cm;
}
.cover ._vernacularBookTitle
{
	top: 1cm;
	height: 4.6cm;
	width: 423px;
}
.cover .picture
{
	top: 5.5cm;
	max-height: 12cm;
	max-width: 13.2cm;
	padding: 1cm 0 0;
}
/*e.g. "Health" or "Math"*/
.cover ._natLangBookLabel
{
	width: 5.8cm;
	top: 19cm;
	left: 6.8cm;
	height: 37px;
	text-align: right;
}
.cover ._nameOfLanguage
{
	width: 5cm;
	top: 19cm;
	left: 1cm;
	height: 37px;
}
/*e.g. "Health" or "Math"*/
.titlePage ._natLangBookLabel
{
	width: 12cm;
	top: 1.3cm;
	text-align: center;
}
.titlePage ._nameOfLanguage
{
	width: 12cm;
	margin-top: 1.6cm;
	text-align: center;
}
.titlePage ._vernacularBookTitle
{
	width: 12cm;
	top: 1cm;
	height: 2cm;
	/*[empty]word-break:;*/
	text-align: center;
}
.titlePage .credits
{
	height: 6.1cm;
	width: 12cm;
	top: 1.8cm;
	margin-left: 1cm;
}
.titlePage .shellCredits
{
	height: 6.8cm;
	width: 12cm;
	margin-left: 1cm;
	position: relative;
	top: 1.5cm;
	text-align: center;
}
.titlePage .printingHistory
{
	height: 3.7cm;
	top: 1.2cm;
	margin-top: 11px;
}
.imageOnTop .picture
{
	max-height: 9.7cm;
	max-width: 478px;
	margin-top: 1cm;
}
.imageOnTop .text
{
	height: 8cm;
	margin-top: 1cm;
}
TEXTAREA
{
	width: 12cm;
	/*+placement:shift -46px 1px;*/
	position: relative;
	left: -46px;
	top: 1px;
}
.imageInMiddle .picture
{
	max-height: 6.3cm;
}
.imageInMiddle .text
{
	height: 5cm;
	margin-top: 1cm;
}
.imageWholePage .picture
{
	max-width: 11.7cm;
	top: 128px;
	max-height: 12.9cm;
}
.imageOnBottom .picture
{
	max-height: 8.1cm;
	margin-left: -160px;
	margin-top: -49px;
}
.imageOnBottom .text
{
	height: 8.9cm;
	margin-top: 1cm;
}
.textWholePage TEXTAREA
{
	height: 18.9cm;
	margin-top: 1cm;
}
.translators
{
	text-align: center;
	height: 1.6cm;
	margin-top: 1cm;
	position: relative;
}
P
{
	margin-left: 1cm;
}
