DIV.page
{
	width: 14.5cm;
	height: 21cm;
	page-break-after: always;
	background-color: #FFFFFF;
	/*[ph]0*/
}
@media screen
{
	DIV.page
	{
		/*[id]0*/border: 1px solid #000000;
	}
}
.cover ._vernacularBookTitle
{
	text-align: center;
	font: 30pt sans-serif;
	top: 1cm;
	height: 4.6cm;
	/*[empty]word-break:;*/
	position: relative;
	width: 423px;
}
.cover .picture
{
	top: 5.5cm;
	max-height: 12cm;
	max-width: 13.2cm;
	padding: 1cm 0 0;
}
.cover ._natLangBookLabel
{
	text-align: right;
	font: 12pt sans-serif;
	width: 5.3cm;
	position: absolute;
	top: 19cm;
	left: 8.5cm;
	/*[empty]word-break:;*/
	height: 37px;
}
.cover ._natLangBookName
{
	text-align: left;
	font: 12pt sans-serif;
	width: 5cm;
	position: absolute;
	top: 19cm;
	left: 1.25cm;
	/*[empty]word-break:;*/
}
.titlePage ._natLangBookLabel
{
	text-align: center;
	font: 12pt verdana;
	width: 12cm;
	position: relative;
	top: 1.3cm;
	/*[empty]word-break:;*/
}
.titlePage ._natLangBookName
{
	text-align: center;
	font: 1em verdana;
	width: 9.5cm;
	position: relative;
	top: 3.6cm;
}
.titlePage ._vernacularBookTitle
{
	text-align: center;
	font: 2em verdana;
	width: 12cm;
	position: relative;
	top: 1cm;
	height: 2cm;
	/*[empty]word-break:;*/
}
.titlePage .credits
{
	text-align: center;
	height: 5cm;
	width: 12.7cm;
	top: 1.8cm;
	position: relative;
	font: 12pt sans-serif;
}
.titlePage .printingHistory
{
	text-align: center;
	height: 6cm;
	width: 12.5cm;
	top: 2.1cm;
	position: relative;
	font: 12pt sans-serif;
}
.imageOnTop .picture
{
	max-height: 9.7cm;
	max-width: 478px;
}
.imageOnTop .text
{
	position: relative;
	height: 9cm;
	margin-top: 31px;
}
TEXTAREA
{
	font: 25px sans-serif;
	overflow: hidden;
	width: 453px;
	border: none;
}
IMG
{
	border: 1px none #E51B1B;
}
INPUT
{
	border: none;
}
.centered
{
	text-align: center;
}
.imageInMiddle .picture
{
	max-height: 7cm;
}
.imageInMiddle .text
{
	position: relative;
	height: 5.5cm;
}
.imageWholePage .picture
{
	max-width: 11.7cm;
	/*+placement:shift -6px 128px;*/
	position: relative;
	left: -6px;
	top: 128px;
}
.imageOnBottom .picture
{
	max-height: 7cm;
	/*+placement:displace -160px -49px;*/
	position: absolute;
	margin-left: -160px;
	margin-top: -49px;
}
.imageOnBottom .text
{
	height: 483px;
}
.textWholePage TEXTAREA
{
	height: 18.9cm;
	margin-top: 27px;
}
.centerJustify
{
	text-align: center;
}
