<?xml version="1.0" encoding="utf-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="content-type" />
	<title>A5Portrait Template</title>
	<link rel="stylesheet" href="A5Portrait.css" type="text/css" />
	<link rel="stylesheet" href="../../previewMode.css" type="text/css" />

</head>
<body class="a5Portrait">
	<div class="page centered cover required coverColor" id="cover">
		<p class="centered"><textarea id="coverPageTitle" class="vernacularBookTitle  coverColor">Vernacular Book Title Here</textarea></p>
		<img id="coverPageImage"
			alt="missing" class="picture  coverColor" src="placeHolder.png" />
			<input id="coverPageLanguageName"
				class="natLangBookName  coverColor" value="Language Name Here" /><input id="coverPageBookLabel" class="natLangBookLabel coverColor"
					value="National language book label" /></div>
	<div class="page titlePage required" id="titlePage">
		<p class="centered"><textarea id="titlePageTitle" class="vernacularBookTitle">Vernacular Book Title Here</textarea></p>
		<p class="centered"><input id="titlePageBookLabel" class="natLangBookLabel" value="National language book label" /></p>
		<p class="centered"><textarea id="titlePageCredits" class="credits">Written by:</textarea></p>
		<p class="centered"><textarea id="titlePagePrintingHistory" class="printingHistory">Printing History</textarea></p>
		<p class="centered"><input    id="titlePageLanguageName" class="natLangBookName" value="language name" /></p>
	</div>
	<div class="page imageOnTop" id="page1">
		<p class="centered"><img id="img1" alt="missing" class="picture" src="placeHolder.png" /></p>
		 <p class="centered"><textarea id="text1" class="text">lorem ipsum dolor sit amet, consectetuer adipiscg elit. Ut nec lacus a neque pulvinar pulvinar. A100liquam sagittis, purus in fermentum ornare, orci igula vulputate sapien, a rutrum nisl mi eu mi. Suspendisse potenti. Aliquam eros. Nullam eros neque, cursus eu, commodo in, vulputate nec, ipsum. Duis et est a ante convallis consequat. Sed et nisl. 350Praesent vulputate erat quis magna. </textarea></p>
	</div>
		<div class="page imageInMiddle" id="page2">
		 <p class="centered"><textarea id="Textarea1" class="text">lorem ipsum dolor sit amet, consectetuer adipiscg elit. Ut nec lacus a neque pulvinar pulvinar. A100liquam sagittis, purus in fermentum ornare, orci igula vulputate sapien, a rutrum nisl mi eu mi. Suspendisse potenti. Aliquam eros. Nullam eros neque, cursus eu, commodo in, vulputate nec, ipsum. Duis et est a ante convallis consequat. Sed et nisl. 350Praesent vulputate erat quis magna. </textarea></p>
		<p class="centered"><img id="img2" alt="missing" class="picture" src="placeHolder.png" /></p>
		 <p class="centered"><textarea id="Textarea2" class="text">lorem ipsum dolor sit amet, consectetuer adipiscg elit. Ut nec lacus a neque pulvinar pulvinar. A100liquam sagittis, purus in fermentum ornare, orci igula vulputate sapien, a rutrum nisl mi eu mi. Suspendisse potenti. Aliquam eros. Nullam eros neque, cursus eu, commodo in, vulputate nec, ipsum. Duis et est a ante convallis consequat. Sed et nisl. 350Praesent vulputate erat quis magna. </textarea></p>
	</div>
	<div class="page imageOnBottom" id="page3">
		 <p class="centered"><textarea id="Textarea3" class="text">lorem ipsum dolor sit amet, consectetuer adipiscg elit. Ut nec lacus a neque pulvinar pulvinar. A100liquam sagittis, purus in fermentum ornare, orci igula vulputate sapien, a rutrum nisl mi eu mi. Suspendisse potenti. Aliquam eros. Nullam eros neque, cursus eu, commodo in, vulputate nec, ipsum. Duis et est a ante convallis consequat. Sed et nisl. 350Praesent vulputate erat quis magna. </textarea></p>
		<p class="centered"><img id="img3" alt="missing" class="picture" src="placeHolder.png" /></p>
	</div>
	<div class="page imageWholePage" id="page4">
		<p class="centered"><img id="img4" alt="missing" class="picture" src="placeHolder.png" /></p>
	</div>     </body>
</html>
