<?xml version="1.0" encoding="utf-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="content-type" />
	<title>A5Portrait Template</title>
	<link rel="stylesheet" href="A5Portrait.css" type="text/css" />
	<link rel="stylesheet" href="previewMode.css" type="text/css" />
	<link rel="stylesheet" href="basePage.css" type="text/css" />
	<meta id="defaultNameForDerivedBooks" content="book"/>
</head>
<body class="a5Portrait">
	<div class="page cover required coverColor singleton" id="cover">
		<p class="centered"><textarea class="_vernacularBookTitle  coverColor">My Book</textarea></p>
		<p class="imageHolder">
		<img id="coverPageImage"
			alt="missing" class="picture  coverColor" src="placeHolder.png" />
		</p>
		<div class="coverBottomRow" ><textarea lang='en' rows="1" class="_nameOfLanguage showNational singleLine coverColor" title="Enter the name of the language">Language Name Here</textarea>
		<textarea lang='en' rows="1" class="_natLangBookLabel  showNational singleLine coverColor" title="Enter the kind of book this is. E.g. Health, Maths">National language book label</textarea>
		</div>
	</div>
	<div class="page titlePage required singleton" id="titlePage">
		<p class="centered _vernacularBookTitle" lang="en">My Book</p>
		<p class="centered _natLangBookTitle showNational" lang='en'>Book Title In National Language </p>
		<p class="centered creditsHeading showNational">Written by:</p>
		<p class="foo">
			<textarea lang='en' class="credits showNational" title="Enter the contributions made by writers, illustrators, editors, etc."></textarea>
		 </p>
		<p class="centered showNational">Printing History</p>
		<p>
			<textarea lang='en' class="printingHistory showNational"></textarea>
		</p>
		<p class="centered _nameOfLanguage singleLine showNational" lang='en'>Language Name</p>

	</div>
	<div class="page imageOnTop extraPage" id="page1">
		<p class="centered  imageHolder">
			  <img id="img1" alt="missing" class="picture" src="placeHolder.png" />
		</p>
		<p class="centered">
			<textarea>lorem ipsum dolor sit amet, consectetuer adipiscg elit. Ut nec lacus a neque pulvinar pulvinar. A100liquam sagittis, purus in fermentum ornare, orci igula vulputate sapien, a rutrum nisl mi eu mi. Suspendisse potenti. Aliquam eros. Nullam eros neque, cursus eu, commodo in, vulputate nec, ipsum. Duis et est a ante convallis consequat. Sed et nisl. 350Praesent vulputate erat quis magna. </textarea>
		</p>
	</div>
	<div class="page imageInMiddle extraPage" id="page2">
		 <p class="centered">
			<textarea>lorem ipsum dolor sit amet, consectetuer adipiscg elit. Ut nec lacus a neque pulvinar pulvinar. A100liquam sagittis, purus in fermentum ornare, orci igula vulputate sapien, a rutrum nisl mi eu mi. Suspendisse potenti. Aliquam eros. Nullam eros neque, cursus eu, commodo in, vulputate nec, ipsum. Duis et est a ante convallis consequat. Sed et nisl. 350Praesent vulputate erat quis magna. </textarea>
			</p>
		 <p class="centered  imageHolder">
			  <img id="img2" alt="missing" class="picture" src="placeHolder.png" />
		 </p>
		 <p class="centered">
			<textarea>lorem ipsum dolor sit amet, consectetuer adipiscg elit. Ut nec lacus a neque pulvinar pulvinar. A100liquam sagittis, purus in fermentum ornare, orci igula vulputate sapien, a rutrum nisl mi eu mi. Suspendisse potenti. Aliquam eros. Nullam eros neque, cursus eu, commodo in, vulputate nec, ipsum. Duis et est a ante convallis consequat. Sed et nisl. 350Praesent vulputate erat quis magna. </textarea>
		 </p>
	</div>
	<div class="page imageOnBottom extraPage" id="page3">
		 <p class="centered"><textarea  class="text">lorem ipsum dolor sit amet, consectetuer adipiscg elit. Ut nec lacus a neque pulvinar pulvinar. A100liquam sagittis, purus in fermentum ornare, orci igula vulputate sapien, a rutrum nisl mi eu mi. Suspendisse potenti. Aliquam eros. Nullam eros neque, cursus eu, commodo in, vulputate nec, ipsum. Duis et est a ante convallis consequat. Sed et nisl. 350Praesent vulputate erat quis magna. </textarea></p>
		 <p class="centered  imageHolder">
			<img id="img3" alt="missing" class="picture" src="placeHolder.png" />
		 </p>
	</div>
	<div class="page imageWholePage extraPage" id="page4">
	   <p class="centered  imageHolder">
		  <img id="img4" alt="missing" class="picture" src="placeHolder.png" />
	  </p>
	</div>
		<div class="page textWholePage extraPage" id="textPage">
		 <p class="centered"><textarea class="text">lorem ipsum dolor sit amet, consectetuer adipiscg elit. Ut nec lacus a neque pulvinar pulvinar. A100liquam sagittis, purus in fermentum ornare, orci igula vulputate sapien, a rutrum nisl mi eu mi. Suspendisse potenti. Aliquam eros. Nullam eros neque, cursus eu, commodo in, vulputate nec, ipsum. Duis et est a ante convallis consequat. Sed et nisl. 350Praesent vulputate erat quis magna. </textarea></p>
	</div>     </body>
</html>
