include ../standard-page-mixins.jade

mixin bookVariable-topic(langCode, title)
	div(data-book='topic', lang=langCode)=title

//- generates a translationGroup with any classes on the internal div
mixin field-classOnChild(internalClass)
	- requireOneArgument('field-classOnChild', arguments)
	.bloom-translationGroup(attributes=attributes)
		block
		+editable(kLanguageForPrototypeOnly)(class=internalClass)

doctype html

html
	head
		+metadata-standard
		meta(name="SuitableForMakingShells", content="yes")
		meta(name='defaultNameForDerivedBooks', content='Picture Dictionary')
		meta(name='bloomBookId', content='7E5B8274-C7BD-4471-B54D-50CF09E4DA17')
		meta(name='pageTemplateSource', content='Picture Dictionary')
		meta(name='defaultMultilingualLevel', content='2')
		meta(name='experimental', content='true')
		title Picture Dictionary Template
		+stylesheets('PictureDictionary.css')
	body
		+dataDiv
			+bookVariable-title('en', 'Picture Dictionary')
			+bookVariable-title('tpi', 'Piksa Diksionari')
			+bookVariable-title('id', 'Kamus Bergambar')
			+bookVariable-topic('en', 'Dictionary')
			+bookVariable-topic('fr', 'Dictionnaire')
			+bookVariable-topic('id', 'Kamus')
			+bookVariable-topic('th', 'พจนานุกรม')
			+bookVariable-topic('es', 'Diccionario')
		.bloom-page.numberedPage.images6.A5Portrait.pictureDictionaryPage#7E5B8274-C7BD-4471-B54D-50CF09E4D899
			.pageLabel Picture Dictionary Page
			.pageDescription A page with six placeholders for a picture and a word
			.marginBox
				+field-classOnChild('picturePageTitle-style').domain
					label.placeholder The title
				+repeat(6)
					.wordAndPicture.bloom-draggable.bloom-resizable
						+image
						+field-classOnChild('pictureCaption-style').wordsDiv
							label.placeholder caption

		+standardPage-JustPicture
		+standardPage-JustText
		+standardPage-Custom