doctype html
include ../../../templates/bloom-foundation-mixins.pug
html(lang="en")
	head
		title pageControls
		meta(charset="UTF-8")
		+stylesheet('pageControls.css')
	body
		div#PageControls
		+script('../../../commonBundle.js')
		+script('../../../pageControlsBundle.js')
