@import "../branding-base.less";
[data-book="outside-back-cover-branding-top-html"] img {
    margin-left: auto;
    margin-right: 0;
    width: 20%;
}
[data-book="outside-back-cover-branding-bottom-html"] img {
    width: 60%;
}
