.titlePage H1
{
	font-size: 24pt;
	text-align: center;
	font-weight: bold;
}
DIV.verso
{
	text-align: center;
	background-color: #174CC8;
	border: 4px solid #1E15D0;
}
DIV.license
{
	/*+placement:anchor-top-left 216px 394px;*/
	position: absolute;
	left: 216px;
	top: 394px;
}
DIV.copyright
{
	/*+placement:shift 25px 341px;*/
	position: relative;
	left: 25px;
	top: 341px;
}
DIV.originalAcknowledgments
{
	/*+placement:anchor-top-left 133px 51px;*/
	position: absolute;
	left: 133px;
	top: 51px;
	width: 299px;
	height: 82px;
}
.titlePage
{
	padding: 0;
	margin: 0;
	text-align: center;
}
DIV.langName
{
	/*+placement:float-left -74px -46px;*/
	float: left;
	position: relative;
	left: -74px;
	top: -46px;
}
TEXTAREA.credits
{
	/*+placement:shift -12px 56px;*/
	position: relative;
	left: -12px;
	top: 56px;
}
DIV.titleN1
{
	font-size: 14pt;
	/*+placement:shift 21px -7px;*/
	position: relative;
	left: 21px;
	top: -7px;
}
DIV.pageContent
{
	margin: 1.5cm 1.5cm 2cm 2cm;
}
.titlePage H2
{
	font-size: 18pt;
	text-align: center;
}
DIV.verso TEXTAREA.-bloom-showNational
{
	/*+placement:anchor-top-left 16px 516px;*/
	position: absolute;
	left: 16px;
	top: 516px;
	height: 141px;
}
