include ../bloom-foundation-mixins
include preview-xmatter-mixins.pug

- const kImageOnLeftId = '7b192144-527c-417c-a2cb-1fb5e78bf38a';

mixin standardStyles
  style(type="text/css" title="userModifiedStyles")
    = '\n'
    | .BigWords-style { font-size: 45pt !important; text-align: center !important; }
    block

mixin videox
   +video.bloom-leadingElement&attributes(attributes)
mixin imagex
   +image.bloom-leadingElement&attributes(attributes)
mixin fieldx
   +field("auto").bloom-trailingElement.normal-style&attributes(attributes)

//- The 'percent' parameter is inscrutable. Why does it need to be the same for both
//- 'upper' and 'lower' mixins on the same page? What does it represent exactly?
//- Solution: Set a custom page the way you want it and go look at the numbers Bloom
//- puts there.
mixin upper(percent)
   - requireOneArgument('percent', arguments);
   .split-pane-component.position-top(style='bottom: ' + percent + '%')
      .split-pane-component-inner
         block
   .split-pane-divider.horizontal-divider(style='bottom: ' + percent + '%')
   //- NB: this split percent has to be the same as that used for upper!!!!!!

mixin lower(percent)
   - requireOneArgument('percent', arguments);
   .split-pane-component.position-bottom(style='height: ' + percent + '%')
      .split-pane-component-inner
         block

mixin stack
   .split-pane.horizontal-percent
      block
      .split-pane-resize-shim

mixin left
   .split-pane-component.position-left
      .split-pane-component-inner(min-height="60px 150px 250px" min-width="60px 150px" style="position: relative;")
         block
   .split-pane-divider.vertical-divider

mixin right
   .split-pane-component.position-right
      .split-pane-component-inner(min-height="60px 150px 250px" min-width="60px 150px" style="position: relative;")
         block

mixin stackLeftRight
   .split-pane.vertical-percent
      block
      .split-pane-resize-shim

mixin standardPage-JustText
   +page-choice('Just Text').customPage#a31c38d8-c1cb-4eb9-951b-d2840f6a8bdb&attributes(attributes)
      .split-pane-component-inner
         +fieldx

mixin standardPage-JustPicture
   +page-choice('Just a Picture').customPage#adcd48df-e9ab-4a07-afd4-6a24d0398385&attributes(attributes)
      .split-pane-component-inner
         +image

mixin standardPage-JustVideo
   +page-choice('Just Video').customPage#8bedcdf8-3ad6-4967-b027-6c186436572f&attributes(attributes)
      .split-pane-component-inner
         +videox

mixin standardPage-Custom
   +page-choice-layout('Custom','A blank page that allows you to add items.').customPage#5dcd48df-e9ab-4a07-afd4-6a24d0398386&attributes(attributes)
      .split-pane-component-inner


//- The following list all the pages in Basic Book, Decodable Reader, & Leveled Reader
mixin include-standard-pages
   +page-splittable-choice-custom('Basic Text & Picture')#adcd48df-e9ab-4a07-afd4-6a24d0398382&attributes(attributes)
     +stack
       +upper(50)
         +imagex
       +lower(50)
         +fieldx
   +page-splittable-choice-custom('Picture in Middle')#adcd48df-e9ab-4a07-afd4-6a24d0398383&attributes(attributes)
     +stack
       +upper(76)
         +fieldx
       +lower(76)
         +stack
           +upper(30)
             +imagex
           +lower(30)
             +fieldx
   +page-splittable-choice-custom('Picture on Bottom')#adcd48df-e9ab-4a07-afd4-6a24d0398384&attributes(attributes)
     +stack
       +upper(50)
         +fieldx
       +lower(50)
         +image
   +page-splittable-choice-custom('Picture on Left', 'For use with Landscape orientation.')(id=kImageOnLeftId)&attributes(attributes)
     +stackLeftRight
       +left
         +imagex
       +right
         +fieldx(class="bloom-vertical-align-center")
   +page-splittable-choice-custom('Picture on Right', 'For use with Landscape orientation.')#b4879593-fcaa-4573-b107-0833f5dae49d&attributes(attributes).pictureOnRight
     +stackLeftRight
       +left
         +fieldx(class="bloom-vertical-align-center")
       +right
         +imagex
   +standardPage-JustPicture&attributes(attributes)
   +standardPage-JustText&attributes(attributes)

   +page-splittable-choice-custom('Picture & Word', 'Page with a picture on top and a large, centered word below.').customPage#aD115DFF-0415-4444-8E76-3D2A18DBBD27&attributes(attributes)
     +stack
       +upper(50)
         +imagex
       +lower(50)
         +field("auto").bloom-trailingElement.BigWords-style
   +standardPage-Custom&attributes(attributes)
