@import "bloom-xmatter-sharedRules.less";
@import "../../bookLayout/paperDimensions.less";
@import "../../appearanceThemes/appearance-theme-default.css";

@XMatterPackName: "preview";

// these are wanted only for previewing templates, not real books
.preview:not([data-l1]) {
    .frontCover {
        .bloom-translationGroup.bookTitle {
            min-height: 12%;
        }
        .bottomBlock {
            min-height: 12%;
        }
    }

}
.preview {
    .bloom-frontMatter {
        .pageLabel:before {
            content: "@{XMatterPackName}";
            display: none;
        }
    }
    .frontCover {
        @MarginBetweenMajorItems: 15px;

        .marginBox {
            display: flex;
            flex-direction: column;
        }
        .bloom-translationGroup.bookTitle {
            order: 0; // top of the page
        }
        .placeholder,
        .bloom-imageContainer {
            order: 1; //second part of the page, after the title
            flex: 1 1 auto;
            margin-top: @MarginBetweenMajorItems;
            margin-bottom: @MarginBetweenMajorItems;
        }
        .bottomBlock {
            order: 2; // third part of the page, after title and main picture
        }
    }
    .bloom-frontMatter {
        // This is needed for the Digital Comic Book and Paper Comic Book which
        // are .htm files with the "about" page defined.
        &[data-xmatter-page="about"] {
            display: none;
        }
	    // This is needed for the Digital Comic Book to properly space items on the
        // front cover.
        &.Device16x9Landscape#ddd9b811-63d6-4d51-baf8-0a5fe88cd73d {
            .bookTitle {
                min-height: 10%;
            }
            .coverImage {
                max-height: 65%;
            }
            .bottomBlock {
                min-height: 20%;
            }
        }
        // This is needed to hide image borders on the front cover.
        .bloom-imageContainer:after {
            border: none;
        }
    }
    // This is needed to hide image borders on internal pages.
    .bloom-imageContainer:after {
        border: none;
    }
}
