include ../Pashti-Xmatter/Pashti-XMatter-mixins.pug

doctype html
html
	head
		+metadata-standard
		title Pashti Device Front &amp; Back Matter
		//- NB: this has no effect on books using this stylesheet; it only does anything if you're viewing the xmatter html by itself
		+stylesheets('Pashti-Device-XMatter.css')
	body
		+pashti-outsideFrontCover
		+pashti-titlePage
		+pashti-messagePage
		+pashti-credits.bloom-backMatter
		+afg-nationalAnthem-device
