include ../Pashti-XMatter/Pashti-XMatter-mixins.pug

doctype html
html
	head
		+metadata-standard
		title Pashti Device Front &amp; Back Matter
		//- NB: this has no effect on books using this stylesheet; it only does anything if you're viewing the xmatter html by itself
		+stylesheets('Pashti-Device-XMatter.css')
	body
		+pashti-outsideFrontCover
		+pashti-titlePage
		+afg-messagePage
		+pashti-credits.bloom-backMatter
		+afg-nationalAnthem-device
		+standard-endExtra1PageForDevice
		+standard-endExtra2PageForDevice
		+standard-endExtra3PageForDevice
		+standard-theEndPageForDevice
