@import "../branding-base.less";

.outsideBackCover .marginBox .bloom-translationGroup {
    display: none;
}

[data-book="outside-back-cover-branding-top-html"] {
    margin-top: 0 !important;

    img.branding.bloom-badge {
        height: 1cm;
        margin-left: auto;
        margin-right: 0;
    }
}

[data-book="outside-back-cover-branding-bottom-html"] {
    margin-top: auto !important;
}
