@import "../../bloomDialog.less";
@import "../../node_modules/react-table/react-table.css";

.bookMetadataDialog {
    .dialogContent {
        .ReactTable {
            border: solid 1px black;
            width: 500px;
            .rt-thead.-header {
                display: none;
            }
            // cover art
            img {
                height: 70px;
            }
            .loading {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 2em;
            }
        }
    }
}
