@import "../../node_modules/react-dropdown-tree-select/dist/styles.css";

.react-dropdown-tree-select {
    width: 280px;
    .dropdown .dropdown-content {
        position: relative;
        height: 300px;
        width: 330px;
        overflow-y: scroll;
    }
}
