@import "../../node_modules/react-dropdown-tree-select/dist/styles.css";

.subjectChooser {
    padding: 0 0 !important;
}
.react-dropdown-tree-select {
    background-color: white;
    min-height: 2em;
    a {
        color: black !important;
    }
    .dropdown {
        display: flex;
        .dropdown-trigger {
            // Setting the maximum width causes the chosen subject labels to scroll
            // instead of just passing out of sight when overflowing the button.
            // (The width value here and below was determined empirically.)
            max-width: 333px;
            display: flex;
            flex-grow: 1;
            border: none;
            padding: 0;

            // If we hide both the search box and the icon for the dropdown, then it becomes
            // impossible to trigger the dropdown for any books that don't already have a
            // subject selected.  See https://silbloom.myjetbrains.com/youtrack/issue/BL-6540.
            &:after {
                // display: none;
                margin-left: auto;
            }
        }
        .tag-item {
            margin: 0;
        }
        .tag-list {
            display: flex;
            flex-wrap: wrap;
            margin-left: 3px;
            .tag {
                background-color: transparent;
                border: none;
                .tag-remove {
                    background-color: transparent;
                }
            }
        }
        .search {
            display: none;
        }
        .dropdown-content {
            // Setting the position to "absolute" causes the dropdown tree to appear over
            // the top of dialog content rather than expand the dialog vertically.
            position: absolute;
            left: 0;
            height: 240px;
            width: 333px;
            overflow-y: scroll;
            display: flex;
            flex-grow: 1;
        }
    }

    // Ensure the + and - markers for the tree are not italic.
    .toggle {
        font-style: normal;
    }
}
