include ../bloom-xmatter-mixins.pug

doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='BloomFormatVersion', content='2.0')
		title Traditional Front & Back Matter
		+stylesheets('Traditional-XMatter.css')
	body
		+factoryStandard-outsideFrontCover
		+factory-insideFrontCover
		+factoryStandard-titlePage

		+page-xmatter("Credits Page").bloom-frontMatter.credits(data-export='front-matter-credits', data-xmatter-page='credits')#69EF35AE-5BF1-49F1-89E7-2A932DAD932C
			+credits-contents

		+factoryStandard-insideBackCover
		+factoryStandard-outsideBackCover
