include ../bloom-xmatter-mixins.pug

doctype html
html
	head
		+metadata-standard
		block XMatterTitle
			title Traditional Front & Back Matter
		//- Make the stylesheets section available to extending .pug files.
		block stylesheets
			+stylesheets('Traditional-XMatter.css')
	body
		+factoryStandard-outsideFrontCover
		+factory-insideFrontCover
		+factoryStandard-titlePage

		+page-xmatter("Credits Page").bloom-frontMatter.credits(data-export='front-matter-credits', data-xmatter-page='credits')#69EF35AE-5BF1-49F1-89E7-2A932DAD932C
			+credits-contents

		+factoryStandard-insideBackCover
		+factoryStandard-outsideBackCover
