html
	head
	body
		h3#accordion-settings-header(data-order='999') More...
		#accordion-settings
			// .checkbox.clear#showPE(data-panel='PageElements', onclick='showOrHidePanel_click(this);')
			// .checkbox-label Page Elements
			.checkbox.clear#showDRT(data-panel='DecodableRT', onclick='showOrHidePanel_click(this);')
			.checkbox-label(i18n='tools.decodableReader') Decodable Reader Tool
			.checkbox.clear#showLRT(data-panel='LeveledRT', onclick='showOrHidePanel_click(this);')
			.checkbox-label(i18n='tools.leveledReader') Leveled Reader Tool
				a(onclick='ajaxtest(this);', data-i18n='2') ajax test