html
	head
	body
		h3#accordion-settings-header More...
		#accordion-settings
			// .checkbox.clear#showPE(data-panel='PageElements', onclick='showOrHidePanel_click(this);')
			// .checkbox-label Page Elements
			.checkbox.clear#showDRT(data-panel='DecodableRT', onclick='showOrHidePanel_click(this);')
			.checkbox-label Decodable Reader Tool
			.checkbox.clear#showLRT(data-panel='LeveledRT', onclick='showOrHidePanel_click(this);')
			.checkbox-label Leveled Reader Tool