html
	head
	body
		h3#accordion-settings-header(data-order='999', data-i18n='Accordion.More') More...
		#accordion-settings
			// .checkbox.clear#showPE(data-panel='PageElements', onclick='showOrHidePanel_click(this);')
			// .checkbox-label Page Elements
			.checkbox.clear#showDRT(data-panel='DecodableRT', onclick='showOrHidePanel_click(this);')
			.checkbox-label(data-i18n='Tools.decodableReader', data-i18n='Accordion.DecodableReaderTool') Decodable Reader Tool
			.checkbox.clear#showLRT(data-panel='LeveledRT', onclick='showOrHidePanel_click(this);')
			.checkbox-label(data-i18n='Tools.leveledReader', data-i18n='Accordion.LeveledReaderTool') Leveled Reader Tool
			.checkbox.clear#showART(data-panel='AudioRecordingTool', onclick='showOrHidePanel_click(this);')
			.checkbox-label(data-i18n='Tools.audioRecording', data-i18n='Accordion.AudioRecordingTool') Audio Recording Tool