// page-chooser.less - rules for the Bloom Page Chooser dialog
// try not to overwrite the bloomDialog.less rules

@PreviewPaneLeftPadding: 15px;
@WindowsDialogBackgroundColor: #F0F0F0;
@WindowsButton-BackgroundColor: #E1E1E1;
@WindowsButton-BackgroundColor-Hover: #B0DEE4;
@WindowsButton-Border: #ADADAD;
@HighlightColor: rgba(176, 222, 228, 1);

BODY {
	margin: 4px;
}
#mainContainer {
	border: none;
	margin: 0;
	height: 490px;
	width: 790px;
    display: flex;
    flex-direction: row;
	box-sizing: border-box;
	padding-top: 10px;
}
.gridItemDisplay {
	overflow-y: auto;
	height: auto;
	flex: 2;
	display: flex;
	flex-direction: column;
}
#singlePagePreview {
	flex: 2;
	order: 2;
	height: auto;
	min-width: 320px;
	padding-left: @PreviewPaneLeftPadding;

	img{
		border: 1px solid @HighlightColor;
		//center it
			display:block;
			margin-left: auto;
			margin-right: auto;
	}
}
#preview {
	width: 200px;
}
#previewCaption {
	font-weight: bold;
	text-align: center;
}
//#previewDescription {
//	height: 90px;
//	border: none;
//	.DescriptionHeader {
//		font-weight: bold;
//	}
//
//}

.DescriptionText {
	white-space: normal;
	max-height: 145px;
	//width: 353px;
	line-height: 1.2em;
	height: 100px;
	overflow: hidden;
	//overflow-y: scroll   this is actually what we want, but it's always showing the scroll, so off for now
	margin-right: 15px;
	margin-left: 15px;
}


// Currently unused
//.templatesCaption {
//	overflow: hidden;
//	background: #E0E0E0;
//	padding-top: 4px;
//	padding-bottom: 4px;
//	padding-left: 20px;
//	margin-top: 5px;
//	margin-left: 5px;
//    flex: 1 1 100%;
//    flex-wrap: nowrap;
//}
.outerCollectionContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
}
.collection {
	flex: 1;
	display: flex;
	flex-direction: column;
}
.collectionCaption {
	font-weight: bold;
	padding-left: 4px;
	margin-left: 20px;
	display: block;
}
.innerCollectionContainer {
	margin: 0 0 0 0;
}
.gridItem {
	margin: 0 10px 10px 11px;
	width: 104px;
	//height: 170px;
	display: inline-block;
}

.gridItem:hover {
	background: @HighlightColor;
}
.gridItem.ui-selected {
	background: @HighlightColor;

	.invisibleThumbCover {
		//background: @HighlightColor;
	}
}
.thumbnail {
	overflow: hidden;
	display: block;
	margin-top: 4px;
	background: inherit;
	border: 1px solid darkgray;

	//todo: this will have to change depending on orientation
	width: 60px;
	//take the height proportionally, from the width
	margin-left: 20px;//centers the thumbnail in the enclosing grid item
}
.gridItem {
	.gridItemCaption {
		display: none; // The captions aren't really helping the user, just adding complexity
		//font-weight: bold;
		text-align: center;
		height: 2em; // enough for two lines
		position: relative;
		left: 0;
		overflow: hidden;
		line-height: 1em;
	}
	.pageDescription{display:none;}
}
.invisibleThumbCover {
	z-index: 5;
	position: absolute;
	height: 130px;
	width: 100px;
	background: url(transparent.gif);
}

div.ui-dialog div.ui-dialog-buttonset button.ui-button{
	background: @WindowsButton-BackgroundColor !important;
	color: black;
	border: @WindowsButton-Border solid thin;
	font-size: 10pt;
	margin-left:10px;
}

div.ui-dialog div.ui-dialog-buttonset button.ui-button:hover {
	background: @WindowsButton-BackgroundColor-Hover !important;
	color:
	black;
}

.ui-dialog-buttonpane{
	padding: 0.3em 20px 20px 0.4em;
}
div.ui-dialog div.ui-dialog-content, .ui-dialog .ui-dialog-buttonpane, .bloomDialogContainer{
	background-color: @WindowsDialogBackgroundColor !important;
}

div.ui-dialog div.ui-dialog-titlebar{
	border: none;
	.ui-dialog-title{
		font-weight: normal;
	}
}

.ui-dialog-buttonpane{	display: none;}
/*
.ui-dialog-buttonset {

	.normalButton {
		font-weight: normal !important;
	}

	//.defaultButton {
	//	.ui-icon-plusthick {
	//		left: 0.25em !important;
	//	}
	//	.ui-button-text {
	//		//text-align: right !important;
	//		font-weight: bold;
	//	}
	//	border: solid 5px @HighlightColor !important;
	//}
}*/

#addPageButton {
	//center it
	display: block;
	margin-left: auto;
	margin-right: auto;

	padding: 10px;
	width: 200px;
	border: 5px solid @HighlightColor;
	font-weight: bold;
}