// page-chooser.less - rules for the Bloom Page Chooser dialog
// try not to overwrite the bloomDialog.less rules

@PreviewPaneLeftPadding: 15px;
@WindowsDialogBackgroundColor: #F0F0F0;
@WindowsButton-BackgroundColor: #E1E1E1;
@WindowsButton-BackgroundColor-Hover: #B0DEE4;
@WindowsButton-Border: #ADADAD;

BODY {
	margin: 4px;
}
#mainContainer {
	border: none;
	margin: 0;
	height: 545px;
	width: 790px;
    display: flex;
    flex-direction: row;
	box-sizing: border-box;
	padding-top: 10px;
}
.templatePageDisplay {
	overflow-y: auto;
	height: auto;
	flex: 2;
	display: flex;
	flex-direction: column;
}
#singlePagePreview {
    flex: 2;
	order: 2;
	height: auto;
	min-width: 320px;
	padding-left: @PreviewPaneLeftPadding;

#preview {
	width: 300px;
}
#previewCaption {
	font-weight: bold;
}
#previewDescription {
	height: 90px;
	border: none;
	.DescriptionHeader {
		font-weight: bold;
	}
	.DescriptionText {
		white-space: normal;
		max-height: 145px;
		line-height: 1.2em;
		height: 100px;
		overflow: hidden;
		//overflow-y: scroll   this is actually what we want, but it's always showing the scroll, so off for now
	}
}
.ui-dialog-buttonset {
	&:first-child {
		.ui-icon-plusthick {
			left: 0.25em !important;
		}
		.ui-button-text {
			text-align: right !important;
		}
	}
}
// Currently unused
//.templatesCaption {
//	overflow: hidden;
//	background: #E0E0E0;
//	padding-top: 4px;
//	padding-bottom: 4px;
//	padding-left: 20px;
//	margin-top: 5px;
//	margin-left: 5px;
//    flex: 1 1 100%;
//    flex-wrap: nowrap;
//}
.outerCollectionContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
}
.collection {
	flex: 1;
	display: flex;
	flex-direction: column;
}
.collectionCaption {
	font-weight: bold;
	padding-left: 4px;
	margin-left: 20px;
	display: block;
}
.innerCollectionContainer {
	margin: 0 0 0 0;
}
.templatePage {
	margin: 0 10px 10px 11px;
	width: 104px;
	//height: 170px;
	display: inline-block;
}
@SelectedColor: rgba(176,222,228,1);
.templatePage:hover {
	background: @SelectedColor;
}
.templatePage.ui-selected {
	background: @SelectedColor;

	.invisibleThumbCover {
		//background: @SelectedColor;
	}
}
.thumbnail {
	overflow: hidden;
	display: block;
	margin-top: 4px;
	background: inherit;
	border: 1px solid darkgray;

	//todo: this will have to change depending on orientation
	width: 60px;
	//take the height proportionally, from the width
	margin-left: 20px;//centers the thumbnail in the enclosing grid item
}
.templatePageCaption {
	//font-weight: bold;
	text-align: center;
	height: 2em; // enough for two lines
	position: relative;
	left: 0;
	overflow: hidden;
	line-height: 1em;
}
.invisibleThumbCover {
	z-index: 5;
	position: absolute;
	height: 130px;
	width: 100px;
	background: url(transparent.gif);
}
.ui-widget-content .ui-state-default{
	font-weight: normal !important;
}

div.ui-dialog div.ui-dialog-buttonset button.ui-button{
	background: @WindowsButton-BackgroundColor !important;
	color: black;
	border: @WindowsButton-Border solid thin;
	font-size: 10pt;
}

div.ui-dialog div.ui-dialog-buttonset button.ui-button:hover {
	background: @WindowsButton-BackgroundColor-Hover !important;
	color:
	black;
}

div.ui-dialog div.ui-dialog-content, .ui-dialog .ui-dialog-buttonpane, .bloomDialogContainer{
	background-color: @WindowsDialogBackgroundColor !important;
}

div.ui-dialog div.ui-dialog-titlebar{
	border: none;
	.ui-dialog-title{
		font-weight: normal;
	}
}