doctype html
// PageChooserMain - .jade file is the primary source; .html file is generated from .jade file

include mixins/page-chooser-mixins

html
	head
		meta(charset='UTF-8')
		title Bloom Add Page Chooser Dialog
		+stylesheet('page-chooser.css')
		+stylesheet('../bookEdit/css/bloomDialog.css')
		+script('../commonBundle.js')
		+script('../pageChooserBundle.js')
		//+script('../lib/localizationManager/localizationManager.js')
	body
		#mainContainer.bloomDialogContainer
			.gridItemDisplay
				// .templatesCaption Installed Templates (Currently unused)
				.outerGroupContainer
					//- This DIV element will get cloned for each group
					//- when we handle more than one group of templates
					.group
						.groupCaption Default Pages
						.innerGroupContainer
							//- This DIV element gets cloned for each page in the group
							.gridItem
								// this was used when we were using iframes to prevent messing with the underlying page items, could come back conceivably for pages that lack svg thumbnails
								.invisibleThumbCover
								.selectionOverlay
								img(src='').thumbnail
								.gridItemCaption Page Title
								.pageDescription
			#singlePagePreview
				img(src='')#preview
				#previewCaption.previewCaption
				#previewDescriptionText.DescriptionText Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel sodales justo.
				#convertLosesMaterial Converting to this layout will cause some content to be lost.
				label#convertAnyway
					input(type='checkbox' name='Continue')#convertAnywayCheckbox
					| Continue anyway

				input(type="submit", value="Add Page").foo#addPageButton
