BODY {
  margin: 4px;
}
#mainContainer {
  border: none;
  margin: 0;
  height: 545px;
  width: 790px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding-top: 10px;
}
.gridItemDisplay {
  overflow-y: auto;
  height: auto;
  flex: 2;
  display: flex;
  flex-direction: column;
}
#singlePagePreview {
  flex: 2;
  order: 2;
  height: auto;
  min-width: 320px;
  padding-left: 15px;
}
#preview {
  width: 250px;
}
#previewCaption {
  font-weight: bold;
}
#previewDescription {
  height: 90px;
  border: none;
}
#previewDescription .DescriptionHeader {
  font-weight: bold;
}
#previewDescription .DescriptionText {
  white-space: normal;
  max-height: 145px;
  width: 353px;
  line-height: 1.2em;
  height: 100px;
  overflow: hidden;
}
.ui-dialog-buttonset:first-child .ui-icon-plusthick {
  left: 0.25em !important;
}
.ui-dialog-buttonset:first-child .ui-button-text {
  text-align: right !important;
}
.outerCollectionContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.collection {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.collectionCaption {
  font-weight: bold;
  padding-left: 4px;
  margin-left: 20px;
  display: block;
}
.innerCollectionContainer {
  margin: 0 0 0 0;
}
.gridItem {
  margin: 0 10px 10px 11px;
  width: 104px;
  display: inline-block;
}
.gridItem:hover {
  background: #b0dee4;
}
.gridItem.ui-selected {
  background: #b0dee4;
}
.thumbnail {
  overflow: hidden;
  display: block;
  margin-top: 4px;
  background: inherit;
  border: 1px solid darkgray;
  width: 60px;
  margin-left: 20px;
}
.gridItem .gridItemCaption {
  text-align: center;
  height: 2em;
  position: relative;
  left: 0;
  overflow: hidden;
  line-height: 1em;
}
.gridItem .pageDescription {
  display: none;
}
.invisibleThumbCover {
  z-index: 5;
  position: absolute;
  height: 130px;
  width: 100px;
  background: url(transparent.gif);
}
.ui-widget-content .ui-state-default {
  font-weight: normal !important;
}
div.ui-dialog div.ui-dialog-buttonset button.ui-button {
  background: #e1e1e1 !important;
  color: black;
  border: #adadad solid thin;
  font-size: 10pt;
}
div.ui-dialog div.ui-dialog-buttonset button.ui-button:hover {
  background: #b0dee4 !important;
  color: black;
}
div.ui-dialog div.ui-dialog-content,
.ui-dialog .ui-dialog-buttonpane,
.bloomDialogContainer {
  background-color: #f0f0f0 !important;
}
div.ui-dialog div.ui-dialog-titlebar {
  border: none;
}
div.ui-dialog div.ui-dialog-titlebar .ui-dialog-title {
  font-weight: normal;
}
