doctype html
// PageChooserMain - .jade file is the primary source; .html file is generated from .jade file

include mixins/page-chooser-mixins

html
	head
		meta(charset='UTF-8')
		title Bloom Add Page Chooser Dialog
		+stylesheet('page-chooser.css')
		+stylesheet('../bookEdit/css/bloomDialog.css')
		+script('../lib/jquery.js')
		+script('../lib/jquery-ui.js')
		+script('js/page-chooser.js')
	body
		#mainContainer.bloomDialogContainer
			.gridItemDisplay
				// .templatesCaption Installed Templates (Currently unused)
				.outerCollectionContainer
					//- This DIV element will get cloned for each collection
					//- when we handle more than one collection of templates
					.collection
						.collectionCaption Default Pages
						.innerCollectionContainer
							//- This DIV element gets cloned for each page in the collection
							.gridItem
								.invisibleThumbCover
								//iframe(src='').thumbnail
								img(src='').thumbnail
								.gridItemCaption Page Title
								.pageDescription
			#singlePagePreview
				#previewCaption.previewCaption
					| There should always be a selected page
				img(src='')#preview
				#previewDescription
					.DescriptionHeader Description
					#previewDescriptionText.DescriptionText Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel sodales justo.