/* replace EFL Template 1 custom CSS: no margins, no page numbers */

/* This statement hides the page numbers. */
.bloom-page.numberedPage {
    --pageNumber-show: none;
}

/* This statement sets the margins on the front-matter and back-matter pages */

.bloom-frontMatter.Device16x9Landscape,
.bloom-backMatter.Device16x9Landscape,
.bloom-frontMatter.Device16x9Portrait,
.bloom-backMatter.Device16x9Portrait {
    --cover-margin-top: 3mm;
    --cover-margin-bottom: 3mm;
    --page-margin-top: 3mm;
    --page-margin-bottom: 3mm;
    --page-margin-left: 3mm ;
    --page-margin-right: 3mm;
}

/* This statement sets the margins on the numbered content pages */

:not(.bloom-interactive-page).numberedPage.Device16x9Landscape,
:not(.bloom-interactive-page).numberedPage.Device16x9Portrait {
    --page-margin-top: 0mm;
    --page-margin-bottom: 0.0mm;
    --page-margin-left: 0mm ;
    --page-margin-right: 0.0mm;
    --page-split-horizontal-gap: 1mm;
    --page-split-vertical-gap: 1mm;
}
