/* This is the default theme, not only in the sense that it is the one we use by default for new books,
 * but also in the sense that it is copied to the start of each appearance.css file. Thus, the values
 * set in this initial .bloom-page block are defaults for EVERY page in EVERY book, and this block is
 * intended to provide a default for EVERY variable controlled by the appearance system.
 * Some of these values are overridden for certain page sizes by other rules in this file.
 * Intentionally, those rules are not more specific than this one, they just come later in the file
 * and win for that reason.
 * The rules for any other theme are copied later than the ones from this file in appearance.css,
 * so anything in those files with the same (or of course greater) specificity can override these.
 * For example, page-margin-right is set to 12mm in a .bloom-page block early in this file.
 * For an A4Landscape page, a later rule in this file overrides the .bloom-page rule and makes it 15mm.
 * If the book uses the large margins theme, a .bloom-page rule in that file overrides it again to 25mm.
 * The rounded border theme overrides it to 2.5mm for Device page sizes, using a different selector again.
 * These rules all have the same specificity even though they have different selectors, so the last one wins.
 * I don't much like depending on the order of rules like this, or having rules left in the
 * generated appearance.css file that we know will never apply to anything. But I don't see a better way
 * to get the desired results:
 * - a default for every property here that applies to every page in every book in every theme
 * - a way to override default property values for certain page sizes
 * - a way to override for certain themes (either for all page sizes or by page-size)
*/
.bloom-page {
    /* font-size: value in .numberedPage:after to display the page number */
    --pageNumber-font-size: 14pt;
    /* Either --pageNumber-top or --pageNumber-bottom should be set to a value, but not both. */
    /* bottom: value in .numberedPage:after to display the page number */
    --pageNumber-bottom: 10px;
    /* top: value in .numberedPage:after to display the page number */
    --pageNumber-top: unset;
    /* used for both height: and width: values in .numberedPage:after to display the page number.
     * Values like 20mm or 20vmin are valid. */
    --pageNumber-background-width: unset; /* for when we need to have a colored background, e.g. a circle */
    /* background-color: value in .numberedPage:after to display the page number */
    --pageNumber-background-color: transparent;
    /* border-radius: value in .numberedPage:after to display the page number */
    --pageNumber-border-radius: 0px;
    /* left: value in .numberedPage.side-left:after to display the page number */
    --pageNumber-left-margin: auto;

    /* right: value in .numberedPage.side-right:after to display the page number
     * If this is used, --pageNumber-always-left-margin should be set to unset (a keyword).
     * Note that if used, this should be set the same value as --page-margin-right, which is
     * what this default value achieves. */
    --pageNumber-right-margin: var(--page-margin-right);

    /* left: value in .numberedPage.side-right:after to display the page number */
    /*  This allows the page number to always be on the left, regardless of page side.
     *  If this is used, --pageNumber-right-margin must be set to unset (a keyword).
     *  Valid values would include auto (a keyword), 5px, or 8%.
     *  The unset keyword removes having any value associated with this variable. */
    --pageNumber-always-left-margin: unset;

    /* background-color: value in .bloom-page */
    --page-background-color: white;
    /* padding-left: value in .split-pane.vertical-percent
     *  .split-pane-component.position-right .split-pane-component-inner > div */
    --page-split-vertical-gap: 2mm;
    /* padding-top: value in .split-pane.horizontal-percent
     *  .split-pane-component.position-bottom .split-pane-component-inner > div */
    --page-split-horizontal-gap: 1mm;
    /* gap: value for .bloom-translationGroup */
    /* When Bloom is configured to show each block of text in more than one language, this controls
       the space between the different language sections of each block. */
    --multilingual-editable-vertical-gap: 10px;
    /* border-radius: value in .bloom-imageContainer (picture added by user to front cover or content page) */
    --image-border-radius: 0px; /* 0px is the default, but we want to be explicit about square corners */
    /* added to --page-margin-right for padding-right: value in .bloom-page.side-left */
    /* added to --page-margin-left for padding-left: value in .bloom-page.side-right */
    /* Most Bloom books are too small to need a gutter. NB: THIS MUST HAVE UNITS even when 0, else calc() fails */
    --page-gutter: 0mm;

    /* padding-top: value in .bloom-page.outsideFrontCover and .bloom-page.outsideBackCover */
    --cover-margin-top: 12mm;   /* same default value as --page-margin-top, but used for outside cover pages */
    /* padding-bottom: value in .bloom-page.outsideFrontCover and .bloom-page.outsideBackCover */
    --cover-margin-bottom: 12mm;    /* same default value as --page-margin-bottom, but used for outside cover pages */
    /* display: value in .Title-On-Cover-style.bloom-contentNational1 */
    --cover-title-L2-show: doShow-css-will-ignore-this-and-use-default;  /* default is L2 title displaying in a separate block (the value is a self-documenting trick) */
    /* display: value in .Title-On-Cover-style.bloom-contentNational2 */
    --cover-title-L3-show: none;   /* default is L3 title not displaying at all ('none' is a keyword) */
    /* display: value in .coverBottomBookTopic */
    --cover-topic-show: doShow-css-will-ignore-this-and-use-default; /* default is topic displaying (the value is a self-documenting trick) */
    /* display: value in .coverBottomLangName */
    --cover-languageName-show: doShow-css-will-ignore-this-and-use-defaultblock;  /* default is language name displaying (the value is a self-documenting trick) */

    /* background-color: value in .numberedPage .marginBox */
    /* This is not just for text boxes, but for everything inside the page margins.
       (For example, the space between text boxes or the background of partly transparent images.) */
    --marginBox-background-color: transparent;
    /* padding: value in .numberedPage .marginBox */
    --marginBox-padding: 0px;
    /* border-radius: value in .numberedPage .marginBox */
    --marginBox-border-radius: 0px;
    /* border-color: value in .numberedPage .marginBox */
    --marginBox-border-color: black;
    /* border-style: value in .numberedPage .marginBox */
    --marginBox-border-style: none; /* default is no border, but we want to be explicit. 'none' is a keyword. */
    /* border-width: value in .numberedPage .marginBox */
    --marginBox-border-width: medium;   /* must not be 0px/0mm/0in to have a border. 'medium' is a keyword. */

    /* The margin values here (and in the page-size-specific rules below) come from recommendations from
     * Little Zebra. We just looked at several versions of the books in different Bloom formats and we think
     * that having the same margins, inside and outside on ALL pages is most useful.
     * A4 books are big, so we used 15mm for the top and bottom (short sides).
     * We also want to be sure that all the title pages and credit pages and inside cover pages have the same
     * margins as the rest of the book.
     */

     /* these are just defaults in case we miss some. If you override, remember that the bottom margin needs
     * to be big enough for the page number, unless you put it elsewhere.
     */

    /* padding-top: value in .bloom-page: affects all pages except outside cover pages */
    --page-margin-top: 12mm;
    /* padding-bottom: value in .bloom-page: affects all pages except outside cover pages */
    --page-margin-bottom: 12mm;
    /* padding-right: value in .bloom-page.side-right */
    /* added to --page-gutter for padding-right: value in .bloom-page.side-left */
    --page-margin-right: 12mm;
    /* padding-left: value in .bloom-page.side-left */
    /* added to --page-gutter for padding-left: value in .bloom-page.side-right */
    /* padding-left: and padding-right: values for pages that are symmetrical left vs. right
     *   (outside cover pages, calendar pages, Bloom Player pages, "Device16x9..." pages) */
    --page-margin-left: 12mm;
}

/* Beware of making these rules more specific. We want them to be able to be overriden by .bloom-page rules
 * that come from other themes (and hence later in the generated appearance.css file).
 */
.A4Landscape {
    --page-margin-top: 12mm;
    --page-margin-bottom: 12mm;
    --page-margin-right: 15mm;
    --page-margin-left: 15mm;
}
.A4Portrait {
    --page-margin-top: 15mm;
    --page-margin-bottom: 15mm;
    --page-margin-right: 12mm;
    --page-margin-left: 12mm;
}
.A5Landscape,
.A5Portrait {
    --page-margin-top: 12mm;
    --page-margin-bottom: 12mm;
    --page-margin-right: 12mm;
    --page-margin-left: 12mm;
}
.A6Portrait,
.A6Landscape {
    --page-margin-top: 10mm;
    --page-margin-bottom: 10mm;
    --page-margin-right: 10mm;
    --page-margin-left: 10mm;
}

.Device16x9Portrait {
    --page-margin-top: 10px;
    --page-margin-bottom: 45px; /* need room for page number, so not as small as others */
    --page-margin-right: 10px;
    --page-margin-left: 10px;
}

.no-margin-page,
.comic {
    --page-margin-top: 0;
    --page-margin-bottom: 0;
    --page-margin-right: 0;
    --page-margin-left: 0;
    --pageNumber-font-size: 0; /* review will this work to hide it? */
}
