/* replace EFL Template 2 custom CSS: small margins, no page numbers */
[class*="Device"].numberedPage:not(.bloom-interactive-page) {
    --text-padding: 0.5em;
}

[class*="Device"] {
    --cover-margin-top: 2.5mm;
    --cover-margin-bottom: 2.5mm;
    --page-margin-top: 2.5mm;
    --page-margin-bottom: 2.5mm;
    --page-margin-left: 2.5mm;
    --page-margin-right: 2.5mm;
}
