:root {
    --page-margin-top: 10mm;
    --page-margin-bottom: 10mm;
    --page-margin-inner: 20mm;
    --page-margin-outer: 10mm;
    --top-bottom-gap: 1mm;
    --pageNumber-font-size: 14pt;
    --pageNumber-bottom: 10px;
    --pageNumber-background-width: unset; /* for when we need to have a colored background, e.g. a circle */
    --pageNumber-always-left-margin: unset;
    --page-background-color: white;
    --marginBox-background-color: transparent;
    --page-split-vertical-gap: 2mm;
    --page-split-horizontal-gap: 1mm;
    --multilingual-editable-vertical-gap: 0;
}

.Device16x9Portrait {
    --page-margin-top: 10px;
    --page-margin-bottom: 45px; /* leave room for page number*/
    --page-margin-inner: 10px;
    --page-margin-outer: 10px;
}

.no-margin-page,
.comic {
    --page-margin-top: 0;
    --page-margin-bottom: 0;
    --page-margin-inner: 0;
    --page-margin-outer: 0;
    --pageNumber-font-size: 0; /* review will this work to hide it? */
}
