
include ../../xMatter/bloom-xmatter-mixins.pug
// The above filepath will need updating if this xmatter ever becomes an official Bloom xmatter pack
// since it will get moved from customXMatter to xMatter

mixin mxb-nationalSummaryPrinterStatement-insideBackCover
	// Inside Back Cover
	+page-xmatter('Inside Back Cover').cover.coverColor.insideBackCover.bloom-backMatter(data-export='back-matter-inside-back-cover')&attributes(attributes)#839e8eee-5e1a-45a7-bb01-2c171b56f8a4
		+field-mono-meta("N1","insideBackCover").Inside-Back-Cover-style.bloom-copyFromOtherLanguageIfNecessary
			label.bubble If your publication is not diglot, you can include a national language summary here, which is the inside of the back cover.
		+field-mono-meta("N1","printerStatement").Printer-Statement-style.bloom-copyFromOtherLanguageIfNecessary
			label.bubble Printer's Statement goes here.

mixin mxb-combinedTitleCreditsPage-inside-front-cover
	+page-xmatter('Inside Front Cover').cover.coverColor.titlePage.credits.bloom-frontMatter(data-export='front-matter-title-page')&attributes(attributes)#0d61e568-6814-4836-82ad-81b2bcd106a5
		+field-prototypeDeclaredExplicity("V, N1, N2")#titlePageTitleBlock
			label.bubble Book title in {lang}
			+editable(kLanguageForPrototypeOnly).bloom-nodefaultstylerule.Title-On-Title-Page-style(data-book='bookTitle')
		#languageInformation.Credits-Page-style('lang'='N1')
			.languagesOfBook(data-derived='languagesOfBook')
			//- review: can we get rid of these "langName" classes?
			.langName('data-library'='dialect')
			.langName(data-library='languageLocation').bloom-writeOnly
		+field-prototypeDeclaredExplicity("N1")#originalContributions
			block originalContributionsLabel
				label.bubble(data-link-text='Paste Image Credits' data-link-target='PasteImageCredits()')
					| The contributions made by writers, illustrators, editors, etc., in {lang}
			+editable(kLanguageForPrototypeOnly).credits.bloom-readOnlyInTranslationMode.bloom-copyFromOtherLanguageIfNecessary.Credits-Page-style(data-book='originalContributions')
		+field-acknowledgments-originalVersion
		+field-acknowledgments-localizedVersion
		+field-prototypeDeclaredExplicity("N1")#funding
			label.bubble Use this to acknowledge any funding agencies.
			+editable(kLanguageForPrototypeOnly).funding.Credits-Page-style.bloom-copyFromOtherLanguageIfNecessary(data-book='funding')
		+field-prototypeDeclaredExplicity("N1")#printingHistory
			label.bubble Use this for Printing History (1st Edition, etc.)
			+editable(kLanguageForPrototypeOnly).PrintingHistory-style.bloom-copyFromOtherLanguageIfNecessary(data-book='printingInfo')
		+block-licenseAndCopyright
		//- Here code puts in something like "From the original Copyright Pratham Books 2016. CC-BY. Any license notes here."
		.copyright(data-derived="originalCopyrightAndLicense").Credits-Page-style
		+field-ISBN
		+title-page-branding-bottom

doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='BloomFormatVersion', content='2.0')
		title ILV Mexico Pamphlet Front & Back Matter
		+stylesheets('MXBPamphlet-XMatter.css')
	body
		+factoryStandard-outsideFrontCover
		+mxb-combinedTitleCreditsPage-inside-front-cover
		+mxb-nationalSummaryPrinterStatement-insideBackCover
		+factoryStandard-outsideBackCover

