doctype html
include ../../../bloom-with-jade-mixins

html
	head
		+bloom-standard-metadata
		meta(name="SuitableForMakingShells", content="yes")
		meta(name='defaultNameForDerivedBooks', content='Picture Dictionary')
		meta(name='bloomBookId', content='7E5B8274-C7BD-4471-B54D-50CF09E4DA17')
		meta(name='pageTemplateSource', content='Picture Dictionary')
		meta(name='defaultMultilingualLevel', content='2')
		meta(name='experimental', content='true')
		title Picture Dictionary Template
		+cssLink('previewMode')
		+cssLink('basePage')
		+cssLink('PictureDictionary')
	body
		#bloomDataDiv
			+bloom-title('en', 'Picture Dictionary')
			+bloom-title('tpi', 'Piksa Diksionari')
			+bloom-title('id', 'Kamus Bergambar')
			+bloom-topic('en', 'Dictionary')
			+bloom-topic('fr', 'Dictionnaire')
			+bloom-topic('id', 'Kamus')
			+bloom-topic('th', 'พจนานุกรม')
			+bloom-topic('es', 'Diccionario')
		.bloom-page.numberedPage.images6.A5Portrait.pictureDictionaryPage(data-page='extra',
				id='7E5B8274-C7BD-4471-B54D-50CF09E4D888')
			+bloom-translation-group(class='domain') The title
			+repeat(6)
				.wordAndPicture.bloom-draggable.bloom-resizable
					+shellImage
					+bloom-translation-group(class='wordsDiv') lorem ipsum