/*This is a dummy rule used to transmit to javascript what size/orientations this stylesheet can handle.*/
#bloom-supportedPageConfigurations
{
	content: "A5Portrait";
}
BODY
{
}
DIV.wordsDiv DIV.contentLanguage1
{
	font-weight: bold;
}
DIV.wordsDiv DIV
{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 24px;
	width: 100%;
	display: inline;
	line-height: 0.9;
	text-align: center;
}
DIV.bloom-imageContainer
{
	height: 99px;
	width: 100%;
	display: block;
	margin-bottom: 4px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-top: 0px;
}
DIV.wordsDiv
{
}
DIV.domain
{
	font: 24pt sans-serif;
	text-align: center;
}
DIV.domain DIV
{
	/*[disabled]display:inline;*/
	min-width: 50px;
	height: 41px;
}
DIV.domain DIV.bloom-content2
{
	font-style: italic;
	font-size: 14pt;
	/*[disabled]vertical-align:baseline;*/
	/*[disabled]+placement:shift 0px -8px;*/
	display: inline;
	/*[disabled]min-width:159px;*/
	width: 48%;
}
.bloom-trilingual DIV.domain DIV.bloom-content3:before
{
	content: "/  ";
}
DIV.domain DIV.bloom-content3
{
	font-size: 14pt;
	display: inline;
	/*[disabled]min-width:157px;*/
	width: 48%;
	/*+placement:anchor-top-right 0px 44px;*/
	position: absolute;
	right: 0px;
	top: 44px;
	text-align: left;
}
DIV.wordAndPicture
{
	width: 144px;
}
/*NB: Child(1) is actually the domain title. So we start with 2*/
DIV.wordAndPicture:nth-child(2)
{
	/*+placement:anchor-top-left 0 95px;*/
	position: absolute;
	left: 0;
	top: 95px;
}
DIV.wordAndPicture:nth-child(3)
{
	/*+placement:anchor-top-right 0 95px;*/
	position: absolute;
	right: 0;
	top: 95px;
}
DIV.wordAndPicture:nth-child(4)
{
	/*+placement:anchor-top-left 0 290px;*/
	position: absolute;
	left: 0;
	top: 290px;
}
DIV.wordAndPicture:nth-child(5)
{
	/*+placement:anchor-top-right 0 290px;*/
	position: absolute;
	right: 0;
	top: 290px;
}
DIV.wordAndPicture:nth-child(6)
{
	/*+placement:anchor-bottom-left 0 0;*/
	position: absolute;
	left: 0;
	bottom: 0;
}
DIV.wordAndPicture:nth-child(7)
{
	/*+placement:anchor-bottom-right 0px 0px;*/
	position: absolute;
	right: 0px;
	bottom: 0px;
}
