include ../bloom-xmatter-mixins.pug

doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="BloomFormatVersion", content="2.0")
		title Device Front &amp; Back Matter
		//- Make the stylesheets section available to extending .pug files.
		block stylesheets
			//- NB: this has no effect on books using this stylesheet; it only does anything if you're viewing the xmatter html by itself
			+stylesheets("Device-XMatter.css")

	body

		+factoryStandard-outsideFrontCover

		block optionalAddition

		//- Credits at the end

		+page-xmatter("Title Page").titlePage.bloom-backMatter(data-xmatter-page='titlePage')&attributes(attributes)#898b6622-837b-49cd-9938-2de76f6d4b17
			+title-page-contents

		+page-xmatter("Credits Page").bloom-backMatter.credits(data-xmatter-page='credits')&attributes(attributes)#898b6622-837b-49cd-9938-2de76f6d4b18
			+credits-contents


		+standard-endExtra1PageForDevice
		+standard-endExtra2PageForDevice
		+standard-endExtra3PageForDevice
