extends ../../xMatter/Traditional-XMatter/Traditional-XMatter.pug

block outsideBackCoverContentsTop
	div(data-book='back-cover-boilerplate' lang="*")

block outsideBackCoverContentsBottom
	+image-xmatter('level-image')
		label.bubble Paste the level diagram here.
