@import "../../xMatter/bloom-xmatter-common.less";

@XMatterPackName: "Kyrgyz";
@HeaderHeight: 3.5cm;
@bleed: 3mm;

div.bloom-page.outsideFrontCover,
div.bloom-page.outsideBackCover {
    background-color: #193970 !important;
}

.bloom-translationGroup.bookTitle {
    // padding here instead of margin so that it's still white in these areas instead of blue
    padding-top: @bleed;
    padding-left: 1cm;
    padding-right: 1cm;
}

.outsideFrontCover .marginBox {
    top: 0;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important;
}
.outsideBackCover .marginBox {
    top: 0;
    height: calc(100% - 15mm) !important;
    width: calc(100% - 15mm) !important;

    [data-book="outside-back-cover-branding-bottom-html"] {
        display: none;
    }
}

.frontCover .placeholder,
.frontCover .bloom-imageContainer {
    margin-left: 1cm;

    margin-right: 1cm;
    display: flex;
}

.outsideFrontCover .marginBox img,
.outsideBackCover .marginBox img {
    margin-left: auto;
    margin-right: auto;
}

.frontCover .bottomBlock {
    margin-left: 1cm;
    margin-right: 1cm;
    margin-bottom: 1cm;
}

.frontCover
    .bloom-translationGroup.bookTitle
    .bloom-editable.bloom-contentNational1 {
    /* font-size: 120%; */
    font-size: 226%;
    display: none;
}

.frontCover .bloom-translationGroup.bookTitle {
    color: black;
    background-color: white;
    height: @HeaderHeight;
    /*flex-basis: content;*/
    flex-direction: unset;
    align-items: center;
}

div.bloom-page.coverColor {
    color: white;
}

/* Element | http://localhost:8089/bloom/C%3A/Users/hatto/Documents/Bloom/Kyrgyz%20Branding%20Test/Book/8444a5b9-4b6a-476a-90da-cc003fbc1fea-memsim-Preview.html */

div.bloom-imageContainer:nth-child(2) > img:nth-child(1) {
    /* width: 446px; */
    /* height: 367px; */
    /* margin-left: 0px; */
    /* margin-top: 84px; */
    object-fit: contain;

    /* white border that fits the image, not its container*/
    filter: drop-shadow(0 -3px 0 white) drop-shadow(0 3px 0 white)
        drop-shadow(-3px 0 0 white) drop-shadow(3px 0 0 white);
}

[data-book="outside-back-cover-branding-top-html"] {
    background-color: white;
    margin-left: -15mm;
    height: @HeaderHeight;
}

[data-book="back-cover-boilerplate"] {
    margin-top: 10mm;
}
[data-book="level-image"] {
    margin-top: auto;
    margin-right: auto;
    height: 7cm;
    border: none !important;
}

/* only white makes sense, e.g. for the inside cover colors */
div.bloom-page {
    &.insideFrontCover,
    &.insideBackCover {
        background-color: white !important;
    }
}

.bloom-mediaBox {
    &::before {
        // we're not expecting an edge-to-edge images, so no need ot show the transparent bleed area. Just make it black.
        border-color: black !important;
    }
    &::after {
        // don't show the trim area at all.
        border: none;
    }
}
