@import "../../../../templates/common-mixins.less";
@textColor: @bloom-beige;
@headingColor: @bloom-lightblue;
@toolboxBackgroundColor: @DarkBackgroundColor;
@buttonColumnWidth: 40px;
@marginWidth: 6px;
@bodyPaddingSize: 15px;
@stagePaddingSize: 5px;

.ui-decodableReaderBody{
    padding-left: @paddingSize;
    padding-right: @paddingSize;
    *, a{color: @textColor;}
    background-color: @toolboxBackgroundColor;

    background-position: center;

    .ui-decodableReader-button {
            height:@buttonColumnWidth;
            width: @buttonColumnWidth;
            border:none;
            background-size:contain;
            background-color:transparent;
            background-repeat:no-repeat;
            display:inline-block;
            margin-bottom:5px;
    }

    .ui-Decodable-Reader-red-font {
        color: red;
    }

    .ui-Decodable-Reader-no-display {
        display: none;
    }

    .ui-Decodable-Reader-letters-words {
        margin-left: @marginWidth;
    }

    .ui-Decodable-Reader-words {
        display:inline-block;
        max-width:100px;
    }

    .decodableReader-label {
        white-space: nowrap;
        padding-right: 0;
    }

    .disabled {
            opacity: 0.4;
    }

    #letters-in-this-stage {
        margin-left: @marginWidth;
        *, a{color: @headingColor;}
    }

    #sample-words-this-stage {
        color: @headingColor;
    }

    #stageNumber {
        padding-left: @stagePaddingSize;
        padding-right: @stagePaddingSize;
    }

    #numberOfStages {
        padding-left: @stagePaddingSize;
    }

    #decodableReader-preview {
            background-image: url(audio/play_enabled.svg);
            height:45px;
            width:45px;
    }

    .button-label-wrapper {margin-top: 10px;}
    .button-wrapper {display:inline-block;min-width: 60px;}
}

.ui-accordion h3[data-toolId="decodableReaderTool"] span.ui-accordion-header-icon {
        background-image:url('/bloom/images/keys-white.png') !important;
    }
