html
	head

	body
		// markuptype refers to which kind of synphony markup is displayed in the tool. See ReaderToolsModel.setMarkupType and the MarkupType enumeration.
		h3(data-toolId='decodableReaderTool', data-order='10', data-i18n='EditTab.Toolbox.DecodableReaderTool') Decodable Reader Tool
		div(data-toolId='decodableReaderTool')
			#setupStages
				img#decodable-edit(src='/bloom/bookEdit/toolbox/readers/edit-white.png')
				span.setup.noSelect
					a(href="javascript:window.FrameExports.showSetupDialog('stages');", data-i18n='EditTab.Toolbox.DecodableReaderTool.SetUpStages') Set up Stages
			.stageLine.clear.noSelect
				span.scroll-button.ui-icon.ui-icon-triangle-1-w#decStage
				span.stageLabel.stageLine.noSelect
					span#stageNofM(data-i18n='EditTab.Toolbox.DecodableReaderTool.StageNofM') Stage {0} of {1}
				span.scroll-button.ui-icon.ui-icon-triangle-1-e#incStage
			#letters-in-this-stage.section.clear(style='margin-left: 6px')
				span(data-i18n='EditTab.Toolbox.DecodableReaderTool.LettersInThisStage') Letters in this stage
			#lettersTable.tableHolder.clear
				.letterList#letterList
			.section.clear(style='margin-left: 6px;')
				table
					tr
						td(style='padding-left: 0;')
							span#sample-words-this-stage(data-i18n='EditTab.Toolbox.DecodableReaderTool.SampleWordsInThisStage') Sample words in this stage
							span#allowed-words-this-stage(data-i18n='EditTab.Toolbox.DecodableReaderTool.AllowedWordsInThisStage') Allowed words in this stage
						td(style='white-space: nowrap; padding-right: 0;')
							.sortBlock.clear
								.sortItem.rightBorder.sortIconSelected#sortAlphabetic
									i.fa.fa-sort-alpha-asc(title='Sort alphabetically')
								.sortItem.rightBorder#sortLength
									i.fa.fa-sort-amount-asc(title='Sort by word length')
								.sortItem#sortFrequency
									i.fa.fa-long-arrow-up(title='Sort by frequency')
									i.fa.fa-facebook#sortFrequency2(title='Sort by frequency')
			.tableHolder.clear
				.wordList#wordList
			#make-letter-word-list-div.clear
				a#make-letter-word-list(href='javascript:FrameExports.makeLetterWordList();', data-i18n='EditTab.Toolbox.DecodableReaderTool.MakeLetterWordReport') Generate a letter and word list report
			#allowed-word-list-truncated.clear(style="color: red")
			#hiddenWordListForDecodableReader(style="display: none")
				label#allowed_word_list_truncated_text(data-i18n='EditTab.Toolbox.DecodableReaderTool.AllowedWordListTruncated') Bloom can handle only the first {0} words.
