.frontCover .bloom-translationGroup.bookTitle .bloom-editable.bloom-contentNational1 {
  font-size: 120%;
  line-height: 1.7em;
  margin-bottom: 5px;
}
.frontCover .bloom-translationGroup.bookTitle .bloom-editable.bloom-content1 {
  font-size: 250%;
  line-height: 1.4em;
  margin-bottom: 5px;
}
.Title-On-Cover-style {
  text-align: center;
}
.credits .licenseAndCopyrightBlock {
  min-height: 60px;
}
.credits .licenseAndCopyrightBlock .copyright {
  margin-bottom: 2em;
}
.credits .licenseAndCopyrightBlock .licenseBlock {
  margin-bottom: 2em;
}
.credits .licenseAndCopyrightBlock img {
  width: 94px;
}
