@import "../branding-base.less";
[data-book="cover-branding-bottom-html"] {
    .coverBottomBookTopic {
        display: none;
    }
    .coverBottomLangName {
        text-align: center;
    }
    img {
        margin-top: 0.5cm;
        width: 100%;
        height: 1.5cm;
    }
}
// [data-xmatter-page="credits"] {
//     * {
//         margin-bottom: 1em;
//         text-align: justify;
//     }
// }
// NB: space is really tight with 16x9 portrait and landscape
// NB: the rule in bloom-xmatter.common seems to assume there is only an image, and it's hard to override.
//  That's why we have `div.titlePage` here, to increase our precedence score.
div.titlePage [data-book="title-page-branding-bottom-html"] {
    max-height: 24mm;
    line-height: 18px;
    img {
        margin-bottom: 5px;
        height: 13mm;
    }
}
[data-book="credits-page-branding-top-html"] img {
    width: 100%;
    height: 2cm;
}
[data-book="outside-back-cover-branding-top-html"] {
    img {
        width: 100%;
        height: 3cm;
        margin-bottom: 2em;
    }
    text-align: center;
    p {
        margin-bottom: 1em;
    }
}
[data-book="outside-back-cover-branding-bottom-html"] {
    img.bloom-badge {
        width: 100%;
        height: 1.5cm;
    }
}

div.Device16x9Landscape {
    img.bloom-badge {
        height: 1cm; // there isn't enough room for the 1.5 cm badge
    }
    // ...and worse yet, in Bloom Reader preview, *any* size badge gets overwritten by the material above.
    // so we shrink the logo too
    [data-book="outside-back-cover-branding-top-html"] {
        img {
            height: 2cm;
        }
    }
}

.outsideBackCover {
    &.QuarterLetterLandscape,
    &.A6Landscape {
        [data-book="outside-back-cover-branding-bottom-html"] {
            display: none; //there's just no room for the made-with Bloom
        }
    }
    .marginBox [data-book="outside-back-cover-branding-bottom-html"] {
        margin-top: auto !important;
    }
    .bloom-translationGroup {
        display: none; // there's just no room on small sizes, and Jeni says they don't need it ever.
    }
}
