doctype html
html
  head
    meta(charset="UTF-8")
    link(rel='stylesheet', type='text/css', href='bloomEPUBPreview.css')
    link(rel='stylesheet', href='/bloom/lib/jquery-ui.css')
    script(src='/bloom/node_modules/jquery/dist/jquery.js')
    script(src='/bloom/modified_libraries/jquery-ui/jquery-ui-1.10.3.custom.min.js')
    script.
      $(function () { $('#device').resizable({ minHeight: 300, minWidth: 200, handles: { 'se': '#BottomRightHandle' } }); });
  //_AudioSituationClass_ is replaced at runtime
  body._AudioSituationClass_
    #sideColumn
      p এটি হল আপনার বইটির  #[a(href='https://bn.wikipedia.org/wiki/ePUB') ePUB] (ই-বুক) সংস্করণ&nbsp;
        span.showForTalkingBooks এটিতে অডিও রয়েছে, যেন নতুন পাঠকরা পড়ার সাথে সাথে তা শুনতেও পারে।
      p.showWhenHaveAudioButNotMakingTalkingBook এই বইটিতে কিছু কিছু রেকর্ডিং রয়েছে, কিন্তু এই অডিওটি ePUB এর মধ্যে অন্তর্ভুক্ত নয়।

      h3 প্রিভিউ/ পুনরায় দেখা
      p আপনি এই কৃত্রিম যন্ত্রের পর্দার নীচের অংশে ডানদিকে কোণাটি টেনে প্রিভিউয়ের মাপ পরিবর্তন করতে পারেন। দেখুন, আপনার বইটি বিভিন্ন আকারে পর্দায় কেমন দেখাবে। 
      :marked
        এই পৃষ্ঠাটিতে [Readium](http://readium.org/) ePUB পাঠক রয়েছে। বইগুলো সম্ভবত ভিন্ন পাঠকের কাছে ভিন্নভাবে দেখাবে। 
      p.showForTalkingBooks
        | প্রিভিউ এখানে তখনও কথা বলা বইয়ের ভূমিকা পালন করবে না। আপনি এটি Adobe ফ্রি ডিজিটাল এডিশন ব্যবহার করে শুনতে পারেন #[a(href='http://www.adobe.com/solutions/ebook/digital-editions.html') Digital Editions] 
        | ই-বুক পাঠক। 
      h3 এই বইটি আপনার ডিভাইসে নিন। 
      p হাতের নাগালে বইগুলো পেতে আপনার ফোনে পেতে ড্রপবক্স বা অনুরূপ সেবাটি আপনার কম্পিউটার এবং আপনার ফোন/ট্যাবলেট উভয়ে সেট আপ করুন। শুধু ePUB সংরক্ষণে ক্লিক করে এবং তারপর আপনার ড্রপবক্স ফোল্ডারটি নির্বাচন করুন। আপনার ফোনে, ড্রপবক্স অ্যাপ্লিকেশনটি খুলুন এবং আপনার বই নির্বাচন করুন। যদি আপনি ল্যাপটপ ব্যবহার করেন, তাহলে আপনি বিনামূল্যে প্রোগ্রামটি থেকে ফাইলগুলো  আপনার ল্যাপটপ থেকে ফোন বা ট্যাবলেটে পাঠানোর জন্য চেষ্টা করতে পারেন। #[a(href='http://shareit.lenovo.com/') ShareIt] 
      h3 পপ্রস্তাবিত রিডার
      :marked
        আমাদের পরীক্ষায় দেখা গেছে যে [Gitden Reader](/bloom/api/help/Concepts/Gitden_Reader.htm) 
        অ্যান্ড্রয়েড ও IOS (আইফোন &amp; iPad) ডিভাইসগুলো বেশ ভাল। 
      p.showForTalkingBooks
        | Gitden ব্যবহার করে ফোন বা ট্যাবলেটে কথা বলা বইটি শোনার জন্য, আপনার Gitden এর "বার্তা থেকে উক্তি” ফিচারটি নিষ্ক্রিয় করতে হবে। তারপর এটি আপনাকে অডিও নিয়ন্ত্রণগুলি দেখাবে। 
      h3.showWhenNoAudio এটিকে কথা বলাতে
      p.showWhenNoAudio
        | যদি আপনি একটি “কথা বলার বই” তৈরী করতে চান, যা নতুন পাঠকরাও সাথে সাথে   পড়তে পারে, তাহলে ব্লুমের  #[a(href='/bloom/api/help/Tasks/Edit_tasks/Record_Audio/Show_the_Talking_Book_Tool.htm') ব্যবহার করুন।] 
        |  ভয়েস রেকর্ডিং যুক্ত করার জন্য।
      h3 আমাদের কাছে লিখুন!
      p আপনি কি ফোনে এবং অন্যান্য ইবুক পাঠকদের ব্যবহারের জন্য ব্লুম বই বিতরনে আগ্রহী? আমরা কি এমন কিছু করতে পারি যা এটি ব্যবহার করার পূর্বে আপনার জন্য দরকারী হতে পারে?  দয়া করে সাহায্য ব্যবহার করুন: আমাদের প্রতিক্রিয়া পাঠাতে একটি সমস্যা নির্দেশিত প্রতিবেদন  লিখুন । ধন্যবাদ!
    #device.ui-resizable
      iframe(src='readium-cloudreader.htm?epub={EPUBFOLDER}')
      #BottomRightHandle.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-grip-diagonal-se
