doctype html
html
	include ../templates/bloom-foundation-mixins.pug
	head
		meta(charset="UTF-8")
		link(rel='stylesheet', type='text/css', href='bloomEPUBPreview.css')
		link(rel='stylesheet', href='/bloom/lib/jquery-ui.css')
		script(src='/bloom/node_modules/jquery/dist/jquery.js')
		script(src='/bloom/modified_libraries/jquery-ui/jquery-ui-1.10.3.custom.min.js')
		script.
			$(function () { $('#device').resizable({ minHeight: 300, minWidth: 200, handles: { 'se': '#BottomRightHandle' } }); });
	//_AudioSituationClass_ is replaced at runtime
	body._AudioSituationClass_
		#sideColumn
			p(i18n="epubpreview.describe")
				| Esto es un 
				+link-followed-by-space('https://en.wikipedia.org/wiki/ePUB') ePUB
				| (e-book), una versión electrónica de su libro.
				+space
				span.showForTalkingBooks Contiene audio para que los lectores nuevos puedan escucharlo mientras que lo leen.
			p.showWhenHaveAudioButNotMakingTalkingBook(i18n="epubpreview.recording.butnotalk") Este libro contiene algunas grabaciones, pero el audio no está incluido en el ePUB.
			h3(i18n="epubpreview.preview") Vista previa
			p(i18n="epubpreview.resizing") Para cambiar el tamaño de la vista previa, arrastre la esquina inferior derecha de este dispositivo simulado. Así podrá visualizar cómo se verá su libro en diversas pantallas.
			p(i18n="epubpreview.readium")
				| Esta página usa el lector digital de ePUB 
				+link-followed-by-space('http://readium.org/') Readium
				| . Los libros se verán distintos en lectores digitales diferentes.
			p.showForTalkingBooks(i18n="epubpreview.talkingbookpreview")
				| Los Audiolibros no funcionan con esta vista previa. Puede escucharlo con el lector digital gratuito de Adobe llamado 
				+link-followed-by-space('http://www.adobe.com/solutions/ebook/digital-editions.html') Digital Editions
				| .
			h3(i18n="epubpreview.ontodevice") Cargando este libro a su dispositivo
			p(i18n="epubpreview.usingdropbox")
				| Una manera práctica descargar libros en su celular es utilizando un servicio como Dropbox en su computadora y celular/tablet. Haga clic en "Guardar como ePub". Seleccione su carpeta de Dropbox. En su celular, abra Dropbox y seleccione su libro. Si está usando una computadora portátil, también puede probar el programa gratuito 
				+link-followed-by-space('http://www.ushareit.com/') ShareIt
				|  para enviar archivos de su computadora portátil a su celular o tablet.
			h3(i18n="epubpreview.recommended.reader") Lector de ePUB recomendado
			p(i18n="epubpreview.gitden.okay")
				| Nuestras pruebas han mostrado que 
				+link-followed-by-space('/bloom/api/help/Concepts/Gitden_Reader.htm') Gitden Reader
				| es una buena opción para dispositivos Android y IOS (dispositivos iPhone y iPad).
			p.showForTalkingBooks(i18n="epubpreview.gitden.limits")
				| Para escuchar este Audiolibro con Gitden en su celular o tablet, debe desactivar la función de "Texto a Voz". En seguida los controles de audio serán mostrados.
			h3.showWhenNoAudio(i18n="epubpreview.make.it.talk") Crear un Audiolibro
			p.showWhenNoAudio(i18n="epubpreview.talking.book.tool")
				| Si desea crear un "Audiolibro" que los lectores pueden escuchar mientras leen, use la herramienta de Bloom 
				+link-followed-by-space('/bloom/api/help/Tasks/Edit_tasks/Record_Audio/Show_the_Talking_Book_Tool.htm') Herramienta de Audiolibros
				| para agregar grabaciones.
			h3(i18n="epubpreview.write.us") ¡Escríbanos!
			p(i18n="epubpreview.use.help.report") ¿Desea distribuir libros Bloom para uso en celulares y otros lectores electrónicos? ¿Hay algo que podemos hacer antes para hacerlo mas útil para usted? Por favor, utilice la función Ayuda: Reportar un Problema para compartirnos sus comentarios. ¡Gracias!
		#device.ui-resizable
			iframe(src='readium-cloudreader.htm?epub={EPUBFOLDER}')
			#BottomRightHandle.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-grip-diagonal-se
