doctype html
html
	head
		meta(charset="UTF-8")
		link(rel='stylesheet', type='text/css', href='bloomEPUBPreview.css')
		link(rel='stylesheet', href='/bloom/lib/jquery-ui.css')
		script(src='/bloom/node_modules/jquery/dist/jquery.js')
		script(src='/bloom/modified_libraries/jquery-ui/jquery-ui-1.10.3.custom.min.js')
		script.
			$(function () { $('#device').resizable({ minHeight: 300, minWidth: 200, handles: { 'se': '#BottomRightHandle' } }); });
	//_AudioSituationClass_ is replaced at runtime
	body._AudioSituationClass_
		#sideColumn
			p Hii ni tafsiri ya  (e-book) ya kitabu chako.
				span.showForTalkingBooks Ina sauti, ili wasomi waweze kusikiliza wanaposoma.
			p.showWhenHaveAudioButNotMakingTalkingBook Kitabu hiki kina baadhi ya rekodi, lakini sauti hii haijajumuishwa katika ePUB.

			h3 Onyesha
			p Unaweza kubadilisha ukubwa wakati wa kuonyesha kwa kuvuta pembe ya chini ya upande wa kulia wa kifaa hiki kilichoigizwa. Tazama jinsi kitabu chako kitakavyoonekana kwenye skrini za ukubwa tofauti.
			:marked
				Ukurasa huu hutumia kifaa cha kusoma cha [Readium](http://readium.org/) ePUB.Huenda vitabu vikaonekana kuwa tofauti kwa wasomaji tofauti.
			p.showForTalkingBooks
				| Kwa kuonyesha hapa, bado haitawezekana kucheza Vitabu vilivyo na Sauti. Unaweza kuisikiza kwa kutumia #[a(href='http://www.adobe.com/solutions/ebook/digital-editions.html') Digital Editions] ya bure ya Adobe.
				| Kifaa cha kusoma e-book.
			h3 Kuweka Kitabu Hiki Kwenye Kifaa Chako
			p Njia nzuri ya kutia kitabu kwenye simu yako ni kwa kuweka Dropbox au huduma sawa kwenye kompyuta yako na simu/tableti yako. bofya hifadhi ePUB na kisha uchague jalada lako la Dropbox. Kwenye simu yako, fungua Dropbox na uchague kitabu. Iwapo unatumia kipakatalishi, pia unaweza kujaribu programu isiyolipishwa ya #[a(href='http://shareit.lenovo.com/') Shirikisha] ili kutuma faili kutoka kwa kipakatalishi chako hadi kwa simu au tableti.
			h3 Kifaa cha kusoma Kilichopendekezwa
			:marked
				Majaribio yetu yameonyesha [Kifaa cha kusoma cha Gitden](/bloom/api/help/Concepts/Gitden_Reader.htm)
				kuwa chaguo nzuri kwa vifaa vya Androidi na IOS (IPhoni & IPadi).
			p.showForTalkingBooks
				| Ili kusikiza Vitabu hivi vilivyo na Sauti kwa kutumia Gitden kwenye simu au tableti, utahitajika kuzima sehemu ya Gitden ya "Maandishi Hadi Usemi". Kisha itakuelekeza kwenye udhibiti wa sauti.
			h3.showWhenNoAudio Ifanye kutoa Sauti
			p.showWhenNoAudio
				| Iwapo ungependa kutengeneza "Kitabu kilicho na sauti" ambacho wasomi wa mara ya kwanza wanaweza kutumia wanaposoma, tumia' #[a(href='/bloom/api/help/Tasks/Edit_tasks/Record_Audio/Show_the_Talking_Book_Tool.htm') Kifaa cha Kitabu kilicho na Sauti] cha Bloom
				|  kuongeza sauti zilizorekodiwa.
			h3 Tuandikie!
			p Je, ungependa kusambaza vitabu vya Bloom vya kutumia kwa simu na kwenye vifaa vingine vya kusoma vya mtandao? Je, kuna jambo ambalo ungependa tufanye kwanza lililo la muhimu kwako? Tafadhali tumia Usaindizi:Ripoti Tatizo amrisha kututumia majibu. Asante!
		#device.ui-resizable
			iframe(src='readium-cloudreader.htm?epub={EPUBFOLDER}')
			#BottomRightHandle.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-grip-diagonal-se
