doctype html
html(dir='rtl')
  head
    meta(charset="UTF-8")
    link(rel='stylesheet', type='text/css', href='bloomEPUBPreview.css')
  body
    #missingLame
      h3 الرجاء تثبيت LAME
      p 
        | يحتوي هذا الكتاب على تسجيلات صوتية. بإمكان Bloom استخدام هذه التسجيلات لإعداد كتاب إلكتروني "ناطق". ولكن سيحتاج Bloom إلى توفر برنامج اسمه "LAME for Audacity" لإنشاء ملفات MP3 يستخدمها الكتاب. يمكنك إعداد ذلك بسهولة. قم أولاً بتنزيله وتشغيله
        a(href='http://lame.buanzo.org/#lamewindl') 'Lame_v3.99 for Windows.exe'
        | . بعد ذلك أعد تشغيله Bloom
      p 
        | إذا كنت تفضل المتابعة ونشر كتابك بدون صوت، فانقر 
        a#proceedWithoutAudio(href='javascript:void(0)') هنا
        | .
      h3 الاعتبارات القانونية
      p 
        | نعي أنه في بعض البلدان (ربما يكون في الولايات المتحدة فقط، وحتى عام 2017 فقط)، ستكون هناك براءات اختراع تتناول ابتكار محتوى MP3. وفقاً لما أخبرنا به ممثل حامل براءة الاختراع:
        blockquote
          | قد تحتاج إلى ترخيص إذا كان هناك أي نوع من الاشتراكات أو خدمات المحتوى لكل وحدة أو عائد محدَّد لنشر محتوى MP3، وإذا كان هناك أي نوع من الإعلانات موجود أثناء تقديم أي محتوى MP3، سواء على صفحة ويب تتضمن أي روابط إلى كتبك الناطقة أو في إطار نظام مراسلة، يكون إجمالي عائد MP3 المقترن بمحتوى MP3 هذا أكثر من 100 ألف دولار أمريكي في العام.
        | لذلك، إذا كنت تنتج كتباً ناطقة وتوزعها مجاناً، فسيتعين على الناشر فقط (مثل BloomLibrary.org) الاهتمام بترخيص هذه التكنولوجيا (و لأننا لا نستخدم BloomLibrary.org لغرض جمع الأموال، فليس هناك ما يدعونا إلى القلق). للحصول على مزيد من المعلومات، يمكنك الاطلاع على 
        a(href='http://www.mp3licensing.com/') mp3licensing.com
