doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='bloomEPUBPreview.css')
  body
    #missingLame
      h3 Please Install LAME
      p
        | This book has audio recordings. Bloom can use these to make a "Talking Book" e-book. However, Bloom needs a program called "LAME for Audacity" in order to create the mp3 files that the book will use. Setting it up is easy. First download and run 
        a(href='http://lame.buanzo.org/#lamewindl') 'Lame_v3.99 for Windows.exe'
        | . Next, restart Bloom.
      p
        | If you prefer to go ahead and publish your book without audio, click 
        a#proceedWithoutAudio(href='javascript:void(0)') here
        | .
      h3 Legal Considerations
      p
        | Our understanding is that in a few countries (perhaps only in the USA, and then only until 2017), there are patents covering the creation of mp3's. In correspondence with the patent holder's representative, we were told:
        blockquote
          | You may need a license if there is any type of subscription, content, service, per unit or itemized revenue for the distribution of mp3, or if there is any advertising present during the presentation of any mp3 content, either on a webpage with any links to your Talking Books, or as part of a messaging system, and this total mp3-associated mp3 revenue exceeds USD $100,000 per year.
        |       Therefore, if you are just making Talking Books and giving them away, then only the distributor (e.g. BloomLibrary.org) needs to be concerned about licensing this technology (and since we don't make money from BloomLibrary.org, we don't have to worry, either.) For more information, see 
        a(href='http://www.mp3licensing.com/') mp3licensing.com
