doctype html
html
	include ../templates/bloom-foundation-mixins.pug
	head
		meta(charset="UTF-8")
		link(rel='stylesheet', type='text/css', href='bloomEPUBPreview.css')
	body
		#missingLame
			h3 Silakan pasang LAME
			p
				| Buku ini memiliki rekaman-rekaman audio. Bloom dapat menggunakan rekaman tersebut untuk membuat buku elektronik "Buku Berbicara" Namun, Bloom memerlukan suatu program yang disebut "LAME untuk Keberanian" supaya bisa membuat berkas MP3 yang akan dipakai buku tersebut. Pemasangannya mudah. Pertama unduh dan jalankan
				+link('http://lame.buanzo.org/#lamewindl') 'Lame_v3.99 for Windows.exe'
				| . Berikutnya, mulai ulang Bloom.
			p
				| Jika Anda ingin melanjutkan dan menerbitkan buku Anda tanpa audio, klik
				+link('javascript:void(0)')#proceedWithoutAudio sini
				| .
