doctype html
html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', type='text/css', href='bloomEPUBPreview.css')
  body
    #missingLame
      h3 অনুগ্রহ করে LAME ইনস্টল করুন 
      p 
        | এই বইতে অডিও রেকর্ডিং রয়েছে। ব্লুম এটি ব্যবহার করে "কথা বলার" ই-বুক তৈরী করতে পারে। যাইহোক, MP3 ফাইলগুলো তৈরী করার জন্য ব্লুমের "LAME for Audacity" প্রোগ্রামটির দরকার যা বইটি ব্যবহার করবে। এটা বিন্যাস করা সহজ। প্রথম ডাউনলোড করে চালু/ রান করা 
        a(href='http://lame.buanzo.org/#lamewindl') 'Lame_v3.99 for Windows.exe'
        | । পরবর্তীতে, পুনরায় ব্লুম চালু করুন।
      p 
        | যদি আপনি চালিয়ে যেতে চান এবং অডিও ছাড়া আপনার বই প্রকাশ করতে চান, 
        a#proceedWithoutAudio(href='javascript:void(0)') এখানে চাপুন
        | ।
      h3 আইনগত বিবেচ্য বিষয়
      p 
        | আমাদের জানামতে, মাত্র কয়েকটি দেশের (সম্ভবত শুধুমাত্র যুক্তরাষ্ট্রে, এবং তারপর শুধুমাত্র 2017 পর্যন্ত) MP3 তৈরীর বিশেষ অধিকার রয়েছে। বিশেষ অধিকার ধারক প্রতিনিধির সাথে সংগতি রেখে, আমাদের বলা হয়েছে:
        blockquote
          | MP3 এর বিতরণ সাবস্ক্রিপশন, বিষয়বস্তু বিষয়ক কাজ, কোনো ধরনের সেবা, ইউনিট প্রতি বা আইটেম অনুযায়ী আপনার একটি লাইসেন্স প্রয়োজন হতে পারে, যদি সেখানে MP3 টি বিতরণের জন্য সাবস্ক্রিপশন, বিষয়বস্তু বিষয়ক কাজ, কোনো ধরনের সেবা, প্রতি ইউনিট বা আইটেম অনুযায়ী রাজস্ব অথবা যদি যেকোন MP3 বিষয়বস্তু উপস্থাপনের সময় যদি সেখানে কোন বিজ্ঞাপন উপস্থিত হয়, হতে পারে সেটি ওয়েবপেজের উপর আপনার কথা বলা বইয়ের যে কোন একটি লিঙ্ক বা একটি বার্তা প্রক্রিয়ার কোন অংশ, এবং এই মোট MP3 সংক্রান্ত MP3  রাজস্বের মাত্রা প্রতি বছর $ 100,000 ডলার ছাড়িয়ে যেতে পারে। 
        | সুতরাং, যদি আপনি শুধু কথা বলার বই তৈরী করেন এবং ছেড়ে দেন তাহলে তারপর শুধুমাত্র এর পরিবেশক (উদাঃ BloomLibrary.org)- কে এই প্রযুক্তির লাইসেন্সিং নিয়ে অবহিত করতে হবে(এবং যেহেতু আমরা BloomLibrary.org থেকে  টাকা আয় করছি না, তাহলে আমাদের সে সম্পর্কে চিন্তা করতে হবে না)। আরো তথ্যের জন্য, দেখুন 
        a(href='http://www.mp3licensing.com/') mp3licensing.com
