doctype html
html
  head
    meta(charset="UTF-8")
    link(rel='stylesheet', type='text/css', href='bloomEPUBPreview.css')
  body
    #missingLame
      h3 LAME অনুগ্রহ করে ইনস্টল করুন 
      p 
        | এই বই অডিও রেকর্ডিং হয়েছে। ব্লুম একটি "টকিং বুক" ই-বুক করতে ব্যবহার করতে পারেন। যাইহোক, ব্লুম একটি প্রোগ্রাম যাতে বই ব্যবহার করবে MP3 টি ফাইল তৈরী করার জন্য "LAME for Audacity" বলা দরকার। এটা সেট আপ সহজ। প্রথম ডাউনলোড এবং রান 
        a(href='http://lame.buanzo.org/#lamewindl') 'Lame_v3.99 for Windows.exe'
        | । পরবর্তী, ব্লুম পুনরায় আরম্ভ করুন।
      p 
        | আপনি এগিয়ে যান এবং অডিও ছাড়া আপনার বই প্রকাশ করতে চান, ক্লিক করুন 
        a#proceedWithoutAudio(href='javascript:void(0)') এখানে
        | ।
      h3 আইনগত বিবেচ্য বিষয়
      p 
        | আমাদের বোঝার যে কয়েকটি দেশ (সম্ভবত শুধুমাত্র যুক্তরাষ্ট্রে, এবং তারপর শুধুমাত্র 2017 পর্যন্ত) মধ্যে, সেখানে MP3 টি এর সৃষ্টির আচ্ছাদন পেটেন্ট হয়। পেটেন্ট ধারক প্রতিনিধির সাথে সাদৃশ্য ইন, আমরা বলা হয়েছিল:
        blockquote
          | আপনি যদি সেখানে সাবস্ক্রিপশন, বিষয়বস্তু, সেবার কোনো ধরনের, প্রতি ইউনিট বা আইটেম অনুযায়ী রাজস্ব MP3 টি বিতরণের জন্য একটি লাইসেন্স প্রয়োজন, অথবা হতে পারে যদি সেখানে কোন MP3 টি বিষয়বস্তু উপস্থাপনের সময় কোন বিজ্ঞাপন উপস্থিত হয় যে কোন লিঙ্ক সঙ্গে একটি ওয়েবপেজ উপর আপনার টকিং বই, বা একটি মেসেজিং সিস্টেমের অংশ, এবং এই মোট MP3 টি এসোসিয়েটেড MP3 টি রাজস্ব হিসাবে ডলার প্রতি বছর $ 100,000 ছাড়িয়ে গেছে। 
        | সুতরাং, যদি আপনি শুধু টকিং বই তৈরীর এবং তাদের দূরে প্রদান, তারপর শুধুমাত্র পরিবেশক (উদাঃ BloomLibrary.org) এই প্রযুক্তি লাইসেন্সিং (এবং যেহেতু আমরা টাকা BloomLibrary.org থেকে আসছে না, আমরা না সম্পর্কে উদ্বিগ্ন হতে হবে হয় চিন্তা করতে হয়) আছে। আরো তথ্যের জন্য, দেখুন 
        a(href='http://www.mp3licensing.com/') mp3licensing.com
