doctype html
html
	include ../templates/bloom-foundation-mixins.pug
	head
		meta(charset="UTF-8")
		link(rel='stylesheet', type='text/css', href='bloomEPUBPreview.css')
	body
		#missingLame
			h3(i18n="missing.lame.please.install") Por favor, instale LAME
			p(i18n="missing.lame.bloom.needs.lame")
				| Este libro tiene grabaciones de audio. Bloom puede utilizarlos para hacer un "Audiolibro" electrónico. Sin embargo, Bloom require de un programa llamado "LAME para Audacity" para crear los archivos mp3 que utilizará el libro. Configurarlo es fácil. Primero tiene que descargar y ejecutar 
				+link('http://lame.buanzo.org/#lamewindl') "Lame_v3.99 para Windows.exe"
				| . Después, reinicie Bloom.
			p(i18n="missing.lame.audio.optional")
				| Si usted prefiere publicar su libro sin audio, haga click 
				+link('javascript:void(0)')#proceedWithoutAudio aquí
				| .
