doctype html
html
	head
		meta(charset='UTF-8')
		link(rel='stylesheet', type='text/css', href='bloomEPUBPreview.css')
	body
		#missingLame
			h3 Tafadhali weka LAME
			p 
				| Kitabu hiki kina sauti zilizorekodiwa. Bloom inaweza kutumia hizi kutengeneza e-book ya "Kitabu kilicho na sauti". Hata hivyo, Bloom huhitaji programu iitwayo "LAME for Audacity" ili kutengeneza faili za MP3 zitakazotumiwa na kitabu. Ni rahisi kuiweka. Kwanza ipakue kisha uifungue
				a(href='http://lame.buanzo.org/#lamewindl') 'Lame_v3.99 for Windows.exe'
				| . Kisha, fungua upya Bloom.
			p 
				| Iwapo unapendelea kuendelea na kuchapisha kitabu chako bila sauti, bofya 
				a#proceedWithoutAudio(href='javascript:void(0)') hapa
				| . 
			h3 Sheria za Kuzingatiwa
			p 
				| Kuelewa kwetu ni kuwa, katika nchi chache (labda katika Marekani, na kisha tu hadi 2017), kuna amri zinazoshugulikia utengenezaji wa MP3. Kwa kuwasiliana na muwakilishi wa wanasheria, tulijulishwa:
				blockquote
					| Unaweza ukahitaji leseni iwapo kuna aina yoyote ya utiaji sahihi, habari, huduma, kwa kila kitengo au mapato kutoka kwa kila kitu kutokana na usambazaji wa MP3, au iwapo kuna matangazo yoyote ya kibiashara yaliyoko wakati wa kupeana kwa habari yoyote ya MP3, kwenye ukurasa wa kimtandao kukiwa na linki yoyote kwa vitabu vyako vilivyo na sauti, au kama sehemu ya mfumo wa ujumbe, na MP3 hii yote inayohusishwa na mapato inafika kiwango cha zaidi ya Dola $100,000 kila mwaka.
				| Kwa hivyo iwapo unatengeneza tu vitabu vilivyo na Sauti na kuwapatia, basi msambazaji (kama vile BloomLibrary.org) anapaswa kushugulika kuhusu kupata leseni ya teknolojia hii (na kwa kuwa hatupati pesa kutoka kwa BloomLibrary.org, hatupaswi kuwa na wasiwasi). Kwa habari zaidi, tazama
				a(href='http://www.mp3licensing.com/') mp3licensing.com
