doctype html
html
	head
		link(rel='stylesheet', type='text/css', href='bloomEPUBPreview.css')
	body
		#missingLame
		h3 Silakan pasang LAME
		p
			| Buku ini memiliki rekaman-rekaman audio. Bloom dapat menggunakan rekaman tersebut untuk membuat buku elektronik "Buku Berbicara" Namun, Bloom memerlukan suatu program yang disebut "LAME untuk Keberanian" supaya bisa membuat berkas MP3 yang akan dipakai buku tersebut. Pemasangannya mudah. Pertama unduh dan jalankan
			a(href='http://lame.buanzo.org/#lamewindl') 'Lame_v3.99 for Windows.exe'
			| . Berikutnya, mulai ulang Bloom.
		p
			| Jika Anda ingin melanjutkan dan menerbitkan buku Anda tanpa audio, klik
			a#proceedWithoutAudio(href='javascript:void(0)') sini
			|
		h3 Pertimbangan hukum
		p
			| Pemahaman kami adalah bahwa di beberapa negara (mungkin hanya di Amerika Serikat, dan kemudian hanya sampai 2017), ada paten yang mencakup hasil karya MP3. Dalam korespondensi dengan perwakilan pemegang paten, kami diberitahu:
			blockquote
				| Anda mungkin perlu suatu lisensi jika ada jenis langganan, konten, layanan, per unit atau pendapatan per satuan untuk distribusi MP3, atau jika ada iklan selama pemunculan dari setiap konten MP3, baik pada halaman web dengan tautan apa saja ke Buku Berbicara Anda, atau sebagai bagian dari sistem pesan, dan total pendapatan MP3 yang terkait MP3 ini melebihi USD $ 100.000 per tahun.
			|       Oleh karena itu, jika Anda hanya membuat Buku Berbicara dan menyerahkannya, maka hanya distributor (misalnya BloomLibrary.org) yang perlu khawatir tentang proses lisensi teknologi ini (dan karena kita tidak memperoleh keuntungan dari BloomLibrary.org, maka kita juga tidak perlu khawatir). Untuk informasi lebih lanjut, lihat
			a(href='http://www.mp3licensing.com/') mp3licensing.com
