doctype html
html(dir='rtl')
  head
    meta(charset="UTF-8")
    link(rel='stylesheet', type='text/css', href='bloomEPUBPreview.css')
  body
    #missingLame
      h3 الرجاء تثبيت LAME
      p
        | يحتوي هذا الكتاب على تسجيلات صوتية. بإمكان Bloom استخدام هذه التسجيلات لإعداد كتاب إلكتروني "ناطق". ولكن سيحتاج Bloom إلى توفر برنامج اسمه "LAME for Audacity" لإنشاء ملفات MP3 يستخدمها الكتاب. يمكنك إعداد ذلك بسهولة. قم أولاً بتنزيله وتشغيله
        a(href='http://lame.buanzo.org/#lamewindl') 'Lame_v3.99 for Windows.exe'
        | . بعد ذلك أعد تشغيله Bloom
      p
        | إذا كنت تفضل المتابعة ونشر كتابك بدون صوت، فانقر
        a#proceedWithoutAudio(href='javascript:void(0)') هنا
        | .
