doctype html
html
	head
		meta(charset='UTF-8')
		link(rel='stylesheet', type='text/css', href='bloomEPUBPreview.css')
	body
		#missingLame
			h3 Tafadhali weka LAME
			p
				| Kitabu hiki kina sauti zilizorekodiwa. Bloom inaweza kutumia hizi kutengeneza e-book ya "Kitabu kilicho na sauti". Hata hivyo, Bloom huhitaji programu iitwayo "LAME for Audacity" ili kutengeneza faili za MP3 zitakazotumiwa na kitabu. Ni rahisi kuiweka. Kwanza ipakue kisha uifungue
				a(href='http://lame.buanzo.org/#lamewindl') 'Lame_v3.99 for Windows.exe'
				| . Kisha, fungua upya Bloom.
			p
				| Iwapo unapendelea kuendelea na kuchapisha kitabu chako bila sauti, bofya
				a#proceedWithoutAudio(href='javascript:void(0)') hapa
				| .
