doctype html
html
	head
		link(rel='stylesheet', type='text/css', href='bloomEPUBPreview.css')
	body
		#missingLame
			h3 Veuillez installer LAME
			p
				| Ce livre a des enregistrements audio. Bloom peut utiliser ces pour faire un "livre audio" e-book. Toutefois, Bloom a besoin d'un programme appelé "LAME pour Audacity" afin de créer les fichiers MP3 que le livre utilisera. La mise en place est facile. Premier téléchargement et exécution
				a(href='http://lame.buanzo.org/#lamewindl') 'Lame_v3.99 for Windows.exe'
				| . Ensuite, redémarrez Bloom.
			p
				| Si vous préférez aller de l'avant et publier votre livre sans audio, cliquez sur
				a#proceedWithoutAudio(href='javascript:void(0)') ici

			h3 Considérations juridiques
			p
				| Notre compréhension est que dans quelques pays (peut-être seulement aux Etats-Unis, puis seulement jusqu'en 2017), il ya des brevets couvrant la création de MP3. En correspondance avec le représentant du titulaire du brevet, on nous a dit:
				blockquote
					| Vous avez peut-être besoin d'une licence pour tout type d'abonnement, de contenu, de service, par unité ou de revenu détaillé pour la distribution de MP3, ou s'il ya de la publicité présentée pendant la présentation d'un contenu MP3, sur une page Web avec des liens À vos livres audio, ou dans le cadre d'un système de messagerie, et ce total de MP3-MP3 associée chiffre d'affaires dépasse US $ 100.000 par an.
				| Par conséquent, si vous venez de faire des livres audio et de les donner, alors seul le distributeur (par exemple BloomLibrary.org) doit se préoccuper de l'octroi de licences de cette technologie (et puisque nous ne faisons pas d'argent à partir de BloomLibrary.org, nous ne Ont à s'inquiéter, soit). Pour plus d'informations, voir
				a(href='http://www.mp3licensing.com/') mp3licensing.com
