doctype html
html
	include ../templates/bloom-foundation-mixins.pug
	head
		meta(charset="UTF-8")
		link(rel='stylesheet', type='text/css', href='bloomEPUBPreview.css')
	body
		#missingLame
			h3 Please Install LAME
			p
				| This book has audio recordings. Bloom can use these to make a "Talking Book" e-book. However, Bloom needs a program called "LAME for Audacity" in order to create the mp3 files that the book will use. Setting it up is easy. First download and run
				+link('http://lame.buanzo.org/#lamewindl') 'Lame_v3.99 for Windows.exe'
				| . Next, restart Bloom.
			p
				| If you prefer to go ahead and publish your book without audio, click
				+link('javascript:void(0)')#proceedWithoutAudio here
				| .
