doctype html
html
	include ../templates/bloom-foundation-mixins.pug
	head
		meta(charset="UTF-8")
		link(rel='stylesheet', type='text/css', href='bloomEPUBPreview.css')
	body
		#missingLame
			h3(i18n="missing.lame.please.install") 请安装LAME
			p(i18n="missing.lame.bloom.needs.lame")
				| 这本书有录音。 Bloom可以用它们制作“有声”电子书。 但是Bloom需要一个名为“LAME for Audacity”的程序才能创建本书要用的MP3文件。 设置该程序很容易。 首先下载并运行
				+link('http://lame.buanzo.org/#lamewindl') 'Lame_v3.99 for Windows.exe'
				| 。然后重启Bloom。
			p(i18n="missing.lame.audio.optional")
				| 如果您想直接发布不含音频的书，请点
				+link('javascript:void(0)')#proceedWithoutAudio 这里
				| 。
