<?xml version="1.0" encoding="utf-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="content-type" />
	<title>Test Template</title>
	<link rel="stylesheet" href="A4LandscapeBooklet.css" type="text/css" />
	<link media='screen' rel="stylesheet" href="../xxeditMode.css" type="text/css" />
	<link media='print' rel="stylesheet" href="../previewMode.css" type="text/css" />
</head>
<body>
	<div  class="page cover" id='cover'>
		<textarea id='coverPageTitle' class="title">Edolo Ado Beba Agedu</textarea>
		<img id='coverPageImage' alt="missing" class="picture" src="coverPicture.png" />
		<input id='coverPageLanguageName' class="LanguageName" value='Edolo Language' />
		<input id='coverPageBookLabel' class="BookLabel" value='Primer 2' />
	</div>
	<div class="page titlePage" id='titlePage'>
		<textarea id='titlePageTitle' class="title">Edolo Title Again</textarea>
		<input id='titlePageBookLabel' class="bookLabel" value='Primer 2' />
		<textarea id='titlePageCredits' class="credits">Written by:
Jan  Debbie
Suzanne Hatton</textarea>
		<textarea id='titlePagePrintingHistory' class="printingHistory">1st Printing, January 1999
2nd Printing, March 2000
3rd Printing, November 2000
4th Printing (Revision), March 2005
500 Copies</textarea>
		<input id='titlePageLanguageName' class="languageName" value='Edolo Language' />
	</div>
	<div class="page imageOnTop" id='page1'>
		<h1 align='center' class='fred'>
			<img id='img1' alt="missing" class="picture" src="placeHolder.png" /></h1>
		<textarea id='text1' class="text">lorem ipsum dolor sit amet, consectetuer adipiscg elit. Ut nec lacus a neque pulvinar pulvinar. A100liquam sagittis, purus in fermentum ornare, orci igula vulputate sapien, a rutrum nisl mi eu mi. Suspendisse potenti. Aliquam eros. Nullam eros neque, cursus eu, commodo in, vulputate nec, ipsum. Duis et est a ante convallis consequat. Sed et nisl. 350Praesent vulputate erat quis magna. </textarea>
	</div>
	<div class="page imageOnTop" id='Div1'>
		<h1 align='center' class='fred'>
			<img id='img2' alt="missing" class="picture" src="placeHolder.png" /></h1>
		<textarea id='text2' class="text">33333333333333333333333333</textarea>
	</div>
	<div class="page imageOnTop" id='Div2'>
		<h1 align='center' class='fred'>
			<img id='img3' alt="missing" class="picture" src="placeHolder.png" /></h1>
		<textarea id='text3' class="text">444444444444444444444444444</textarea>
	</div>
</body>
</html>
