@import "../bloomUI.less";
@greyBackground: #ebebeb;
@subitemIndent: 27px;
body {
    margin: 0;
}
div.subscriptionSettings {
    font-family: @UIFontStack;
    font-size: @ui-font-size;

    #enterpriseMain,
    #communityMain {
        transition: max-height 0.6s;
        overflow-y: hidden;
        &.closed {
            max-height: 0; // this way of hiding it allows animation to close it
            padding: 0;
        }
    }
    #enterpriseMain {
        max-height: 70px;
        &.hasSummary {
            max-height: 200px;
        }
    }
    #communityMain {
        max-height: 106px;
    }

    // These elements resolve to spans or links, but we want each to lay out as a block.
    .mainHeading,
    .invalidBrandingLink,
    .legacyBrandingName,
    .learnMoreLink {
        margin-bottom: 5px;
        display: block;
    }
    .mainButton {
        margin-top: 10px;
    }
    .learnMoreLink {
        position: absolute;
        right: 20px;
    }
    .legacyBrandingName {
        background-color: @bloom-yellow;
        border-radius: 12px;
        padding: 0 10px;
        margin-left: @subitemIndent;
        // I don't understand why, but putting any vertical padding on the parent results in far too much
        p {
            padding-top: 3px;
            padding-bottom: 5px;
        }
    }
    .hidden {
        display: none;
    }
    .radioLabel {
        display: inline-block;
        margin-left: 5px;
    }
    .radioInput {
        vertical-align: top;
        margin-top: 4px;
    }
    .bloomEnterpriseStatus {
        font-weight: bold;
        margin-bottom: 5px;
    }
    .whatsThisLink,
    .communityRadio,
    .subscriptionCodeLabel,
    .subscriptionCodeInput {
        display: inline-block;
    }
    .whatsThisLink {
        margin-left: 20px;
    }
    .subscriptionCodeInput {
        width: 300px;
        margin-left: 5px;
        padding-right: 20px; // clear of icon
    }

    .error:not(.hidden) {
        color: red;
        display: block;
    }
    .evaluationCode {
        position: relative;
        left: -18px;
    }
    .fa-check {
        color: lime;
    }
    .incomplete:not(.hidden) {
        display: block;
    }
    .fa-question,
    .incomplete {
        color: @bloom-blue;
    }
    .fa-exclamation-circle {
        color: red;
    }
    .enterpriseSubitems {
        background-color: #2799a81c;
        padding: 3px 10px;
        margin-top: 5px;
        margin-left: @subitemIndent;
    }
    .communitySummary {
        background-color: @greyBackground;
        margin-left: @subitemIndent;
        padding: 3px;
    }
    .editButton {
        color: #020202a6;
        display: inline-block;
        position: relative;
        top: 8px;
        span {
            display: block;
        }
        .editIcon {
            font-size: 12pt;
        }
        &.pasteButton {
            margin-left: 10px;
        }
        .editButtonAlign {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .editButtonLabel {
            line-height: 12px;
            font-size: 7pt;
        }
    }

    .summary {
        margin-top: 5px;
        height: 106px;
        overflow-y: hidden;
        // These settings are not used directly in the tsx, they are intended to be the class
        // of a single top-level div in each summary.htm file. In the horizontal layout,
        // there should be one child div, with whatever should appear beside the picture.
        .horizontal {
            display: flex;
            box-sizing: border-box;
            div {
                margin-right: 20px;
                // allowing both to grow tends to distribute any extra white space,
                // rather than putting the image right next to the text (default) or against
                // the right border (as would making the parent justify-content:space-between).
                // Unlike justify-content:space-around, this won't put any space before the
                // div, so the text stays aligned with the other two items in the column
                // as desired.
                flex-grow: 1;
            }
            img {
                max-height: 100px;
                max-width: 250px;
                flex-grow: 1;
                object-fit: contain;
            }
        }
        .vertical {
            display: flex;
            height: 100%;
            box-sizing: border-box;
            flex-direction: column;
            justify-content: space-around;
            img {
                flex: 1 1 0;
                object-fit: contain;
                margin-top: 3px;
                min-height: 0;
            }
        }
    }
}
