// todo: move all these files to content after fixing the existing zebra branding problem in 5.2
@import "../../../content/branding/branding-base.less";
[data-book="cover-branding-bottom-html"] {
    .coverBottomBookTopic {
        display: none;
    }
    .coverBottomLangName {
        text-align: center;
    }
    img {
        margin-top: 0.5cm;
        width: 100%;
        height: 1.5cm;
    }
}
[data-book="title-page-branding-bottom-html"] img {
    margin-bottom: 1em;
}
[data-book="credits-page-branding-top-html"] img {
    width: 100%;
    height: 2cm;
}
[data-book="outside-back-cover-branding-top-html"] {
    img {
        width: 100%;
        height: 3cm;
        margin-bottom: 2em;
    }
    text-align: center;
    p {
        margin-bottom: 1em;
    }
}
img.bloom-badge {
    width: 100%;
    height: 1.5cm;
}

[data-xmatter-page="credits"] {
    * {
        margin-bottom: 1em;
        text-align: justify;
    }
}
