// styles controlling the Book Preview Panel display

#preview {
    height: 100vh; // overridden when there is a team collection panel
    width: 100vw;
    overflow-y: hidden; // inner iframe shows scrollbars as needed
    overflow-x: hidden;
}
