// styles controlling the Book Preview Panel display

#preview-and-status-panel {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    #preview {
        // We want the preview to take up the available space, limiting the Team Collection panel
        // (if present) to what it needs.
        flex: 4;
        width: 100vw;
        overflow-y: hidden; // inner iframe shows scrollbars as needed
        overflow-x: hidden;
    }
}
