// styles controlling the Book Preview Panel display

#preview {
    // used when there's no team collection
    height: 99vh;
    width: 99vw;
    overflow-y: hidden; // inner iframe shows scrollbars as needed
    overflow-x: hidden;
}
