doctype html
include ../../../bloom-with-jade-mixins

html
	head
		+bloom-standard-metadata()
		meta(name='defaultNameForDerivedBooks', content='My Book')
		meta(name='SuitableForMakingShells', content='yes')
		meta(name='bloomBookId', content='056B6F11-4A6C-4942-B2BC-8861E62B03B3')
		meta(name='pageTemplateSource', content='Basic Book')
		title 'Basic Book'
		+cssLink('basePage')
		+cssLink('Basic Book')
		+cssLink('previewMode')
	body
		div#bloomDataDiv
			+bloom-title('en', 'Basic Book')
			+bloom-title('tpi', 'Nupela Buk')
			+bloom-title('id', 'Buku Dasar')
		+bloom-template-combined('5dcd48df-e9ab-4a07-afd4-6a24d0398382', 'Basic Text & Image')(class='imageOnTop A5Portrait', title='foo')
			//- items marked with 'bloom-leadingElement' will be on the left page of a side-by-side layout
			+shellImage(class='bloom-leadingElement')
			//- items marked with 'bloom-trailingElement' will be on the right page of a side-by-side layout
			+bloom-translation-group(class='bloom-trailingElement default-style')
		+bloom-template-combined('5dcd48df-e9ab-4a07-afd4-6a24d0398383', 'Image in Middle')(class='imageInMiddle A5Portrait')
			+bloom-translation-group(class='top bloom-trailingElement')
			+shellImage(class='bloom-leadingElement')
			+bloom-translation-group(class='bottom bloom-trailingElement default-style')
		+bloom-template-combined('5dcd48df-e9ab-4a07-afd4-6a24d0398384', 'Image On Bottom')(class='imageOnBottom A5Portrait')
			+bloom-translation-group(class='bloom-trailingElement default-style')
			+shellImage(class='bloom-leadingElement')
		+bloom-template-page('5dcd48df-e9ab-4a07-afd4-6a24d0398385', 'Just an Image')(class='imageWholePage A5Portrait')
			+shellImage
		+bloom-template-page('d31c38d8-c1cb-4eb9-951b-d2840f6a8bdb', 'Just Text')(class='textWholePage A5Portrait')
			+bloom-translation-group(class='bloom-centerVertically default-style')
		+bloom-template-page('FD115DFF-0415-4444-8E76-3D2A18DBBD27', 'Picture & Word')(class='pictureAndWordPage A5Portrait')
			+shellImage(class='bloom-leadingElement')
			+bloom-translation-group(class='bloom-trailingElement')