include ../../../jade/bloom-foundation-mixins

//- items marked with 'bloom-leadingElement' will be on the left page of a side-by-side layout
mixin image-leading
	+image(class='bloom-leadingElement', attributes)

//- items marked with 'bloom-trailingElement' will be on the right page of a side-by-side layout
mixin field-trailing
	//- Is default-style needed? Yes, but it needs to be normal-style. (BL-26)
	+field(class='bloom-trailingElement normal-style', attributes)

doctype html
html
	head
		+metadata-standard()
		meta(name='defaultNameForDerivedBooks', content='My Book')
		//- TODO remove this when we move to json metadata
		meta(name='SuitableForMakingShells', content='yes')

		meta(name='bloomBookId', content='056B6F11-4A6C-4942-B2BC-8861E62B03B3')

		//- Eventually, we'll remove Bloom's need for this.
		meta(name='pageTemplateSource', content='Basic Book')
		title 'Basic Book'
		+stylesheets('Basic Book.css')
		+stylesheets('../../../../src/BloomBrowserUI/bookEdit/css/editMode.css') <!-- REMOVE THIS-->
		//+stylesheets('../../../../src/BloomBrowserUI/lib/jquery-ui.css')
		script(src="../../../../src/BloomBrowserUI/lib/jquery-1.10.1.js")
		script(src="../../../../src/BloomBrowserUI/lib/jquery-ui-1.10.3.custom.min.js")
		script(src="../../../../src/BloomBrowserUI/bookEdit/js/splitter.js")
		script(src="../../../../src/BloomBrowserUI/bookEdit/js/bloomEditing.js")
	body
		+dataDiv
			+bookVariable-title('en', 'Basic Book')
			+bookVariable-title('tpi', 'Nupela Buk')
			+bookVariable-title('id', 'Buku Dasar')

		//- NB: HTML 4 ids were not supposed to start with numbers. But for html 5, they
		//- can. Unfortunately webstorm doesn't know that.

		+page-splittable-choice('Basic Text & Picture').imageOnTop#5dcd48df-e9ab-4a07-afd4-6a24d0398382
			+image-leading
			+field-trailing

		//+page-splittable-choice('Basic Text & Picture2').imageOnTop2#5dcd48df-e9ab-4a07-afd4-6a24d0398392
		//	.container
		//		//P.top Ubi est bi-color gemna?Eheu, clinias!Cedriums manducare!Nunquam attrahendam buxum.
		//		div.heightAdjustable
		//			+image-leading
		//		div.heightAdjustable
		//			p !Nocere interdum ducunt ad varius nutrix.A falsis, amor secundus mens.Pol, flavum homo!   Nunquam fallere domus.Mirabilis rumors ducunt ad sp
		//		div.heightAdjustable
		//			p. !Nocere interdum ducunt ad varius nutrix.A falsis, amor secundus mens.Pol, flavum homo!   Nunquam fallere domus.Mirabilis rumors ducunt ad sp

	+page-splittable-choice('Picture in Middle').imageInMiddle#5dcd48df-e9ab-4a07-afd4-6a24d0398383
			+field-trailing
			+image-leading
			+field-trailing

		+page-splittable-choice('Picture On Bottom').imageOnBottom#5dcd48df-e9ab-4a07-afd4-6a24d0398384
			+field-trailing
			+image-leading

		+page-choice('Just a Picture').imageWholePage#5dcd48df-e9ab-4a07-afd4-6a24d0398385
			+image

		+page-choice('Just Text').textWholePage#d31c38d8-c1cb-4eb9-951b-d2840f6a8bdb
			+field-trailing.bloom-centerVertically

		+page-choice('Picture & Word').pictureAndWordPage#FD115DFF-0415-4444-8E76-3D2A18DBBD27
			+image-leading
			+field-trailing