doctype html
//- Converted to Jade by Gordon on 11/20/13.
include ../../../bloom-with-jade-mixins

html
	head
		+metadata('My Book', 'yes', '056B6F11-4A6C-4942-B2BC-8861E62B03B3', 'Basic Book')
		+cssLink('basePage')
		+cssLink('Basic Book')
		+cssLink('previewMode')
	body
		div#bloomDataDiv
			+dataBookTitle('en', 'Basic Book')
			+dataBookTitle('tpi', 'Nupela Buk')
			+dataBookTitle('id', 'Buku Dasar')
		+templatePage('5dcd48df-e9ab-4a07-afd4-6a24d0398382', 'Basic Text & Image')(class='imageOnTop A5Portrait', title='foo')
			+imagePlaceholder
			.bloom-translationGroup.bloom-trailingElement.default-style
				.bloom-editable
		+templatePage('5dcd48df-e9ab-4a07-afd4-6a24d0398383', 'Image in Middle')(class='imageInMiddle A5Portrait')
			.top.bloom-translationGroup.bloom-trailingElement
				.bloom-editable
			+imagePlaceholder
			.bloom-translationGroup.bloom-trailingElement.bottom.default-style
				.bloom-editable
		+templatePage('5dcd48df-e9ab-4a07-afd4-6a24d0398384', 'Image On Bottom')(class='imageOnBottom A5Portrait')
			.bloom-translationGroup.bloom-trailingElement.default-style
				.bloom-editable
			+imagePlaceholder
		+numberedBloomPage('5dcd48df-e9ab-4a07-afd4-6a24d0398385', 'Just an Image')(class='imageWholePage A5Portrait')
			+imagePlaceholder
		+numberedBloomPage('d31c38d8-c1cb-4eb9-951b-d2840f6a8bdb', 'Just Text')(class='textWholePage A5Portrait')
			.bloom-translationGroup.bloom-centerVertically.default-style
				.bloom-editable
		+numberedBloomPage('FD115DFF-0415-4444-8E76-3D2A18DBBD27', 'Picture & Word')(class='pictureAndWordPage A5Portrait')
			+imagePlaceholder
			.bloom-translationGroup.bloom-trailingElement
				.bloom-editable