include ../../../jade/bloom-foundation-mixins


mixin imagex
	+image.bloom-leadingElement(attributes)

mixin fieldx
	+field.bloom-trailingElement.normal-style(attributes)

mixin upper(percent)
	- requireOneArgument('percent', arguments);
	.split-pane-component.position-top(style='bottom: '+percent+'%')
		.split-pane-component-inner
			block
	.split-pane-divider.horizontal-divider(style='bottom: ' + percent + '%')

//NB: this split percent has to be the same as that used for upper!!!!!!
mixin lower(percent)
	- requireOneArgument('percent', arguments);
	.split-pane-component.position-bottom(style='height: ' + percent + '%')
		.split-pane-component-inner
			block

mixin stack
	.split-pane.horizontal-percent
		block
		.split-pane-resize-shim

doctype html
html
	head
		+metadata-standard
		//- This "Book" name is used for saving the file, until the user enters a title
		meta(name='defaultNameForDerivedBooks', content='Book')
		meta(name='bloomBookId', content='056B6F11-4A6C-4942-B2BC-8861E62B03B3')
		//- Eventually, we'll remove Bloom's need for this.
		meta(name='pageTemplateSource', content='Basic Book')
		title 'Basic Book'
		+stylesheets('Basic Book.css')
		style(type="text/css" title="userModifiedStyles")
			.BigWords-style { font-size: 45pt !important; text-align: center !important; }
	body
		+dataDiv
			+bookVariable-title('en', 'Basic Book')
			+bookVariable('styleNumberSequence', '*', '0')

		//+page-splittable-choice('Basic Text & Picture').imageOnTop#5dcd48df-e9ab-4a07-afd4-6a24d0398382
		//	+image-leading
		//	+field-trailing

		+page-splittable-choice-custom('Basic Text & Picture')#adcd48df-e9ab-4a07-afd4-6a24d0398382
			+stack
				+upper(50)
					+imagex
				+lower(50)
					+fieldx


		//+page-splittable-choice('Picture in Middle').imageInMiddle#5dcd48df-e9ab-4a07-afd4-6a24d0398383
		//	+field-trailing
		//	+image-leading
		//	+field-trailing

		+page-splittable-choice-custom('Picture in Middle')#adcd48df-e9ab-4a07-afd4-6a24d0398383
			+stack
				+upper(76)
					+fieldx
				+lower(76)
					+stack
						+upper(30)
							+imagex
						+lower(30)
							+field


		//+page-splittable-choice('Picture in Bottom').imageOnBottom#5dcd48df-e9ab-4a07-afd4-6a24d0398384
		//	+field-trailing
		//	+image-leading

		+page-splittable-choice-custom('Picture on Bottom')#adcd48df-e9ab-4a07-afd4-6a24d0398384
			+stack
				+upper(50)
					+fieldx
				+lower(50)
					+image

		//+page-choice('Just a Picture').imageWholePage#5dcd48df-e9ab-4a07-afd4-6a24d0398385
		//	+image
		//

		+page-choice('Just a Picture').customPage#adcd48df-e9ab-4a07-afd4-6a24d0398385
				.split-pane-component-inner
					+image

		//+page-choice('Just Text').textWholePage#d31c38d8-c1cb-4eb9-951b-d2840f6a8bdb
		//	+field-trailing.bloom-centerVertically
		//

		+page-choice('Just Text').customPage#a31c38d8-c1cb-4eb9-951b-d2840f6a8bdb
			.split-pane-component-inner
				+field

		//+page-choice('Picture & Word').pictureAndWordPage#FD115DFF-0415-4444-8E76-3D2A18DBBD27
		//	+image-leading
		//	+field(attributes).bloom-trailingElement.BigWords-style
		//

		+page-splittable-choice-custom('Picture & Word').customPage#aD115DFF-0415-4444-8E76-3D2A18DBBD27
			+stack
				+upper(50)
					+imagex
				+lower(50)
					+field.bloom-trailingElement.BigWords-style

		+page-Custom()
