mixin customWidgetPage
	+page("Widget Page", "A page where you can import an HTML5 widget which readers can interact with").custom-widget-page.customPage.bloom-interactive-page.enterprise-only.numberedPage#3a705ac1-c1f2-45cd-8a7d-011c009cf406(data-page='extra' data-analyticsCategories="widget")
		.split-pane-component-inner
			.bloom-widgetContainer.bloom-noWidgetSelected.bloom-leadingElement
