
extends ../Traditional-XMatter/Traditional-XMatter.pug

block originalContributionsLabel
	//- by providing a lang attribute, we prevent Bloom from trying to find a translation, and that has the side effect of preserving the line break tags
	label.bubble(lang='en')
		| Written by Author(s) (if original work),
		br
		| Translated by Name(s) (if derivative work)

block versionAcknowledgmentsLabel
	//- by providing a lang attribute, we prevent Bloom from trying to find a translation, and that has the side effect of preserving the line break tags
	label.bubble(lang='en' data-link-text='Paste Image Credits' data-link-target='PasteImageCredits()')
		| - Edition (Trial, 1st, 2nd, etc.)
		br
		| - Publication Date (month/year)
		br
		| - Number of copies
		br
		| - Funder (if applicable)
		br
		| - SIL PNG Sharing Library catalogue number (if applicable)
		br
		| - Illustrated by / Photos by
		br
		| - Edited by (if applicable)
		br
		| - Compiled by (if applicable)
		br
		| - Name and location of printer

block copyrightHolderAddress
	div.copyrightHolderAddress(lang='en') Publisher's address: SIL PNG Ukarumpa, EHP 444, PNG

//- items in block are re-ordered and one changed.
block creditsContent
	+block-licenseAndCopyright
	//- Here code puts in something like "From the original Copyright Pratham Books 2016. CC-BY. Any license notes here."
	.copyright(data-derived="originalCopyrightAndLicense").Credits-Page-style
	//- modified and re-ordered field-acknowledgments-originalVersion
	+field-prototypeDeclaredExplicity("N1").originalAcknowledgments
		label.bubble Acknowledgment for original work
		+editable(kLanguageForPrototypeOnly).bloom-copyFromOtherLanguageIfNecessary.Credits-Page-style(data-book='originalAcknowledgments')
			| {Original Acknowledgments}
	+field-acknowledgments-localizedVersion

	if(includeIsbn)
		+field-ISBN
	+credits-page-branding-bottom
