@import '../bloom-xmatter-common.less';

@XMatterPackName: "SIL PNG";

[data-book="smallCoverCredits"], [data-book="funding"] {
  display: none !important;
}

.credits .licenseAndCopyrightBlock {
    .copyright {
        margin-bottom: 0.2em;
    }
    .copyrightHolderAddress {
        margin-bottom: 2em;
    }
}